h1, h1, h3, h4, h5, h6, p, ul { margin-bottom: 0; }

@font-face { font-family: "itc-avant-bold"; src: url("../fonts/itc-avant-garde-gothic-std/itc-avant-garde-gothic-std-bold.otf") format("opentype"); }
@font-face { font-family: "itc-avant-book"; src: url("../fonts/itc-avant-garde-gothic-std/itc-avant-garde-gothic-std-book.otf") format("opentype"); }
@font-face { font-family: "itc-avant-demi"; src: url("../fonts/itc-avant-garde-gothic-std/itc-avant-garde-gothic-std-demi.otf") format("opentype"); }
@font-face { font-family: "itc-avant-extralight"; src: url("../fonts/itc-avant-garde-gothic-std/itc-avant-garde-gothic-std-extra-light.otf") format("opentype"); }
@font-face { font-family: "itc-avant-medium"; src: url("../fonts/itc-avant-garde-gothic-std/itc-avant-garde-gothic-std-medium-condensed.otf") format("opentype"); }
.d-flex-wrap { display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important; -ms-flex-wrap: wrap !important; flex-wrap: wrap !important; }

.d-inline-flex-wrap { display: -webkit-inline-box !important; display: -ms-inline-flexbox !important; display: inline-flex !important; -ms-flex-wrap: wrap !important; flex-wrap: wrap !important; }

.com-pad-t, .com-pad-tb { padding-top: 30px !important; }

.com-pad-b, .com-pad-tb { padding-bottom: 30px !important; }

.com-mar-t, .com-mar-tb { padding-top: 30px !important; }

.com-mar-b, .com-mar-tb { padding-bottom: 30px !important; }

@media (min-width: 992px) { .com-pad-l, .com-pad-lr { padding-left: 30px !important; }
  .com-pad-r, .com-pad-lr { padding-right: 30px !important; }
  .com-pad-t, .com-pad-tb { padding-top: 80px !important; }
  .com-pad-b, .com-pad-tb { padding-bottom: 80px !important; }
  .com-mar-t, .com-mar-tb { padding-top: 80px !important; }
  .com-mar-b, .com-mar-tb { padding-bottom: 80px !important; } }
.primary-bg-btn { background-color: #ba8a4d; text-transform: uppercase; border-radius: 0; color: #fff; }

.ripple { position: relative; overflow: hidden; }

.ripple:after { content: ''; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-color: rgba(255, 255, 255, 0.4); opacity: 0; transition: .3s; -webkit-transform: translate(-100%); transform: translate(-100%); }

.ripple:hover:after { opacity: 1; -webkit-transform: translate(0); transform: translate(0); }

body { font-family: "itc-avant-book", sans-serif; }

header { position: fixed; top: 0; left: 0; z-index: 12; width: 100%; background: #fff; }
header #HD_TP { background: #ba8a4d; -webkit-transform: translatey(0); transform: translatey(0); transition: 0.4s; }
header .HD_TP { padding: 10px 0; }
header .HD_TP p, header .HD_TP a { font: 13px "itc-avant-demi", sans-serif; color: #111; display: block; }
header .HD_TP p i, header .HD_TP a i { font-size: 25px; vertical-align: middle; margin-right: 15px; }
header .HD_BM .navbar .logo img { width: 200px; transition: 0.4s; }
header .HD_BM .navbar-nav > li { font: 17px "itc-avant-book", sans-serif; padding: 0 15px; transition: 0.4s; }
header .HD_BM .navbar-nav > li > a { font-weight: 600; padding: 0 !important; color: #444; text-decoration: none; }
header .HD_BM .navbar-nav > li:hover > a, header .HD_BM .navbar-nav > li.active > a { color: #000; }
@media (min-width: 992px) { header .HD_BM .navbar-nav > li:last-child { padding-right: 0; } }
header.fixed { -webkit-box-shadow: 0px 1px 5px #333; box-shadow: 0px 1px 5px #333; }
header.fixed .HD_BM .navbar .logo img { width: 120px; }
header.fixed .navbar-nav > li { font-size: 13px; }

.slider .item::after { content: ''; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.4); }
.slider .item .caption { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 1; width: 100%; }
.slider .item .caption .heading { font: 65px "itc-avant-book", sans-serif; margin-bottom: 40px; }
.slider .item .caption .search-sec { padding: 20px; background: rgba(0, 0, 0, 0.3); margin: 0 auto; }
@media (min-width: 992px) { .slider .item .caption .search-sec { width: 60%; } }
.slider .item .caption .search-sec input:not([type="radio"]), .slider .item .caption .search-sec input:not([type="checkbox"]), .slider .item .caption .search-sec select { border: none; font-family: "itc-avant-book", sans-serif; color: #000; }
.slider .item .caption .search-sec .address .input input, .slider .item .caption .search-sec .address .btn { height: 60px; font-family: "itc-avant-book", sans-serif; }
.slider .item .caption .search-sec .address .input { width: calc(100% - 150px); }
.slider .item .caption .search-sec .address .input input { padding-left: 55px; font-size: 20px; }
.slider .item .caption .search-sec .address .input i { top: 50%; transform: translatey(-50%); left: 9px; font-size: 32px; color: #111; }
.slider .item .caption .search-sec .address .btn { width: 150px; font-size: 23px; }
@media (min-width: 992px) { .slider .item .caption .search-sec .OT_OP > .select:last-child { width: 150px; } }
.slider .item .caption .search-sec .OT_OP input:not([type="radio"]), .slider .item .caption .search-sec .OT_OP input:not([type="checkbox"]), .slider .item .caption .search-sec .OT_OP select { height: 45px; padding: 2px 6px; width: 100%; font-size: 16px; }

.fet-cats .item { padding: 0 15px 30px; overflow: hidden; }
.fet-cats .item > .inner { overflow: hidden; }
.fet-cats .item > .inner img { transition: 0.3s; }
.fet-cats .item > .inner:hover img { -webkit-transform: scale(1.1); transform: scale(1.1); }
.fet-cats .item > .inner .caption { top: 0; left: 0; background-color: rgba(0, 0, 0, 0.5); }
.fet-cats .item > .inner .caption a { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 1; color: #fff; font-size: 33px; line-height: 50px; font-weight: bold; letter-spacing: 1px; transition: 0.3s; text-decoration: none; }
.fet-cats .item > .inner .caption a span { font-size: 17px; font-weight: normal; }
.fet-cats .item > .inner .caption a::after { content: ''; display: block; height: 2px; width: 0; background: #fff; margin: 10px auto 0; transition: 0.4s; }
.fet-cats .item > .inner .caption:hover a { top: calc(50% - 20px); }
.fet-cats .item > .inner .caption:hover a::after { width: 90px; }

/*# sourceMappingURL=style.css.map */
