/* SCROLLBAR */
@import "styles/scrollbar";

/* COLORS STYLES */
@import "styles/colors";

/* BUTTONS STYLES */
@import "styles/buttons";

/* TEXT STYLES */
@import "styles/text";

/* HEADING STYLES */
@import "styles/headings";

/* FORMS STYLES */
@import "styles/form";

$defaultMarginAndPadding: 25px;
// margin padding
.app-page-margin-top,
.app-page-margin-top-bottom {
    margin-top: $defaultMarginAndPadding;
}
.app-page-margin-bottom,
.app-page-margin-top-bottom {
    margin-bottom: $defaultMarginAndPadding;
}
// margin padding
.app-page-padding-top,
.app-page-padding-top-bottom {
    padding-top: $defaultMarginAndPadding;
}
.app-page-padding-bottom,
.app-page-padding-top-bottom {
    padding-bottom: $defaultMarginAndPadding;
}

// flex
.media-body {
    flex: 1 0 0;
}

// img classes
.img-fluid-height {
    max-height: 100%;
}

// border clsses
.app-border-primary {
    border-color: $primary-color !important;
}
.app-border-secondary {
    border-color: $secondary-color !important;
}
.app-border-gray {
    border-color: $app-border-color !important;
}

// custom modal
.custom-modal {
    .close {
        z-index: 1;
        top: 10px;
        right: 10px;
    }
    .modal-content {
        border-radius: $app-block-border-radius;
        overflow: hidden;
        border: none;
    }
}

// page tab sec
.page-tab-sec-main {
    .tabs-header {
        background-color: $primary-color-shade-1;
        padding-top: 14px;
        padding-left: 5px;
        padding-right: 5px;
        white-space: nowrap;
        overflow: auto;
        @include transition;
        &.sticky {
            position: sticky;
            top: -1px;
            z-index: 12;
        }
        .pts-link {
            padding: 0 13px 9px;
            border-bottom: 4px solid transparent;
            color: $primary-color-light;
            &.active {
                color: #fff;
                border-color: $secondary-color;
            }
            .tag {
                background-color: $secondary-color;
                color: #fff;
                min-height: 20px;
                min-width: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                margin-left: 5px;
            }
        }
    }

    .tabs-content {
        padding: 15px;
        .content-loading {
            margin-top: 10px;
            padding: 20px;
            color: $secondary-color;
        }
    }
}

// page tab sec swipper
.page-tab-sec-swipper {
    background-color: $primary-color-shade-1;
    padding-top: 14px;
    padding-left: 15px;
    @include transition;
    &.sticky {
        position: sticky;
        top: -1px;
        z-index: 12;
    }

    .pts-link {
        padding: 0 13px 9px;
        border-bottom: 4px solid transparent;
        color: $primary-color-light;
        margin-right: 15px;
        &.active {
            color: #fff;
            border-color: $secondary-color;
        }
        .tag {
            background-color: $secondary-color;
            color: #fff;
            min-height: 20px;
            min-width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-left: 5px;
        }
    }

    .swiper-wrapper {
        // justify-content: center;
    }
    .swiper-slide {
        width: auto !important;

        &.swiper-slide-thumb-active {
            .pts-link {
                color: #fff;
                border-color: $secondary-color;
            }
        }
    }
}

// page tab sec 2
.page-tab-sec-2 {
    background-color: $gray-bg-color;
    padding-top: 10px;
    padding-bottom: 10px;
    @include transition;
    &.sticky {
        position: sticky;
        top: 0;
    }

    .pts-link {
        padding: 8px 13px;
        border-radius: 30px;
        background-color: darken($color: $gray-bg-color, $amount: 10);
        color: darken($color: $gray-bg-color, $amount: 20);
        &.active {
            background-color: $primary-color;
            color: #fff;
        }
    }
}

// pentagon icon
.pentagon-icon {
    position: relative;
    width: 28px;
    box-sizing: content-box;
    border-width: 20px 5px 0;
    border-style: solid;
    border-color: $gray-bg-color transparent;
    top: 7px;

    &::before {
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        top: -37px;
        left: -5px;
        border-width: 0 19px 17px;
        border-style: solid;
        border-color: transparent transparent $gray-bg-color;
    }

    // COLORS
    // orange
    &.pi-orange {
        border-color: $pentagon-orange-color transparent;
        &::before {
            border-color: transparent transparent $pentagon-orange-color;
        }
    }

    // sky-blue
    &.pi-sky-blue {
        border-color: $pentagon-skyblue-color transparent;
        &::before {
            border-color: transparent transparent $pentagon-skyblue-color;
        }
    }

    // primary
    &.pi-primary {
        border-color: $primary-color transparent;
        &::before {
            border-color: transparent transparent $primary-color;
        }
    }

    // secondary
    &.pi-secondary {
        border-color: $secondary-color transparent;
        &::before {
            border-color: transparent transparent $secondary-color;
        }
    }
}

// pentagon icon
.pentagon-icon-rotated {
    position: relative;
    width: 28px;
    box-sizing: content-box;
    border-width: 20px 5px 0;
    border-style: solid;
    border-color: $gray-bg-color transparent;
    top: -7px;
    transform: rotate(180deg);

    &::before {
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        top: -37px;
        left: -5px;
        border-width: 0 19px 17px;
        border-style: solid;
        border-color: transparent transparent $gray-bg-color;
    }

    // COLORS
    // orange
    &.pi-orange {
        border-color: $pentagon-orange-color transparent;
        &::before {
            border-color: transparent transparent $pentagon-orange-color;
        }
    }

    // sky-blue
    &.pi-sky-blue {
        border-color: $pentagon-skyblue-color transparent;
        &::before {
            border-color: transparent transparent $pentagon-skyblue-color;
        }
    }

    // primary
    &.pi-primary {
        border-color: $primary-color transparent;
        &::before {
            border-color: transparent transparent $primary-color;
        }
    }

    // secondary
    &.pi-secondary {
        border-color: $secondary-color transparent;
        &::before {
            border-color: transparent transparent $secondary-color;
        }
    }
}

// pentagon icon with text
.pentagon-icon-with-text {
    width: 39px;
    height: 39px;
    .p-icon {
        position: relative;
        width: 28px;
        box-sizing: content-box;
        border-width: 20px 5px 0;
        border-style: solid;
        border-color: $gray-bg-color transparent;
        top: 18px;
        &::before {
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            top: -37px;
            left: -5px;
            border-width: 0 19px 17px;
            border-style: solid;
            border-color: transparent transparent $gray-bg-color;
        }
    }

    .text {
        top: 11px;
        left: 0;
        width: 100%;
        padding: 0 6px;
        overflow: hidden;
    }

    // COLORS
    // orange
    &.pi-orange {
        .p-icon {
            border-color: $pentagon-orange-color transparent;
            &::before {
                border-color: transparent transparent $pentagon-orange-color;
            }
        }
    }

    // sky-blue
    &.pi-sky-blue {
        .p-icon {
            border-color: $pentagon-skyblue-color transparent;
            &::before {
                border-color: transparent transparent $pentagon-skyblue-color;
            }
        }
    }

    // primary
    &.pi-primary {
        .p-icon {
            border-color: $primary-color transparent;
            &::before {
                border-color: transparent transparent $primary-color;
            }
        }
    }

    // secondary
    &.pi-secondary {
        .p-icon {
            border-color: $secondary-color transparent;
            &::before {
                border-color: transparent transparent $secondary-color;
            }
        }
    }
}

// pentagon icon rotated with text
.pentagon-icon-rotated-with-text {
    width: 39px;
    height: 39px;
    .p-icon {
        position: relative;
        width: 28px;
        box-sizing: content-box;
        border-width: 20px 5px 0;
        border-style: solid;
        border-color: $gray-bg-color transparent;
        top: 1px;
        transform: rotate(180deg);
        &::before {
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            top: -37px;
            left: -5px;
            border-width: 0 19px 17px;
            border-style: solid;
            border-color: transparent transparent $gray-bg-color;
        }
    }

    .text {
        top: 5px;
        left: 0;
        width: 100%;
        padding: 0 6px;
        overflow: hidden;
    }

    // COLORS
    // orange
    &.pi-orange {
        .p-icon {
            border-color: $pentagon-orange-color transparent;
            &::before {
                border-color: transparent transparent $pentagon-orange-color;
            }
        }
    }

    // sky-blue
    &.pi-sky-blue {
        .p-icon {
            border-color: $pentagon-skyblue-color transparent;
            &::before {
                border-color: transparent transparent $pentagon-skyblue-color;
            }
        }
    }

    // primary
    &.pi-primary {
        .p-icon {
            border-color: $primary-color transparent;
            &::before {
                border-color: transparent transparent $primary-color;
            }
        }
    }

    // secondary
    &.pi-secondary {
        .p-icon {
            border-color: $secondary-color transparent;
            &::before {
                border-color: transparent transparent $secondary-color;
            }
        }
    }
}

// round icon
.round-icon {
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background-color: $gray-bg-color;
    // dark gray
    &.pi-dark-gray {
        background-color: darken($color: $gray-bg-color, $amount: 30);
    }

    // primary
    &.pi-primary {
        background-color: $primary-color;
    }

    // primary
    &.pi-secondary {
        background-color: $secondary-color;
    }
}

// round icon
.round-icon-with-text {
    height: 33px;
    width: 33px;
    .r-icon {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-color: $gray-bg-color;
    }

    // dark gray
    &.pi-dark-gray {
        .r-icon {
            background-color: darken($color: $gray-bg-color, $amount: 30);
        }
    }

    // primary
    &.pi-primary {
        .r-icon {
            background-color: $primary-color;
        }
    }
    // secondary
    &.pi-secondary {
        .r-icon {
            background-color: $secondary-color;
        }
    }
    .text {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 0 5px;
        overflow: hidden;
    }
}

// box box shadow
.app-white-shadow-box {
    box-shadow: 0px 1px 5px rgba($color: #000000, $alpha: 0.2);
    border-radius: 12px;
    background-color: #fff;
}

// app spinner
.app-spinner {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
    background-color: rgba($color: #000, $alpha: 0.5);
    &:not(.active) {
        display: none;
    }
    .spinner-border {
        color: #fff;
        height: 48px;
        width: 48px;
        font-size: 20px;
    }
}

// faqs wrapper
.faqs-wrapper {
    .faq-item {
        .faq-header {
            padding: 9px 10px 6px;
            background: #efefef;
            border-radius: 5px;
            font-weight: 600;
            line-height: normal;
            @include transition;
            > p {
            }
            > i {
                background: #ddd;
                position: relative;
                height: 25px;
                width: 25px;
                border-radius: 4px;
                font-size: 20px;
            }
        }

        .faq-body {
            padding: 10px 10px;
            border: 1px solid #efefef;
            border-radius: 4px;
            margin-top: 5px;
            font-size: 14px;
        }
        &.active {
            .faq-header {
                background-color: #e7e7e7;
            }
        }
    }
}
