// colors
$primary-color: #0c374f;
$primary-color-light: #6b97af;
$primary-color-shade-1: #12425d;
$secondary-color: #019c9e;

$gray-bg-color: #f1f1f1;

/* RESPONSIVE BREAKPOINTS */
$sm-min: 576px;
$sm-max: 575px;

$md-min: 768px;
$md-max: 767px;

$lg-min: 992px;
$lg-max: 991px;

$xl-min: 1200px;
$xl-max: 1199px;

// TEXT COLORS
$dark-text-color: #3d3d3d;
$light-text-color: #6e6e6e;

$success-color: #0fae59;
$danger-color: #c92f2f;
$pentagon-orange-color: #e36b00;
$pentagon-skyblue-color: #148bd0;

$badge-color-green: #84ca94;
$badge-color-orange: #eaa113;
$badge-color-sky-blue: #43a7e5;

// border-radius
$app-block-border-radius: 6px;
$borderRadiusInputsAndButtons: 6px;

// border colors
$app-border-color: #bfbfbf;
$app-border-color-input: #b1b1b1;
