@import "components/reset";
@import "components/fonts";
@import "components/variables";
@import "components/mixin";
@import "components/common";

body {
    font-family: "itc-avant-book", sans-serif;
}

// HEADER CSS
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    background: #fff;

    #HD_TP {
        background: $primary-color;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        @include transition(.4s);
    }

    .HD_TP {
        padding: 10px 0;

        p,
        a {
            font: 13px "itc-avant-demi", sans-serif;
            color: #111;
            display: block;

            i {
                font-size: 25px;
                vertical-align: middle;
                margin-right: 15px;
            }
        }
    }

    .HD_BM {
        .navbar {
            .logo {
                img {
                    @include min_width(768px) {
                        width: 150px;
                    }

                    @include min_width(992px) {
                        width: 200px;
                    }

                    @include transition(.4s);
                }
            }
        }

        .navbar-nav {
            >li {
                font: 17px "itc-avant-book", sans-serif;
                padding: 0 15px;
                @include transition;

                >a {
                    font-weight: 600;
                    padding: 0 !important;
                    color: #444;
                    text-decoration: none;
                    @include transition;
                }

                &:hover,
                &.active {
                    >a {
                        color: $primary-color;
                    }
                }

                @include min_width(992px) {
                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    // HEADER FIXED
    &.fixed {
        // #HD_TP {
        //     margin-top: -45px;
        // }
        -webkit-box-shadow: 0px 1px 5px #333;
        box-shadow: 0px 1px 5px #333;

        .HD_BM {
            .navbar {
                .logo {
                    img {
                        width: 120px;
                    }
                }
            }
        }

        .navbar-nav {
            >li {
                font-size: 13px;
            }
        }
    }
}

// SLIDER
.slider {
    .item {
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .caption {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            z-index: 1;
            width: 100%;

            .heading {
                font: 65px "itc-avant-book", sans-serif;
                margin-bottom: 20px;
            }

            .search-sec {
                padding: 20px;
                background: rgba(0, 0, 0, 0.3);
                margin: 0 auto;

                @include min_width(768px) {
                    width: 85%;
                }

                @include min_width(992px) {
                    width: 80%;
                }

                @include min_width(1200px) {
                    width: 60%;
                }

                input:not([type="radio"]),
                input:not([type="checkbox"]),
                select {
                    border: none;
                    font-family: "itc-avant-book", sans-serif;
                    color: #000;
                }

                .address {

                    .input input,
                    .btn {
                        height: 60px;
                        font-family: "itc-avant-book", sans-serif;
                    }

                    .input {
                        width: calc(100% - 150px);

                        input {
                            padding-left: 55px;
                            font-size: 20px;
                        }

                        i {
                            top: 50%;
                            transform: translatey(-50%);
                            left: 9px;
                            font-size: 32px;
                            color: #111;
                        }
                    }

                    .btn {
                        width: 150px;
                        font-size: 23px;
                    }
                }

                .OT_OP {
                    @include min_width(992px) {
                        >.select:last-child {
                            width: 150px;
                        }
                    }

                    input:not([type="radio"]),
                    input:not([type="checkbox"]),
                    select {
                        height: 45px;
                        padding: 2px 6px;
                        width: 100%;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

// FEATURED CATS
.fet-cats {
    .item {
        padding: 0 15px 30px;
        overflow: hidden;

        @include min_width(768px) {

            &:last-child,
            &:nth-last-child(2),
            &:nth-last-child(3) {
                padding-bottom: 0;
            }
        }

        >.inner {
            overflow: hidden;

            img {
                @include transition;
            }

            &:hover {
                img {
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }

            .caption {
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.5);

                a {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    z-index: 1;
                    color: #fff;
                    font-size: 33px;
                    line-height: 50px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    @include transition;
                    text-decoration: none;

                    span {
                        font-size: 17px;
                        font-weight: normal;
                    }

                    &::after {
                        content: '';
                        display: block;
                        height: 2px;
                        width: 0;
                        background: #fff;
                        margin: 10px auto 0;
                        @include transition(.4s);
                    }
                }

                &:hover {
                    a {
                        top: calc(50% - 20px);

                        &::after {
                            width: 90px;
                        }
                    }
                }
            }
        }
    }
}

// BUYORSALE
#buyORsale {
    background: transparent url('../images/buy-or-sell-bg.jpg') no-repeat center / cover;
    position: relative;

    &::after {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
    }

    padding: 50px 0;

    @include min_width(768px) {
        padding: 70px 0;
    }

    @include min_width(992px) {
        padding: 140px 0;
    }
}

.buyORsale {
    position: relative;
    z-index: 1;

    .head {
        font: 48px "itc-avant-demi", sans-serif;
        margin-bottom: 30px;

        @include min_width(768px) {
            margin-bottom: 70px;
        }

        @include min_width(992px) {
            margin-bottom: 100px;
        }
    }
}

// FEATURED LISTING
.featured_list {
    .listing {
        margin-top: 30px;
        margin-left: -5px;
        width: calc(100% + (5px * 2));

        @include min_width(992px) {
            margin-top: 70px;
            margin-left: -22px;
            width: calc(100% + (22px * 2));
        }

        .item {
            padding: 0 5px 10px;

            @include min_width(992px) {
                padding: 0 22px 44px;
            }

            .text-sec {
                background-color: #f7f5f5;
                padding: 20px 15px;
            }
        }
    }

    .item {
        padding: 0 22px 44px;

        >.inner {
            @include transition;

            @include min_width(992px) {
                &:hover {
                    -webkit-box-shadow: 0px 0px 5px #d8d8d8;
                    box-shadow: 0px 0px 5px #d8d8d8;
                }
            }
        }

        .img-sec {
            img {
                width: 100%;
            }
        }

        .text-sec {
            background-color: #f7f5f5;
            padding: 20px 15px;

            .address {
                font: 14px "itc-avant-demi", sans-serif;
                color: #000;
                margin-bottom: 10px;

                i {
                    font-size: 25px;
                    margin-right: 15px;
                    padding-top: 5px;
                }
            }

            .heading {
                font: 23px "itc-avant-demi", sans-serif;
                margin-bottom: 10px;
            }

            .price {
                font: 27px "popins-bold", sans-serif;
                margin-bottom: 20px;
            }

            .description {
                font-size: 13px;
                line-height: 28px;
                color: #000;
                margin-bottom: 15px;
            }
        }

        &:hover {
            .text-sec {
                // background-color: #ececec;
            }
        }
    }

    .more-properties {
        margin-top: 30px;

        .underline-btn {
            font-size: 22px;
            padding: 13px 12px 12px;
        }
    }
}

// FOOTER
footer {}

#ft-top {
    background-color: #1a1a1a;
    padding-top: 35px;
    padding-bottom: 35px;

    @include min_width(992px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.ft-top {
    .ft-head {
        font-size: 18px;
        margin-bottom: 20px;
        color: #fff;
    }

    .footer-ul {
        >li {
            &:not(:last-child) {
                margin-bottom: 10px;
            }

            >a {
                color: #d4d4d4;
                text-decoration: none;
                font-weight: 100;
                font-size: 14px;
                @include transition;

                &:hover {
                    text-decoration: underline;
                    margin-left: 3px;
                }
            }
        }
    }

    .one {
        img {
            width: 70px;
            margin-bottom: 20px;

            @include min_width(992px) {
                width: 130px;
            }
        }

        p.d-flex {
            color: #d4d4d4;
            font-size: 15px;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            @include min_width(992px) {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }

            i {
                font-size: 25px;
                margin-right: 15px;
            }

            a {
                color: #d4d4d4;
                text-decoration: none;
            }
        }
    }

    .social-links {
        >li {
            &:not(:last-child) {
                padding-right: 21px;
            }

            >a {
                color: $primary-color;
                font-size: 30px;

                i {
                    @include transition(.1s);
                }

                &:hover {
                    i {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    .newsletter {
        >p {
            font-size: 16px;
            color: #fff;
            margin: 14px 0;
        }

        >.d-flex {

            input,
            .btn {
                height: 45px;
            }

            input {
                width: calc(100% - 50px);
                border: 1px solid $primary-color;
                font: 18px "itc-avant-demi", sans-serif;
                color: #000;
            }

            .btn {
                width: 50px;
                background-color: $primary-color;
                border: 1px solid $primary-color;
                color: #fff;
                @include transition;

                &:hover {
                    background-color: #000; // color: #000;
                }
            }
        }
    }
}

.ft-bottom {
    padding: 10px 0;

    p {
        font-size: 21px;
        color: #000;
    }
}

// BANNER
.ST_Banner {
    .caption {
        top: 0;
        left: 0;

        &::after {
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
        }

        .cap-inner {
            z-index: 1;
            position: relative;

            p {
                font: 50px "itc-avant-demi", sans-serif;
            }
        }
    }
}

// CONTACT US SECTIONS
.contact-us {
    .contact-form {
        input {
            height: 45px;
        }

        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;

        @include min_width(768px) {
            margin-top: 60px;
            width: 80%;
        }

        @include min_width(1200px) {
            width: 60%;
        }

        .st-form {
            @include min_width(768px) {
                &.left {
                    padding-right: 20px;
                }

                &.right {
                    padding-left: 20px;
                }

                input {
                    height: 50px;
                }
            }
        }
    }

    .contact-details {
        margin-top: 20px;

        @include min_width(768px) {
            margin-top: 30px;
        }

        p.d-flex {
            color: #d4d4d4;
            font: 17px "itc-avant-demi", sans-serif;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            @include min_width(992px) {
                font-size: 20px;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }

            i {
                font-size: 25px;
                margin-right: 15px;
            }

            a {
                color: #000;
                text-decoration: none;
            }
        }
    }
}

// FIND-AGENT
.find-agent {
    .description {
        font-size: 14.5px;
        line-height: 34px;
        color: #000;

        @include min_width(768px) {
            margin-top: 30px;
        }
    }

    .nav-tabs {
        border-bottom: none;
        margin-bottom: 15px;

        >li {
            font-size: 15px;
            font-weight: 700;
            margin-bottom: 0;

            &:not(:last-child) {
                margin-right: 20px;
            }

            >a {
                padding: 0;
                border-radius: 0;
                color: #000;
                padding-bottom: 2px;
                border: none;
                border-bottom: 3px solid transparent;
                @include transition;

                &.active,
                &:hover {
                    border-color: $primary-color;
                    color: $primary-color;
                }
            }

        }
    }

    .search-agent {
        border: 2px solid $border-color;
        padding: 15px;
        margin-top: 20px;

        @include min_width(768px) {
            padding: 25px;
        }

        .address {

            .input input,
            .btn {
                height: 50px;
                font-family: "itc-avant-book", sans-serif;
            }

            .input {
                width: 100%;

                @include min_width(768px) {
                    width: calc(100% - (170px + 10px));
                }

                input {
                    padding-left: 40px;
                    font-size: 16px;
                    border: 2px solid $border-color;
                }

                i {
                    top: 50%;
                    transform: translatey(-50%);
                    left: 9px;
                    font-size: 19px;
                    color: $border-color;
                }
            }

            .btn {
                width: 100%;
                margin-top: 5px;

                @include min_width(768px) {
                    width: 170px;
                    margin-left: auto;
                    margin-top: 0;
                }

                font-size: 18px;
                font-weight: 100;
                letter-spacing: 0;
                padding: 4px 10px 2px;
            }
        }
    }
}

// OTHER-OPTION
.other-option {
    .tags {
        margin-top: 20px;

        @include min_width(1200px) {
            margin-top: 40px;
        }

        >li {
            @include min_width(768px) {
                width: calc(100% / 4);
            }

            >a {
                text-decoration: none;
                color: #000;
                font-size: 18px;
                border: 2px solid transparent;
                padding: 10px 10px 8px;

                &:hover {
                    border-color: $border-color;
                }

                &:after {
                    background-color: rgba(0, 0, 0, .1);
                }
            }
        }
    }
}


// ADVANCE SEARCH
.advance-search {

    .search-form {
        .st-form {
            padding: 0 10px 20px;
            margin-bottom: 0;
        }


        .st-form input:not([type="radio"]),
        .st-form input:not([type="checkbox"]),
        .st-form select,
        .st-form textarea {
            height: 40px;
            border-color: $primary-color;
            font-size: 14px;
            color: #333;
            font-weight: 600;
        }

        @include min_width(992px) {
            .st-form {
                padding: 0 15px 30px;
            }

            .st-form input:not([type="radio"]),
            .st-form input:not([type="checkbox"]),
            .st-form select,
            .st-form textarea {
                height: 60px;
                font-size: 18px;
            }
        }
    }
}

// SEARCH-RESULTS
.search-results {
    @include min_width(992px) {
        .featured_list .listing {
            margin-top: 40px;
        }
    }
}