@media screen and (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (min-width: 991px) {}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1180px;
    }
}

@media screen and (min-width: 1366px) {}

@media screen and (max-width: 767px) {
    .font-size-20 {
        font-size: 17px !important;
    }
    .font-size-17 {
        font-size: 15px !important;
    }

    /* my account sidevbar */
    .ma-mobile-icon {
        top: 9px;
        left: 17px;
        cursor: pointer;
    }
    .ma-mobile-icon.active {
        left: 256px;
    }

    .ma-leftbar {
        left: calc(-100% - 16px);
        transition: 0.3s;
        width: 240px;
    }
    .ma-leftbar.active {
        left: 0;
        transition: 0.3s;
    }

    .ma-content {
        margin-top: 25px;
        margin-left: 0;
        width: 100%;
        transition: 0.1s;
    }
    .ma-content.active {
        margin-left: 240px;
        width: calc(100% - 240px);
    }
}