@import "components/reset";
@import "components/fonts";
@import "components/variables";
@import "components/mixins";
@import "components/grid";
@import "components/common";

body {
    background: #f6f6f6;
    font-family: "nexa-regular";
}
// LOGIN PAGE
html,
.login-body,
.app-login,
.app_L-main {
    height: 100%;
}
.login-body {
    background-color: #fff;
}
.app_L-main {
    .AL_head {
        background: transparent url("../images/login_bg.png") no-repeat center / 100% 100%;
        width: 100%;
        // padding: 60px 15px 110px;
        padding: 40px 15px 100px;
        margin-bottom: 50px;
        .AL_text {
            font: 35px "nexa-x-bold";
            color: #fff;
            text-shadow: 0px 2px 2px #929292;
            span {
                font: 16px "nexa-regular";
            }
        }
        .AL_logo {
            top: 100%;
            left: 50%;
            @include transform(-50%, calc(-50% + (-18px)));
            img {
                width: 140px;
            }
        }
    }
    .AL_login-box {
        margin-bottom: 30px;
        .form {
            padding: 0 10px;
            .input-field,
            .forgot-pass {
                margin-bottom: 35px;
            }
            label,
            input {
                font: 15px "nexa-bold";
                color: #666;
            }
            .icon {
                top: 50%;
                right: 5px;
                @include transformy(-50%);
                i {
                    font-size: 20px;
                    color: #636363;
                }
            }
            input {
                height: 40px;
                padding-right: 30px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                &:focus {
                    border-bottom-color: #636363;
                    @include box-shadow(0, 1px, 0, 0, #636363);
                    & + label {
                        color: #444;
                    }
                    & ~ .icon i {
                        color: #444;
                    }
                }
            }
            .forgot-pass {
                a {
                    font: 15px "nexa-regular";
                    color: #777;
                }
            }
        }
    }
}

// HEADER
.app-head-top {
    padding: 20px 0;
    .AHT_inner {
        > .LT,
        .RT {
            width: 40px;
            > a {
                top: 2px;

                i {
                    color: #fff;
                    font-size: 30px;
                    border-radius: 100%;
                }
            }
        }
        > .CT {
            width: calc(100% - (40px * 2));
            input {
                border: none;
                border-radius: 7px;
                &:focus {
                    @include box-shadow(0px, 0px, 5px, 0px, #26a69a);
                }
            }
        }
        // > .RT {
        //     &.hasNotification a:after {
        //         content: "";
        //         height: 9px;
        //         width: 9px;
        //         border-radius: 100%;
        //         background: red;
        //         position: absolute;
        //         top: 6px;
        //         right: 4px;
        //     }
        // }
    }
    @include transition(0.4s);
    &.fixed {
        position: fixed;
        left: 0;
        width: 100%;
        top: 0;
        z-index: 12;
        @include app-gradient;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.app-head-bottom {
    padding-bottom: 20px;
    .item {
        padding: 0 4px;
        > a {
            padding-top: 4px;
        }
        .img-sec {
            background-color: #fff;
            height: 50px;
            width: 50px;
            padding: 5px;
            border-radius: 100%;
            margin: 0 auto;
            img {
                max-height: 100%;
                width: auto;
                z-index: 1;
            }
        }
        .text-sec {
            margin-top: 5px;
            p {
                color: #fff;
                font: 15px "nexa-bold";
                text-shadow: 0px 1px 1px #a2a2a2;
            }
        }
    }
    .owl-nav.disabled + .owl-dots {
        position: absolute;
        width: 100%;
        margin-top: 0;
    }
}
// BOTTOM MENU BAR
body.hasBMB {
    padding-bottom: calc(72px + 10px);
}
.bottom-menu-bar {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    z-index: 12;
    background-color: #fff;
    @include box-shadow(0px, 0px, 4px, 0px, #848484);
    .item {
        -webkit-flex-basis: 100px;
        flex-basis: 100px;
        > a {
            padding: 10px 5px 9px;
        }
        .img-sec {
            img {
                width: 25px;
                &.active {
                    display: none;
                }
            }
        }
        .text-sec {
            margin-top: 10px;
            p {
                font: 15px "nexa-regular";
                color: #8a8a8a;
            }
        }
        &:hover,
        &.active {
            .img-sec {
                img {
                    &.active {
                        display: block;
                    }
                    &.main {
                        display: none;
                    }
                }
            }
            .text-sec {
                p {
                    color: $secodary-color;
                }
            }
        }
    }
}

// SITE WRAPPER
.wrapper {
    margin-top: 15px;
}
// APP TEST SERIES
#app-test-series {
    margin-bottom: 25px;
    @include box-shadow(0px, 0px, 5px, 0px, #d6d6d6);
    background: #fff;
    .ATS_inner {
        padding: 15px 0;
        .item {
            padding: 0 4px;
            .img-sec {
                height: 50px;
                // background-color: #fff;
                // height: 50px;
                // width: 50px;
                padding: 5px;
                margin: 0 auto;
                img {
                    max-height: 100%;
                    width: auto;
                    z-index: 1;
                }
            }
            .text-sec {
                margin-top: 5px;
                p {
                    color: #000;
                    font: 13px "nexa-regular";
                    width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
        }
    }
}

#app-home-sliders {
    margin-bottom: 35px;
    > .container {
        padding-right: 0;
    }
    .AHS_inner {
        padding-right: 10px;
    }
}
// VIDEO SOLUTION
.video-solutions-slider {
    .owl-stage {
        padding-left: 0 !important;
    }
    .item {
        .icon {
            top: 50%;
            left: 50%;
            @include transform(-50%, -50%);
        }
    }
}
// STUDY MATERIAL SLIDER
.study-material-slider {
    .owl-stage {
        padding-left: 0 !important;
    }
    .item {
        padding: 2px;
        > a {
            // border: 1px solid #000;
            background: #fff;
            width: 100%;
            padding: 8px;
            @include box-shadow(0px, 0px, 4px, 0px, #dadada);
        }
        .img-sec {
            margin: 0 auto;
            height: 66px;
            img {
                max-height: 100%;
                width: auto;
                z-index: 1;
                margin: 0 auto;
            }
        }
        .text-sec {
            margin-top: 11px;

            p {
                color: #333;
                font: 15px "nexa-bold";
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
}

// BACKBAR
.backBar {
    padding: 14px 0 13px;
    .BB_inner {
        > .LT {
            width: calc(100% - 40px);
            p {
                color: #fff;
                font: 18px "nexa-bold";
                text-shadow: 0px 1px 1px #a2a2a2;
                i {
                    border-radius: 100%;
                }
                span {
                    margin-left: 5px;
                    position: relative;
                    top: 2px;
                }
            }
        }
        > .RT {
            width: 40px;
        }
    }
}
