// LOGO DESIGN
// .st-logo {
//     font-family: 'poppins-extrabold', sans-serif;
//     font-size: 32px;
//     height: 50px;
//     line-height: 33px;
//     color: $primary-color;
//     -webkit-user-select: none;
//     -ms-user-select: none;
//     user-select: none;

//     span {
//         font-family: 'poppins-medium', sans-serif;
//         font-size: 15px;
//         line-height: 20px;
//         left: 0px;
//         top: -1px;
//         color: #333;
//     }

//     &:hover {
//         color: darken($color: $primary-color, $amount: 5);
//     }

//     &:active {
//         color: darken($color: $primary-color, $amount: 12);
//     }
// }


// SCROLLBAR
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d1d1d1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $secondary-color;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darken($color: $secondary-color, $amount: 8%);
}

// COMMON CSS

.clear-parent::after {
    content: "";
    display: block;
    clear: both;
}

.owl-carousel .owl-item img {
    width: auto;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 5px;
}

.owl-theme .owl-dots .owl-dot span {
    margin: 3px 4px;
    background: #fff;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    // background: $secondary-color;
}

.color-secondary {
    color: $secondary-color !important;
}

.color-primary {
    color: $primary-color !important;
}

.color-black {
    color: #000 !important;
}

.color-less-black {
    color: #333 !important;
}


.font-weight-100 {
    font-weight: 100;
}

.font-weight-200 {
    font-weight: 200;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-800 {
    font-weight: 800;
}

.font-weight-900 {
    font-weight: 900;
}

.owl-carousel.vertical-buttons {
    .owl-nav {
        >button {
            position: absolute;
            top: 50%;
            @include transformy(-50%);
            display: -ms-flexbox !important;
            display: flex !important;
            -ms-flex-pack: center !important;
            justify-content: center !important;
            -ms-flex-align: center !important;
            align-items: center !important;
            line-height: 0;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            background-color: #d0d0d0;
            @include transition;
            color: #fff;
            outline: none !important;

            @include min-width(768px) {
                height: 35px;
                width: 35px;
            }

            &:hover {
                background-color: $primary-color;
            }

            &:active {
                background-color: darken($color: $primary-color, $amount: 6%);
            }
        }

        >.owl-prev {
            left: 0;
        }

        >.owl-next {
            right: 0;
        }
    }
}


// form inputs
.st-form {
    // margin-bottom: 15px;
    width: 100%;
    position: relative;

    input,
    select,
    textarea {
        border: none;
        font-size: 15px;
        color: #616161;
        border-radius: 0;
        background-color: #fff;

        &.lightgray {
            box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
            border: 1px solid #dcdcdc;
            background-color: #f0f0f0;
        }
    }

    &:not(.input-underline) {

        input,
        select,
        textarea {
            -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
            border: 1px solid #dcdcdc;
        }
    }

    input,
    select {
        height: 42px;
        padding-top: 5px;

        // @include min_width($lg-main) {
        //     height: 48px;
        // }
    }

    label {

        font-size: 14px;

        color: #5d5d5d;
        margin-bottom: 5px;

        @include min-width(768px) {
            font-size: 15px;
            margin-bottom: 8px;
        }

        .imp {
            color: $primary-color;
            margin-left: 2px;
        }
    }

    @include min_width(768px) {

        &.lt,
        &.rt {
            width: 50%;
        }

        &.lt {
            padding-right: 7.5px;
        }

        &.rt {
            padding-left: 7.5px;
        }
    }

    &.validate {
        label {
            width: 100px;
            margin-bottom: 0;
            text-align: right;
            padding-right: 15px;

            @include min_width(768px) {
                width: 150px;
            }
        }

        .imp {
            color: #ff0102;
            width: 11px;
            text-align: right;
        }

        input,
        select,
        textarea {
            width: calc(100% - (100px + 11px));

            @include min_width(768px) {
                width: calc(100% - (150px + 11px));
            }
        }
    }

    &.icon {
        input {
            padding-left: 32px;
        }

        .icon {
            top: 50%;
            left: 10px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            line-height: 0;

            i {
                font-size: 18px;
                color: gray;
            }
        }
    }

    &.input-underline {

        input,
        select,
        textarea {
            background-color: transparent;
            border-bottom: 1px solid #868686;
            padding-left: 0;
            padding-right: 0;

            &:focus {
                box-shadow: none;
                border-color: #3c3c3c;
            }
        }

    }

    .add-info {
        position: absolute;
        top: calc(100% + 3px);
        font-size: 12px;
        color: #666;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}


// main menu
.st-head-menu {
    position: relative;

    >li {
        @include max_width($md-less-one) {
            position: relative;
        }

        >a {
            font-size: 15px;
            color: #fff;
            text-decoration: none !important;
            outline: none !important;
            padding: 15px 2px;
            @include transition;
            letter-spacing: 0.5px;

            @include min_width($xl-main) {
                font-size: 16px;
            }

            @include min_width($lg-main) {
                border-bottom: 4px solid transparent;
                border-top: 4px solid transparent;

                &:hover {
                    border-bottom-color: $secondary-color;
                }
            }
        }

        @include min_width($lg-main) {

            &:hover,
            &.active {
                >a {
                    border-bottom-color: $secondary-color;
                }
            }
        }


        // @include min_width($md-main) {
        //     padding-right: 10px;
        // }

        @include min_width($lg-main) {
            padding-right: 20px;
        }

        @include min_width($xl-main) {
            padding-right: 35px;
        }

        @include max_width($lg-less-one) {
            display: block;
            width: 100%;

            >a {
                width: 100%;
                padding: 10px 20px;
                color: #fff !important;
                display: block;
            }
        }

        >ul {
            background: #fff;
            width: 170px;
            left: 0;
            top: -10%;
            @include transition;
            visibility: hidden;
            opacity: 0;

            >li {
                >a {
                    padding: 13px 15px;
                    border-bottom: 1px solid #ddd;
                    color: #333;
                    @include transition;

                    &:hover {
                        background-color: $secondary-color;
                        color: #fff;
                    }
                }

                &:last-child {
                    >a {
                        border-bottom: none;
                    }
                }
            }
        }

        &:hover {
            >ul {
                opacity: 1;
                visibility: visible;
                top: 100%;
            }
        }
    }
}

$DEFScreensMargin: 25px;
$DEFlgScreensMargin: 70px;
$DEFmdScreensMargin: 40px;

.ST_def-mar-T,
.ST_def-mar-TB {
    margin-top: $DEFScreensMargin;

    @include min_width($md-main) {
        margin-top: $DEFmdScreensMargin;
    }

    @include min_width($lg-main) {
        margin-top: $DEFlgScreensMargin;
    }
}

.ST_def-mar-B,
.ST_def-mar-TB {
    margin-bottom: $DEFScreensMargin;

    @include min_width($md-main) {
        margin-bottom: $DEFmdScreensMargin;
    }

    @include min_width($lg-main) {
        margin-bottom: $DEFlgScreensMargin;
    }
}

.ST_def-pad-T,
.ST_def-pad-TB {
    padding-top: $DEFScreensMargin;

    @include min_width($md-main) {
        padding-top: $DEFmdScreensMargin;
    }

    @include min_width($lg-main) {
        padding-top: $DEFlgScreensMargin;
    }
}

.ST_def-pad-B,
.ST_def-pad-TB {
    padding-bottom: $DEFScreensMargin;

    @include min_width($md-main) {
        padding-bottom: $DEFmdScreensMargin;
    }

    @include min_width($lg-main) {
        padding-bottom: $DEFlgScreensMargin;
    }
}

// SITE BANNER
#ST_banner {
    .caption {
        top: 50%;
        width: 100%;
        @include transformy(-50%);

        .img-sec {
            width: 100%;
        }

        .st-head {
            color: #fff;
            margin-bottom: 5px;
            letter-spacing: 2px;
        }

        .desc {
            font-size: 16px;
            color: #e0e0e0;
            line-height: 23px;
        }
    }
}

// BREADCRUMBS
// #ST_breadcrumbs {
//     background: #fff;
//     padding: 15px 0;
// }

.ST_breadcrumbs {
    >ul {
        flex-wrap: wrap;

        >li {
            position: relative;

            >a {
                color: #ebebeb;
                text-decoration: none;
                @include transition;

                i {
                    color: $primary-color;
                    margin-right: 5px;
                }

                display: flex;
                align-items: center;
            }

            &:not(:last-child) {
                padding-right: 30px;

                &:after {
                    content: '/';
                    position: absolute;
                    right: 11px;
                    top: 0;
                    color: #fff;
                }
            }

            &:not(:last-child):hover {
                >a {
                    color: $secondary-color;
                }
            }

            &.active {
                >a {
                    color: $secondary-color;
                    // pointer-events: none !important;
                }
            }

            &:last-child {
                >a {
                    pointer-events: none !important;
                }
            }
        }
    }
}


// CUSTOM CHECKBIXEX
.custom-checkbox {
    position: relative;
    font-weight: normal;
    cursor: pointer;

    .box {
        height: 19px;
        width: 19px;
        border: 1px solid #d8d8d8;
        border-radius: 4px;
        color: #fff;
        font-size: 11px;
        @include transition(.1s);

        i {
            opacity: 0;
            @include transition(.1s);
        }
    }

    &.cc-secondary {
        .box {
            border-color: $secondary-color;
        }
    }

    .text {
        color: #d8d8d8;
        font-size: 16px;
        padding-left: 5px;
        @include transition(.1s);

        @include min-width(992px) {
            padding-left: 15px;
        }
    }

    >input:checked+ {
        .box {
            background: #31bcc7;
            border-color: #31bcc7;

            i {
                opacity: 1;
            }
        }
    }
}

// ST-LEFTMULTILEVEL MENU
ul.st-left-multilevel-menu {
    li {
        position: relative;

        >a {
            text-decoration: none;
            padding: 11px 15px 13px 15px;
            color: #333;
            font-size: 16px;
            @include transition;
            position: relative;

            @include min-width(768px) {
                padding: 11px 20px 13px 40px;

                &:before {
                    content: '\f061';
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 600;
                    position: absolute;
                    top: calc(50% + 2px);
                    left: 20px;
                    @include transformy(-50%);
                    font-size: 13px;
                    color: $secondary-color;
                    @include transition;
                }
            }

            &.has-multi-menu {
                i {
                    top: 0;
                    right: 0;
                    width: 40px;
                    color: $secondary-color;
                }
            }
        }

        &:not(:last-child) {
            >a {
                border-bottom: 1px solid lightgray;
            }
        }
    }

    >li {
        @include min-width(768px) {

            &:hover,
            &.active {
                >a {
                    background-color: $secondary-color;
                    color: #fff;

                    &:before {
                        color: #fff;
                    }
                }

            }
        }

        &.active {
            >a {
                background-color: $secondary-color;
                color: #fff;

                i {
                    color: #fff;
                }
            }
        }

        >a {
            &:active {
                background-color: darken($color: $secondary-color, $amount: 6%);
            }
        }
    }

    ul {
        width: 100%;
        display: none;

        @include max-width(767px) {
            padding: 5px;
        }

        @include min-width(768px) {
            position: absolute;
            left: 100%;
            top: 0;
            z-index: 1;
        }

        >li {
            >a {
                background-color: $secondary-color;
                color: #fff;
                border-color: #efefef;

                &:before {
                    color: #fff;
                }

                &.has-multi-menu {
                    i {
                        color: #fff;
                    }
                }
            }

            @include min-width(768px) {

                &:hover,
                &.active {
                    >a {
                        background-color: $primary-color;
                    }
                }
            }

            &.active {
                >a {
                    background-color: $primary-color;
                }
            }

            >a {
                &:active {
                    background-color: darken($color: $primary-color, $amount: 6%);
                }
            }
        }
    }

    @include min-width(768px) {
        li {
            &:hover {
                >ul {
                    display: block;
                }
            }
        }
    }

}

.dynamic-select {
    >.input-main {
        >input {
            padding-right: 35px;
            box-shadow: none;
            box-shadow: none !important;
            cursor: pointer;

            &:focus {
                background: #f1f1f1;
                border-color: #dcdcdc;
            }
        }

        .icon {
            top: 50%;
            @include transformy(-50%);
            right: 12px;
            font-size: 17px;
            color: #616161;
            line-height: 0;

            i {
                font-size: 25px;
            }
        }
    }

    .options {
        display: none;
        background: #fff;
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        overflow: auto;
        z-index: 1;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 5px;
        font-size: 17px;
        max-height: 120px;

        @include min-width(992px) {
            max-height: 150px;
        }

        .frac {
            &:not(:last-child) {
                border-bottom: 1px solid #cdcdcd;
                margin-bottom: 10px;
                padding-bottom: 5px;
            }

            .sm-head {
                padding: 0 10px;
                font-size: 13px;
                color: $primary-color;
                margin-bottom: 5px;
                margin-left: -5px;
                margin-right: -5px;
            }

            >ul {
                >li {
                    cursor: pointer;

                    .label {
                        margin-left: -5px;
                        padding: 4px 10px 5px;
                        font-size: 14px;
                        width: calc(100% + 10px);
                        color: #676767;
                        @include transition(.1s);

                        &:hover {
                            color: #333;
                            background-color: lighten($color: $primary-color, $amount: 40%);
                        }

                        &:active {
                            background-color: lighten($color: $primary-color, $amount: 40%);
                        }

                        .text {
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.st-btn {
    font-family: 'carmen-sans-regular', sans-serif;
    background-color: #333;
    font-size: 15px;
    padding: 9px 15px 9px;
    border-radius: 5px;
    color: #fff;
    box-shadow: none;

    &:hover {
        background-color: darken($color: #333, $amount: 5);
        color: #fff;
    }

    &:active {
        background-color: darken($color: #333, $amount: 10);
    }

    &:focus {
        box-shadow: none !important;
    }

    &.st-btn-secondary {
        background-color: $secondary-color;

        &:hover {
            background-color: lighten($color: $secondary-color, $amount: 10);
            color: #fff;
        }

        &:active {
            background-color: darken($color: $secondary-color, $amount: 3);
        }
    }

    &.st-btn-primary {
        background-color: $primary-color;

        &:hover {
            background-color: darken($color: $primary-color, $amount: 5);
            color: #fff;
        }

        &:active {
            background-color: darken($color: $primary-color, $amount: 10);
        }
    }

    &.btn-lg {
        padding: 8px 20px 11px;
        font-size: 16px;

        @include min-width($md-main) {
            padding: 11px 30px 13px;
        }
    }
}

.st-head-top {
    font-size: 20px;
    font-family: styling, sans-serif;
    margin-bottom: 2px;
    letter-spacing: 1px;

    @include min-width($md-main) {
        font-size: 25px;
    }
}

.st-head {
    font-size: 25px;
    font-family: styling, sans-serif;
    color: #000;
    margin-bottom: 10px;
    letter-spacing: .5px;

    @include min-width($md-main) {
        font-size: 30px;
        margin-bottom: $defaultGap;
    }

    &.big {
        font-size: 27px;

        @include min-width($md-main) {
            font-size: 35px;
        }

        @include min-width($lg-main) {
            font-size: 40px;
        }
    }
}

.st-head-sm {
    font-size: 20px;
    font-family: styling, sans-serif;
    color: #000;
    margin-bottom: $defaultGap;
    letter-spacing: .5px;

    @include min-width($md-main) {
        font-size: 24px;
    }
}

.st-desc {
    font-size: 16px;
    line-height: 23px;

    @include min-width($lg-main) {
        font-size: 17px;
        line-height: 24px;
    }
}

.st-main-head {
    margin-bottom: 30px;

    @include min-width($lg-main) {
        margin-bottom: 50px;
    }

    .st-head {
        margin-bottom: 5px;
    }

    .st-desc {
        font-size: 16px;
        letter-spacing: .5px;
        color: #333;

        &+.st-head {
            margin-top: 10px;
        }

        @include min-width($lg-main) {
            font-size: 17px;
        }
    }
}

.star-rating-show {
    >li {
        font-size: 13px;

        &:not(.count):not(.no-rate) {
            color: $star-color;
        }

        &.no-rate {
            color: $light-white;
        }

        &:not(:last-child) {
            margin-right: 5px;
        }
    }
}

.custom-modal {
    .close {
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 10px;
    }
}