// STYLING FONTS
@font-face {
    font-family: 'styling';
    src: url('../fonts/styling/Styling-Regular4.ttf');
}

// CARMEN SANS FONTS
@font-face {
    font-family: 'carmen-sans-regular';
    src: url('../fonts/carmen-sans/Carmen-Sans-Regular.otf');
}

@font-face {
    font-family: 'carmen-sans-regular';
    src: url('../fonts/carmen-sans/Carmen-Sans-Medium.otf');
}

@font-face {
    font-family: 'carmen-sans-bold';
    src: url('../fonts/carmen-sans/Carmen-Sans-Bold.otf');
}