// COLORS
// main colors
$primary-color: #124b98;
$secondary-color: #d20423;

// other colors
$st-less-dark: #2a2a2a;

$light-white: #efefef;

$slider-bg: #c7e2f3;

$star-color: #f6bb09;

$footer-bg-color: #161616;
$footer-text-color: #a7a7a7;

// MARGINS,PADDING
$defaultGap: 15px;

// RESPONSIVE BREAKPOINTS
$sm-main: 576px;
$sm-less-one: 575px;

$md-main: 768px;
$md-less-one: 767px;

$lg-main: 992px;
$lg-less-one: 991px;

$xl-main: 1200px;
$xl-less-one: 1199px;