// sass --watch scss/style.scss:css/style.css --style compact

// font-family: 'carmen-sans-regular', sans-serif;
// font-family: 'styling', sans-serif;
@import "components/reset";
@import "components/fonts";
@import "components/variables";
@import "components/mixins";
@import "components/common";

// GOOGLE FONTS
// font-family: 'Lato', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;

    @include min-width($md-main) {
        font-size: 16px;
    }
}

// HOMEPAGE CSS

// header
#header {
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 99;
}

// HEADER TOP SEC
#header-top {
    background-color: $st-less-dark;
    color: #fff;
    padding: 5px 0;
    z-index: 1;
    position: relative;
    @include transition;

    @include min-width($md-main) {
        height: 40px;
    }
}

.header-top {
    p {
        letter-spacing: 0.2px;
    }
}

// HEADER MAIN SEC
#header-main {
    @include transition;
}

.header-main {
    padding: 20px 0;

    .st-logo {
        @include min-width($md-main) {
            width: 210px
        }

        @include min-width($lg-main) {
            width: 280px
        }
    }

    .hm-lt,
    .hm-rt {
        @include transition;
    }

    .hm-rt {

        .frac {
            width: 100%;
            text-align: center;

            @include min-width($md-main) {
                width: auto;
                text-align: left;
            }

            &:not(:last-child) {
                margin-bottom: 5px;

                @include min-width($md-main) {
                    margin-bottom: 0;
                    margin-right: 10px;
                }

                @include min-width($lg-main) {
                    margin-right: 60px;
                }
            }

            .head {
                color: #111;
                font-family: 'carmen-sans-bold', sans-serif;
                margin-bottom: 5px;
                @include transition;

                i {
                    font-size: 20px;
                    position: relative;
                    top: 3px;
                    margin-right: 5px;
                }
            }

            .content {
                color: $secondary-color;
                font-size: 18px;
                // --animate-duration: 4s;
                // animation-timing-function: linear;
                --animate-duration: 10s;
                animation-timing-function: ease;

                @include min-width($md-main) {
                    padding-left: 30px;
                }
            }
        }
    }

}

// HEADER MENU
#header-menu {
    background-color: $primary-color;
}

.header-menu {

    // padding: 13px 0;
    @include min-width($md-main) {
        .get-a-quote-btn {
            .st-btn {
                width: 160px;
            }
        }
    }
}

// WHEN HEADER FIXED
#header.active {
    #header-top {
        margin-top: -40px;
    }

    @include min-width($md-main) {
        #header-top {
            margin-top: -40px;
        }

        #header-main {
            margin-top: -98px;
        }

        // #header-main {
        //     margin-top: -117px;
        // }

        // .header-main {
        //     padding: 10px 0;

        //     .hm-rt {
        //         padding-top: 0 !important;

        //         .frac {
        //             .head {
        //                 font-size: 14px;
        //             }

        //             .content {
        //                 font-size: 17px;
        //             }
        //         }
        //     }
        // }
    }

    @include min-width($lg-main) {
        #header-main {
            margin-top: -117px;
        }

        // .header-main {
        //     padding: 10px 0;

        //     .st-logo {
        //         width: 220px;
        //         @include transition;
        //     }

        //     .hm-rt {
        //         padding-top: 0 !important;

        //         .frac {
        //             .head {
        //                 font-size: 14px;
        //             }

        //             .content {
        //                 font-size: 17px;
        //             }
        //         }
        //     }
        // }
    }

    @include min-width($xl-main) {

        .st-head-menu>li>a {
            font-size: 15px;
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }
}

@include min-width($md-main) {
    .header-like-margin-top {
        margin-top: 190px;
    }

    .header-like-padding-top {
        padding-top: 190px;
    }
}

@include min-width($lg-main) {
    .header-like-margin-top {
        margin-top: 213px;
    }

    .header-like-padding-top {
        padding-top: 213px;
    }
}

// home slider
.home_slider {
    background-color: $slider-bg;

    .item {
        padding: 20px 0;

        @include min-width($md-main) {
            padding: 30px 0;
        }

        .item-lt {
            .st-head {
                // font-size: 25px;
                margin-bottom: 8px;

                @include min-width($md-main) {
                    // font-size: 28px;
                }
            }

            .text {
                font-size: 18px;
                color: #000;
                margin-top: 10px;

                @include min-width($lg-main) {
                    max-width: 80%;
                }
            }

            .slider-girl-img {
                @include min-width($lg-main) {
                    margin-bottom: -114px;
                    width: 240px;
                }

                @include min-width($xl-main) {
                    margin-bottom: -62px;
                    width: 300px;
                }
            }
        }

        .item-rt {
            @include min-width($md-main) {
                width: 350px;
            }

            @include min-width($xl-main) {
                width: 370px;
            }

            >.inner {
                background-color: #fff;
                padding: $defaultGap;

                @include min-width($md-main) {
                    padding: 25px;
                }
            }
        }
    }
}

// CSS FOR FIREFOX ONLY
@-moz-document url-prefix() {
    .home_slider .item .item-lt .slider-girl-img {
        @include min-width($lg-main) {
            margin-bottom: -126px;
        }

        @include min-width($xl-main) {
            margin-bottom: -65px;
        }
    }
}


// HOME BLOCK TWO
#home-block-two {}

.home-block-two {
    .home-block-two-col {
        background: $primary-color url('../images/home-second-block/background-img.png') no-repeat center / cover;
        border-radius: 20px;
        padding: 20px 5px 20px;

        @include min-width($sm-main) {
            padding: 20px 10px;
        }

        @include min-width($md-main) {
            padding: 30px 15px;
        }

        @include min-width($lg-main) {
            padding: 50px 30px;
        }
    }

    .item {
        width: 100%;

        @include max-width($sm-less-one) {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        padding-left: $defaultGap;
        padding-right: $defaultGap;

        @include min-width($sm-main) {
            width: 33.3%;
            padding: 0 4px;
        }

        @include min-width($md-main) {
            width: 220px;
        }

        @include min-width($lg-main) {
            width: 280px;
        }

        .img-sec {
            height: 65px;
            
            @include min-width($sm-main) {
                margin-bottom: $defaultGap;
            }
            @include min-width($lg-main) {
                height: 75px;
            }

            img {
                max-height: 100%;
            }
        }

        .text-sec {
            .head {
                font-size: 30px;
                color: #fff;
                margin-bottom: 5px;
                letter-spacing: .5px;

                @include min-width($lg-main) {
                    font-size: 40px;
                }
            }

            .desc {
                font-size: 17px;
                color: #fff;

                @include min-width($lg-main) {
                    font-size: 19px;
                }
            }
        }
    }
}

// HOME ABOUT
#home-about {}

.home-about {
    .img-sec {
        @include min-width($md-main) {
            width: 300px;
        }

        @include min-width($lg-main) {
            width: 350px;
        }
    }

    .text-sec {
        @include min-width($md-main) {
            padding-left: 25px;
        }

        @include min-width($lg-main) {
            padding-left: 40px;
        }

        .st-desc {
            @include min-width($lg-main) {
                font-size: 17px;
            }

            &:not(:last-child) {
                margin-bottom: 10px;

                @include min-width($md-main) {
                    margin-bottom: 25px;
                }
            }
        }
    }
}

// HOME OUR FEATURES
#our-features {}

.our-features {
    .lt {

        @include min-width($md-main) {
            width: 250px;
            padding-right: 20px;
        }

        @include min-width($lg-main) {
            width: 410px;
            padding-right: 60px;
        }

        @include min-width($xl-main) {
            width: 460px;
            padding-right: 100px;
        }

        .st-btn {
            margin-top: 20px;

            @include max-width($md-less-one) {
                margin-bottom: 15px;
            }

            @include min-width($md-main) {
                margin-top: 30px;
            }
        }
    }

    .rt {
        .seprator {
            width: 100%;
            width: 50%;

            // @include min-width($sm-main) {
            // }
        }

        .frac {
            padding: 10px;

            @include min-width($md-main) {
                padding: 15px;
            }
        }

        .frac-inner {
            background: #fff;
            padding: 15px;
            border-radius: 20px;
            @include box-shadow(0px, 0px, 20px, 0, rgba(0, 0, 0, 0.2));

            @include min-width($lg-main) {
                padding: 20px 20px;
            }

            .head {
                font-size: 20px;
                margin-bottom: 4px;

                @include min-width($lg-main) {
                    font-size: 25px;
                }
            }

            .frac-lt {
                width: 100%;

                @include min-width($md-main) {
                    width: calc(100% - 40px);
                }

                @include min-width($xl-main) {
                    width: calc(100% - 90px);
                }
            }

            .frac-rt {
                height: 50px;
                width: 50px;

                @include min-width($md-main) {
                    height: 40px;
                    width: 40px;
                }

                @include min-width($xl-main) {
                    height: 90px;
                    width: 90px;
                }

                img {
                    max-height: 100%;
                }
            }
        }
    }
}

// HOME OUR SERVICES
#our-services {
    background: #f3f3f3 url('../images/map.png') no-repeat center / auto;
}

.our-services {

    .item {
        margin-bottom: 20px;

        @include min-width($md-main) {
            margin-bottom: 30px;
        }

        .item-inner {
            background-color: #fff;
            padding: 25px 20px;
            @include transition;
            height: 100%;
        }

        .img-sec {
            // height: 30px;
            width: 60px;

            img {
                max-height: 100%;
            }

            &:before,
            &:after {
                content: '';
                width: 5px;
                display: block;
                background-color: $secondary-color;
                position: absolute;
                left: 50%;
                @include transition(.1s);
                transition-delay: .2s;
                transform: translateX(-50%);
                height: 0;
            }

            &:before {
                bottom: calc(50% + 60px / 2);
            }

            &:after {
                top: calc(50% + 60px / 2);
            }

            .img-inner {
                height: 60px;
                width: 60px;
                @include transition(.2s);
                top: 0;
            }
        }

        .item-inner {
            &:hover {
                @include box-shadow(0px, 0px, 15px, 0, rgba(0, 0, 0, 0.2));

                .img-inner {
                    top: 50%;
                    @include transformy(-50%);
                }

                .img-sec {

                    &:before,
                    &:after {
                        height: calc(50% - 60px / 2);
                    }
                }
            }
        }

        .text-sec {
            padding-left: $defaultGap;

            .head {
                font-size: 21px;
                margin-bottom: 5px;
            }

            .desc {}
        }
    }
}

// testimonials
#testimonials {}

.testimonials {
    .testimonials-container {}

    .item {
        opacity: 0.6;

        .text-sec {
            .inner {
                @include transition(.4s);
                background-color: #fff;
                border-radius: 10px;
                padding: 30px;
                border: 1px solid $light-white;
                border-top: 5px solid $light-white;
                margin-bottom: 40px;

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 29px;
                    @include transformy(100%);
                    border-style: solid;
                    border-width: 24px;
                    border-color: transparent;
                    border-top-color: $primary-color;
                    opacity: 0;
                    @include transition(.4s);
                }
            }

            p {
                color: #333;
                line-height: 28px;
                letter-spacing: .6px;
            }

            .star-rating-show {
                margin-top: 15px;
            }
        }

        .user-sec {
            padding: 0 15px;

            .user-img {
                height: 80px;
                width: 80px;
                background: $light-white;

                img {
                    max-height: 100%;
                }
            }

            .user-name {
                p {
                    font-size: 18px;
                    color: darken($color: $primary-color, $amount: 15);
                }
            }
        }

    }

    .owl-item.center,
    .owl-item.center>.item,
    .item:hover {
        opacity: 1;

        .text-sec {
            .inner {
                border-color: $primary-color;
                border-top-color: $secondary-color;
                background-color: $primary-color;

                &:after {
                    opacity: 1;
                }
            }

            p {
                color: #fff;
                line-height: 28px;
                letter-spacing: .6px;
            }
        }
    }
}

// FOOTER
footer {

    .st-text,
    .ft-link {
        color: $footer-text-color;
        font-size: 15px;
        line-height: 23px;

        &.mb {
            &:not(:last-child) {
                margin-bottom: 15px;

                @include min-width($lg-main) {
                    margin-bottom: 25px;
                }
            }
        }
    }
}

#ft-top {
    background: $footer-bg-color url("../images/map.png") no-repeat center/auto;
}

.ft-top {
    .ft-head {
        font-family: styling, sans-serif;
        font-size: 24px;
        margin-bottom: 20px;
        color: #fff;
    }

    .footer-ul {
        >li {
            &:not(:last-child) {
                margin-bottom: 10px;
            }

            >a {
                color: $footer-text-color;
                font-size: 15px;
                @include transition;

                &:hover {
                    margin-left: 3px;
                }
            }
        }
    }

    .one {
        img {
            width: 200px;
            margin-bottom: 20px;

        }

        .st-text {
            margin-bottom: 20px;
        }

    }

    .two {
        .ft-link {}

        .st-text {
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    .social-links {
        >li {
            &:not(:last-child) {
                padding-right: 20px;
            }

            >a {
                background: #bbbbbb;
                color: #161616;
                font-size: 15px;
                height: 30px;
                width: 30px;
                border-radius: 100%;
                @include transition(.1s);

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    .newsletter {

        >.form {

            input,
            .btn {}

            input {
                height: 50px;
                border-radius: 5px;
                border: 1px solid #bbbbbb;
                font-size: 15px;

                color: #000;
                letter-spacing: 0.7px;
            }

            .st-btn {
                font-family: styling, sans-serif;
                padding: 11px 30px 10px;
                font-size: 18px;
                letter-spacing: 1px;
            }
        }
    }
}

#ft-bottom {
    background-color: #000;
}

.ft-bottom {
    padding: 11px 0 10px;

    p {}
}

// MODAL FORM FOR SSUBMIT ASSIGNMENT
.assignment-submitted-success {
    padding: 15px;

    img {
        width: 100px;
        margin-bottom: 20px;
    }

    p {
        font-size: 20px;
        color: #000;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

// CONTACT MAIN
#contact-main {}

.contact-main {
    .contact-main-col {

        .st-head {
            margin-bottom: 15px;

            @include min-width($md-main) {
                margin-bottom: 25px;
            }

            @include min-width($lg-main) {
                margin-bottom: 30px;
                font-size: 35px;
                color: #222;
            }
        }

        >.lt {
            padding-right: 15px;
            width: 100%;

            @include min-width($md-main) {
                width: 300px;
            }

            @include min-width($lg-main) {
                width: 360px;
            }

            @include min-width($xl-main) {
                width: 400px;
            }
        }
    }

    .contact-details {
        .frac {
            margin-bottom: 20px;

            @include min-width($md-main) {
                margin-bottom: 35px;
            }
        }

        .icon-sec {
            width: 30px;
            padding-top: 1px;

            i {
                font-size: 19px;
            }
        }

        .text-sec {
            .head {
                color: $primary-color;
                font-size: 17px;
                margin-bottom: 6px;
            }

            .desc {
                // font-size: 17px;
                color: #444;
            }
        }
    }

    .contact-form {
        .st-form {
            @include min_width($lg-main) {

                &.lt,
                &.rt {
                    margin-bottom: calc(15px * 2);
                }

                &.lt {
                    padding-right: 15px;
                }

                &.rt {
                    padding-left: 15px;
                }
            }
        }

        .st-btn {
            // background-color: $sucess-color;

            // &:hover {
            //     background-color: darken($color: $sucess-color, $amount: 5);
            //     color: #fff;
            // }

            // &:active {
            //     background-color: darken($color: $sucess-color, $amount: 10);
            // }

            @include min-width($lg-main) {
                width: 150px;
            }
        }

        .sub-btn {
            @include min-width($md-main) {
                margin-top: 15px;
            }
        }
    }
}

// REVIEWS-MAIN
.reviews-main {
    .item {
        .item-inner {
            border: 2px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
            @include transition;

            @include min-width($md-main) {
                margin-bottom: 30px;
                padding: 30px 25px;
            }

            &:hover {
                border-color: lighten($color: $primary-color, $amount: .4);
                @include box-shadow(0px, 0px, 20px, 0, transparentize($color: $primary-color, $amount: .4));
            }


        }

        .top-sec {
            .img {
                height: 50px;
                width: 50px;

                img {
                    max-height: 100%;
                }
            }

            .text {
                .user {
                    color: #000;
                    font-size: 17px;
                    margin-bottom: 7px;
                }

                .date {
                    font-size: 14px;
                    color: #666;
                }
            }
        }

        .bottom-sec {
            .user-review {
                color: #333;
            }
        }
    }
}

// ABOUT US BLOCK ONE
#about-us-block-one {
    background-color: #e3e3e3;
}

.about-us-block-one {
    .item {
        p {}

        .count {
            font-family: 'styling', sans-serif;
            font-size: 70px;
            line-height: 60px;
            color: #fff;
            margin-bottom: 10px;
            margin-left: -2px;

            @include min-width($lg-main) {
                font-size: 90px;
                line-height: 70px;
            }
        }

        .st-head {
            margin-bottom: 10px;
        }

        .desc {
            line-height: 23px;
            color: #4d4d4d;
            letter-spacing: .5px;

            @include min-width($lg-main) {
                padding-right: 60px;
            }
        }
    }
}

// ABOUT US BLOCK TWO
#about-us-block-two {}

.about-us-block-two {
    .frac {
        &:not(:last-child) {
            margin-bottom: 20px;

            @include min-width($lg-main) {
                margin-bottom: 35px;
            }
        }
    }

    .st-head {}

    .st-desc {
        &:not(:last-child):not(li) {
            margin-bottom: 15px;

            @include min-width($lg-main) {
                margin-bottom: 25px;
            }
        }

    }


    ul {
        padding-left: 25px;

        li.st-desc {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}

.whatsapp_fixed {
    position: fixed;
    bottom: 5%;
    left: 20px;
    z-index: 99;

    @include min-width($md-main) {
        left: 50px;
    }

    >a {
        height: 65px;
        width: 65px;

        @include min-width($md-main) {
            height: 80px;
            width: 80px;
        }

        img {
            max-height: 100%;
        }

        &:hover {
            @include min-width($md-main) {
                animation-play-state: paused;
            }
        }
    }

}