@mixin transform($x, $y) {
    -webkit-transform: translate($x, $y);
    transform: translate($x, $y);
}

@mixin transformx($x) {
    -webkit-transform: translatex($x);
    transform: translatex($x);
}

@mixin transformy($y) {
    -webkit-transform: translatey($y);
    transform: translatey($y);
}

@mixin box-shadow($x, $y, $blur, $spread, $color) {
    -webkit-box-shadow: $x $y $blur $spread $color;
    box-shadow: $x $y $blur $spread $color;
}

@mixin transition($time: 0.3s) {
    transition: $time;
}

@mixin app-gradient {
    // background: rgb(244, 180, 7);
    // background: -moz-linear-gradient(0deg, rgba(244, 180, 7, 1) 0%, rgba(253, 224, 6, 1) 100%);
    // background: -webkit-linear-gradient(0deg, rgba(244, 180, 7, 1) 0%, rgba(253, 224, 6, 1) 100%);
    // background: linear-gradient(0deg, rgba(244, 180, 7, 1) 0%, rgba(253, 224, 6, 1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4b407", endColorstr="#fde006", GradientType=1);
    background: rgb(252, 217, 5) !important;
    background: -moz-linear-gradient(180deg, rgba(252, 217, 5, 1) 0%, rgba(250, 190, 7, 1) 100%) !important;
    background: -webkit-linear-gradient(180deg, rgba(252, 217, 5, 1) 0%, rgba(250, 190, 7, 1) 100%) !important;
    background: linear-gradient(180deg, rgba(252, 217, 5, 1) 0%, rgba(250, 190, 7, 1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcd905", endColorstr="#fabe07", GradientType=1) !important;
}

@mixin app-gradient-green {
    background: rgb(177, 228, 106) !important;
    background: -moz-linear-gradient(180deg, rgba(177, 228, 106, 1) 0%, rgba(148, 211, 58, 1) 100%) !important;
    background: -webkit-linear-gradient(180deg, rgba(177, 228, 106, 1) 0%, rgba(148, 211, 58, 1) 100%) !important;
    background: linear-gradient(180deg, rgba(177, 228, 106, 1) 0%, rgba(148, 211, 58, 1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b1e46a", endColorstr="#94d33a", GradientType=1) !important;
}

@mixin app-gradient-purple {
    background: rgb(155,39,176) !important;
background: -moz-linear-gradient(180deg, rgba(155,39,176,1) 0%, rgba(142,38,161,1) 100%) !important;
background: -webkit-linear-gradient(180deg, rgba(155,39,176,1) 0%, rgba(142,38,161,1) 100%) !important;
background: linear-gradient(180deg, rgba(155,39,176,1) 0%, rgba(142,38,161,1) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9b27b0",endColorstr="#8e26a1",GradientType=1) !important;
}

@mixin app-gradient-red {
    background: rgb(255, 116, 46) !important;
    background: -moz-linear-gradient(180deg, rgba(255, 116, 46, 1) 0%, rgba(255, 114, 46, 1) 45%, rgba(255, 93, 27, 1) 100%) !important;
    background: -webkit-linear-gradient(180deg, rgba(255, 116, 46, 1) 0%, rgba(255, 114, 46, 1) 45%, rgba(255, 93, 27, 1) 100%) !important;
    background: linear-gradient(180deg, rgba(255, 116, 46, 1) 0%, rgba(255, 114, 46, 1) 45%, rgba(255, 93, 27, 1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff742e", endColorstr="#ff5d1b", GradientType=1) !important;

    // background: rgb(251, 83, 5);
    // background: linear-gradient(NaNdeg, rgba(251, 83, 5, 1) 0%, rgba(255, 142, 80, 1) 100%);
}

@mixin app-gradient-black {
    background: rgb(50, 50, 50) !important;
    background: -moz-linear-gradient(180deg, rgba(50, 50, 50, 1) 0%, rgba(0, 0, 0, 1) 100%) !important;
    background: -webkit-linear-gradient(180deg, rgba(50, 50, 50, 1) 0%, rgba(0, 0, 0, 1) 100%) !important;
    background: linear-gradient(180deg, rgba(50, 50, 50, 1) 0%, rgba(0, 0, 0, 1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#323232", endColorstr="#000000", GradientType=1) !important;
}

@mixin min_width($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

@mixin max_width($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}