@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;600;700;800&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* width */
::-webkit-scrollbar { width: 8px; }

/* Track */
::-webkit-scrollbar-track { background: #d1d1d1; }

/* Handle */
::-webkit-scrollbar-thumb { background: #222; border-radius: 15px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #0e0e0e; }

.clear-parent::after { content: ""; display: block; clear: both; }

.owl-carousel .owl-item img { width: auto; }

.owl-theme .owl-nav.disabled + .owl-dots { margin-top: 5px; }

.owl-theme .owl-dots .owl-dot span { margin: 3px 4px; background: #fff; }

.color-secondary { color: #666 !important; }

.color-primary { color: #222 !important; }

.color-black { color: #000 !important; }

.color-less-black { color: #333 !important; }

.bg-secondary { background-color: #666 !important; }

.bg-primary { background-color: #222 !important; }

.font-weight-100 { font-weight: 100 !important; }

.font-weight-200 { font-weight: 200 !important; }

.font-weight-300 { font-weight: 300 !important; }

.font-weight-400 { font-weight: 400 !important; }

.font-weight-500 { font-weight: 500 !important; }

.font-weight-600 { font-weight: 600 !important; }

.font-weight-700 { font-weight: 700 !important; }

.font-weight-800 { font-weight: 800 !important; }

.font-weight-900 { font-weight: 900 !important; }

.max-height-resize { max-height: 100%; }

.full-width-col { -ms-flex: 1; flex: 1; -ms-flex-positive: 1 !important; flex-grow: 1 !important; }

@media screen and (min-width: 576px) { .full-width-col-sm { -ms-flex: 1; flex: 1; -ms-flex-positive: 1 !important; flex-grow: 1 !important; } }
@media screen and (min-width: 768px) { .full-width-col-md { -ms-flex: 1; flex: 1; -ms-flex-positive: 1 !important; flex-grow: 1 !important; } }
@media screen and (min-width: 992px) { .full-width-col-lg { -ms-flex: 1; flex: 1; -ms-flex-positive: 1 !important; flex-grow: 1 !important; } }
@media screen and (min-width: 1200px) { .full-width-col-xl { -ms-flex: 1; flex: 1; -ms-flex-positive: 1 !important; flex-grow: 1 !important; } }
.owl-carousel.vertical-buttons .owl-nav > button { position: absolute; top: 50%; -webkit-transform: translatey(-50%); transform: translatey(-50%); display: -ms-flexbox !important; display: flex !important; -ms-flex-pack: center !important; justify-content: center !important; -ms-flex-align: center !important; align-items: center !important; line-height: 0; height: 25px; width: 25px; border-radius: 50%; background-color: #d0d0d0; transition: 0.3s; color: #fff; outline: none !important; }
@media screen and (min-width: 768px) { .owl-carousel.vertical-buttons .owl-nav > button { height: 35px; width: 35px; } }
.owl-carousel.vertical-buttons .owl-nav > button:hover { background-color: #222; }
.owl-carousel.vertical-buttons .owl-nav > button:active { background-color: #131313; }
.owl-carousel.vertical-buttons .owl-nav > .owl-prev { left: 0; }
.owl-carousel.vertical-buttons .owl-nav > .owl-next { right: 0; }

.st-form { width: 100%; position: relative; }
.st-form input, .st-form select, .st-form textarea { border: none; color: #333; border-radius: 0; background-color: #fff; }
.st-form:not(.input-underline) input, .st-form:not(.input-underline) select, .st-form:not(.input-underline) textarea { box-shadow: none !important; border: 1px solid #d0d0d0; font-size: 13px; font-weight: 500; }
.st-form input, .st-form select { height: 45px; padding-top: 5px; }
@media screen and (min-width: 768px) { .st-form.lt, .st-form.rt { width: 50%; }
  .st-form.lt { padding-right: 7.5px; }
  .st-form.rt { padding-left: 7.5px; } }
.st-form.input-underline input, .st-form.input-underline select, .st-form.input-underline textarea { background-color: transparent; border-bottom: 2px solid #444; padding-left: 0; padding-right: 0; }
.st-form.input-underline input:focus, .st-form.input-underline select:focus, .st-form.input-underline textarea:focus { box-shadow: none; border-color: #222; }
.st-form .add-info { position: absolute; top: calc(100% + 3px); font-size: 12px; color: #666; width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.st-head-menu { position: relative; }
@media screen and (max-width: 991px) { .st-head-menu { margin-top: 20px; } }
@media screen and (max-width: 767px) { .st-head-menu > li { position: relative; } }
.st-head-menu > li > a { font-weight: 600; font-size: 14px; color: #333; text-decoration: none !important; outline: none !important; transition: 0.3s; }
.st-head-menu > li > a::after { content: ''; display: block; height: 2px; width: 0; transition: 0.3s; background-color: #333; margin-top: 5px; }
@media screen and (min-width: 992px) { .st-head-menu > li > a:hover::after, .st-head-menu > li > a:focus::after, .st-head-menu > li > a:active::after, .st-head-menu > li > a.active::after { width: 100%; } }
@media screen and (min-width: 992px) { .st-head-menu > li { padding-left: 20px; }
  .st-head-menu > li:not(:last-child) { padding-left: 40px; } }
@media screen and (max-width: 991px) { .st-head-menu > li { display: block; width: 100%; }
  .st-head-menu > li > a { width: 100%; padding: 14px 20px; color: #fff; display: block; } }
.st-head-menu > li.active > a { color: #7d7d7d; }

.ST_def-mar-T, .ST_def-mar-TB { margin-top: 25px; }
@media screen and (min-width: 768px) { .ST_def-mar-T, .ST_def-mar-TB { margin-top: 40px; } }
@media screen and (min-width: 1200px) { .ST_def-mar-T, .ST_def-mar-TB { margin-top: 90px; } }

.ST_def-mar-B, .ST_def-mar-TB { margin-bottom: 25px; }
@media screen and (min-width: 768px) { .ST_def-mar-B, .ST_def-mar-TB { margin-bottom: 40px; } }
@media screen and (min-width: 1200px) { .ST_def-mar-B, .ST_def-mar-TB { margin-bottom: 90px; } }

.ST_def-pad-T, .ST_def-pad-TB { padding-top: 25px; }
@media screen and (min-width: 768px) { .ST_def-pad-T, .ST_def-pad-TB { padding-top: 40px; } }
@media screen and (min-width: 1200px) { .ST_def-pad-T, .ST_def-pad-TB { padding-top: 90px; } }

.ST_def-pad-B, .ST_def-pad-TB { padding-bottom: 25px; }
@media screen and (min-width: 768px) { .ST_def-pad-B, .ST_def-pad-TB { padding-bottom: 40px; } }
@media screen and (min-width: 1200px) { .ST_def-pad-B, .ST_def-pad-TB { padding-bottom: 90px; } }

.st-btn { font-size: 15px; color: #fff; letter-spacing: 0.5px; background-color: #333; padding: 10px 16px 8px; box-shadow: none; transition: 0.3s; }
.st-btn:hover { background-color: #262626; color: #fff; }
.st-btn:active { background-color: #1a1a1a; }
.st-btn:focus { box-shadow: none !important; }
.st-btn.st-btn-white { color: #333; background-color: #fff; }
.st-btn.st-btn-white.active, .st-btn.st-btn-white:hover { color: #fff; }

.page-heading { color: #333; margin-bottom: 15px; }
.page-heading.heading-lg { font-size: 26px; color: #111; font-weight: 300; }
@media screen and (min-width: 1200px) { .page-heading.heading-lg { font-size: 40px; } }
.page-heading.heading-md { font-size: 27px; line-height: 36px; }
.page-heading.heading-sm { font-size: 24px; }
.page-heading .line { height: 2.5px; width: 100px; background: #444; transition: 0.7s; }

.page-heading-sub-head { margin-bottom: 15px; line-height: 23px; }

.page-description { line-height: 24px; font-size: 17px; }

.custom-modal .close { position: absolute; z-index: 1; top: 10px; right: 10px; }

.shadow-box { -webkit-box-shadow: 0px 0px 40px 0 rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 40px 0 rgba(0, 0, 0, 0.1); }

.cstm-animation-delay-point-2s { animation-delay: .2s !important; }

.cstm-animation-delay-point-7s { animation-delay: .7s !important; }

.cstm-animation-delay-1-point-2s { animation-delay: 1.2s !important; }

.cstm-animation-delay-1-point-7s { animation-delay: 1.7s !important; }

.cstm-animation-delay-2-point-2s { animation-delay: 2.2s !important; }

.cstm-animation-delay-2-point-7s { animation-delay: 2.7s !important; }

.header-like-margin-top { margin-top: 75px; }
@media screen and (min-width: 992px) { .header-like-margin-top { margin-top: 103px; } }

.header-like-padding-top { padding-top: 75px; }
@media screen and (min-width: 992px) { .header-like-padding-top { padding-top: 103px; } }

.img-fluid-height { max-height: 100%; }

body { font-family: 'Montserrat', sans-serif; font-size: 15px; font-weight: 400; }
@media screen and (min-width: 768px) { body { font-size: 16px; } }

#header { background: #fff; top: 0; left: 0; width: 100%; position: fixed; z-index: 99; }
#header.active { -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); }

.header { padding: 10px 0 10px; transition: 0.3s; }
@media screen and (min-width: 992px) { .header { padding-top: 20px; } }
.header .logo { width: 150px; transition: 0.3s; transition: 0.3s; }
@media screen and (min-width: 992px) { .header .logo { width: 200px; } }

#header.active .header { padding: 10px 0; }
#header.active .header .logo { width: 150px; }

#home-main-sec .right-bar { width: 50%; height: 200px; background: #191919; top: -20px; right: -30%; transition: 1s; }
#home-main-sec.active .right-bar { top: 0; right: 0; }

.home-main-sec { z-index: 1; }
.home-main-sec .item.lt, .home-main-sec .item.rt { width: 100%; }
@media screen and (min-width: 768px) { .home-main-sec .item.lt, .home-main-sec .item.rt { width: 300px; } }
@media screen and (min-width: 992px) { .home-main-sec .item.lt, .home-main-sec .item.rt { width: 370px; } }
@media screen and (min-width: 1200px) { .home-main-sec .item.lt, .home-main-sec .item.rt { width: 420px; } }
@media screen and (min-width: 992px) { .home-main-sec .item.lt { padding-top: 50px; padding-right: 80px; } }
.home-main-sec .item.lt .frac:first-child { border-bottom: 1px solid #555; }
@media screen and (min-width: 992px) { .home-main-sec .item.lt .frac:first-child { padding-bottom: 20px; } }
@media screen and (min-width: 992px) { .home-main-sec .item.rt { padding-top: 200px; padding-left: 80px; } }
@media screen and (min-width: 992px) { .home-main-sec .item.ct { width: 60%; } }
.home-main-sec .item.ct > .inner { background-color: #fff; }
.home-main-sec .item.ct > .inner img { transition: 1s; }
@media screen and (min-width: 768px) { .home-main-sec .item.ct > .inner { height: 300px; } }
@media screen and (min-width: 992px) { .home-main-sec .item.ct > .inner { height: 500px; } }
.home-main-sec .page-heading-sub-head { line-height: 26px; }

#home-main-sec:hover .item.ct > .inner img { transform: scale(1.1) rotate(-1deg); }

.count-sec .item .count { font-size: 36px; margin-bottom: 5px; }

@media screen and (min-width: 992px) { .about-main { padding: 0 50px; padding-top: 30px; } }
.about-main .frac .text-sec { background: #191919; padding: 15px; width: 100%; }
@media screen and (min-width: 768px) { .about-main .frac .text-sec { width: 300px; } }
@media screen and (min-width: 768px) { .about-main .frac .text-sec .page-heading { -webkit-transform: rotate(-90deg); transform: rotate(-90deg); } }
.about-main .frac .inner:not(.reverse) .image-sec { margin-top: 15px; }
@media screen and (min-width: 768px) { .about-main .frac .inner:not(.reverse) .image-sec { margin-top: 0; padding-left: 15px; } }
@media screen and (min-width: 992px) { .about-main .frac .inner:not(.reverse) .image-sec { padding-left: 60px; } }
.about-main .frac .inner.reverse .image-sec { margin-top: 15px; }
@media screen and (min-width: 768px) { .about-main .frac .inner.reverse .image-sec { margin-top: 0; padding-right: 15px; } }
@media screen and (min-width: 992px) { .about-main .frac .inner.reverse .image-sec { padding-right: 60px; } }
.about-main .frac .inner .image-sec { width: 100%; }
.about-main .frac .inner .image-sec img { transition: 1s; }
@media screen and (min-width: 768px) { .about-main .frac .inner .image-sec { height: 300px; -ms-flex: 1; flex: 1; } }
@media screen and (min-width: 992px) { .about-main .frac .inner .image-sec { height: 500px; } }
.about-main .frac .inner .image-sec > .inner { background: #fff; }
.about-main .frac .inner:hover .image-sec img { transform: scale(1.1) rotate(-1deg); }
.about-main .frac:not(:last-child) { margin-bottom: 30px; }
@media screen and (min-width: 992px) { .about-main .frac:not(:last-child) { margin-bottom: 60px; } }
.about-main .frac .other-details-sec { margin-top: 20px; }
@media screen and (min-width: 992px) { .about-main .frac .other-details-sec { margin-top: 40px; } }

.our-details .count-sec { margin-bottom: 20px; }

#manu-details-sec { background: #f4f4f4; }
#manu-details-sec:hover .line { width: 150px; }

@media screen and (min-width: 992px) { .manu-details-sec { width: 50%; } }
@media screen and (min-width: 992px) { .manu-details-sec .page-heading { margin-bottom: 30px; } }

#our-process:hover .line { width: 150px; }

@media screen and (min-width: 992px) { .our-process .sec-heading { margin-bottom: 35px; } }
@media screen and (min-width: 992px) { .our-process { margin-left: -30px; margin-right: -30px; } }
@media screen and (min-width: 992px) { .our-process .item { padding-left: 40px; padding-right: 40px; } }
.our-process .item .img-sec { background: #fff; height: 300px; }
@media screen and (min-width: 992px) { .our-process .item .img-sec { height: 300px; } }
.our-process .item .img-sec img { transition: 1s; filter: grayscale(1); }
.our-process .item .text-sec { padding: 0 10px; margin-top: 20px; }
@media screen and (min-width: 992px) { .our-process .item .text-sec { margin-top: 30px; padding: 0 20px; } }
.our-process .item .text-sec .page-heading { margin-bottom: 5px; }
.our-process .item .text-sec .page-heading::after { content: ""; background: #333; width: 3px; height: 0; display: block; position: absolute; bottom: 33px; left: 6px; transition: 0.5s; }
.our-process .item .text-sec .page-description { font-size: 15px; }
.our-process .item > .inner { transition: 0.5s; }
@media screen and (min-width: 992px) { .our-process .item > .inner:hover { margin-top: 30px; } }
.our-process .item > .inner:hover .img-sec img { filter: grayscale(0); }
.our-process .item > .inner:hover .text-sec .page-heading::after { height: 75px; }

@media screen and (min-width: 992px) { footer .ft-links > li:not(:last-child) { margin-right: 15px; } }
footer .ft-links > li > a { font-size: 14px; color: #444; transition: 0.3s; }
footer .ft-links > li > a:hover { color: #000; }

#ft-newsltter { background: #f4f4f4; }

@media screen and (min-width: 992px) { .ft-newsltter { padding: 0 50px; } }
.ft-newsltter .text-sec { width: 100%; }
@media screen and (min-width: 992px) { .ft-newsltter .text-sec { width: 300px; } }
@media screen and (min-width: 992px) { .ft-newsltter .form-sec { padding-left: 60px; padding-right: 60px; } }

#ft-our-links { padding: 30px 0; background: #f4f4f4; }

.ft-our-links .frac:not(:last-child) { padding-right: 15px; padding-left: 0; }
@media screen and (min-width: 768px) { .ft-our-links .frac:not(:last-child) { padding-right: 50px; } }
@media screen and (min-width: 992px) { .ft-our-links .frac:not(:last-child) { padding-right: 100px; } }

#ft-copyright { background: #222; padding: 12px 0 10px; }

.ft-copyright p { font-size: 14px; }

/*# sourceMappingURL=style.css.map */
