// SCROLLBAR
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d1d1d1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darken($color: $primary-color, $amount: 8%);
}

// COMMON CSS
.clear-parent::after {
    content: "";
    display: block;
    clear: both;
}

.owl-carousel .owl-item img {
    width: auto;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 5px;
}

.owl-theme .owl-dots .owl-dot span {
    margin: 3px 4px;
    background: #fff;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    // background: $secondary-color;
}

.color-secondary {
    color: $secondary-color !important;
}

.color-primary {
    color: $primary-color !important;
}

.color-black {
    color: #000 !important;
}

.color-less-black {
    color: #333 !important;
}

.bg-secondary {
    background-color: $secondary-color !important;
}

.bg-primary {
    background-color: $primary-color !important;
}



.font-weight-100 {
    font-weight: 100 !important;
}

.font-weight-200 {
    font-weight: 200 !important;
}

.font-weight-300 {
    font-weight: 300 !important;
}

.font-weight-400 {
    font-weight: 400 !important;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.font-weight-700 {
    font-weight: 700 !important;
}

.font-weight-800 {
    font-weight: 800 !important;
}

.font-weight-900 {
    font-weight: 900 !important;
}

.max-height-resize {
    max-height: 100%;
}

.full-width-col {
    -ms-flex: 1;
    flex: 1;

    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
}

@include min-width($sm-main) {
    .full-width-col-sm {
        -ms-flex: 1;
        flex: 1;

        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important;
    }
}

@include min-width($md-main) {
    .full-width-col-md {
        -ms-flex: 1;
        flex: 1;

        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important;
    }
}

@include min-width($lg-main) {
    .full-width-col-lg {
        -ms-flex: 1;
        flex: 1;

        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important;
    }
}

@include min-width($xl-main) {
    .full-width-col-xl {
        -ms-flex: 1;
        flex: 1;

        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important;
    }
}

.owl-carousel.vertical-buttons {
    .owl-nav {
        >button {
            position: absolute;
            top: 50%;
            @include transformy(-50%);
            display: -ms-flexbox !important;
            display: flex !important;
            -ms-flex-pack: center !important;
            justify-content: center !important;
            -ms-flex-align: center !important;
            align-items: center !important;
            line-height: 0;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            background-color: #d0d0d0;
            @include transition;
            color: #fff;
            outline: none !important;

            @include min-width(768px) {
                height: 35px;
                width: 35px;
            }

            &:hover {
                background-color: $primary-color;
            }

            &:active {
                background-color: darken($color: $primary-color, $amount: 6%);
            }
        }

        >.owl-prev {
            left: 0;
        }

        >.owl-next {
            right: 0;
        }
    }
}


// form inputs
.st-form {
    width: 100%;
    position: relative;

    input,
    select,
    textarea {
        border: none;
        color: #333;
        border-radius: 0;
        background-color: #fff;
    }

    &:not(.input-underline) {

        input,
        select,
        textarea {
            -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
            border: 1px solid $input-border-color;
        }
    }

    input,
    select {
        height: 42px;
        padding-top: 5px;
    }

    @include min_width(768px) {

        &.lt,
        &.rt {
            width: 50%;
        }

        &.lt {
            padding-right: 7.5px;
        }

        &.rt {
            padding-left: 7.5px;
        }
    }

    &.input-underline {

        input,
        select,
        textarea {
            background-color: transparent;
            border-bottom: 2px solid #444;
            padding-left: 0;
            padding-right: 0;

            &:focus {
                box-shadow: none;
                border-color: #222;
            }
        }

    }

    .add-info {
        position: absolute;
        top: calc(100% + 3px);
        font-size: 12px;
        color: #666;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}


// main menu
.st-head-menu {
    position: relative;

    >li {
        @include max_width($md-less-one) {
            position: relative;
        }

        >a {
            font-weight: 600;
            font-size: 14px;
            color: #333;
            text-decoration: none !important;
            outline: none !important;
            @include transition;
            // @include min_width($lg-main) {

            // }
            &:hover,
            &:focus,
            &:active,
            &.active {
                color: $medium-white !important;
            }
        }

        @include min_width($lg-main) {
            padding-right: 20px;
            padding-left: 20px;
        }

        @include max_width($lg-less-one) {
            display: block;
            width: 100%;

            >a {
                width: 100%;
                padding: 10px 20px;
                color: #fff;
                display: block;
            }
        }

        &.active {
            >a {
                color: $medium-white;
            }
        }
    }
}

$DEFScreensMargin: 25px;
$DEFmdScreensMargin: 40px;
$DEFlgScreensMargin: 55px;
$DEFxlScreensMargin: 90px;

.ST_def-mar-T,
.ST_def-mar-TB {
    margin-top: $DEFScreensMargin;

    @include min_width($md-main) {
        margin-top: $DEFmdScreensMargin;
    }

    // @include min_width($lg-main) {
    //     margin-top: $DEFlgScreensMargin;
    // }

    @include min_width($xl-main) {
        margin-top: $DEFxlScreensMargin;
    }
}

.ST_def-mar-B,
.ST_def-mar-TB {
    margin-bottom: $DEFScreensMargin;

    @include min_width($md-main) {
        margin-bottom: $DEFmdScreensMargin;
    }

    // @include min_width($lg-main) {
    //     margin-bottom: $DEFlgScreensMargin;
    // }

    @include min_width($xl-main) {
        margin-bottom: $DEFxlScreensMargin;
    }
}

.ST_def-pad-T,
.ST_def-pad-TB {
    padding-top: $DEFScreensMargin;

    @include min_width($md-main) {
        padding-top: $DEFmdScreensMargin;
    }

    // @include min_width($lg-main) {
    //     padding-top: $DEFlgScreensMargin;
    // }

    @include min_width($xl-main) {
        padding-top: $DEFxlScreensMargin;
    }
}

.ST_def-pad-B,
.ST_def-pad-TB {
    padding-bottom: $DEFScreensMargin;

    @include min_width($md-main) {
        padding-bottom: $DEFmdScreensMargin;
    }

    // @include min_width($lg-main) {
    //     padding-bottom: $DEFlgScreensMargin;
    // }

    @include min_width($xl-main) {
        padding-bottom: $DEFxlScreensMargin;
    }
}

// SITE BANNER
#ST_banner {}

.st-btn {
    font-size: 15px;
    color: #fff;
    letter-spacing: 0.5px;

    background-color: #333;
    padding: 10px 16px 8px;
    box-shadow: none;
    @include transition;

    @include min-width($md-main) {}

    @include min-width($lg-main) {}

    &:hover {
        background-color: darken($color: #333, $amount: 5);
        color: #fff;
    }

    &:active {
        background-color: darken($color: #333, $amount: 10);
    }

    &:focus {
        box-shadow: none !important;
    }

    &.st-btn-primary {

        &.active,
        &:hover {}
    }

    &.st-btn-white {
        color: #333;
        background-color: #fff;

        &.active,
        &:hover {
            color: #fff;
        }
    }
}

.page-heading {
    color: #333;
    margin-bottom: 15px;

    &.heading-lg {
        font-size: 40px;
        color: #111;
        line-height: 55px;
    }

    &.heading-md {
        font-size: 27px;
    }

    &.heading-sm {
        font-size: 24px;
    }

    .line {
        height: 2.5px;
        width: 100px;
        background: #444;
        @include transition(.7s);
    }
}

.page-heading-sub-head {
    margin-bottom: 15px;
    line-height: 23px;
}

.page-description {
    line-height: 24px;
}

.custom-modal {
    .close {
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 10px;
    }
}

.shadow-box {
    @include box-shadow(0px, 0px, 15px, 0, rgba(0, 0, 0, 0.4))
}

.cstm-animation-delay-point-2s {
    animation-delay: .2s !important;
}

.cstm-animation-delay-point-7s {
    animation-delay: .7s !important;
}

.cstm-animation-delay-1-point-2s {
    animation-delay: 1.2s !important;
}

.cstm-animation-delay-1-point-7s {
    animation-delay: 1.7s !important;
}

.cstm-animation-delay-2-point-2s {
    animation-delay: 2.2s !important;
}

.cstm-animation-delay-2-point-7s {
    animation-delay: 2.7s !important;
}