@media (min-width: 768px) {}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 991px) {
    .header-main-col .menu>.inner {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 200px;
        background: #fff;
        z-index: 123;
        transition: .3s;
        overflow: auto;
    }

    .st-head-menu>li>a {
        color: #000 !important;
    }

    .header-main-col .menu:not(.active)>.inner {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    .header-main-col .menu .mob-menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, 0.3);
        z-index: 12;
        display: none;
    }

    .mob-menu-btn a {
        font-size: 25px;
        color: #000;
        text-decoration: none;
        z-index: 123;
        position: relative;
    }

    .mob-menu-btn a.active {
        /* color: #000; */
        position: fixed;
        top: 5px;
        left: 210px;
    }

    .mob-menu-btn a.active>i {
        color: #d20423;
        background: #fff;
        border-radius: 4px;
        font-weight: 700;
    }

    .st-head-menu {
        margin-top: 10px;
    }

    #header-menu {
        padding: 7px 0;
    }

    .header-main-col>.hm-rt {
        width: 100%;
        position: relative;
        top: 3px;
    }

    .ft-top .one,
    .ft-top .two,
    .ft-top .three {
        margin-bottom: 20px;
    }

    #ft-newsletter {
        border-top: 1px solid #bbb;
    }

    #ft-top {
        background: #333;
        padding-top: 35px;
    }

    .ft-bottom {
        border-top-color: #9e9e9e;
    }

    .ft-top .one {
        margin-bottom: 30px;
    }

    .ft-top div>.inner {
        text-align: center;
    }

    .ft-top .one>.inner>img {
        margin-left: auto;
        margin-right: auto;
    }

    .ft-top .one>.inner .st-text {
        margin-right: 7px;
        margin-left: 7px;
    }

    .ft-top .social-links {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }

    footer .st-text>i,
    footer .ft-link>i {
        position: relative;
        top: 3px;
        margin-right: 4px;
    }

    .ft-top .one .st-text>i {
        position: static !important;
    }

}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
    }

    .our-features .rt {
        margin: 15px -10px 0;
    }

    .header-main {
        padding: 10px 0;
    }

    .header-main-col>.hm-rt {
        width: 100%;
    }

    .header-main-col>.hm-lt {
        width: 180px;
        margin: 0 auto 0;
    }

    #header.active .header-main-col>.hm-lt {
        width: 140px;
    }

    .header-main-col>.hm-lt>.inner,
    .header-main-col>.hm-rt>.inner {
        width: 100%;
    }

    .header-main .hm-rt .frac .head i {
        font-size: 17px;
    }

    .header-main .hm-rt .frac .content {
        font-size: 17px;
    }

    #header-top {
        min-height: 40px;

        display: -ms-flexbox !important;
        display: flex !important;

        -ms-flex-pack: center !important;
        justify-content: center !important;

        -ms-flex-align: center !important;
        align-items: center !important;
    }

    #header.active #header-top {
        margin-top: -78px;
    }

    .header-top p {
        font-size: 14px;
    }

    .get-a-quote-btn .st-btn {
        font-size: 14px;
        padding: 6px 14px 8px;
    }

    .home_slider .item .item-lt>.inner,
    .home_slider .item .item-rt .st-head {
        text-align: center;
    }

    .header-like-margin-top {
        margin-top: 151px;
    }

    .header-like-padding-top {
        padding-top: 151px;
    }

    #ST_banner .caption .st-head {
        font-size: 25px;
    }

    .header-top>.lt {
        background: #333;
        margin-top: -5px;
    }

    .header-top .lt p {
        padding: 5px 0;
        color: #fff;
        text-align: center;
    }

    .header-top .rt {
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .header-top .rt>.inner {
        width: 100%;
        top: 3px;
        position: relative;
    }

    .header-top .login-menu {
        margin-left: auto;
    }


    .our-categories .item-main {
        height: auto;
        margin: 0;
        padding: 0;
    }

    .our-categories .item {
        padding-bottom: 20px;
        height: auto !important;
    }

    .home-shop .tabs-sec .nav {
        margin-bottom: 0px;
    }

    .home-shop .tabs-sec .nav>.nav-item {
        margin: 0 10px;
    }

    .home-shop .tabs-sec .nav>.nav-item>.nav-link {
        font-size: 20px;
        margin-bottom: 15px;
    }


    .home-our-features .item>.inner {
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
        text-align: center;
    }

    .home-our-features .item .buy-now-btn {
        margin-bottom: 15px;
    }

    .home-our-features .item .img-sec {
        margin-bottom: 20px;
        margin-top: 15px;
    }

    .home-our-features #our-features-slider .owl-nav {
        text-align: center;
    }

    .home-our-features #our-features-slider .owl-nav {
        margin-top: 10px;
    }

    .about-boutique {
        text-align: center;
    }

    .about-boutique .lt {
        margin-bottom: 20px;
    }

    .about-boutique .lt>.inner {
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }

    .about-boutique .lt .round-gray-img {
        height: 280px;
        width: 280px;
    }

    .about-boutique .lt .gradient-round-big {
        height: 100px;
        width: 100px;
        top: 21%;
        left: -30px;
    }

    .about-boutique .lt .gradient-round-small {
        height: 45px;
        width: 45px;
        top: 7%;
        left: 20%;
    }

    .testimonials .section-heading .st-head-two img {
        width: 50px;
        left: -10px;
        top: -9px;
    }

    #our-speciality .item:not(:last-child) {
        margin-bottom: 20px;
    }

    #our-speciality .item>.inner {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
        text-align: center;
    }

    .our-speciality .item .icon-sec {
        margin-bottom: 10px;
    }


    .ft-top .one>.inner>img {
        width: 200px;
    }

    .ft-top .one {
        margin-bottom: 20px;
    }

    .ft-bottom {
        padding: 10px 0 10px;
    }

    .home_slider .item .caption .st-head-two {
        text-transform: capitalize !important;
        margin-bottom: 8px;
    }

    .home_slider .item .caption {
        top: -7px;
    }

}

@media (max-width: 575px) {
    .home-block-two .item .img-sec {
        height: 60px;
        width: 60px;
    }

    .home-block-two .item .text-sec {
        -ms-flex: 1;
        flex: 1;
        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important;
        padding-left: 20px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1200px) {}