@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;600;700;800&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

@font-face { font-family: 'jasmina'; src: url("../fonts/jasmina/Jasmina-FY-Regular.ttf"); }
/* width */
::-webkit-scrollbar { width: 8px; }

/* Track */
::-webkit-scrollbar-track { background: #d1d1d1; }

/* Handle */
::-webkit-scrollbar-thumb { background: #ff7600; border-radius: 15px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #d66300; }

.gradient-primary { background: #ff7600 !important; background: linear-gradient(90deg, #ff7600 0%, #ff1700 100%) !important; }

.clear-parent::after { content: ""; display: block; clear: both; }

.owl-carousel .owl-item img { width: auto; }

.owl-theme .owl-nav.disabled + .owl-dots { margin-top: 5px; }

.owl-theme .owl-dots .owl-dot span { margin: 3px 4px; background: #fff; }

.color-secondary { color: #d20423 !important; }

.color-primary { color: #ff7600 !important; }

.color-black { color: #000 !important; }

.color-less-black { color: #333 !important; }

.bg-secondary { background-color: #d20423 !important; }

.bg-primary { background-color: #ff7600 !important; }

.font-weight-100 { font-weight: 100 !important; }

.font-weight-200 { font-weight: 200 !important; }

.font-weight-300 { font-weight: 300 !important; }

.font-weight-400 { font-weight: 400 !important; }

.font-weight-500 { font-weight: 500 !important; }

.font-weight-600 { font-weight: 600 !important; }

.font-weight-700 { font-weight: 700 !important; }

.font-weight-800 { font-weight: 800 !important; }

.font-weight-900 { font-weight: 900 !important; }

.max-height-resize { max-height: 100%; }

.full-width-col { -ms-flex: 1; flex: 1; -ms-flex-positive: 1 !important; flex-grow: 1 !important; }

@media screen and (min-width: 576px) { .full-width-col-sm { -ms-flex: 1; flex: 1; -ms-flex-positive: 1 !important; flex-grow: 1 !important; } }
@media screen and (min-width: 768px) { .full-width-col-md { -ms-flex: 1; flex: 1; -ms-flex-positive: 1 !important; flex-grow: 1 !important; } }
@media screen and (min-width: 992px) { .full-width-col-lg { -ms-flex: 1; flex: 1; -ms-flex-positive: 1 !important; flex-grow: 1 !important; } }
@media screen and (min-width: 1200px) { .full-width-col-xl { -ms-flex: 1; flex: 1; -ms-flex-positive: 1 !important; flex-grow: 1 !important; } }
.owl-carousel.vertical-buttons .owl-nav > button { position: absolute; top: 50%; -webkit-transform: translatey(-50%); transform: translatey(-50%); display: -ms-flexbox !important; display: flex !important; -ms-flex-pack: center !important; justify-content: center !important; -ms-flex-align: center !important; align-items: center !important; line-height: 0; height: 25px; width: 25px; border-radius: 50%; background-color: #d0d0d0; transition: 0.3s; color: #fff; outline: none !important; }
@media screen and (min-width: 768px) { .owl-carousel.vertical-buttons .owl-nav > button { height: 35px; width: 35px; } }
.owl-carousel.vertical-buttons .owl-nav > button:hover { background-color: #ff7600; }
.owl-carousel.vertical-buttons .owl-nav > button:active { background-color: #e06800; }
.owl-carousel.vertical-buttons .owl-nav > .owl-prev { left: 0; }
.owl-carousel.vertical-buttons .owl-nav > .owl-next { right: 0; }

.st-form { width: 100%; position: relative; }
.st-form input, .st-form select, .st-form textarea { border: none; font-size: 15px; color: #616161; border-radius: 0; background-color: #fff; }
.st-form input.lightgray, .st-form select.lightgray, .st-form textarea.lightgray { box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1); border: 1px solid #dcdcdc; background-color: #f0f0f0; }
.st-form:not(.input-underline) input, .st-form:not(.input-underline) select, .st-form:not(.input-underline) textarea { -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1); box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1); border: 1px solid #dcdcdc; }
.st-form input, .st-form select { height: 42px; padding-top: 5px; }
.st-form label { font-size: 14px; color: #5d5d5d; margin-bottom: 5px; }
@media screen and (min-width: 768px) { .st-form label { font-size: 15px; margin-bottom: 8px; } }
.st-form label .imp { color: #ff7600; margin-left: 2px; }
@media screen and (min-width: 768px) { .st-form.lt, .st-form.rt { width: 50%; }
  .st-form.lt { padding-right: 7.5px; }
  .st-form.rt { padding-left: 7.5px; } }
.st-form.validate label { width: 100px; margin-bottom: 0; text-align: right; padding-right: 15px; }
@media screen and (min-width: 768px) { .st-form.validate label { width: 150px; } }
.st-form.validate .imp { color: #ff0102; width: 11px; text-align: right; }
.st-form.validate input, .st-form.validate select, .st-form.validate textarea { width: calc(100% - (100px + 11px)); }
@media screen and (min-width: 768px) { .st-form.validate input, .st-form.validate select, .st-form.validate textarea { width: calc(100% - (150px + 11px)); } }
.st-form.icon input { padding-left: 32px; }
.st-form.icon .icon { top: 50%; left: 10px; -webkit-transform: translateY(-50%); transform: translateY(-50%); line-height: 0; }
.st-form.icon .icon i { font-size: 18px; color: gray; }
.st-form.input-underline input, .st-form.input-underline select, .st-form.input-underline textarea { background-color: transparent; border-bottom: 1px solid #868686; padding-left: 0; padding-right: 0; }
.st-form.input-underline input:focus, .st-form.input-underline select:focus, .st-form.input-underline textarea:focus { box-shadow: none; border-color: #3c3c3c; }
.st-form .add-info { position: absolute; top: calc(100% + 3px); font-size: 12px; color: #666; width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.st-head-menu { position: relative; }
@media screen and (max-width: 767px) { .st-head-menu > li { position: relative; } }
.st-head-menu > li > a { font-weight: 600; font-size: 15px; color: #333; text-decoration: none !important; outline: none !important; transition: 0.3s; }
@media screen and (min-width: 1200px) { .st-head-menu > li > a { font-size: 18px; } }
.st-head-menu > li > a:hover, .st-head-menu > li > a:focus, .st-head-menu > li > a:active { color: #ff7600 !important; }
@media screen and (min-width: 992px) { .st-head-menu > li { padding-right: 20px; } }
@media screen and (min-width: 1200px) { .st-head-menu > li { padding-right: 30px; } }
@media screen and (max-width: 991px) { .st-head-menu > li { display: block; width: 100%; }
  .st-head-menu > li > a { width: 100%; padding: 10px 20px; color: #fff; display: block; } }
.st-head-menu > li > ul { background: #fff; width: 100%; left: 0; top: 85%; transition: 0.3s; }
@media screen and (max-width: 991px) { .st-head-menu > li > ul { display: none; } }
@media screen and (min-width: 992px) { .st-head-menu > li > ul { width: 170px; position: absolute; visibility: hidden; opacity: 0; } }
.st-head-menu > li > ul > li > a { padding: 13px 15px; border-bottom: 1px solid #ddd; color: #333; transition: 0.3s; }
.st-head-menu > li > ul > li > a:hover { background-color: #d20423; color: #fff; }
.st-head-menu > li > ul > li:last-child > a { border-bottom: none; }
@media screen and (max-width: 991px) { .st-head-menu > li:hover > ul { display: block; } }
@media screen and (min-width: 992px) { .st-head-menu > li:hover > ul { opacity: 1; visibility: visible; top: 100%; } }
.st-head-menu > li.active > a { color: #ff7600; }

.ST_def-mar-T, .ST_def-mar-TB { margin-top: 25px; }
@media screen and (min-width: 768px) { .ST_def-mar-T, .ST_def-mar-TB { margin-top: 40px; } }
@media screen and (min-width: 1200px) { .ST_def-mar-T, .ST_def-mar-TB { margin-top: 70px; } }

.ST_def-mar-B, .ST_def-mar-TB { margin-bottom: 25px; }
@media screen and (min-width: 768px) { .ST_def-mar-B, .ST_def-mar-TB { margin-bottom: 40px; } }
@media screen and (min-width: 1200px) { .ST_def-mar-B, .ST_def-mar-TB { margin-bottom: 70px; } }

.ST_def-pad-T, .ST_def-pad-TB { padding-top: 25px; }
@media screen and (min-width: 768px) { .ST_def-pad-T, .ST_def-pad-TB { padding-top: 40px; } }
@media screen and (min-width: 1200px) { .ST_def-pad-T, .ST_def-pad-TB { padding-top: 70px; } }

.ST_def-pad-B, .ST_def-pad-TB { padding-bottom: 25px; }
@media screen and (min-width: 768px) { .ST_def-pad-B, .ST_def-pad-TB { padding-bottom: 40px; } }
@media screen and (min-width: 1200px) { .ST_def-pad-B, .ST_def-pad-TB { padding-bottom: 70px; } }

#ST_banner .caption { top: 50%; width: 100%; -webkit-transform: translatey(-50%); transform: translatey(-50%); }
#ST_banner .caption .img-sec { width: 100%; }
#ST_banner .caption .st-head { color: #fff; margin-bottom: 5px; letter-spacing: 2px; }
#ST_banner .caption .desc { font-size: 16px; color: #e0e0e0; line-height: 23px; }

.ST_breadcrumbs > ul { flex-wrap: wrap; }
.ST_breadcrumbs > ul > li { position: relative; }
.ST_breadcrumbs > ul > li > a { color: #ebebeb; text-decoration: none; transition: 0.3s; display: flex; align-items: center; }
.ST_breadcrumbs > ul > li > a i { color: #ff7600; margin-right: 5px; }
.ST_breadcrumbs > ul > li:not(:last-child) { padding-right: 30px; }
.ST_breadcrumbs > ul > li:not(:last-child):after { content: '/'; position: absolute; right: 11px; top: 0; color: #fff; }
.ST_breadcrumbs > ul > li:not(:last-child):hover > a { color: #d20423; }
.ST_breadcrumbs > ul > li.active > a { color: #d20423; }
.ST_breadcrumbs > ul > li:last-child > a { pointer-events: none !important; }

.custom-checkbox { position: relative; font-weight: normal; cursor: pointer; }
.custom-checkbox .box { height: 19px; width: 19px; border: 1px solid #d8d8d8; border-radius: 4px; color: #fff; font-size: 11px; transition: 0.1s; }
.custom-checkbox .box i { opacity: 0; transition: 0.1s; }
.custom-checkbox.cc-secondary .box { border-color: #d20423; }
.custom-checkbox .text { color: #d8d8d8; font-size: 16px; padding-left: 5px; transition: 0.1s; }
@media screen and (min-width: 992px) { .custom-checkbox .text { padding-left: 15px; } }
.custom-checkbox > input:checked + .box { background: #31bcc7; border-color: #31bcc7; }
.custom-checkbox > input:checked + .box i { opacity: 1; }

ul.st-left-multilevel-menu li { position: relative; }
ul.st-left-multilevel-menu li > a { text-decoration: none; padding: 11px 15px 13px 15px; color: #333; font-size: 16px; transition: 0.3s; position: relative; }
@media screen and (min-width: 768px) { ul.st-left-multilevel-menu li > a { padding: 11px 20px 13px 40px; }
  ul.st-left-multilevel-menu li > a:before { content: '\f061'; font-family: 'Font Awesome 5 Free'; font-weight: 600; position: absolute; top: calc(50% + 2px); left: 20px; -webkit-transform: translatey(-50%); transform: translatey(-50%); font-size: 13px; color: #d20423; transition: 0.3s; } }
ul.st-left-multilevel-menu li > a.has-multi-menu i { top: 0; right: 0; width: 40px; color: #d20423; }
ul.st-left-multilevel-menu li:not(:last-child) > a { border-bottom: 1px solid lightgray; }
@media screen and (min-width: 768px) { ul.st-left-multilevel-menu > li:hover > a, ul.st-left-multilevel-menu > li.active > a { background-color: #d20423; color: #fff; }
  ul.st-left-multilevel-menu > li:hover > a:before, ul.st-left-multilevel-menu > li.active > a:before { color: #fff; } }
ul.st-left-multilevel-menu > li.active > a { background-color: #d20423; color: #fff; }
ul.st-left-multilevel-menu > li.active > a i { color: #fff; }
ul.st-left-multilevel-menu > li > a:active { background-color: #b4031e; }
ul.st-left-multilevel-menu ul { width: 100%; display: none; }
@media screen and (max-width: 767px) { ul.st-left-multilevel-menu ul { padding: 5px; } }
@media screen and (min-width: 768px) { ul.st-left-multilevel-menu ul { position: absolute; left: 100%; top: 0; z-index: 1; } }
ul.st-left-multilevel-menu ul > li > a { background-color: #d20423; color: #fff; border-color: #efefef; }
ul.st-left-multilevel-menu ul > li > a:before { color: #fff; }
ul.st-left-multilevel-menu ul > li > a.has-multi-menu i { color: #fff; }
@media screen and (min-width: 768px) { ul.st-left-multilevel-menu ul > li:hover > a, ul.st-left-multilevel-menu ul > li.active > a { background-color: #ff7600; } }
ul.st-left-multilevel-menu ul > li.active > a { background-color: #ff7600; }
ul.st-left-multilevel-menu ul > li > a:active { background-color: #e06800; }
@media screen and (min-width: 768px) { ul.st-left-multilevel-menu li:hover > ul { display: block; } }

.dynamic-select > .input-main > input { padding-right: 35px; box-shadow: none; box-shadow: none !important; cursor: pointer; }
.dynamic-select > .input-main > input:focus { background: #f1f1f1; border-color: #dcdcdc; }
.dynamic-select > .input-main .icon { top: 50%; -webkit-transform: translatey(-50%); transform: translatey(-50%); right: 12px; font-size: 17px; color: #616161; line-height: 0; }
.dynamic-select > .input-main .icon i { font-size: 25px; }
.dynamic-select .options { display: none; background: #fff; border: 1px solid #dcdcdc; border-radius: 4px; overflow: auto; z-index: 1; top: 100%; left: 0; width: 100%; padding: 5px; font-size: 17px; max-height: 120px; }
@media screen and (min-width: 992px) { .dynamic-select .options { max-height: 150px; } }
.dynamic-select .options .frac:not(:last-child) { border-bottom: 1px solid #cdcdcd; margin-bottom: 10px; padding-bottom: 5px; }
.dynamic-select .options .frac .sm-head { padding: 0 10px; font-size: 13px; color: #ff7600; margin-bottom: 5px; margin-left: -5px; margin-right: -5px; }
.dynamic-select .options .frac > ul > li { cursor: pointer; }
.dynamic-select .options .frac > ul > li .label { margin-left: -5px; padding: 4px 10px 5px; font-size: 14px; width: calc(100% + 10px); color: #676767; transition: 0.1s; }
.dynamic-select .options .frac > ul > li .label:hover { color: #333; background-color: #ffe4cc; }
.dynamic-select .options .frac > ul > li .label:active { background-color: #ffe4cc; }
.dynamic-select .options .frac > ul > li .label .text { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block; }

.st-btn { font-size: 15px; font-weight: 600; color: #fff; letter-spacing: 0.5px; background-color: #333; padding: 10px 16px 8px; border-radius: 45px; box-shadow: none; transition: 0.3s; }
@media screen and (min-width: 768px) { .st-btn { padding: 15px 30px 12px; } }
@media screen and (min-width: 992px) { .st-btn { font-size: 16px; padding: 15px 30px 12px; } }
.st-btn:hover { background-color: #262626; color: #fff; }
.st-btn:active { background-color: #1a1a1a; }
.st-btn:focus { box-shadow: none !important; }
.st-btn .icon { font-size: 19px; position: relative; top: 3px; margin-right: 3px; color: #000; }
.st-btn.st-btn-light { font-size: 15px; padding: 9px 16px 8px; border-radius: 45px; }
@media screen and (min-width: 768px) { .st-btn.st-btn-light { padding: 11px 20px 9px; } }
.st-btn.st-btn-light.with-icon { padding: 7px 16px 8px; }
@media screen and (min-width: 768px) { .st-btn.st-btn-light.with-icon { padding: 9px 20px 10px; } }
.st-btn.st-btn-primary { background: #ff7600 !important; background: linear-gradient(90deg, #ff7600 0%, #ff1700 100%) !important; }
.st-btn.st-btn-primary .icon { color: #fff; }
.st-btn.st-btn-transparent { color: #ff7600; background-color: transparent; border-color: #ff7600; }
.st-btn.st-btn-transparent .icon { color: #ff7600; }
.st-btn.st-btn-transparent.active, .st-btn.st-btn-transparent:hover { background: #ff7600 !important; background: linear-gradient(90deg, #ff7600 0%, #ff1700 100%) !important; color: #fff; }
.st-btn.st-btn-transparent.active .icon, .st-btn.st-btn-transparent:hover .icon { color: #fff; }
.st-btn.st-btn-white { color: #333; background-color: #fff; }
.st-btn.st-btn-white.active, .st-btn.st-btn-white:hover { background: #ff7600 !important; background: linear-gradient(90deg, #ff7600 0%, #ff1700 100%) !important; color: #fff; }

.section-heading .st-header-top-img { width: 20px; margin-bottom: 5px; }
.section-heading .st-head { font-size: 35px; font-family: 'jasmina', sans-serif; color: #ff7600; letter-spacing: .5px; margin-bottom: 15px; }
@media screen and (min-width: 768px) { .section-heading .st-head { font-size: 40px; margin-bottom: 35px; } }
.section-heading .st-head-two { font-size: 23px; font-weight: 700; color: #333; letter-spacing: .5px; margin-bottom: 15px; }
@media screen and (min-width: 768px) { .section-heading .st-head-two { font-size: 30px; } }
@media screen and (min-width: 992px) { .section-heading .st-head-two { font-size: 36px; margin-bottom: 25px; } }
.section-heading .st-head-bottom { font-size: 20px; font-family: 'jasmina', sans-serif; color: #ff7600; letter-spacing: .5px; margin-bottom: 10px; }
@media screen and (min-width: 768px) { .section-heading .st-head-bottom { font-size: 30px; } }

.st-desc { font-size: 16px; line-height: 28px; }
@media screen and (min-width: 992px) { .st-desc { font-size: 17px; } }

.star-rating-show > li { font-size: 13px; }
.star-rating-show > li:not(.count):not(.no-rate) { color: #f6bb09; }
.star-rating-show > li.no-rate { color: #efefef; }
.star-rating-show > li:not(:last-child) { margin-right: 5px; }

.custom-modal .close { position: absolute; z-index: 1; top: 10px; right: 10px; }

.dynamic-select > .input-main { cursor: pointer; }
.dynamic-select > .input-main > input { padding-right: 35px; box-shadow: none; box-shadow: none !important; background: transparent; border-color: #c0c0c0; }
.dynamic-select > .input-main > input:focus { background: transparent; border-color: #8c8c8c; }
.dynamic-select > .input-main .icon { top: 50%; -webkit-transform: translatey(-50%); transform: translatey(-50%); right: 12px; font-size: 17px; color: #616161; line-height: 0; }
.dynamic-select > .input-main .icon i { font-size: 25px; }
.dynamic-select .options { display: none; background: #fff; border: 1px solid #dcdcdc; border-radius: 4px; overflow: auto; z-index: 1; top: 100%; left: 0; width: 100%; padding: 5px; font-size: 17px; max-height: 120px; }
@media screen and (min-width: 992px) { .dynamic-select .options { max-height: 150px; } }
.dynamic-select .options .frac:not(:last-child) { border-bottom: 1px solid #cdcdcd; margin-bottom: 10px; padding-bottom: 5px; }
.dynamic-select .options .frac .sm-head { padding: 0 10px; font-size: 13px; color: #eb530a; margin-bottom: 5px; margin-left: -5px; margin-right: -5px; }
.dynamic-select .options .frac > ul > li { cursor: pointer; }
.dynamic-select .options .frac > ul > li .label { margin-left: -5px; padding: 4px 10px 5px; font-size: 14px; width: calc(100% + 10px); color: #676767; transition: 0.1s; }
.dynamic-select .options .frac > ul > li .label:hover { color: #333; background-color: #ffe4cc; }
.dynamic-select .options .frac > ul > li .label:active { background-color: #ffc899; }
.dynamic-select .options .frac > ul > li .label .text { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block; }
.dynamic-select .options .frac > ul > li .label.with-img .img-sec { width: 15px; height: 15px; }
.dynamic-select .options .frac > ul > li .label.with-img .img-sec img { max-height: 100%; }
.dynamic-select .options .frac > ul > li .label.with-img .text { width: calc(100% - 15px); padding-left: 5px; }

.st-products-container .st-products-container-inner { margin-left: -10px; margin-right: -10px; }
.st-products-container .st-product-item { padding: 0 10px 20px; }
.st-products-container .st-product-item .st-product-item-inner { border: 1px solid #c0c0c0; padding: 25px; }
.st-products-container .st-product-item .img-sec { height: 200px; }
.st-products-container .st-product-item .text-sec { margin-top: 15px; }
.st-products-container .st-product-item .text-sec .st-product-name { font-size: 16px; font-weight: 600; color: #333; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.st-products-container .st-product-item .text-sec .st-product-price { font-size: 25px; font-weight: 600; margin-top: 10px; margin-bottom: 10px; }
.st-products-container .st-product-item .text-sec .st-product-price span { font-size: 20px; text-decoration: line-through; color: #b7b7b7; margin-right: 3px; font-weight: 500; }
.st-products-container .st-product-item .text-sec .buy-now-btn { margin-top: 10px; }
.st-products-container .view-more-btn-container { padding: 10px 10px 0; }
@media screen and (min-width: 768px) { .st-products-container .view-more-btn-container { padding: 30px 10px 0; } }
.st-products-container .view-more-btn-container .st-btn { padding-left: 25px; padding-right: 25px; }
@media screen and (min-width: 768px) { .st-products-container .view-more-btn-container .st-btn { padding-left: 30px; padding-right: 30px; } }
.st-products-container .product-tag { top: 15px; left: 15px; background: #999; padding: 4px 7px 5px; color: #fff; border-radius: 5px; font-size: 15px; }
.st-products-container .product-tag.new { background: #56ca66; }
.st-products-container .product-add-to-favourite { right: 15px; top: 15px; }
.st-products-container .product-add-to-favourite > label { cursor: pointer; font-weight: normal; }
.st-products-container .product-add-to-favourite > label span { font-size: 19px; }
.st-products-container .product-add-to-favourite > label .icon-not-selected { display: inline-block; color: "#888"; }
.st-products-container .product-add-to-favourite > label .icon-selected { display: none; color: #f81b1b; }
.st-products-container .product-add-to-favourite > label > input:checked ~ .icon-not-selected { display: none; }
.st-products-container .product-add-to-favourite > label > input:checked ~ .icon-selected { display: inline-block; }

.header-search { display: none; position: fixed; top: 0; left: 0; width: 100%; background: #fff; z-index: 234; box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3); padding: 35px 20px 20px; }
@media screen and (min-width: 992px) { .header-search { padding: 35px 20px; } }
.header-search .close-search { top: 5px; right: 18px; cursor: pointer; color: #000; font-size: 19px; }
.header-search .close-search:hover { color: #ff7600; }
.header-search input { height: 45px; letter-spacing: .5px; font-size: 16px; padding: 5px 45px 5px 15px; font-weight: 500; }
.header-search input:focus { box-shadow: none !important; border-color: #777; }
@media screen and (min-width: 992px) { .header-search input { font-size: 20px; height: 55px; padding: 5px 60px 5px 20px; } }
.header-search .icon-inside-search { font-size: 21px; color: #555; transition: 0.3s; cursor: pointer; top: 50%; -webkit-transform: translatey(-50%); transform: translatey(-50%); right: 0; height: calc(100% - 15px); width: 40px; }
.header-search .icon-inside-search:hover { color: #ff7600; }
@media screen and (min-width: 992px) { .header-search .icon-inside-search { font-size: 27px; right: 11px; } }

.add-angle-to-top-right { position: relative; z-index: 2; }
.add-angle-to-top-right.aattr-margin { margin-top: -20px; }
@media screen and (min-width: 768px) { .add-angle-to-top-right.aattr-margin { margin-top: -60px; } }
@media screen and (min-width: 992px) { .add-angle-to-top-right.aattr-margin { margin-top: -80px; } }
@media screen and (min-width: 1200px) { .add-angle-to-top-right.aattr-margin { margin-top: -100px; } }
.add-angle-to-top-right::before { content: ""; display: block; border-style: solid; border-color: transparent; border-bottom-color: #fff; border-width: 0; border-left-width: 99vw; border-bottom-width: 20px; }
@media screen and (min-width: 768px) { .add-angle-to-top-right::before { border-bottom-width: 60px; } }
@media screen and (min-width: 992px) { .add-angle-to-top-right::before { border-bottom-width: 80px; } }
@media screen and (min-width: 1200px) { .add-angle-to-top-right::before { border-bottom-width: 100px; } }

.add-angle-to-top-left { position: relative; z-index: 2; }
.add-angle-to-top-left.aattl-margin { margin-top: -20px; }
@media screen and (min-width: 768px) { .add-angle-to-top-left.aattl-margin { margin-top: -60px; } }
@media screen and (min-width: 992px) { .add-angle-to-top-left.aattl-margin { margin-top: -80px; } }
@media screen and (min-width: 1200px) { .add-angle-to-top-left.aattl-margin { margin-top: -100px; } }
.add-angle-to-top-left::before { content: ""; display: block; border-style: solid; border-color: transparent; border-bottom-color: #fff; border-width: 0; border-right-width: 99vw; border-bottom-width: 20px; }
@media screen and (min-width: 768px) { .add-angle-to-top-left::before { border-bottom-width: 60px; } }
@media screen and (min-width: 992px) { .add-angle-to-top-left::before { border-bottom-width: 80px; } }
@media screen and (min-width: 1200px) { .add-angle-to-top-left::before { border-bottom-width: 100px; } }

.add-angle-to-bottom-left { position: relative; z-index: 2; }
.add-angle-to-bottom-left.aatbl-margin { margin-bottom: -20px; }
@media screen and (min-width: 768px) { .add-angle-to-bottom-left.aatbl-margin { margin-bottom: -60px; } }
@media screen and (min-width: 992px) { .add-angle-to-bottom-left.aatbl-margin { margin-bottom: -80px; } }
@media screen and (min-width: 1200px) { .add-angle-to-bottom-left.aatbl-margin { margin-bottom: -100px; } }
.add-angle-to-bottom-left::after { content: ""; display: block; border-style: solid; border-color: transparent; border-width: 0; border-top-color: #fff; border-right-width: 99vw; border-top-width: 20px; }
@media screen and (min-width: 768px) { .add-angle-to-bottom-left::after { border-top-width: 60px; } }
@media screen and (min-width: 992px) { .add-angle-to-bottom-left::after { border-top-width: 80px; } }
@media screen and (min-width: 1200px) { .add-angle-to-bottom-left::after { border-top-width: 100px; } }

.add-angle-to-bottom-right { position: relative; z-index: 2; }
.add-angle-to-bottom-right.aatbr-margin { margin-bottom: -20px; }
@media screen and (min-width: 768px) { .add-angle-to-bottom-right.aatbr-margin { margin-bottom: -60px; } }
@media screen and (min-width: 992px) { .add-angle-to-bottom-right.aatbr-margin { margin-bottom: -80px; } }
@media screen and (min-width: 1200px) { .add-angle-to-bottom-right.aatbr-margin { margin-bottom: -100px; } }
.add-angle-to-bottom-right::after { content: ""; display: block; border-style: solid; border-color: transparent; border-width: 0; border-top-color: #fff; border-left-width: 99vw; border-top-width: 20px; }
@media screen and (min-width: 768px) { .add-angle-to-bottom-right::after { border-top-width: 60px; } }
@media screen and (min-width: 992px) { .add-angle-to-bottom-right::after { border-top-width: 80px; } }
@media screen and (min-width: 1200px) { .add-angle-to-bottom-right::after { border-top-width: 100px; } }

.header-cart-items { display: none; width: 250px; right: 0; top: calc(100% + 10px); background: #fff; z-index: 9; -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4); box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4); padding: 7.5px 0; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; }
.header-cart-items .header-cart-items-inner { max-height: 250px; overflow: auto; }
.header-cart-items .cart-item-inner { padding: 7.5px 15px; }
.header-cart-items .cart-item-inner .img-sec { width: 55px; height: 55px; border: 1px solid #ddd; padding: 3px; }
.header-cart-items .cart-item-inner .text-sec { width: calc(100% - 55px); }
.header-cart-items .cart-item-inner .text-sec .content { width: calc(100% - 30px); }
.header-cart-items .cart-item-inner .text-sec .content .name { font-weight: 600; color: #333; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100%; margin-bottom: 3px; }
.header-cart-items .cart-item-inner .text-sec .content .p-and-q { font-weight: 500; font-size: 15px; }
.header-cart-items .cart-item-inner .text-sec .content .p-and-q .price { font-weight: 600; margin-left: 4px; }
.header-cart-items .cart-item-inner .text-sec .actions { width: 30px; padding-top: 2px; }
.header-cart-items .header-cart-items-btn { border-top: 1px solid #ddd; padding-top: 7.5px; }
.header-cart-items .header-cart-items-btn .st-btn { font-size: 14px; width: 100%; }

body { font-family: 'Montserrat', sans-serif; font-size: 15px; font-weight: 400; }
@media screen and (min-width: 768px) { body { font-size: 16px; } }

#header { background: #fff; top: 0; left: 0; width: 100%; position: fixed; z-index: 99; }

#header-top { background-color: #ededed; color: #fff; padding: 5px 0; z-index: 1; position: relative; transition: 0.3s; }
@media screen and (min-width: 768px) { #header-top { height: 40px; } }

.header-top .lt p { font-family: 'Open Sans', sans-serif; color: #333; font-size: 13px; font-weight: 400; }
@media screen and (min-width: 992px) { .header-top .lt p { font-size: 14px; } }
@media screen and (min-width: 992px) { .header-top .rt .select-country { margin-right: 15px; } }
.header-top .rt .dynamic-select > .input-main > input { height: 30px; width: 145px; padding: 0 23px 0 28px; font-size: 13px; font-family: 'Open Sans', sans-serif; }
.header-top .rt .dynamic-select > .input-main .flag { top: 50%; left: 7px; top: 10px; }
.header-top .rt .dynamic-select > .input-main .icon { right: 5px; }
.header-top .rt .dynamic-select > .input-main .icon i { font-size: 15px; }
.header-top .rt .dynamic-select .options .frac > ul > li .label .flag { margin: 3px 7px 0 0; }
.header-top .rt .login-menu > li { font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 400; margin-left: 15px; }
@media screen and (min-width: 992px) { .header-top .rt .login-menu > li { font-size: 14px; } }
.header-top .rt .login-menu > li > a { color: #333; transition: 0.3s; }
.header-top .rt .login-menu > li > a i { margin-right: 3px; }
.header-top .rt .login-menu > li > a > span { transition: 0.3s; }
.header-top .rt .login-menu > li > a:hover { color: #000; }
.header-top .rt .login-menu > li > a:hover > span { color: #ff7600; }

#header-main { transition: 0.3s; }

.header-main { padding: 20px 0; transition: 0.3s; }
.header-main .hm-lt, .header-main .hm-rt { transition: 0.3s; }
.header-main .hm-lt { width: 150px; }
@media screen and (min-width: 992px) { .header-main .hm-lt { width: 230px; } }
@media screen and (min-width: 1200px) { .header-main .hm-lt { width: 250px; } }
.header-main .hm-rt { padding-left: 15px; }
.header-main .hm-rt .cart-menu .icon { font-size: 23px; color: #000; transition: 0.3s; cursor: pointer; }
@media screen and (max-width: 991px) { .header-main .hm-rt .cart-menu .icon { margin-left: 15px; } }
@media screen and (max-width: 767px) { .header-main .hm-rt .cart-menu .icon { margin-left: 10px; } }
@media screen and (min-width: 992px) { .header-main .hm-rt .cart-menu .icon:not(.icon-cart) { margin-right: 15px; } }
.header-main .hm-rt .cart-menu .icon.active, .header-main .hm-rt .cart-menu .icon:hover { color: #ff7600; }
.header-main .hm-rt .cart-menu .icon-cart .count { font-family: 'Open Sans', sans-serif; font-size: 10px; height: 25px; width: 25px; border-radius: 50%; vertical-align: top; text-align: center; padding-top: 5px; color: #fff; background: #ff7600 !important; background: linear-gradient(90deg, #ff7600 0%, #ff1700 100%) !important; top: 0; right: 0; }
.header-main .hm-rt .cart-menu .icon-cart .count:after { content: ''; position: absolute; left: -12px; top: 50%; display: block; border-style: solid; border-width: 7px; border-color: transparent; border-right-color: #ff7600; -webkit-transform: translatey(-50%); transform: translatey(-50%); }

#header.active { -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3); box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3); }
#header.active .header-main { padding: 13px 0; }
@media screen and (min-width: 768px) { #header.active #header-top { margin-top: -40px; } }
@media screen and (min-width: 992px) { #header.active .header-main .hm-lt { width: 215px; } }
@media screen and (min-width: 1200px) { #header.active .st-head-menu > li > a { font-size: 16px; padding-top: 12px; padding-bottom: 12px; } }

@media screen and (min-width: 768px) { .header-like-margin-top { margin-top: 124px; }
  .header-like-padding-top { padding-top: 124px; } }
@media screen and (min-width: 992px) { .header-like-margin-top { margin-top: 148px; }
  .header-like-padding-top { padding-top: 148px; } }
@media screen and (min-width: 1200px) { .header-like-margin-top { margin-top: 157px; }
  .header-like-padding-top { padding-top: 157px; } }
.home_slider { background-color: #c7e2f3; position: relative; }
.home_slider .item .img-main img { width: 100%; }
.home_slider .item .caption { top: 0; left: 0; background: rgba(0, 0, 0, 0.2); }
.home_slider .item .caption .caption-inner { padding: 0 15px; }
.home_slider .item .caption .st-head-two { text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
.home_slider .item .caption .btn-sec { margin-top: 5px; }
@media screen and (min-width: 768px) { .home_slider .item .caption .btn-sec { margin-top: 15px; } }
@media screen and (min-width: 992px) { .home_slider .item .caption .btn-sec { margin-top: 25px; } }
.home_slider .owl-nav > button { position: absolute; top: calc(50% - 7px); -webkit-transform: translatey(-50%); transform: translatey(-50%); outline: none !important; }
@media screen and (min-width: 768px) { .home_slider .owl-nav > button { top: calc(50% - 20px); } }
.home_slider .owl-nav > button i { font-size: 25px; color: #fff; }
@media screen and (min-width: 768px) { .home_slider .owl-nav > button i { font-size: 50px; } }
.home_slider .owl-nav > button.owl-next { right: 10px; }
.home_slider .owl-nav > button.owl-prev { left: 10px; }

.our-categories .item-main { height: 300px; }
@media screen and (min-width: 992px) { .our-categories .item-main { height: 415px; } }
@media screen and (min-width: 1200px) { .our-categories .item-main { height: 500px; } }
.our-categories .item { padding-bottom: 30px; }
.our-categories .item > .inner { border-radius: 25px; overflow: hidden; height: 100%; }
.our-categories .item > .inner > img { max-width: none; }
.our-categories .item .caption { top: 0; left: 0; padding: 15px; transition: 0.3s; }
.our-categories .item .caption::after { content: ''; height: calc(100% - 20px); width: calc(100% - 20px); position: absolute; top: 10px; left: 10px; border: 1px solid transparent; border-radius: 25px; transition: 0.3s; }
.our-categories .item .caption:hover { background: rgba(0, 0, 0, 0.3); }
.our-categories .item .caption:hover::after { border-color: #fff; }
.our-categories .item .caption .st-btn { position: relative; z-index: 1; }

.home-shop .tabs-sec .nav { margin-bottom: 20px; }
@media screen and (min-width: 768px) { .home-shop .tabs-sec .nav { margin-bottom: 30px; } }
.home-shop .tabs-sec .nav > .nav-item { margin: 0 15px; }
@media screen and (min-width: 992px) { .home-shop .tabs-sec .nav > .nav-item { margin: 0 20px; } }
.home-shop .tabs-sec .nav > .nav-item > .nav-link { border-radius: 0; padding: 0; font-weight: 600; font-size: 23px; color: #b7b7b7; border-bottom: 2px solid transparent; padding-bottom: 6px; transition: 0.3s; }
@media screen and (min-width: 992px) { .home-shop .tabs-sec .nav > .nav-item > .nav-link { font-size: 26px; } }
.home-shop .tabs-sec .nav > .nav-item > .nav-link.active, .home-shop .tabs-sec .nav > .nav-item > .nav-link:hover { color: #000; border-bottom-color: #ff7600; background-color: transparent !important; }

#home-our-features::before { border-bottom-color: #e9f5f5; }
#home-our-features::after { border-top-color: #e9f5f5; }
#home-our-features > .home-our-features-inner { background-color: #e9f5f5; }
#home-our-features > .top-icon { top: 0; left: 50%; -webkit-transform: translatex(-50%); transform: translatex(-50%); }
#home-our-features > .top-icon > img { width: 25px; }
@media screen and (min-width: 768px) { #home-our-features > .top-icon > img { width: 65px; } }

.home-our-features .item .st-head-two { margin-bottom: 5px; }
@media screen and (min-width: 992px) { .home-our-features .item .st-desc { line-height: 35px; max-width: 80%; } }
.home-our-features .item .buy-now-btn { margin-top: 15px; margin-bottom: 10px; }
@media screen and (min-width: 768px) { .home-our-features .item .buy-now-btn { margin-top: 25px; margin-bottom: 25px; } }
.home-our-features .item .price { font-size: 30px; font-weight: 600; }
@media screen and (min-width: 768px) { .home-our-features .item .price { font-size: 35px; } }
.home-our-features .item .price span { position: relative; top: -5px; font-size: 30px; font-family: 'jasmina', sans-serif; margin-right: 5px; font-weight: normal; }
.home-our-features #our-features-slider .owl-nav { z-index: 1; position: relative; }
@media screen and (min-width: 767px) { .home-our-features #our-features-slider .owl-nav { margin-top: 15px; } }
@media screen and (min-width: 1200px) { .home-our-features #our-features-slider .owl-nav { margin-top: -20px; } }
.home-our-features #our-features-slider .owl-nav > button { background: #c6e5e5; height: 40px; width: 35px; font-size: 29px; transition: 0.3s; outline: none !important; }
.home-our-features #our-features-slider .owl-nav > button.owl-prev { margin-right: 10px; }
.home-our-features #our-features-slider .owl-nav > button:hover { background: #a3d5d5; }

@media screen and (min-width: 768px) { .about-boutique { background: url("../images/about-boutique/bg-dotted.png") no-repeat 0 center/55%; } }
.about-boutique .lt .round-gray-img { height: 300px; width: 300px; background: #f5f5f5; padding: 15px 10px 0; }
@media screen and (max-width: 991px) { .about-boutique .lt .round-gray-img { margin: 0 auto; } }
@media screen and (min-width: 992px) { .about-boutique .lt .round-gray-img { height: 400px; width: 400px; } }
.about-boutique .lt .round-gray-img img { z-index: 1; }
.about-boutique .lt .gradient-round-small { height: 50px; width: 50px; top: 7%; left: 23%; background: #ff7600 !important; background: linear-gradient(90deg, #ff7600 0%, #ff1700 100%) !important; }
.about-boutique .lt .gradient-round-big { height: 120px; width: 120px; top: 20%; left: -16px; background: #ff7600 !important; background: linear-gradient(90deg, #ff7600 0%, #ff1700 100%) !important; }
@media screen and (min-width: 992px) { .about-boutique .lt .gradient-round-big { height: 150px; width: 150px; top: 16%; left: -30px; } }
@media screen and (min-width: 992px) { .about-boutique .rt { padding-left: 20px; } }
@media screen and (min-width: 992px) { .about-boutique .rt .st-desc { line-height: 35px; } }
.about-boutique .rt .st-btn { margin-top: 25px; }
@media screen and (min-width: 992px) { .about-boutique .rt .st-btn { padding-left: 30px; padding-right: 30px; margin-top: 40px; } }

#home-video { background: url("../images/home-video/home-bg-img.jpg") no-repeat center/cover; padding-top: 30px; padding-bottom: 30px; }
#home-video::after { content: ''; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: #ff7600 !important; background: linear-gradient(90deg, #ff7600 0%, #ff1700 100%) !important; opacity: .8; }
@media screen and (min-width: 576px) { #home-video { padding-top: 80px; padding-bottom: 80px; } }
@media screen and (min-width: 992px) { #home-video { padding-top: 100px; padding-bottom: 100px; } }
@media screen and (min-width: 1200px) { #home-video { padding-top: 160px; padding-bottom: 160px; } }

.home-video { z-index: 1; }
.home-video .img-sec { margin-bottom: 20px; transition: 0.3s; }
.home-video .img-sec:hover { transform: scale(1.1); }

#testimonials > .testimonials-inner { border-bottom: 1px solid #bbb; }

.testimonials .section-heading .st-head-two { color: #000; }
@media screen and (min-width: 992px) { .testimonials .section-heading .st-head-two { margin-bottom: 60px; } }
.testimonials .section-heading .st-head-two img { width: 120px; left: -100px; top: -20px; }
.testimonials .item .text-sec .inner { transition: 0.4s; margin-bottom: 20px; }
@media screen and (min-width: 768px) { .testimonials .item .text-sec .inner { margin-bottom: 50px; } }
.testimonials .item .text-sec p { font-size: 15px; line-height: 28px; letter-spacing: .6px; color: #333; margin: 0 auto; }
.testimonials .item .user-sec { padding: 0 15px; }
.testimonials .item .user-sec .user-img { height: 45px; width: 45px; background: #efefef; }
.testimonials .item .user-sec .user-img img { max-height: 100%; }
.testimonials .item .user-sec .user-details { margin-top: 20px; }
.testimonials .item .user-sec .user-details .user-name { font-size: 17px; font-weight: 700; margin-bottom: 10px; color: #000; }
.testimonials .item .user-sec .user-details .user-prof { font-family: 'Open Sans', sans-serif; font-size: 14px; color: #6b6b6b; }

.our-speciality .item .icon-sec { width: 100%; }
@media screen and (min-width: 768px) { .our-speciality .item .icon-sec { width: 55px; } }
.our-speciality .item .icon-sec i { color: #ff7600; font-size: 40px; }
.our-speciality .item .text-sec .head { font-weight: 600; color: #000; font-size: 17px; margin-bottom: 5px; }
.our-speciality .item .text-sec .desc { font-weight: 500; color: #888; }

@media screen and (min-width: 992px) { footer { background: #e9f5f5 url("../images/fotter-bg.png") no-repeat center bottom/100% 77%; } }
footer .st-text, footer .ft-link { font-family: 'Open Sans', sans-serif; font-size: 14px; color: #a7a7a7; line-height: 23px; }
footer .st-text.mb:not(:last-child), footer .ft-link.mb:not(:last-child) { margin-bottom: 15px; }
footer .st-text > i, footer .ft-link > i { width: 35px; font-size: 20px; padding-top: 5px; }

#ft-newsletter { padding-top: 25px; padding-bottom: 25px; }
@media screen and (min-width: 768px) { #ft-newsletter { padding-top: 40px; padding-bottom: 40px; } }
@media screen and (min-width: 992px) { #ft-newsletter { padding-top: 30px; padding-bottom: 30px; } }

@media screen and (min-width: 992px) { .ft-newsletter { padding-bottom: 100px; } }
@media screen and (min-width: 992px) { .ft-newsletter { padding-bottom: 230px; } }
.ft-newsletter .section-heading img { width: 35px; margin-bottom: 15px; }
@media screen and (min-width: 768px) { .ft-newsletter .section-heading img { width: 65px; } }
.ft-newsletter .section-heading .st-head-two { color: #000; margin-bottom: 15px; }
.ft-newsletter .st-desc { font-size: 16px; margin-bottom: 20px; }
@media screen and (min-width: 992px) { .ft-newsletter .st-desc { margin-bottom: 30px; max-width: 65%; margin-left: auto; margin-right: auto; } }
@media screen and (min-width: 768px) { .ft-newsletter .form { width: 440px; } }
.ft-newsletter .form > input { height: 50px; border-radius: 50px; background: #ddd; padding: 2px 70px 2px 20px; font-size: 14px; outline: none !important; border-color: #ddd !important; }
.ft-newsletter .form > button { top: 0; right: 0; height: 100%; background: #000; width: 60px; border-top-right-radius: 50px; border-bottom-right-radius: 50px; color: #fff; font-size: 22px; }

.ft-top { padding-bottom: 15px; }
@media screen and (min-width: 992px) { .ft-top { padding-bottom: 35px; } }
.ft-top .ft-head { font-family: 'Open Sans', sans-serif; font-size: 18px; margin-bottom: 15px; color: #fff; font-weight: 600; margin-bottom: 15px; }
@media screen and (min-width: 992px) { .ft-top .ft-head { margin-bottom: 27px; } }
.ft-top .footer-ul > li:not(:last-child) { margin-bottom: 10px; }
.ft-top .footer-ul > li > a { font-family: 'Open Sans', sans-serif; font-size: 14px; color: #a7a7a7; transition: 0.3s; }
.ft-top .footer-ul > li > a:hover { margin-left: 3px; }
.ft-top .one img { margin-bottom: 20px; }
@media screen and (min-width: 992px) { .ft-top .one img { width: 260px; } }
.ft-top .one .st-text { margin-bottom: 10px; }
@media screen and (min-width: 768px) { .ft-top .one .st-text { margin-bottom: 15px; } }
.ft-top .one .st-text > i { width: 30px; font-size: 15px; padding-top: 6px; }
.ft-top .two .st-text:not(:last-child) { margin-bottom: 5px; }
.ft-top .social-links > li:not(:last-child) { padding-right: 20px; }
.ft-top .social-links > li > a { background: #bbbbbb; color: #161616; font-size: 15px; height: 30px; width: 30px; border-radius: 100%; transition: 0.1s; }
.ft-top .social-links > li > a:hover { transform: scale(1.1); }
.ft-top .newsletter > .form { position: relative; }
.ft-top .newsletter > .form input { height: 50px; border-radius: 5px; border: 1px solid #bbbbbb; font-size: 15px; color: #000; letter-spacing: 0.7px; }
.ft-top .newsletter > .form .st-btn { font-family: styling, sans-serif; padding: 11px 30px 10px; font-size: 18px; letter-spacing: 1px; }
@media screen and (max-width: 767px) { .ft-top .newsletter > .form > input { padding-right: 50px; }
  .ft-top .newsletter > .form button.mobile { border: none !important; outline: none !important; box-shadow: none !important; position: absolute; top: 5px; right: 5px; height: calc(100% - 10px); width: 40px; background: #d20423; font-size: 20px; color: #fff; padding: 0; border-radius: 5px; }
  .ft-top .newsletter > .form button.mobile:hover { background-color: #fa0f32; color: #fff; }
  .ft-top .newsletter > .form button.mobile:active { background-color: #c30420; } }

.ft-bottom { padding: 15px 0 15px; border-top: 1px solid #313131; }
@media screen and (min-width: 992px) { .ft-bottom { padding: 15px 0 25px; } }

/*# sourceMappingURL=style.css.map */
