/* COMMON */
.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.d-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}

.d-flex-wrap {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.d-inline-flex-wrap {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.flex-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.flex-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
}

.flex-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
}

.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.flex-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
}

.flex-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
}

.flex-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
}

.flex-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
}

.flex-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
}

.flex-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
}

.justify-content-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}

.justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.justify-content-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
}

.align-items-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
}

.align-items-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.align-items-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
}

.align-items-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}

.align-content-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
}

.align-content-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
}

.align-content-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
}

.align-content-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
}

.align-content-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
}

.align-content-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
}

.align-self-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
}

.align-self-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
}

.align-self-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
}

.align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
}

.align-self-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
}

.align-self-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
}

/* HOMEPAGE CSS */

/* OUR TEAM */
#ourteam {
    margin-top: 10px;
}

#ourteam {
    position: relative;
}

.team-slider .item {
    padding: 30px 0 50px;
}

.team-slider .item .img-sec {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    overflow: hidden;
    background: #fff;
    padding: 3px;
    margin: 0 auto;
    position: relative;
    transform: scale(.9);
    transition: .3s;
    margin-bottom: 45px;
}

.team-slider .owl-item.center .item .img-sec {
    background: #0d5aa8;
    transform: scale(1.2);
}

.team-slider .item .img-sec:after {
    content: '';
    height: 100%;
    width: 20px;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translatex(-50%) rotate(-35deg);
    transition: .6s;
    background: transparent;
}

.team-slider .owl-item.center .item .img-sec:after {
    transform: translatex(-50%) rotate(-45deg);
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
}

.team-slider .item .img-sec img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    z-index: 12;
    position: relative;
}

.team-slider .item .text-sec {
    text-align: center;
}

.team-slider .item .text-sec .head {
    font: 26px avant-bold, sans-serif;
    text-transform: capitalize;
    color: #0d5aa8;
}

.team-slider .item .text-sec .head span {
    display: block;
    font-size: 24px;
    margin-top: 2px;
}

.team-slider .item .text-sec .text {
    font: 600 14px avant-regular, sans-serif;
    color: #424242;
    line-height: 26px;
    letter-spacing: 1px;
}

.team-slider .owl-nav {
    margin-top: 0;
}

.team-slider .owl-nav>button {
    position: absolute;
    top: 0;
    z-index: 12;
    right: 0;
    height: 30px;
    width: 30px;
    background-color: #0d59a8 !important;
    color: #fff !important;
    border-radius: 100% !important;
    outline: none !important;
}

.team-slider .owl-carousel {
    position: static;
}

.team-slider .owl-nav>button.owl-prev {
    right: calc(30px + 10px);
}


/* DASHBOARD SEC */
.dashboard-sec {
    padding: 0;
}

.dashboard-sec>.d-left-bar {
    width: 300px;
}

.dashboard-sec>.d_content-sec {
    width: calc(100% - 300px);
}

.d-left-bar .inner {
    background-color: #0d111a;
    height: 100%;
}

.d-left-bar .DLB_list>li {}

.d-left-bar .DLB_list>li>a {
    padding: 20px 30px;
    align-items: center;
    font-size: 18px;
    font-family: avant-bold, sans-serif;
    color: #fff;
    transition: .3s;
}

.d-left-bar .DLB_list>li>a>img {
    width: 28px;
}

.d-left-bar .DLB_list>li>a>span {
    width: calc(100% - 28px);
    padding-left: 15px;
}

.d-left-bar .DLB_list>li>a:hover {
    color: #0d5aa8;
}

.dashboard-sec>.d_content-sec {
    padding: 35px;
}

.d_content-sec .main-btns>ul {
    margin: 0 -3px 0;
}

.d_content-sec .main-btns>ul>li {
    width: 33.3%;
    padding: 0 3px;
}

.d_content-sec .main-btns>ul>li>a {
    background: #0d5aa8;
    padding: 15px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
}

.d_content-sec .main-btns>ul>li:nth-child(even)>a {
    background: #000;
}

.d_content-sec .main-btns .ico {
    width: 40px;
}

.d_content-sec .main-btns .text {
    text-align: center;
    width: calc(100% - 40px);
    padding: 0 10px;
    color: #fff;
}

.d_content-sec .main-btns .text p {
    margin-bottom: 0;
    font-size: 17px;
    line-height: normal;
    font-weight: 500;
}

.d_content-sec .main-btns .text p span {
    display: block;
    font-family: avant-bold;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 2px;
}

.d_content-sec .performance-chart {
    margin-top: 50px;
}

.d_content-sec .performance-chart>.inner {
    padding: 5px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
}

.primary-black-select {
    width: 140px;
    border: 2px solid #333;
    height: 35px;
    padding: 0 25px 0 10px;
    font-family: avant-bold, sans-serif;
    font-size: 16px;
    color: #333;
    background: url('../images/icons/select-black-icon.png') no-repeat calc(100% - 6px) center / 10px !important;
}

.performance-chart .PH_heading {
    margin-bottom: 15px;
    margin-top: 10px;
}

.performance-chart .PH_heading .head {
    font-family: avant-bold, sans-serif;
    font-size: 20px;
    color: #333;
    margin-bottom: 0;
    width: calc(100% - 150px);
    padding-right: 5px;
    padding-left: 10px;

}

.performance-chart .PH_heading .form-group {
    margin-bottom: 0;
    width: 150px;
    text-align: right;
}

.d_content-sec .property-details-btn {
    margin-top: 40px;
}

.property-details-btn>ul {
    margin: 0 -5px;
}

.property-details-btn>ul>li {
    width: 50%;
    padding: 5px;
}

.property-details-btn>ul>li>.inner {
    padding: 10px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
}

.property-details-btn>ul>li .details {
    width: calc(100% - 120px);
    padding-right: 10px;
}

.property-details-btn>ul>li .img-sec {
    width: 120px;
    height: auto;
}

.property-details-btn>ul>li .details .sm-head {
    font: 15px avant-bold, sans-serif;
    margin-bottom: 3px;
    width: 100%;
}

.property-details-btn>ul>li .details .price {
    font: 23px avant-bold, sans-serif;
    color: #0b62a4;
    margin-bottom: 5px;
}

.property-details-btn>ul>li .details .date,
.property-details-btn>ul>li .details .sales {
    font: 11px avant-bold, sans-serif;
    width: 100%;
    margin-bottom: 15px;
    color: #000;
}

.property-details-btn>ul>li .details .sales {
    margin-bottom: 0;
}

.property-overview-table .head-main>ul,
.property-overview-table .body-main>ul {
    width: 100%;
}

.property-overview-table .head-main>ul>li,
.property-overview-table .body-main>ul>li {
    font-size: 16px;
    color: #333;
    text-align: center;
}

.property-overview-table .head-main>ul {
    margin-bottom: 0;
}

.property-overview-table .body-main>ul:not(:last-child) {
    margin-bottom: 10px;
}

.property-overview-table .head-main>ul>li.order-no,
.property-overview-table .body-main>ul>li.order-no {
    width: 13%;
}

.property-overview-table .head-main>ul>li.customer,
.property-overview-table .body-main>ul>li.customer {
    width: 17%;
}

.property-overview-table .head-main>ul>li.property,
.property-overview-table .body-main>ul>li.property {
    width: 30%;
}

.property-overview-table .head-main>ul>li.date,
.property-overview-table .body-main>ul>li.date {
    width: 15%;
}

.property-overview-table .head-main>ul>li.status,
.property-overview-table .body-main>ul>li.status {
    width: 10%;
}

.property-overview-table .head-main>ul>li.type,
.property-overview-table .body-main>ul>li.type {
    width: 15%;
}

.property-overview-table .head-main {
    margin-bottom: 10px;
}

.property-overview-table .head-main>ul>li {
    font-family: avant-bold, sans-serif;
}

.property-overview-table .body-main>ul>li {
    font-family: avant-regular, sans-serif;
    padding: 15px 5px;
    font-size: 13px;
    font-weight: bold;
}

.property-overview-table .body-main>ul:not(:last-child) {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

.property-overview-table .body-main .tag {
    width: 100%;
    display: block;
    padding: 1px 5px;
}

.property-overview-table .body-main .tag.paid {
    background: #00a651;
    color: #fff;
}

.property-overview-table .body-main .tag.fail {
    background: #ed1c24;
    color: #fff;
}

.property-overview-table .body-main .tag.pending {
    background: #dede32;
    color: #fff;
}
.property-overview-table .body-main .tag.paid {
    background: #00a651;
    color: #fff;
}