// $secodary-color: #2eb96a;
// $secodary-colorB: #008d95;
// $secodary-color: #fde004;
$secodary-color: #fcb01f;
// $secodary-colorB: #008d95;
$secodary-colorB: #798e98;
$danger-color: #ff2b40;
$success-color: #7bd34a;
$active-color: #ececec;