@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

.font-family-lato { font-family: 'Lato', sans-serif; }

.font-lato-300 { font-family: 'Lato', sans-serif; font-weight: 300; }

.font-lato-400 { font-family: 'Lato', sans-serif; font-weight: 400; }

.font-lato-700 { font-family: 'Lato', sans-serif; font-weight: 700; }

.font-lato-900 { font-family: 'Lato', sans-serif; font-weight: 900; }

.font-family-montserrat { font-family: 'Montserrat', sans-serif; }

.font-montserrat-200 { font-family: 'Montserrat', sans-serif; font-weight: 200; }

.font-montserrat-300 { font-family: 'Montserrat', sans-serif; font-weight: 300; }

.font-montserrat-400 { font-family: 'Montserrat', sans-serif; font-weight: 400; }

.font-montserrat-500 { font-family: 'Montserrat', sans-serif; font-weight: 500; }

.font-montserrat-600 { font-family: 'Montserrat', sans-serif; font-weight: 600; }

.font-montserrat-700 { font-family: 'Montserrat', sans-serif; font-weight: 700; }

.font-montserrat-800 { font-family: 'Montserrat', sans-serif; font-weight: 800; }

.font-montserrat-900 { font-family: 'Montserrat', sans-serif; font-weight: 900; }

.font-family-roboto { font-family: 'Roboto', sans-serif; }

.font-roboto-100 { font-family: 'Roboto', sans-serif; font-weight: 100; }

.font-roboto-300 { font-family: 'Roboto', sans-serif; font-weight: 300; }

.font-roboto-400 { font-family: 'Roboto', sans-serif; font-weight: 400; }

.font-roboto-500 { font-family: 'Roboto', sans-serif; font-weight: 500; }

.font-roboto-700 { font-family: 'Roboto', sans-serif; font-weight: 700; }

.font-roboto-900 { font-family: 'Roboto', sans-serif; font-weight: 900; }

/* RESPONSIVE BREAKPOINTS */
/* SCROLLBAR */
/* width */
::-webkit-scrollbar { width: 5px; }

/* Track */
::-webkit-scrollbar-track { background: #e2e2e2; }

/* Handle */
::-webkit-scrollbar-thumb { background: #ed7e47; border-radius: 15px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #bb4a13; }

/* COLORS STYLES */
/* COLORS */
.background-primary { background-color: #049fad !important; }

.background-secondary { background-color: #e85d19 !important; }

/* BUTTONS STYLES */
button.no-browser-style { background: transparent; padding: initial; line-height: normal; outline: none; border: none; }

.st-round-icon-btn { height: 40px; width: 40px; background: #333; color: #fff; font-size: 20px; transition: 0.2s; }
.st-round-icon-btn:hover { background-color: #262626; color: #fff; }
.st-round-icon-btn:active { background-color: #1a1a1a; color: #fff; }
.st-round-icon-btn.st-round-icon-btn-primary { background-color: #05bacb; }
.st-round-icon-btn.st-round-icon-btn-primary:hover { background-color: #04b1c1; }
.st-round-icon-btn.st-round-icon-btn-primary:active { background-color: #04919e; }
.st-round-icon-btn.st-round-icon-btn-secondary { background-color: #eb7135; }
.st-round-icon-btn.st-round-icon-btn-secondary:hover { background-color: #ea6a2c; }
.st-round-icon-btn.st-round-icon-btn-secondary:active { background-color: #dc5716; }
.st-round-icon-btn.st-round-icon-btn-transparent { background-color: transparent; color: #fff; }
.st-round-icon-btn.st-round-icon-btn-transparent-hover-black { background-color: transparent; color: #fff; }
.st-round-icon-btn.st-round-icon-btn-transparent-hover-black:hover { color: #333; }
.st-round-icon-btn.st-round-icon-btn-transparent-hover-black:active { color: #333; }
.st-round-icon-btn.st-round-icon-btn-transparent-hover-white { background-color: transparent; color: #333; }
.st-round-icon-btn.st-round-icon-btn-transparent-hover-white:hover { color: #fff; }
.st-round-icon-btn.st-round-icon-btn-transparent-hover-white:active { color: #fff; }

.st-btn { background-color: #d8d8d8; color: #000; padding: 6px 15px 7px; border: none; border-radius: 8px; box-shadow: none !important; font-size: 15px; line-height: normal; transition: 0.2s; }
@media screen and (min-width: 576px) { .st-btn { padding: 13px 20px; } }
.st-btn:hover { background-color: #bfbfbf; }
.st-btn:active { background-color: #b2b2b2; }
.st-btn.st-btn-sm { padding-top: 5px; padding-bottom: 5px; }
@media screen and (min-width: 576px) { .st-btn.st-btn-sm { padding-top: 7px; padding-bottom: 7px; } }
.st-btn.st-btn-secondary { background-color: #e85d19; color: #fff; }
.st-btn.st-btn-secondary:hover { background-color: #d25315; color: #fff; }
.st-btn.st-btn-secondary:active { background-color: #bb4a13; color: #fff; }
.st-btn.st-btn-secondary-light { background-color: #f8cfbb; color: #e85d19; color: #fff; }
.st-btn.st-btn-secondary-light:hover { background-color: #e85d19; color: #fff; }
.st-btn.st-btn-secondary-light:active { background-color: #d25315; color: #fff; }
.st-btn.st-btn-outlined-secondary { background-color: transparent; border: 2px solid #e85d19; color: #e85d19; }
.st-btn.st-btn-outlined-secondary:hover { background-color: #e85d19; color: #fff; }
.st-btn.st-btn-outlined-secondary:active { background-color: #d25315; color: #fff; }
.st-btn.st-btn-primary { background-color: #049fad; color: #fff; }
.st-btn.st-btn-primary:hover { background-color: #038894; color: #fff; }
.st-btn.st-btn-primary:active { background-color: #03717b; color: #fff; }
.st-btn.st-btn-primary-light { background-color: #b3f7fd; color: #049fad; }
.st-btn.st-btn-primary-light:hover { background-color: #049fad; color: #fff; }
.st-btn.st-btn-primary-light:active { background-color: #038894; color: #fff; }
.st-btn.st-btn-outlined-primary { background-color: transparent; border: 2px solid #049fad; color: #333; }
.st-btn.st-btn-outlined-primary:hover { background-color: #049fad; color: #fff; }
.st-btn.st-btn-outlined-primary:active { background-color: #038894; color: #fff; }
.st-btn.st-btn-outlined-black { background-color: transparent; border: 2px solid #333; color: #333; }
.st-btn.st-btn-outlined-black:hover { background-color: #333; color: #fff; }
.st-btn.st-btn-outlined-black:active { background-color: #262626; color: #fff; }
.st-btn.st-btn-outlined-white { background-color: transparent; border: 2px solid #fff; color: #fff !important; }
.st-btn.st-btn-outlined-white:hover { background-color: #fff; color: #e85d19 !important; }
.st-btn.st-btn-outlined-white:active { background-color: #f2f2f2; color: #e85d19 !important; }
.st-btn.st-btn-white { background-color: #fff; color: #333; }
.st-btn.st-btn-white:hover { background-color: #f2f2f2; color: #333; }
.st-btn.st-btn-white:active { background-color: #e6e6e6; color: #333; }
.st-btn.st-btn-white:focus { color: #333; }

/* TEXT STYLES */
.text-decoration-line-through { text-decoration: line-through !important; }

.text-decoration-underline { text-decoration: underline !important; }

/* FONT WEIGHT CLASSES */
.font-weight-100 { font-weight: 100 !important; }

.font-weight-200 { font-weight: 200 !important; }

.font-weight-300 { font-weight: 300 !important; }

.font-weight-400 { font-weight: 400 !important; }

.font-weight-500 { font-weight: 500 !important; }

.font-weight-600 { font-weight: 600 !important; }

.font-weight-700 { font-weight: 700 !important; }

.font-weight-800 { font-weight: 800 !important; }

.font-weight-900 { font-weight: 900 !important; }

/* SIZES */
.font-size-10 { font-size: 10px !important; }

.font-size-11 { font-size: 11px !important; }

.font-size-12 { font-size: 12px !important; }

.font-size-13 { font-size: 13px !important; }

.font-size-14 { font-size: 14px !important; }

.font-size-15 { font-size: 15px !important; }

.font-size-16 { font-size: 16px !important; }

.font-size-17 { font-size: 17px !important; }

.font-size-18 { font-size: 18px !important; }

.font-size-19 { font-size: 19px !important; }

.font-size-20 { font-size: 20px !important; }

/* COLORS */
.st-text-black { color: #000 !important; }

.st-text-white-light { color: #d0d0d0 !important; }

.st-text-gray { color: #808080 !important; }

.st-text-primary { color: #049fad !important; }

.st-text-secondary { color: #e85d19 !important; }

a.st-text-primary:hover { color: #03717b !important; }

a.st-text-secondary:hover { color: #bb4a13 !important; }

.st-text-light { color: #4e4e4e !important; }

a.st-text-light:hover { color: #353535 !important; }

.st-text-dark { color: #333 !important; }

a.st-text-dark:hover { color: #1a1a1a !important; }

/* HEADING STYLES */
/* HEADING STYLES */
.st-main-heading { margin-bottom: 35px; }
.st-main-heading .st-heading { font-size: 20px; color: #333; }
@media screen and (min-width: 768px) { .st-main-heading .st-heading { font-size: 38px; line-height: 38px; } }
.st-main-heading .st-desc { font-size: 18px; margin-top: 10px; }

/* FORMS STYLES */
.st-form > input:not([type="radio"]):not([type="checkbox"]), .st-form > select, .st-form > textarea { border-radius: 8px; -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1); box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1); padding: 10px 15px; color: #333; transition: 0.1s; }
.st-form > input:not([type="radio"]):not([type="checkbox"])::placeholder, .st-form > select::placeholder, .st-form > textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */ color: #4e4e4e; opacity: 1; /* Firefox */ }
.st-form > input:not([type="radio"]):not([type="checkbox"]):-ms-input-placeholder, .st-form > select:-ms-input-placeholder, .st-form > textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */ color: #4e4e4e; }
.st-form > input:not([type="radio"]):not([type="checkbox"])::-ms-input-placeholder, .st-form > select::-ms-input-placeholder, .st-form > textarea::-ms-input-placeholder { /* Microsoft Edge */ color: #4e4e4e; }
.st-form > input:not([type="radio"]):not([type="checkbox"]):focus, .st-form > select:focus, .st-form > textarea:focus { -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3); box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3); border-color: #bfbfbf; }
@media screen and (min-width: 576px) { .st-form > input:not([type="radio"]):not([type="checkbox"]), .st-form > select { height: 45px; } }
@media screen and (min-width: 576px) { .st-form.st-form-sm > input:not([type="radio"]):not([type="checkbox"]), .st-form.st-form-sm > select { height: 40px; } }
.st-form.lt, .st-form.rt { width: 100%; }
@media screen and (min-width: 768px) { .st-form.lt, .st-form.rt { width: 50%; }
  .st-form.lt { padding-right: 7.5px; }
  .st-form.rt { padding-left: 7.5px; } }
.st-form.input-underline > input:not([type="radio"]):not([type="checkbox"]), .st-form.input-underline > select, .st-form.input-underline > textarea { background-color: transparent; border: none; border-bottom: 1px solid #bfbfbf; padding-left: 0; padding-right: 0; border-radius: 0; box-shadow: none; }
.st-form.input-underline > input:not([type="radio"]):not([type="checkbox"]):focus, .st-form.input-underline > select:focus, .st-form.input-underline > textarea:focus { border-color: #049fad; }
.st-form.with-icon > input:not([type="radio"]):not([type="checkbox"]), .st-form.with-icon > select, .st-form.with-icon > textarea, .st-form.with-icon-text > input:not([type="radio"]):not([type="checkbox"]), .st-form.with-icon-text > select, .st-form.with-icon-text > textarea { padding-right: 40px; }
.st-form.with-icon .icon, .st-form.with-icon-text .icon { top: 50%; right: 10px; -webkit-transform: translatey(-50%); transform: translatey(-50%); font-size: 24px; color: #4e4e4e; transition: 0.2s; }
.st-form.with-icon .icon:hover, .st-form.with-icon-text .icon:hover { color: #333; }
.st-form.with-icon-text > input:not([type="radio"]):not([type="checkbox"]), .st-form.with-icon-text > select, .st-form.with-icon-text > textarea { padding-right: 55px; }

.ST_def-mar-T, .ST_def-mar-TB { margin-top: 20px; }
@media screen and (min-width: 992px) { .ST_def-mar-T, .ST_def-mar-TB { margin-top: 40px; } }
@media screen and (min-width: 1200px) { .ST_def-mar-T, .ST_def-mar-TB { margin-top: 60px; } }

.ST_def-mar-B, .ST_def-mar-TB { margin-bottom: 20px; }
@media screen and (min-width: 992px) { .ST_def-mar-B, .ST_def-mar-TB { margin-bottom: 40px; } }
@media screen and (min-width: 1200px) { .ST_def-mar-B, .ST_def-mar-TB { margin-bottom: 60px; } }

.ST_def-pad-T, .ST_def-pad-TB { padding-top: 20px; }
@media screen and (min-width: 992px) { .ST_def-pad-T, .ST_def-pad-TB { padding-top: 40px; } }
@media screen and (min-width: 1200px) { .ST_def-pad-T, .ST_def-pad-TB { padding-top: 60px; } }

.ST_def-pad-B, .ST_def-pad-TB { padding-bottom: 20px; }
@media screen and (min-width: 992px) { .ST_def-pad-B, .ST_def-pad-TB { padding-bottom: 40px; } }
@media screen and (min-width: 1200px) { .ST_def-pad-B, .ST_def-pad-TB { padding-bottom: 60px; } }

.app-badge { background: #333; padding: 2px; height: 22px; width: 22px; top: 0; right: -5px; color: #fff; }
.app-badge.app-badge-primary { background-color: #049fad; }
.app-badge.app-badge-secondary { background-color: #e85d19; }

.img-fluid-height { max-height: 100%; }

.st-common-slider-img-sec { height: 150px; }
.st-common-slider-img-sec > img { width: auto !important; }

.app-devider { height: 1px; width: 100%; background-color: #bfbfbf; }

.or-text::after { content: ''; background-color: #bfbfbf; height: 1px; width: 100%; position: absolute; top: 50%; left: 0; -webkit-transform: translatey(-50%); transform: translatey(-50%); }
.or-text span { z-index: 1; background-color: #fff; padding: 0 5px; color: #bfbfbf; }

#st-breadcrumbs { margin: 20px 0; }

.st-breadcrumbs ul li:not(:last-child)::after { content: '>'; margin: 0 8px 0 5px; }
.st-breadcrumbs ul li a { color: #049fad; }
.st-breadcrumbs ul li:last-child a { color: #333; pointer-events: none; }

.st-radio { font-weight: normal; cursor: pointer; }
.st-radio .round { height: 16px; width: 16px; padding: 2px; border: 2px solid #049fad; margin-top: 3px; }
.st-radio .round .round-inner { background-color: #049fad; opacity: 0; transition: 0.2s; }
.st-radio.st-radio-white .round { border-color: #fff; }
.st-radio.st-radio-white .round .round-inner { background-color: #e85d19; }
.st-radio .text { transition: 0.2s; }
.st-radio .text:hover { color: #111 !important; }
.st-radio.st-radio-white .text { color: #fff !important; }
.st-radio.st-radio-white .text:hover { color: #fff !important; }
.st-radio > input:checked + .round .round-inner { opacity: 1; }
.st-radio > input:checked ~ .text { color: #111 !important; }
.st-radio.st-radio-white > input:checked ~ .text { color: #fff !important; }

.quantity-select-controls > button, .quantity-select-controls > input { height: 35px; border: 1px solid #bfbfbf; }
.quantity-select-controls > button:hover, .quantity-select-controls > button:focus, .quantity-select-controls > button:active, .quantity-select-controls > input:hover, .quantity-select-controls > input:focus, .quantity-select-controls > input:active { border-color: #bfbfbf; }
.quantity-select-controls > button { width: 35px; padding: 0; }
.quantity-select-controls > button.minus { margin-right: -1px; }
.quantity-select-controls > button.plus { margin-left: -1px; }
.quantity-select-controls > input { width: 50px; box-shadow: none !important; padding: 0 5px; }
.quantity-select-controls > input::-webkit-inner-spin-button, .quantity-select-controls > input::-webkit-outer-spin-button { -webkit-appearance: none; }

.st-ratings-count .lt-sec { width: 120px; }
@media screen and (min-width: 992px) { .st-ratings-count .lt-sec { width: 135px; } }
.st-ratings-count .lt-sec .head { font-size: 45px; line-height: 45px; }
.st-ratings-count .rt-sec { width: calc(100% - 120px); border-left: 1px solid #bfbfbf; padding-left: 18px; }
@media screen and (min-width: 992px) { .st-ratings-count .rt-sec { padding-left: 30px; width: 250px; } }
.st-ratings-count .rt-sec .frac .progress { height: 5px; }
.st-ratings-count .rt-sec .frac .progress .progress-bar { background-color: #4e4e4e; }
.st-ratings-count .rt-sec .frac.five-star .progress-bar, .st-ratings-count .rt-sec .frac.four-star .progress-bar, .st-ratings-count .rt-sec .frac.three-star .progress-bar { background-color: #049fad; }
.st-ratings-count .rt-sec .frac.three-star .progress-bar { opacity: 0.5; }
.st-ratings-count .rt-sec .frac.two-star .progress-bar { background-color: #fcb301; }
.st-ratings-count .rt-sec .frac.one-star .progress-bar { background-color: #f16565; }

.st-tag { background: transparent url("../images/tag-bg.png") no-repeat left center; padding: 6px 40px 6px 15px; }

.navbar-toggler { font-size: 25px; padding: 3px 7px; border-radius: 4px; }
@media screen and (min-width: 576px) { .navbar-toggler { padding: 6px 9px; } }

.st-star-rating li i.fas.fa-star { color: #fed43b; }
.st-star-rating li i.far.fa-star { color: #454545; }

.custom-modal .close { z-index: 1; top: 10px; right: 10px; }
.custom-modal .modal-content { border-radius: 4px; }

.social-ul > ul a { color: #fff; height: 30px; width: 30px; font-size: 13px; transition: 0.2s; }
.social-ul > ul a[title="Facebook"]:hover { color: #1877f2 !important; }
.social-ul > ul a[title="Twitter"]:hover { color: #50abf1 !important; }
.social-ul > ul a[title="Instagram"]:hover { color: #c9369e !important; }

@media screen and (min-width: 768px) { .header-like-margin-top { margin-top: 163px; } }

@media screen and (min-width: 768px) { .header-like-padding-top { padding-top: 163px; } }

body { font-family: 'Roboto', sans-serif; font-weight: 400; font-size: 14px; color: #333; }

header { top: 0; left: 0; z-index: 12; }

#header-top { border-bottom: 1px solid rgba(255, 255, 255, 0.2); transition: 0.3s; }

.header-top { padding: 8px 0; }

#header-menu { transition: 0.3s; }

.header-menu .navbar { padding: 0; }
.header-menu .navbar-nav > .nav-item:not(:last-child) { padding-right: 30px; }
.header-menu .navbar-nav > .nav-item > .nav-link { color: #333; transition: 0.2s; border-bottom: 5px solid transparent; padding: 15px 10px 11px; }
.header-menu .navbar-nav > .nav-item > .nav-link > i { color: #4e4e4e; }
.header-menu .navbar-nav > .nav-item > .nav-link:hover { color: #1a1a1a; border-bottom-color: #e85d19; }
.header-menu .navbar-nav > .nav-item > .nav-link.active, .header-menu .navbar-nav > .nav-item > .nav-link:active { color: #1a1a1a; border-bottom-color: #e85d19; }

header.fixed #header-menu { background-color: #fff; z-index: 12; -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1); box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1); }
header.fixed .header-menu .navbar-nav > .nav-item > .nav-link { color: #049fad !important; cursor: pointer; }
header.fixed .social-ul > ul a { color: #049fad; }

.home-slider-main .item { background-repeat: no-repeat; background-position: center; background-size: cover; background-attachment: fixed; }
.home-slider-main .caption { padding: 40px 0 70px; }
@media screen and (min-width: 992px) { .home-slider-main .caption { padding: 55px 0 120px; } }
.home-slider-main .caption .head { font-size: 30px; line-height: 25px; }
@media screen and (min-width: 992px) { .home-slider-main .caption .head { font-size: 45px; line-height: 55px; } }
.home-slider-main .caption .desc { font-size: 15px; }
@media screen and (min-width: 768px) { .home-slider-main .caption .desc { font-size: 17px; max-width: 540px; line-height: 21px; } }

#what-you-get { z-index: 1; margin-top: -20px; }

.what-you-get .item:nth-child(even) { background-color: #048d99; }
@media screen and (min-width: 768px) { .what-you-get .item:nth-child(even) { -ms-transform: skew(0, -3deg); /* IE 9 */ transform: skew(0, -3deg); /* Standard syntax */ } }
.what-you-get .item:nth-child(odd) { background-color: #049fad; }
@media screen and (min-width: 768px) { .what-you-get .item:nth-child(odd) { -ms-transform: skew(0, 3deg); /* IE 9 */ transform: skew(0, 3deg); /* Standard syntax */ } }
.what-you-get .item > .inner { padding: 30px 0; }
@media screen and (min-width: 768px) { .what-you-get .item > .inner { padding: 60px 0; } }
.what-you-get .item .img-sec { height: 80px; }
@media screen and (min-width: 768px) { .what-you-get .item .img-sec { height: 100px; } }

.about-doctor .post { font-size: 18px; margin-bottom: 20px; }
@media screen and (min-width: 768px) { .about-doctor .post { font-size: 20px; } }
.about-doctor .head { font-size: 40px; line-height: 40px; margin-bottom: 25px; }
@media screen and (min-width: 768px) { .about-doctor .head { font-size: 55px; line-height: 55px; } }
.about-doctor .desc { font-size: 17px; margin-bottom: 30px; }
@media screen and (min-width: 768px) { .about-doctor .desc { font-size: 18px; margin-bottom: 50px; max-width: 600px; } }

#our-speciality { background: #efefee url("../images/our-speciality/main-bg.png") no-repeat 0 0/cover; }

@media screen and (min-width: 768px) { .our-speciality { padding-left: 30px; padding-right: 30px; } }
.our-speciality .item { padding: 15px; }
.our-speciality .item > .inner { transition: 0.2s; padding: 20px 0px; }
@media screen and (min-width: 768px) { .our-speciality .item > .inner { padding: 40px 15px; } }
.our-speciality .item .img-sec { height: 100px; width: 100px; border: 3px solid #049fad; padding: 5px; }
.our-speciality .item:hover > .inner { background-color: #049fad; }
.our-speciality .item:hover .text-sec p { color: #fff; }

.meet-doctors .item > .inner { transition: 0.2s; }
.meet-doctors .item .img-sec { height: 200px; width: 200px; }
.meet-doctors .item .text-sec .doc-name { font-size: 18px; margin-bottom: 15px; }
@media screen and (min-width: 768px) { .meet-doctors .item .text-sec .doc-name { font-size: 23px; line-height: 23px; } }
.meet-doctors .item .text-sec .doc.desg { color: #049fad; margin-bottom: 15px; }
.meet-doctors .item .text-sec .doc.desg::after { content: ''; display: block; height: 2px; width: 35px; margin: 4px auto 0; background-color: #049fad; transition: 0.4s; }
.meet-doctors .item:hover .text-sec .doc.desg::after { width: 50px; }

#our-services { background-color: #efefef; }

.our-services .item > .inner { -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1); }
.our-services .img-sec .icon { bottom: 0; left: 50%; -webkit-transform: translate(-50%, 50%); transform: translate(-50%, 50%); background: #44a6e3; height: 85px; width: 85px; border: 9px solid #fff; }
.our-services .text-sec { padding-top: 50px; }
.our-services .text-sec .head { font-size: 18px; margin-bottom: 15px; }
@media screen and (min-width: 768px) { .our-services .text-sec .head { font-size: 23px; line-height: 23px; } }

/*# sourceMappingURL=style.css.map */
