html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

@font-face { font-family: "opensans-regular"; src: url("../fonts/open-sans/OpenSans-Regular.ttf") format("truetype"); }
@font-face { font-family: "opensans-light"; src: url("../fonts/open-sans/OpenSans-Light.ttf") format("truetype"); }
@font-face { font-family: "montserrat-regular"; src: url("../fonts/montserrat/Montserrat-Regular.otf") format("truetype"); }
@font-face { font-family: "montserrat-light"; src: url("../fonts/montserrat/Montserrat-Light.otf") format("truetype"); }
@font-face { font-family: "montserrat-medium"; src: url("../fonts/montserrat/Montserrat-Medium.otf") format("truetype"); }
@font-face { font-family: "montserrat-semibold"; src: url("../fonts/montserrat/Montserrat-SemiBold.otf") format("truetype"); }
@font-face { font-family: "montserrat-bold"; src: url("../fonts/montserrat/Montserrat-Bold.otf") format("truetype"); }
/* width */
::-webkit-scrollbar { width: 5px; }

/* Track */
::-webkit-scrollbar-track { background: #e2e2e2; }

/* Handle */
::-webkit-scrollbar-thumb { background: #1bc0d9; border-radius: 15px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #0f707f; }

.clear-parent::after { content: ""; display: block; clear: both; }

.owl-theme .owl-nav.disabled + .owl-dots { margin-top: 5px; }

.owl-theme .owl-dots .owl-dot span { margin: 3px 4px; background: #fff; }

.form-control:focus { -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 141, 149, 0.8); box-shadow: 0px 0px 3px 0px rgba(0, 141, 149, 0.8); }

.admin-default-btn { background-color: #AFD623; color: #fff; font: 14px "montserrat-regular", sans-serif; padding: 10px 12px 10px; transition: 0.1s; }
.admin-default-btn:hover { color: #fff; }
.admin-default-btn:focus { box-shadow: none; }
.admin-default-btn:active { background: #92b31d; }

.admin-geadient-background { background: #afd625; background: -moz-linear-gradient(90deg, #afd625 0%, #00a3aa 88%); background: -webkit-linear-gradient(90deg, #afd625 0%, #00a3aa 88%); background: linear-gradient(90deg, #afd625 0%, #00a3aa 88%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#afd625",endColorstr="#00a3aa",GradientType=1); }

@media screen and (max-width: 768px) { .container, .container-fluid { padding-left: 10px; padding-right: 10px; } }

#admin-breadcrumbs { border-radius: 50px; padding: 10px 5px; margin-bottom: 15px; }
@media screen and (min-width: 768px) { #admin-breadcrumbs { padding: 15px 10px; background: #fff; margin-bottom: 40px; } }

.admin-breadcrumbs .AB_LT .head { font: 20px "montserrat-semibold", "sans-serif"; color: #333; }
.admin-breadcrumbs .AB_RT ul li { font: 15px "montserrat-regular", "sans-serif"; }
.admin-breadcrumbs .AB_RT ul li a { color: #333; display: block; text-decoration: none; padding: 0 5px; transition: 0.3s; }
.admin-breadcrumbs .AB_RT ul li a i { font-size: 15px; color: #777; margin-right: 5px; position: relative; top: 2px; }
.admin-breadcrumbs .AB_RT ul li a:hover { color: #1598ac; }
.admin-breadcrumbs .AB_RT ul li:last-child { font-family: "montserrat-semibold", "sans-serif"; }
.admin-breadcrumbs .AB_RT ul li:last-child a { padding-right: 0; pointer-events: none; }
.admin-breadcrumbs .AB_RT ul li:not(:last-child) a:after { content: "/"; position: relative; right: -5px; }

.std-search-bar .SSB_LT { width: 170px; }
.std-search-bar .SSB_LT .btn { height: 50px; font: 16px "montserrat-semibold", "sans-serif"; color: #000; }
.std-search-bar .SSB_LT .btn i { border-radius: 100%; border: 2px solid #000; color: #000; font-size: 16px; }
.std-search-bar .SSB_LT .btn span { margin-left: 9px; }
.std-search-bar .SSB_RT { width: calc(100% - 170px); padding-left: 25px; }
.std-search-bar .SSB_RT .form-group input { height: 50px; -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1); font: 15px "montserrat-regular", "sans-serif"; }

.admin-detail-main_table table { width: 100%; }
.admin-detail-main_table table td, .admin-detail-main_table table th { vertical-align: top; padding: 10px 10px; }
@media screen and (min-width: 768px) { .admin-detail-main_table table td, .admin-detail-main_table table th { padding: 20px 14px; } }
.admin-detail-main_table table thead th, .admin-detail-main_table table thead td { font: 14px "montserrat-bold", "sans-serif"; color: #000; }
.admin-detail-main_table table tbody tr:nth-child(even) { background: #efefef; }
.admin-detail-main_table table tbody tr:nth-child(odd) { background: #d7f3f6; }
.admin-detail-main_table table tbody td { font: 14px "montserrat-semibold", "sans-serif"; color: #000; border-bottom: 3px solid #fff; }

.round-icon-button { background-color: #AFD623; height: 40px; width: 40px; text-decoration: none !important; color: #333; transition: 0.2s; }
.round-icon-button i { font-size: 20px; }
.round-icon-button:hover { background-color: #b9de35; color: #222; }
.round-icon-button:active { background-color: #9dc01f; }

.admin-pagination { margin-top: 40px; margin-bottom: 40px; }
.admin-pagination ul li { font: 16px "montserrat-bold", "sans-serif"; margin: 0 3px; }
.admin-pagination ul li a { height: 38px; width: 38px; text-decoration: none !important; color: #111; transition: 0.2s; }
.admin-pagination ul li a i { font-size: 20px; }
.admin-pagination ul li a:hover { background-color: #1598ac; color: #fff; }
.admin-pagination ul li a:active { background-color: #0f707f; }
.admin-pagination ul li.active a { background-color: #1598ac; color: #fff; }

.admin-form { margin-top: 15px; }
@media screen and (min-width: 768px) { .admin-form { margin-top: 35px; } }
.admin-form .form-group { width: 100%; margin-bottom: 15px; }
@media screen and (min-width: 768px) { .admin-form .form-group { margin-bottom: 30px; } }
.admin-form .form-group > label { font: 15px "montserrat-bold", "sans-serif"; color: #000; margin-bottom: 10px; }
.admin-form .form-group > input, .admin-form .form-group > select { height: 45px; }
@media screen and (min-width: 768px) { .admin-form .form-group > input, .admin-form .form-group > select { height: 55px; } }
.admin-form .form-group > input, .admin-form .form-group > select, .admin-form .form-group > textarea { font: 15px "montserrat-regular", "sans-serif"; color: #333; background: #F8F8F8; border-color: #d5d5d5; }
.admin-form .form-group > input:hover, .admin-form .form-group > select:hover, .admin-form .form-group > textarea:hover { border-color: #9b9b9b; }
.admin-form .form-lt, .admin-form .form-rt { width: 50%; }
.admin-form .form-lt { padding-right: 10px; }
@media screen and (min-width: 768px) { .admin-form .form-lt { padding-right: 20px; } }
.admin-form .form-rt { padding-left: 10px; }
@media screen and (min-width: 768px) { .admin-form .form-rt { padding-left: 20px; } }
.admin-form .submit-btn .btn { font: 17px "montserrat-semibold", "sans-serif"; padding: 12px 25px; background: #1598ac; }
@media screen and (min-width: 768px) { .admin-form .submit-btn .btn { padding: 14px 51px; } }
.admin-form .submit-btn .btn:hover { background-color: #18acc3; }
.admin-form .submit-btn .btn:active { background-color: #128495; }

body { font-family: "opensans-regular", sans-serif; background-color: #eaeaea; }

html, body, #admin-login { height: 100%; }

.login-background { background: #d1f1f3 url("../images/login-background.jpg") no-repeat 0 0/cover; }

.admin-login { overflow: auto; height: calc(100% - 20px); padding: 15px; }
.admin-login .AL_main { width: 100%; }
@media screen and (min-width: 768px) { .admin-login .AL_main { width: 350px; } }
.admin-login .AL_main > .inner { background-color: #fff; border-radius: 5px; padding: 20px; -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2); box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2); }
@media screen and (min-width: 768px) { .admin-login .AL_main > .inner { padding: 40px; } }
.admin-login .AL_main .logo { margin-bottom: 30px; }
.admin-login .AL_main .logo img { width: 180px; margin: 0 auto; }
@media screen and (min-width: 768px) { .admin-login .AL_main .logo img { width: 210px; } }
.admin-login .AL_main .login-form .form-group input { padding-left: 45px; overflow: hidden; font-size: 13px; height: 40px; color: #333; border-color: #d4d4d4; border-radius: 4px; }
@media screen and (min-width: 768px) { .admin-login .AL_main .login-form .form-group input { font-size: 14px; height: 45px; } }
.admin-login .AL_main .login-form .form-group input:hover, .admin-login .AL_main .login-form .form-group input:valid { border-color: #b4b4b4; }
.admin-login .AL_main .login-form .icon { background: #eaeaea; left: 1px; top: 1px; width: 35px; height: calc(100% - 2px); border-radius: 4px 0px 0px 4px; }
.admin-login .AL_main .login-form .icon img { width: 13px; }
.admin-login .AL_main .login-form .submit-btn { margin-top: 15px; }
@media screen and (min-width: 768px) { .admin-login .AL_main .login-form .submit-btn { margin-top: 35px; } }

#admin-login { height: 100%; }

.admin-left-bar { width: 260px; transition: 0.1s; }
.admin-left-bar.hide-bar { width: 56px; }

.admin-content-area { transition: 0.1s; width: calc(100% - 260px); overflow: auto; }
.admin-content-area.expand { width: calc(100% - 56px); }

.admin-left-bar { background-color: #fff; -webkit-box-shadow: 3px 0px 9px 0px #c3c3c3; box-shadow: 3px 0px 9px 0px #c3c3c3; }
.admin-left-bar .logo { padding: 10px; border-bottom: 1px solid #eaeaea; }
.admin-left-bar .logo img { width: 165px; margin: 0 auto; }
.admin-left-bar .menu { padding-top: 10px; height: calc(100% - 113px); overflow: auto; }
.admin-left-bar .menu > ul > li { font: 15px "montserrat-medium", sans-serif; }
.admin-left-bar .menu > ul > li > a { text-decoration: none; padding: 13px 15px 11px; transition: 0.1s; text-transform: capitalize; }
.admin-left-bar .menu > ul > li > a > i { font-size: 20px; position: relative; top: 0px; color: #333; }
.admin-left-bar .menu > ul > li > a > span { margin-left: 13px; color: #000; }
.admin-left-bar .menu > ul > li:hover > a, .admin-left-bar .menu > ul > li.active > a { background-color: #f2f2f2; }
.admin-left-bar .menu > ul > li:hover > a > i, .admin-left-bar .menu > ul > li:hover > a > span, .admin-left-bar .menu > ul > li.active > a > i, .admin-left-bar .menu > ul > li.active > a > span { color: #1598ac; }
.admin-left-bar .menu > ul > li:active > a { background-color: #d1d1d1; }
.admin-left-bar.hide-bar .menu { height: calc(100% - 40px); }
.admin-left-bar.hide-bar .menu > ul > li > a > span { display: none; }

.admin-header { padding: 10px 0; }
@media screen and (min-width: 768px) { .admin-header { padding: 13px 10px; } }
.admin-header .LT { width: calc(100% - 150px); }
.admin-header .LT .inner > a { width: 70px; z-index: 1; }
.admin-header .LT .inner > a i { color: #000; font-size: 31px; border-radius: 100%; padding: 3px; transition: 0.2s; margin-left: -6px; }
.admin-header .LT .inner > a i:active { background-color: #c1e14b; }
.admin-header .LT .inner > .form-group { width: calc(80% - 70px); }
.admin-header .LT .inner > .form-group input { border-radius: 40px; height: 40px; font-size: 15px; border-color: #d4d4d4; padding: 2px 20px; }
.admin-header .LT .inner > .form-group input:hover { border-color: #b4b4b4; }
.admin-header .RT { width: 150px; }
.admin-header .RT ul li { font: 15px "montserrat-semibold", "sans-serif"; }
.admin-header .RT ul li i { font-size: 21px; }
.admin-header .RT ul li a { color: #fff; text-decoration: none; transition: 0.3s; }
.admin-header .RT ul li a span { margin-left: 10px; }
.admin-header .RT ul li a:hover { color: #e6e6e6; }

.wrapper { padding: 10px 10px 0; }
@media screen and (min-width: 768px) { .wrapper { padding: 35px 45px 0; } }

#admin-details-table { background-color: #fff; border-radius: 2px; -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); }
#admin-details-table > .container, #admin-details-table .container-fluid { padding-left: 0; padding-right: 0; }

.admin-details-table { padding: 10px; }
@media screen and (min-width: 768px) { .admin-details-table { padding: 20px; } }
.admin-details-table .admin-detail-main_table { margin-top: 25px; }

#admin-footer { border-top: 1px solid #9a9a9a; padding: 10px 0; margin-top: 30px; }
@media screen and (min-width: 768px) { #admin-footer { padding: 20px 0; } }

.admin-footer p, .admin-footer a { font: 15px "montserrat-medium", "sans-serif"; color: #111; }
.admin-footer a { margin-left: 5px; }

/*# sourceMappingURL=style.css.map */
