@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* RESPONSIVE BREAKPOINTS */
/* SCROLLBAR */
/* width */
::-webkit-scrollbar { width: 5px; }

/* Track */
::-webkit-scrollbar-track { background: #e2e2e2; }

/* Handle */
::-webkit-scrollbar-thumb { background: #f07d45; border-radius: 15px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #bf4910; }

/* COLORS STYLES */
/* COLORS */
.background-primary { background-color: #06a0a8 !important; }

.background-secondary { background-color: #ec5c16 !important; }

/* BUTTONS STYLES */
button.no-browser-style { background: transparent; padding: initial; line-height: normal; outline: none; border: none; }

.st-round-icon-btn { height: 40px; width: 40px; background: #333; color: #fff; font-size: 20px; transition: 0.2s; }
.st-round-icon-btn:hover { background-color: #262626; color: #fff; }
.st-round-icon-btn:active { background-color: #1a1a1a; color: #fff; }
.st-round-icon-btn.st-round-icon-btn-primary { background-color: #07bcc6; }
.st-round-icon-btn.st-round-icon-btn-primary:hover { background-color: #07b3bc; }
.st-round-icon-btn.st-round-icon-btn-primary:active { background-color: #059299; }
.st-round-icon-btn.st-round-icon-btn-secondary { background-color: #ee7032; }
.st-round-icon-btn.st-round-icon-btn-secondary:hover { background-color: #ee6929; }
.st-round-icon-btn.st-round-icon-btn-secondary:active { background-color: #e05612; }
.st-round-icon-btn.st-round-icon-btn-transparent { background-color: transparent; color: #fff; }
.st-round-icon-btn.st-round-icon-btn-transparent-hover-black { background-color: transparent; color: #fff; }
.st-round-icon-btn.st-round-icon-btn-transparent-hover-black:hover { color: #3d3d3d; }
.st-round-icon-btn.st-round-icon-btn-transparent-hover-black:active { color: #3d3d3d; }
.st-round-icon-btn.st-round-icon-btn-transparent-hover-white { background-color: transparent; color: #3d3d3d; }
.st-round-icon-btn.st-round-icon-btn-transparent-hover-white:hover { color: #fff; }
.st-round-icon-btn.st-round-icon-btn-transparent-hover-white:active { color: #fff; }

.st-btn { background-color: #d8d8d8; color: #000; padding: 6px 15px 7px; border: none; border-radius: 5px; box-shadow: none !important; font-size: 15px; transition: 0.2s; }
@media screen and (min-width: 576px) { .st-btn { padding: 10px 15px; } }
.st-btn:hover { background-color: #bfbfbf; }
.st-btn:active { background-color: #b2b2b2; }
.st-btn.st-btn-sm { padding-top: 5px; padding-bottom: 5px; }
@media screen and (min-width: 576px) { .st-btn.st-btn-sm { padding-top: 7px; padding-bottom: 7px; } }
.st-btn.st-btn-secondary { background-color: #ec5c16; color: #fff; }
.st-btn.st-btn-secondary:hover { background-color: #d75212; color: #fff; }
.st-btn.st-btn-secondary:active { background-color: #bf4910; color: #fff; }
.st-btn.st-btn-secondary-light { background-color: #f9cfbb; color: #ec5c16; color: #fff; }
.st-btn.st-btn-secondary-light:hover { background-color: #ec5c16; color: #fff; }
.st-btn.st-btn-secondary-light:active { background-color: #d75212; color: #fff; }
.st-btn.st-btn-outlined-secondary { background-color: transparent; border: 1px solid #ec5c16; color: #ec5c16; }
.st-btn.st-btn-outlined-secondary:hover { background-color: #ec5c16; color: #fff; }
.st-btn.st-btn-outlined-secondary:active { background-color: #d75212; color: #fff; }
.st-btn.st-btn-primary { background-color: #06a0a8; color: #fff; }
.st-btn.st-btn-primary:hover { background-color: #05898f; color: #fff; }
.st-btn.st-btn-primary:active { background-color: #047177; color: #fff; }
.st-btn.st-btn-primary-light { background-color: #b1f8fc; color: #06a0a8; }
.st-btn.st-btn-primary-light:hover { background-color: #06a0a8; color: #fff; }
.st-btn.st-btn-primary-light:active { background-color: #05898f; color: #fff; }
.st-btn.st-btn-outlined-primary { background-color: transparent; border: 1px solid #06a0a8; color: #06a0a8; }
.st-btn.st-btn-outlined-primary:hover { background-color: #06a0a8; color: #fff; }
.st-btn.st-btn-outlined-primary:active { background-color: #05898f; color: #fff; }
.st-btn.st-btn-outlined-black { background-color: transparent; border: 1px solid #3d3d3d; color: #3d3d3d; }
.st-btn.st-btn-outlined-black:hover { background-color: #3d3d3d; color: #fff; }
.st-btn.st-btn-outlined-black:active { background-color: #303030; color: #fff; }
.st-btn.st-btn-outlined-white { background-color: transparent; border: 1px solid #fff; color: #fff; }
.st-btn.st-btn-outlined-white:hover { background-color: #fff; color: #ec5c16; }
.st-btn.st-btn-outlined-white:active { background-color: #f2f2f2; color: #ec5c16; }
.st-btn.st-btn-white { background-color: #fff; color: #333; }
.st-btn.st-btn-white:hover { background-color: #f2f2f2; color: #333; }
.st-btn.st-btn-white:active { background-color: #e6e6e6; color: #333; }
.st-btn.st-btn-white:focus { color: #333; }
.st-btn.st-btn-dark { background-color: #333; color: #fff; }
.st-btn.st-btn-dark:hover { background-color: #262626; color: #fff; }
.st-btn.st-btn-dark:active { background-color: #1a1a1a; color: #fff; }
.st-btn.st-btn-dark:focus { color: #fff; }

/* TEXT STYLES */
.text-decoration-line-through { text-decoration: line-through !important; }

.text-decoration-underline { text-decoration: underline !important; }

/* FONT WEIGHT CLASSES */
.font-weight-100 { font-weight: 100 !important; }

.font-weight-200 { font-weight: 200 !important; }

.font-weight-300 { font-weight: 300 !important; }

.font-weight-400 { font-weight: 400 !important; }

.font-weight-500 { font-weight: 500 !important; }

.font-weight-600 { font-weight: 600 !important; }

.font-weight-700 { font-weight: 700 !important; }

.font-weight-800 { font-weight: 800 !important; }

.font-weight-900 { font-weight: 900 !important; }

/* SIZES */
.font-size-10 { font-size: 10px !important; }

.font-size-11 { font-size: 11px !important; }

.font-size-12 { font-size: 12px !important; }

.font-size-13 { font-size: 13px !important; }

.font-size-14 { font-size: 14px !important; }

.font-size-15 { font-size: 15px !important; }

.font-size-16 { font-size: 16px !important; }

.font-size-17 { font-size: 17px !important; }

.font-size-18 { font-size: 18px !important; }

.font-size-19 { font-size: 19px !important; }

.font-size-20 { font-size: 20px !important; }

.font-size-24 { font-size: 24px !important; }

/* COLORS */
.st-text-black { color: #000 !important; }

.st-text-gray { color: gray !important; }

.st-text-primary { color: #06a0a8 !important; }

.st-text-secondary { color: #ec5c16 !important; }

a.st-text-primary:hover { color: #047177 !important; }

a.st-text-secondary:hover { color: #bf4910 !important; }

.st-text-light { color: #6e6e6e !important; }

a.st-text-light:hover { color: #555555 !important; }

.st-text-dark { color: #3d3d3d !important; }

a.st-text-dark:hover { color: #242424 !important; }

/* HEADING STYLES */
/* HEADING STYLES */
.st-main-heading .st-heading { font-size: 20px; color: #333; }
@media screen and (min-width: 768px) { .st-main-heading .st-heading { font-size: 23px; } }
@media screen and (min-width: 768px) { .st-main-heading.st-heading-md .st-heading { font-size: 30px; } }
.st-main-heading.st-heading-lg .st-heading { font-size: 25px; }
@media screen and (min-width: 768px) { .st-main-heading.st-heading-lg .st-heading { font-size: 35px; } }

/* FORMS STYLES */
.st-form > input:not([type="radio"]):not([type="checkbox"]), .st-form > select, .st-form > textarea { border-radius: 5px; -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1); box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1); padding: 10px 15px; color: #3d3d3d; transition: 0.1s; }
.st-form > input:not([type="radio"]):not([type="checkbox"])::placeholder, .st-form > select::placeholder, .st-form > textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */ color: #6e6e6e; opacity: 1; /* Firefox */ }
.st-form > input:not([type="radio"]):not([type="checkbox"]):-ms-input-placeholder, .st-form > select:-ms-input-placeholder, .st-form > textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */ color: #6e6e6e; }
.st-form > input:not([type="radio"]):not([type="checkbox"])::-ms-input-placeholder, .st-form > select::-ms-input-placeholder, .st-form > textarea::-ms-input-placeholder { /* Microsoft Edge */ color: #6e6e6e; }
.st-form > input:not([type="radio"]):not([type="checkbox"]):focus, .st-form > select:focus, .st-form > textarea:focus { -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3); box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3); border-color: #bfbfbf; }
@media screen and (min-width: 576px) { .st-form > input:not([type="radio"]):not([type="checkbox"]), .st-form > select { height: 45px; } }
@media screen and (min-width: 576px) { .st-form.st-form-sm > input:not([type="radio"]):not([type="checkbox"]), .st-form.st-form-sm > select { height: 40px; } }
.st-form.lt, .st-form.rt { width: 100%; }
@media screen and (min-width: 768px) { .st-form.lt, .st-form.rt { width: 50%; }
  .st-form.lt { padding-right: 7.5px; }
  .st-form.rt { padding-left: 7.5px; } }
.st-form.input-underline > input:not([type="radio"]):not([type="checkbox"]), .st-form.input-underline > select, .st-form.input-underline > textarea { background-color: transparent; border: none; border-bottom: 1px solid #bfbfbf; padding-left: 0; padding-right: 0; border-radius: 0; box-shadow: none; }
.st-form.input-underline > input:not([type="radio"]):not([type="checkbox"]):focus, .st-form.input-underline > select:focus, .st-form.input-underline > textarea:focus { border-color: #06a0a8; }
.st-form.with-icon > input:not([type="radio"]):not([type="checkbox"]), .st-form.with-icon > select, .st-form.with-icon > textarea, .st-form.with-icon-text > input:not([type="radio"]):not([type="checkbox"]), .st-form.with-icon-text > select, .st-form.with-icon-text > textarea { padding-right: 40px; }
.st-form.with-icon .icon, .st-form.with-icon-text .icon { top: 50%; right: 10px; -webkit-transform: translatey(-50%); transform: translatey(-50%); font-size: 24px; color: #6e6e6e; transition: 0.3s; }
.st-form.with-icon .icon:hover, .st-form.with-icon-text .icon:hover { color: #3d3d3d; }
.st-form.with-icon-text > input:not([type="radio"]):not([type="checkbox"]), .st-form.with-icon-text > select, .st-form.with-icon-text > textarea { padding-right: 55px; }

.ST_def-mar-T, .ST_def-mar-TB { margin-top: 20px; }
@media screen and (min-width: 992px) { .ST_def-mar-T, .ST_def-mar-TB { margin-top: 35px; } }
@media screen and (min-width: 1200px) { .ST_def-mar-T, .ST_def-mar-TB { margin-top: 50px; } }

.ST_def-mar-B, .ST_def-mar-TB { margin-bottom: 20px; }
@media screen and (min-width: 992px) { .ST_def-mar-B, .ST_def-mar-TB { margin-bottom: 35px; } }
@media screen and (min-width: 1200px) { .ST_def-mar-B, .ST_def-mar-TB { margin-bottom: 50px; } }

.ST_def-pad-T, .ST_def-pad-TB { padding-top: 20px; }
@media screen and (min-width: 992px) { .ST_def-pad-T, .ST_def-pad-TB { padding-top: 35px; } }
@media screen and (min-width: 1200px) { .ST_def-pad-T, .ST_def-pad-TB { padding-top: 50px; } }

.ST_def-pad-B, .ST_def-pad-TB { padding-bottom: 20px; }
@media screen and (min-width: 992px) { .ST_def-pad-B, .ST_def-pad-TB { padding-bottom: 35px; } }
@media screen and (min-width: 1200px) { .ST_def-pad-B, .ST_def-pad-TB { padding-bottom: 50px; } }

.app-badge { background: #333; padding: 2px; height: 22px; width: 22px; top: 0; right: -5px; color: #fff; }
.app-badge.app-badge-primary { background-color: #06a0a8; }
.app-badge.app-badge-secondary { background-color: #ec5c16; }

.img-fluid-height { max-height: 100%; }

.st-common-slider-img-sec { height: 150px; }
.st-common-slider-img-sec > img { width: auto !important; }

.app-devider { height: 1px; width: 100%; background-color: #bfbfbf; }

.or-text::after { content: ""; background-color: #bfbfbf; height: 1px; width: 100%; position: absolute; top: 50%; left: 0; -webkit-transform: translatey(-50%); transform: translatey(-50%); }
.or-text span { z-index: 1; background-color: #fff; padding: 0 5px; color: #bfbfbf; }

#st-breadcrumbs { margin: 20px 0; }

.st-breadcrumbs ul li:not(:last-child)::after { content: ">"; margin: 0 8px 0 5px; }
.st-breadcrumbs ul li a { color: #06a0a8; }
.st-breadcrumbs ul li:last-child a { color: #3d3d3d; pointer-events: none; }

.st-radio { font-weight: normal; cursor: pointer; }
.st-radio .round { height: 16px; width: 16px; padding: 2px; border: 2px solid #06a0a8; margin-top: 3px; }
.st-radio .round .round-inner { background-color: #06a0a8; opacity: 0; transition: 0.2s; }
.st-radio.st-radio-white .round { border-color: #fff; }
.st-radio.st-radio-white .round .round-inner { background-color: #ec5c16; }
.st-radio .text { transition: 0.2s; }
.st-radio .text:hover { color: #111 !important; }
.st-radio.st-radio-white .text { color: #fff !important; }
.st-radio.st-radio-white .text:hover { color: #fff !important; }
.st-radio > input:checked + .round .round-inner { opacity: 1; }
.st-radio > input:checked ~ .text { color: #111 !important; }
.st-radio.st-radio-white > input:checked ~ .text { color: #fff !important; }

.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single { font-size: 11px; background-color: #3d3d3d; }

.irs--round .irs-from:before, .irs--round .irs-to:before, .irs--round .irs-single:before { border-top-color: #3d3d3d; }

.irs--round .irs-bar { background-color: #3d3d3d; }

.irs--round .irs-handle { top: 28px; width: 20px; height: 20px; border-width: 2px; border-color: #3d3d3d; }

.quantity-select-controls > button, .quantity-select-controls > input { height: 35px; border: 1px solid #bfbfbf; }
.quantity-select-controls > button:hover, .quantity-select-controls > button:focus, .quantity-select-controls > button:active, .quantity-select-controls > input:hover, .quantity-select-controls > input:focus, .quantity-select-controls > input:active { border-color: #bfbfbf; }
.quantity-select-controls > button { width: 35px; padding: 0; }
.quantity-select-controls > button.minus { margin-right: -1px; }
.quantity-select-controls > button.plus { margin-left: -1px; }
.quantity-select-controls > input { width: 50px; box-shadow: none !important; padding: 0 5px; }
.quantity-select-controls > input::-webkit-inner-spin-button, .quantity-select-controls > input::-webkit-outer-spin-button { -webkit-appearance: none; }

.st-ratings-count .lt-sec { width: 120px; }
@media screen and (min-width: 992px) { .st-ratings-count .lt-sec { width: 135px; } }
.st-ratings-count .lt-sec .head { font-size: 45px; line-height: 45px; }
.st-ratings-count .rt-sec { border-left: 1px solid #bfbfbf; padding-left: 18px; }
@media screen and (min-width: 992px) { .st-ratings-count .rt-sec { padding-left: 30px; } }
.st-ratings-count .rt-sec .frac .progress { height: 5px; }
.st-ratings-count .rt-sec .frac .progress .progress-bar { background-color: #6e6e6e; }
.st-ratings-count .rt-sec .frac.five-star .progress-bar, .st-ratings-count .rt-sec .frac.four-star .progress-bar, .st-ratings-count .rt-sec .frac.three-star .progress-bar { background-color: #06a0a8; }
.st-ratings-count .rt-sec .frac.three-star .progress-bar { opacity: 0.5; }
.st-ratings-count .rt-sec .frac.two-star .progress-bar { background-color: #fcb301; }
.st-ratings-count .rt-sec .frac.one-star .progress-bar { background-color: #f16565; }

.st-tag { background: transparent url("../images/tag-bg.png") no-repeat left center; padding: 6px 40px 6px 15px; }

.navbar-toggler { font-size: 25px; padding: 3px 7px; border-radius: 4px; }
@media screen and (min-width: 576px) { .navbar-toggler { padding: 6px 9px; } }

.st-star-rating li i.fas.fa-star { color: #fed43b; }
.st-star-rating li i.far.fa-star { color: #6e6e6e; }

.custom-modal .close { z-index: 1; top: 10px; right: 10px; }
.custom-modal .modal-content { border-radius: 4px; }

.upload-prescription-input .show-file-name { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; max-width: 100%; }

.st-text-check { font-weight: normal; cursor: pointer; }
.st-text-check .text { border: 1px solid #6e6e6e; color: #6e6e6e; transition: 0.3s; padding: 6px 15px; border-radius: 4px; transition: 0.3s; }
.st-text-check .text:hover { border-color: #3d3d3d; }
.st-text-check input:checked + .text { border-color: #ec5c16; color: #ec5c16; background-color: #ffeadf; }

.star-rating-ul > li:not(:last-child) { margin-right: 2px; }
.star-rating-ul > li label { font-weight: normal; position: relative; cursor: pointer; }
.star-rating-ul > li label > span img { width: 21px; }
.star-rating-ul > li label > span img.gray { display: block; }
.star-rating-ul > li label > span img.colured { display: none; }
.star-rating-ul > li.active > label > span img.gray { display: none; }
.star-rating-ul > li.active > label > span img.colured { display: block; }

body { font-family: "Lato", sans-serif; font-weight: 400; font-size: 14px; color: #3d3d3d; background-color: #e8ebf0; }

#header-top { padding: 5px 0; z-index: 12; position: relative; background-color: #06a0a8; }

.header-top .logo img { width: 110px; }
@media screen and (min-width: 768px) { .header-top .logo img { width: 130px; } }
@media screen and (min-width: 992px) { .header-top .logo img { width: 140px; } }
@media screen and (min-width: 1200px) { .header-top .logo img { width: 150px; } }
@media screen and (min-width: 768px) { .header-top .header-search input { width: 180px; } }
@media screen and (min-width: 992px) { .header-top .header-search input { width: 200px; } }
@media screen and (min-width: 1200px) { .header-top .header-search input { width: 350px; } }
.header-top .header-right ul li { position: relative; }
.header-top .header-right ul li:not(:last-child)::after { content: ""; display: block; height: 13px; width: 1px; background-color: #fff; position: absolute; top: 6px; right: -1px; }
.header-top .header-right .lock-a { pointer-events: none; }

#header-menu { background-color: #fff; }

.header-menu .navbar { padding: 10px 0; }
@media screen and (min-width: 1200px) { .header-menu .navbar { padding: 15px 0; } }
.header-menu .navbar-nav > .nav-item:not(:last-child) { padding-right: 25px; }
.header-menu .navbar-nav > .nav-item > .nav-link { color: #3d3d3d; padding: 2px 0; transition: 0.2s; }
@media screen and (max-width: 1199px) { .header-menu .navbar-nav > .nav-item > .nav-link { padding: 10px 0; } }
.header-menu .navbar-nav > .nav-item > .nav-link > i { color: #6e6e6e; }
.header-menu .navbar-nav > .nav-item > .nav-link:hover { color: #242424; }
.header-menu .navbar-nav > .nav-item > .nav-link.active, .header-menu .navbar-nav > .nav-item > .nav-link:active { color: #242424; }
.header-menu .navbar-nav > .nav-item.dropdown { position: relative; }
.header-menu .navbar-nav > .nav-item.dropdown .dropdown-menu { display: block; border-radius: 4px; transition: 0.3s; top: -100%; opacity: 0; visibility: hidden; }
@media screen and (max-width: 1199px) { .header-menu .navbar-nav > .nav-item.dropdown .dropdown-menu { position: absolute; } }
@media screen and (max-width: 991px) { .header-menu .navbar-nav > .nav-item.dropdown .dropdown-menu { position: static; width: 100%; display: none; } }
.header-menu .navbar-nav > .nav-item.dropdown .dropdown-menu > li > a { color: #3d3d3d; padding: 5px 10px; display: block; transition: 0.1s; }
.header-menu .navbar-nav > .nav-item.dropdown .dropdown-menu > li > a:hover { color: #fff; background-color: #06a0a8; }
.header-menu .navbar-nav > .nav-item.dropdown .dropdown-menu > li > a.active, .header-menu .navbar-nav > .nav-item.dropdown .dropdown-menu > li > a:active { color: #fff; background-color: #05898f; }
.header-menu .navbar-nav > .nav-item:hover.dropdown .dropdown-menu { opacity: 1; visibility: visible; top: 100%; }
@media screen and (max-width: 991px) { .header-menu .navbar-nav > .nav-item:hover.dropdown .dropdown-menu { display: block; } }

@media screen and (min-width: 768px) { #loginModal .modal-dialog { max-width: 700px; } }
@media screen and (min-width: 992px) { #loginModal .modal-dialog { max-width: 800px; } }

#st-common-three-blocks { margin: 20px 0; }

.st-common-three-blocks .item > .inner { padding: 7px; }
.st-common-three-blocks .item.one > .inner { background-color: #b9e6da; border: 1px solid #81d2bc; }
.st-common-three-blocks .item.two > .inner { background-color: #fbeab7; border: 1px solid #f7d56f; }
.st-common-three-blocks .item.three > .inner { background-color: #b9e5ff; border: 1px solid #6dc9ff; }
.st-common-three-blocks .item .img-sec { height: 50px; width: 50px; }
.st-common-three-blocks .item .text-sec { max-width: calc(100% - 50px); }

.home-slider-main .owl-nav .owl-prev, .home-slider-main .owl-nav .owl-next { position: absolute; top: 50%; -webkit-transform: translatey(-50%); transform: translatey(-50%); outline: none !important; box-shadow: none !important; opacity: 0.6; }
.home-slider-main .owl-nav .owl-prev i, .home-slider-main .owl-nav .owl-next i { color: #fff; font-size: 40px; }
.home-slider-main .owl-nav .owl-prev:hover, .home-slider-main .owl-nav .owl-next:hover { opacity: 1; }
.home-slider-main .owl-nav .owl-prev { left: 5px; }
.home-slider-main .owl-nav .owl-next { right: 5px; }

#home-info-block { margin: 20px 0 0; }

.home-info-block { padding: 10px 10px; background-color: #fff; }
@media screen and (min-width: 768px) { .home-info-block { padding: 20px 10px; } }

.category-slider-main { background-color: #fff; padding: 20px 10px 20px; }

.home-four-blocks .item.one > .inner { background-image: url("../images/home-four-block/img1.png"); }
.home-four-blocks .item.one > .inner .st-btn { color: #fa9e45; }
.home-four-blocks .item.two > .inner { background-image: url("../images/home-four-block/img2.png"); }
.home-four-blocks .item.two > .inner .st-btn { color: #6abb69; }
.home-four-blocks .item.three > .inner { background-image: url("../images/home-four-block/img3.png"); }
.home-four-blocks .item.three > .inner .st-btn { color: #8390ef; }
.home-four-blocks .item.four > .inner { background-image: url("../images/home-four-block/img4.png"); }
.home-four-blocks .item.four > .inner .st-btn { color: #e87fcb; }
.home-four-blocks .item > .inner { background-repeat: no-repeat; background-size: 100% 100%; background-position: 0 0; height: 155px; }
.home-four-blocks .item > .inner .text { width: 70%; }

.our-products-slider-main { background-color: #fff; padding: 10px 10px 10px; }
.our-products-slider-main .st-common-slider-item-inner { padding: 10px; transition: 0.3s; border: 1px solid transparent; }
.our-products-slider-main .st-common-slider-item-inner:hover { border-color: #06a0a8; }
.our-products-slider-main .st-common-slider-item-inner:hover .st-btn-outlined-primary { background-color: #06a0a8; color: #fff; }
.our-products-slider-main .price .cut-price { text-decoration: line-through; }

.health-experts-slider-main .item-inner { background-color: #fff; }

@media screen and (min-width: 1200px) { #home-contact { background: transparent url("../images/home-contact/right-bg.png") no-repeat right 91%/52%; } }

.home-contact { margin-top: 20px; }
@media screen and (min-width: 768px) { .home-contact { margin-top: 30px; } }
@media screen and (min-width: 992px) { .home-contact { margin-top: 40px; } }
@media screen and (min-width: 1200px) { .home-contact { margin-top: 100px; } }
.home-contact .nav-tabs { border-bottom: none; margin-bottom: 10px; }
.home-contact .nav-tabs > li { margin-bottom: 5px; padding-right: 10px; }
@media screen and (min-width: 992px) { .home-contact .nav-tabs > li { padding-right: 10px; } }
.home-contact .nav-tabs > li > a { border-radius: 0; padding: 5px; border: none; border: 2px solid transparent; transition: 0.3s; }
.home-contact .nav-tabs > li > a.active, .home-contact .nav-tabs > li > a:hover { border-color: #06a0a8; color: #ec5c16; background-color: transparent; }
@media screen and (min-width: 768px) { .home-contact .tab-content .tab-pane { min-height: 130px; } }
.home-contact .tab-content .tab-pane .head { margin-bottom: 12px; }
.home-contact .tab-content .tab-pane .text { margin-bottom: 12px; }
.home-contact .tab-content .tab-pane .text a { text-decoration: underline; color: #ec5c16; transition: 0.3s; }
.home-contact .tab-content .tab-pane .text a:hover { color: #06a0a8; }
.home-contact .cont-form { background: #fff; -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); padding: 15px; }
@media screen and (min-width: 768px) { .home-contact .cont-form { padding: 30px; } }
@media screen and (min-width: 1200px) { .home-contact .cont-form { padding: 70px 35px; width: 550px; margin-left: auto; } }
.home-contact .cont-form .head { font-size: 19px; font-weight: 600; margin-bottom: 20px; }

.largest-platform { margin-top: 30px; }
@media screen and (min-width: 992px) { .largest-platform { margin-top: 60px; } }
.largest-platform .head { font-size: 20px; }
@media screen and (min-width: 576px) { .largest-platform .head { font-size: 30px; } }

footer { background-color: #384651; }

.footer-top-sec { padding: 20px 0; }
@media screen and (min-width: 576px) { .footer-top-sec { padding: 40px 0; } }
.footer-top-sec .img-sec { border-right: 1px solid #606c76; padding-right: 20px; width: 120px; }
@media screen and (min-width: 576px) { .footer-top-sec .img-sec { padding-right: 40px; width: 210px; } }
.footer-top-sec .text-sec { padding-left: 20px; max-width: calc(100% - 120px); }
@media screen and (min-width: 576px) { .footer-top-sec .text-sec { padding-left: 40px; max-width: calc(100% - 210px); } }
.footer-top-sec .text-sec p { color: #c7d1d9; }

.footer-main { padding-bottom: 20px; }
.footer-main .heading { color: #a9b8c4; }
@media screen and (max-width: 991px) { .footer-main .item { min-width: 160px; } }
@media screen and (max-width: 767px) { .footer-main .item { min-width: 200px; } }
@media screen and (max-width: 575px) { .footer-main .item { min-width: 150px; } }

.footer-bottom-sec .text-sec { border-top: 1px solid #606c76; padding: 20px 0; }

#st-authentication { margin-top: 30px; margin-bottom: 30px; }
@media screen and (min-width: 768px) { #st-authentication { margin-top: 40px; margin-bottom: 40px; } }
@media screen and (min-width: 992px) { #st-authentication { margin-top: 100px; margin-bottom: 100px; } }

.st-authentication .login-inner { margin: 0 auto; }
.st-authentication .login-inner:not(.in-modal) { -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1); border: 1px solid #dfdfdf; }
@media screen and (min-width: 768px) { .st-authentication .login-inner:not(.in-modal) { width: 650px; } }
@media screen and (min-width: 992px) { .st-authentication .login-inner:not(.in-modal) { width: 850px; } }
@media screen and (min-width: 992px) { .st-authentication .login-inner > .lt { min-height: 450px; } }
.st-authentication .login-inner > .lt .inner { background: #06a0a8 url("../images/authentication/bg-icons.png") no-repeat center/auto; }
.st-authentication .login-inner > .rt .inner { padding: 20px; }
@media screen and (min-width: 992px) { .st-authentication .login-inner > .rt .inner { padding: 40px; } }
.st-authentication .login-inner > .rt .nav-tabs { border-bottom: none; padding: 0; margin-bottom: 10px; }
@media screen and (min-width: 768px) { .st-authentication .login-inner > .rt .nav-tabs { margin-bottom: 15px; } }
@media screen and (min-width: 992px) { .st-authentication .login-inner > .rt .nav-tabs { margin-bottom: 25px; } }
.st-authentication .login-inner > .rt .nav-tabs > li { margin-bottom: 0; }
.st-authentication .login-inner > .rt .nav-tabs > li > a { background-color: transparent !important; border: none !important; border-radius: 0; padding: 0; transition: 0.1s; font-size: 26px; color: #888; }
.st-authentication .login-inner > .rt .nav-tabs > li > a.active, .st-authentication .login-inner > .rt .nav-tabs > li > a:hover { color: #ec5c16; }
.st-authentication .login-inner > .rt .nav-tabs > li:first-child > a:after { content: "/"; color: #888; margin: 0 7px; }
.st-authentication .login-inner > .rt .head { font-size: 26px; margin-bottom: 10px; color: #666; }
@media screen and (min-width: 768px) { .st-authentication .login-inner > .rt .head { margin-bottom: 15px; } }
@media screen and (min-width: 992px) { .st-authentication .login-inner > .rt .head { margin-bottom: 25px; } }
.st-authentication .login-inner > .rt .head span { color: #06a0a8; }
.st-authentication .login-inner > .rt .submit-btn, .st-authentication .login-inner > .rt .btns, .st-authentication .login-inner > .rt .or-text { margin-top: 15px; }
@media screen and (min-width: 992px) { .st-authentication .login-inner > .rt .submit-btn, .st-authentication .login-inner > .rt .btns, .st-authentication .login-inner > .rt .or-text { margin-top: 30px; } }
.st-authentication .login-inner > .rt .add-info { margin-top: 15px; }
@media screen and (min-width: 992px) { .st-authentication .login-inner > .rt .add-info { margin-top: 30px; } }
.st-authentication .login-inner > .rt .other-options { margin-top: 20px; }
@media screen and (min-width: 992px) { .st-authentication .login-inner > .rt .other-options { margin-top: 60px; } }
.st-authentication .login-inner > .rt .other-options > a { transition: 0.3s; }
.st-authentication .login-inner > .rt .other-options > ul > li.first { color: #888; }
.st-authentication .login-inner > .rt .other-options > ul > li:not(:last-child) { margin-right: 8px; }
.st-authentication .login-inner > .rt .other-options > ul > li > a { height: 25px; width: 25px; border-radius: 4px; color: #fff; text-decoration: none; font-size: 11px; transition: 0.3s; }
@media screen and (min-width: 992px) { .st-authentication .login-inner > .rt .other-options > ul > li > a { height: 30px; width: 30px; font-size: 17px; } }
.st-authentication .login-inner > .rt .other-options > ul > li.facebook > a { background: #3b5998; }
.st-authentication .login-inner > .rt .other-options > ul > li.facebook > a:hover { background: #344e86; }
.st-authentication .login-inner > .rt .other-options > ul > li.google > a { background: #f14335; }
.st-authentication .login-inner > .rt .other-options > ul > li.google > a:hover { background: #ef2d1d; }

.st-products-listing .st-products-listing-left-bar, .st-products-listing .products-listing-main { width: 100%; }
@media screen and (min-width: 768px) { .st-products-listing .st-products-listing-left-bar { width: 250px; }
  .st-products-listing .products-listing-main { width: calc(100% - 250px); } }

.st-products-listing-left-bar .st-products-listing-left-bar-inner:not(:last-child) { margin-bottom: 20px; }
@media screen and (min-width: 768px) { .st-products-listing-left-bar .st-products-listing-left-bar-inner:not(:last-child) { margin-bottom: 25px; } }
@media screen and (min-width: 992px) { .st-products-listing-left-bar .st-products-listing-left-bar-inner:not(:last-child) { margin-bottom: 40px; } }
.st-products-listing-left-bar .frac .head { transition: 0.3s; }
.st-products-listing-left-bar .frac .head:hover, .st-products-listing-left-bar .frac .head.active { color: #06a0a8; }
.st-products-listing-left-bar .frac > ul { display: none; padding-left: 18px; }
.st-products-listing-left-bar .frac > ul > li > a { color: #6e6e6e; transition: 0.3s; }
.st-products-listing-left-bar .frac > ul > li > a::before { content: "o"; margin-right: 6px; position: relative; top: -2px; font-size: 12px; }
.st-products-listing-left-bar .frac > ul > li > a:hover { color: #06a0a8; }
.st-products-listing-left-bar .frac2 > .inner { max-height: 200px; overflow: auto; }

@media screen and (min-width: 768px) { .products-listing-main { padding-left: 25px; } }
@media screen and (min-width: 992px) { .products-listing-main { padding-left: 40px; } }

.st-common-slider-item.com-product .st-common-slider-item-inner { padding: 10px; transition: 0.3s; border: 1px solid transparent; }
.st-common-slider-item.com-product .st-common-slider-item-inner:hover { border-color: #06a0a8; }
.st-common-slider-item.com-product .st-common-slider-item-inner:hover .st-btn-outlined-primary { background-color: #06a0a8; color: #fff; }
.st-common-slider-item.com-product .price .cut-price { text-decoration: line-through; }

.st-product-detail .product-images, .st-product-detail .product-details { width: 100%; }
@media screen and (min-width: 768px) { .st-product-detail .product-images { width: 300px; }
  .st-product-detail .product-details { width: calc(100% - 300px); } }
@media screen and (min-width: 992px) { .st-product-detail .product-images { width: 350px; }
  .st-product-detail .product-details { width: calc(100% - 350px); } }
.st-product-detail .product-images .big-img { height: 200px; transition: 0.2s; }
@media screen and (min-width: 768px) { .st-product-detail .product-images .big-img { height: 400px; } }
.st-product-detail .product-images .big-img:hover { opacity: 0.8; }
.st-product-detail .thumbnails .item > a { border: 1px solid #bfbfbf; height: 100px; transition: 0.2s; }
.st-product-detail .thumbnails .item > a.active { border-color: #06a0a8; }
.st-product-detail .thumbnails .item > a img { width: auto; }
.st-product-detail .thumbnails .item > a:hover { opacity: 0.8; }
.st-product-detail .product-details { margin-top: 15px; }
@media screen and (min-width: 768px) { .st-product-detail .product-details { margin-top: 0; padding-left: 25px; } }
@media screen and (min-width: 992px) { .st-product-detail .product-details { padding-left: 40px; } }

.st-more-product-detail .nav-tabs > .nav-item { margin-bottom: 0; }
.st-more-product-detail .nav-tabs > .nav-item:not(:last-child) { margin-right: 10px; }
@media screen and (max-width: 1199px) { .st-more-product-detail .nav-tabs > .nav-item { margin-bottom: 10px; } }
.st-more-product-detail .nav-tabs > .nav-item > .nav-link { background-color: #d9d9d9; padding: 10px; color: #6e6e6e; transition: 0.3s; }
@media screen and (min-width: 768px) { .st-more-product-detail .nav-tabs > .nav-item > .nav-link { padding: 15px; } }
.st-more-product-detail .nav-tabs > .nav-item > .nav-link:hover, .st-more-product-detail .nav-tabs > .nav-item > .nav-link.active { background-color: #fff; color: #3d3d3d; }
.st-more-product-detail .tab-pane { padding: 15px; }
@media screen and (min-width: 576px) { .st-more-product-detail .tab-pane { padding: 30px 30px; } }

.related-products-slider-main .owl-nav { position: absolute; top: -47px; right: 0; }
.related-products-slider-main .owl-nav .owl-prev, .related-products-slider-main .owl-nav .owl-next { outline: none !important; box-shadow: none !important; opacity: 0.6; }
.related-products-slider-main .owl-nav .owl-prev i, .related-products-slider-main .owl-nav .owl-next i { font-size: 30px; }
.related-products-slider-main .owl-nav .owl-prev:hover, .related-products-slider-main .owl-nav .owl-next:hover { opacity: 1; }
.related-products-slider-main .owl-nav .owl-prev:hover i, .related-products-slider-main .owl-nav .owl-next:hover i { color: #06a0a8; }
.related-products-slider-main .owl-nav .owl-prev { margin-right: 3px; }
.related-products-slider-main .owl-nav .owl-next { margin-left: 3px; }

.st-checkout .st-checkout-cart-items { width: 100%; margin-bottom: 20px; }
@media screen and (min-width: 768px) { .st-checkout .st-checkout-cart-items { margin-bottom: 0; width: calc(100% - 300px); } }
@media screen and (min-width: 992px) { .st-checkout .st-checkout-cart-items { width: calc(100% - 360px); } }
.st-checkout .products-listing-main { width: 100%; }
@media screen and (min-width: 768px) { .st-checkout .products-listing-main { width: 300px; } }
@media screen and (min-width: 992px) { .st-checkout .products-listing-main { width: 360px; } }

.products-listing-main { padding-left: 0; }
@media screen and (min-width: 768px) { .products-listing-main { padding-left: 25px; } }
@media screen and (min-width: 992px) { .products-listing-main { padding-left: 40px; } }
.products-listing-main .frac:not(:last-child) { margin-bottom: 20px; }
@media screen and (min-width: 768px) { .products-listing-main .frac:not(:last-child) { margin-bottom: 25px; } }
@media screen and (min-width: 992px) { .products-listing-main .frac:not(:last-child) { margin-bottom: 40px; } }
.products-listing-main .frac > .inner { padding: 25px 15px; background-color: #333; }
.products-listing-main .frac .st-tag { margin-left: -15px; }

.cart-product .product-quantity, .cart-product .product-price { width: 150px; }
.cart-product .product-name { -ms-flex: 1; flex: 1; min-width: 250px; }
.cart-product .product-name .img-sec { height: 65px; width: 65px; }
.cart-product .product-name .text-sec { -ms-flex: 1; flex: 1; }

@media screen and (min-width: 768px) { .st-info-links .all-info-links { width: 230px; } }
.st-info-links .all-info-links .nav-item { width: 100%; }
.st-info-links .all-info-links .a-link { background-color: #fff; color: #3d3d3d; padding: 15px; transition: 0.1s; }
@media screen and (min-width: 768px) { .st-info-links .all-info-links .a-link { padding: 23px 20px; }
  .st-info-links .all-info-links .a-link::after { content: ""; position: absolute; right: 0; top: 50%; transform: translate(100%, -50%); border-width: 13px; border-style: solid; border-color: transparent; border-left-color: transparent; } }
.st-info-links .all-info-links .a-link.active, .st-info-links .all-info-links .a-link:hover { background-color: #06a0a8; color: #fff; }
.st-info-links .all-info-links .a-link.active { background-color: #06a0a8; color: #fff; }
@media screen and (min-width: 768px) { .st-info-links .all-info-links .a-link.active { width: calc(100% + (15px + 1px)); } }
.st-info-links .all-info-links .a-link.active::after { border-left-color: #06a0a8; }
@media screen and (min-width: 576px) { .st-info-links .info-sec { width: calc(100% - 230px); padding-left: 15px; } }
.st-info-links .info-sec > .inner { padding: 25px; }
@media screen and (min-width: 576px) { .st-info-links .two-col-info, .st-info-links .two-col-info + .app-devider-outer { width: 70%; } }

.st-whishlist .cart-product .product-name .img-sec { height: 90px; width: 90px; }
.st-whishlist .product-whishlist-btns { width: 250px; }

.st-process-payment .st-process-payment-content { width: 100%; margin-bottom: 20px; }
@media screen and (min-width: 768px) { .st-process-payment .st-process-payment-content { margin-bottom: 0; width: calc(100% - 300px); } }
@media screen and (min-width: 992px) { .st-process-payment .st-process-payment-content { width: calc(100% - 360px); } }
.st-process-payment .products-listing-main { width: 100%; }
@media screen and (min-width: 768px) { .st-process-payment .products-listing-main { width: 300px; } }
@media screen and (min-width: 992px) { .st-process-payment .products-listing-main { width: 360px; } }

/*# sourceMappingURL=style.css.map */
