// sass --watch scss/style.scss:css/style.css --style expanded

@import "components/reset";
@import "components/fonts";
@import "components/variables";
@import "components/mixins";
@import "components/common";

/* FONTS */
/* font-family: 'Arial', sans-serif; */
/* font-family: 'helvetica', sans-serif; */

body {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    // background-color: $secondary-color;
}

/* HOMEPAGE CSS */

/* HEADER */
#header {
    /* top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 99; */
    background-color: $secondary-dark-color;
}


/* HEADER SEARCH */
.header-search {
    .search {
        width: 170px;

        @include min-width($md-main) {
            width: 180px;
        }

        input {
            height: 30px;
            border: 1px solid #ccc;
            border-radius: 8px;
            font-size: 13px;
            padding: 1px 33px 0 7px;
            font-family: 'helvetica', sans-serif;

            @include min-width($md-main) {
                height: 32px;
            }

            &:hover,
            &:focus,
            &:active {
                border-color: #b7b7b7;
            }
        }

        .search-btn {
            background: url('../images/header_search_btn.png') no-repeat center / auto;
            width: 30px;
            height: 30px;
            top: 50%;
            right: 3px;
            @include transform_translatey(-50%);
        }
    }

}

.header {
    padding: 10px 0;

    .logo {
        width: 160px;
    }
}

/* MAIN HEADER */
#main-header {
    border-bottom: 1px solid darken($color: $secondary-color, $amount: 10%);
}

/* MENU */
#menu {
    background-color: #fff;
    border-top: 2px solid $secondary-color;
    border-bottom: 2px solid $secondary-color;
    padding: 2px 0;

    .navbar {
        padding: 0;

        .navbar-toggler {
            .navbar-toggler-icon {
                padding: 7px 0 0;
                font-size: 21px;
                border: 1px solid $primary-color;
                color: $primary-color;
                width: 36px;
                height: 36px;
            }
        }
    }

    .navbar-nav {

        >.nav-item {
            >.nav-link {
                font-family: helvetica, sans-serif;
                font-size: 14px;
                padding: 9px 10px 8px;
                color: #404040;
                border: 1px solid transparent;

                @include max-width($md-less-one) {
                    padding-left: 5px;
                    padding-right: 5px;
                }

                &:hover,
                &.active {
                    color: $primary-text-color;
                    background-color: $secondary-color;
                    border-color: darken($color: $secondary-color, $amount: 2%);
                }

                &.important {
                    color: red;
                }
            }

            &:hover,
            &.active {
                >a {
                    color: $primary-text-color;
                    background-color: $secondary-color;
                    border-color: darken($color: $secondary-color, $amount: 2%);
                }
            }

            &.dropdown {
                .dropdown-menu {
                    // display: block !important;
                    margin: 0;
                    border-radius: 0;
                    padding: 0;
                    background-color: darken($color: $secondary-color, $amount: 5%);
                    border: none;

                    @include min-width($lg-main) {
                        min-width: 200px;

                        &.mega-menu {
                            min-width: 360px;
                        }
                    }

                    .dropdown-item {
                        font-family: helvetica, sans-serif;
                        font-size: 13px;
                        padding: 10px 15px;
                        color: #404040;
                        border-radius: 0;
                        border: 1px solid transparent;
                        border-bottom: 1px dotted #aaa;
                        border-radius: 0;
                        color: $primary-text-color;
                        white-space: normal;

                        @include max-width($md-less-one) {
                            padding-left: 10px;
                            padding-right: 10px;
                        }

                        &:hover {
                            background-color: darken($color: $secondary-color, $amount: 10%);
                        }
                    }

                    .menu-sec {
                        >ul {
                            >li {
                                width: 100%;

                                @include min-width($md-main) {
                                    width: 50%;

                                    &:nth-child(odd) {
                                        .dropdown-item {
                                            text-align: right;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &:hover {
                    .dropdown-menu {
                        display: block !important;
                    }
                }
            }
        }
    }

    .right-btns {}
}

/* TRADMARK */
#trademark {
    background: url('../images/trademarkBG.png') no-repeat center / auto;

    .info-sec {
        border: 2px solid #000;

        .inner {
            padding: 10px 10px;
        }
    }
}

/* FOOTER */
footer {
    background-color: #eaeaea;
    padding: 20px 0;

    .footer-heading {
        margin-bottom: 10px;
        color: #000;

        @include min-width($md-main) {
            font-size: 17px;
        }
    }

    .footer-ul {
        >li {
            padding: 5px 0;

            >a {
                font-size: 14px;
                color: #333;
                @include transition;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }

    .footer-big-links {
        >a {
            line-height: 14px;
            height: 14px;
            @include transition;

            &:not(:last-child) {
                border-right: 2px solid #000;
                margin-right: 5px;
                padding-right: 8px;
            }

            &:hover {
                color: $primary-color;
            }
        }
    }
}

.footer {
    margin-bottom: 30px;
}

/* PROGRAMS CONTAINER */
#programs-container {}

.programs-container {
    >.item {
        padding: 0 1px 15px;

        @include min-width($sm-main) {
            padding-bottom: 25px;

            &:nth-last-child(1),
            &:nth-last-child(2) {
                padding-bottom: 0;
            }
        }

        @include min-width($lg-main) {
            padding-bottom: 40px;

            &:nth-last-child(1),
            &:nth-last-child(2),
            &:nth-last-child(3) {
                padding-bottom: 0;
            }
        }

        .text-sec {
            padding: 0 10px;

            .head {
                color: #666;
                font-size: 14px;
                @include transition;

                &:hover {
                    color: #444;
                }
            }

            .text {
                font-size: 12px;
            }
        }
    }
}


/* VIDEOS PAGE */
.common-container-with-right-bar {

    .common-container-left-sec {
        width: 100%;

        @include min-width($md-main) {
            width: calc(100% - 280px);
        }
    }

    .common-container-right-sec {
        width: 100%;

        @include min-width($md-main) {
            width: 280px;
        }
    }
}

.youtube-video-black-container {
    >.inner {
        @include box-shadow(0px, 0px, 3px, 3px, #ccc);
        background: #000;
        border: solid 1px #fff;
    }

    iframe {
        width: 100%;
        height: 300px;

        @include min-width($md-main) {
            height: 400px;
        }
    }

    .other-details {
        .date {}
    }
}

.show-more-container {
    .text {
        &.less-content {
            height: 50px;
        }
    }
}

.single-fashion-news-block {
    &:hover {
        background-color: #efefef;
    }

    >.inner {}

    .img-sec {
        width: 80px;
        border: 1px solid #ddd;
        padding: 2px;

        img {
            max-height: 100%;
        }
    }

    .time {
        background-color: #000;
        padding: 2px 5px 3px;
        top: 0;
        left: 0;
    }
}

#recent-videos-slider {
    .item {}

    .owl-nav {
        position: absolute;
        top: -50px;
        right: 0;

        button[type="button"] {
            height: 30px;
            width: 30px;
            background-repeat: no-repeat;
            background-size: cover;
            outline: none;
            opacity: 0.6;
            @include transition(.1s);

            span {
                display: none !important;
            }

            &:hover {
                opacity: 1;
            }

            &.owl-prev {
                background-image: url('../images/prev.png');
                margin-right: 5px;
            }

            &.owl-next {
                background-image: url('../images/next.png');
            }
        }
    }
}

.st-video-container {
    .img-sec {
        overflow: hidden;

        img {
            max-height: 100%;
            @include transition(.5s);
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }

    .icon {
        top: 0;
        right: 0;
        color: #fff;
        height: 100%;
        width: 100%;
        padding: 8px 10px;
        text-align: right;
        background: rgba(0, 0, 0, 0.2);
    }
}

.popular-videos {
    .inner {
        margin: 0 -4px;

        .item {
            padding: 0 4px 8px;
        }
    }
}

/* ORIGINAL SERIES AND SPECIALS PAGE */
#original-series-and-specials-container {
    background-image: url('../images/beach-houses.png'), url('../images/original-series-and-specials-bg1.jpg');
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100% 80%;
    background-position: 100% 100px, 0 0;
    background-color: #f9efde;
}

.original-series-and-specials-container {}

.original-series-and-specials-menu {
    background-color: #222;

    .item {
        >a {
            font-size: 15px;
            @include transition;
            padding: 10px 5px;

            @include min-width($lg-main) {
                font-size: 20px;
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.original-series-and-specials-members {
    padding: 20px 20px 40px;

    .left {
        >.inner {
            @include min-width($lg-main) {
                padding-right: 70px;
            }
        }
    }

    .members-list {
        .head {
            padding: 0 5px;
            left: 0;
            bottom: 13px;
        }
    }
}

/* HOMEPAGE CSS */
#home-slider {
    .owl-nav {

        button[type="button"] {
            position: absolute;
            top: 50%;
            @include transform_translatey(-50%);
            height: 30px;
            width: 30px;
            background-repeat: no-repeat;
            background-size: cover;
            outline: none;
            opacity: 0.6;
            @include transition(.1s);

            span {
                display: none !important;
            }

            &:hover {
                opacity: 1;
            }

            &.owl-prev {
                background-image: url('../images/prev.png');
                margin-right: 5px;
                left: 10px;
            }

            &.owl-next {
                background-image: url('../images/next.png');
                right: 10px;
            }
        }
    }
}