// COLORS
// main colors
$primary-color: #222;
$secondary-color: #666;

// other colors
$light-white: #f4f4f4;
$medium-white: #7d7d7d;

$light-white-2: #f0f0f0;

$st-dark-color: #191919;

$sucess-color: #56ca66;
$input-border-color: #d0d0d0;

// MARGINS,PADDING
$defaultGap: 15px;

// RESPONSIVE BREAKPOINTS
$sm-main: 576px;
$sm-less-one: 575px;

$md-main: 768px;
$md-less-one: 767px;

$lg-main: 992px;
$lg-less-one: 991px;

$xl-main: 1200px;
$xl-less-one: 1199px;