// colors
$primary-color: #049fad;
$secondary-color: #e85d19;

$st-bg-color:#e8ebf0;

$footer-bg-color:#384651;
$footer-text-color:#c7d1d9;


/* RESPONSIVE BREAKPOINTS */
$sm-min: 576px;
$sm-max: 575px;

$md-min: 768px;
$md-max: 767px;

$lg-min: 992px;
$lg-max: 991px;

$xl-min: 1200px;
$xl-max: 1199px;

// TEXT COLORS
$dark-text-color: #333;
$light-text-color: #4e4e4e;

$light-white-color: #d0d0d0;

// border-radius
$app-block-border-radius: 4px;
$borderRadiusInputsAndButtons: 8px;
$app-border-color: #bfbfbf;

// ratings
$starRatingColor: #fed43b;
$starRatingNoRatingColor: #454545;