// SCROLLBAR
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d1d1d1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darken($color: $primary-color, $amount: 8%);
}

// THEME RELATED
.gradient-primary {
    @include gradient-primary($defaultColorTheme, $gradColor1Theme, $gradColor2Theme)
}

// COMMON CSS
.clear-parent::after {
    content: "";
    display: block;
    clear: both;
}

.owl-carousel .owl-item img {
    width: auto;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 5px;
}

.owl-theme .owl-dots .owl-dot span {
    margin: 3px 4px;
    background: #fff;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    // background: $secondary-color;
}

.color-secondary {
    color: $secondary-color !important;
}

.color-primary {
    color: $primary-color !important;
}

.color-black {
    color: #000 !important;
}

.color-less-black {
    color: #333 !important;
}

.bg-secondary {
    background-color: $secondary-color !important;
}

.bg-primary {
    background-color: $primary-color !important;
}



.font-weight-100 {
    font-weight: 100 !important;
}

.font-weight-200 {
    font-weight: 200 !important;
}

.font-weight-300 {
    font-weight: 300 !important;
}

.font-weight-400 {
    font-weight: 400 !important;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.font-weight-700 {
    font-weight: 700 !important;
}

.font-weight-800 {
    font-weight: 800 !important;
}

.font-weight-900 {
    font-weight: 900 !important;
}

.max-height-resize {
    max-height: 100%;
}

.full-width-col {
    -ms-flex: 1;
    flex: 1;

    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
}

@include min-width($sm-main) {
    .full-width-col-sm {
        -ms-flex: 1;
        flex: 1;

        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important;
    }
}

@include min-width($md-main) {
    .full-width-col-md {
        -ms-flex: 1;
        flex: 1;

        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important;
    }
}

@include min-width($lg-main) {
    .full-width-col-lg {
        -ms-flex: 1;
        flex: 1;

        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important;
    }
}

@include min-width($xl-main) {
    .full-width-col-xl {
        -ms-flex: 1;
        flex: 1;

        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important;
    }
}

.owl-carousel.vertical-buttons {
    .owl-nav {
        >button {
            position: absolute;
            top: 50%;
            @include transformy(-50%);
            display: -ms-flexbox !important;
            display: flex !important;
            -ms-flex-pack: center !important;
            justify-content: center !important;
            -ms-flex-align: center !important;
            align-items: center !important;
            line-height: 0;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            background-color: #d0d0d0;
            @include transition;
            color: #fff;
            outline: none !important;

            @include min-width(768px) {
                height: 35px;
                width: 35px;
            }

            &:hover {
                background-color: $primary-color;
            }

            &:active {
                background-color: darken($color: $primary-color, $amount: 6%);
            }
        }

        >.owl-prev {
            left: 0;
        }

        >.owl-next {
            right: 0;
        }
    }
}


// form inputs
.st-form {
    // margin-bottom: 15px;
    width: 100%;
    position: relative;

    input,
    select,
    textarea {
        border: none;
        font-size: 15px;
        color: #616161;
        border-radius: 0;
        background-color: #fff;

        &.lightgray {
            box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
            border: 1px solid #dcdcdc;
            background-color: #f0f0f0;
        }
    }

    &:not(.input-underline) {

        input,
        select,
        textarea {
            -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
            border: 1px solid #dcdcdc;
        }
    }

    input,
    select {
        height: 42px;
        padding-top: 5px;

        // @include min_width($lg-main) {
        //     height: 48px;
        // }
    }

    label {

        font-size: 14px;

        color: #5d5d5d;
        margin-bottom: 5px;

        @include min-width(768px) {
            font-size: 15px;
            margin-bottom: 8px;
        }

        .imp {
            color: $primary-color;
            margin-left: 2px;
        }
    }

    @include min_width(768px) {

        &.lt,
        &.rt {
            width: 50%;
        }

        &.lt {
            padding-right: 7.5px;
        }

        &.rt {
            padding-left: 7.5px;
        }
    }

    &.validate {
        label {
            width: 100px;
            margin-bottom: 0;
            text-align: right;
            padding-right: 15px;

            @include min_width(768px) {
                width: 150px;
            }
        }

        .imp {
            color: #ff0102;
            width: 11px;
            text-align: right;
        }

        input,
        select,
        textarea {
            width: calc(100% - (100px + 11px));

            @include min_width(768px) {
                width: calc(100% - (150px + 11px));
            }
        }
    }

    &.icon {
        input {
            padding-left: 32px;
        }

        .icon {
            top: 50%;
            left: 10px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            line-height: 0;

            i {
                font-size: 18px;
                color: gray;
            }
        }
    }

    &.input-underline {

        input,
        select,
        textarea {
            background-color: transparent;
            border-bottom: 1px solid #868686;
            padding-left: 0;
            padding-right: 0;

            &:focus {
                box-shadow: none;
                border-color: #3c3c3c;
            }
        }

    }

    .add-info {
        position: absolute;
        top: calc(100% + 3px);
        font-size: 12px;
        color: #666;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}


// main menu
.st-head-menu {
    position: relative;

    >li {
        @include max_width($md-less-one) {
            position: relative;
        }

        >a {
            font-weight: 600;
            font-size: 15px;
            color: #333;
            text-decoration: none !important;
            outline: none !important;
            @include transition;

            @include min_width($xl-main) {
                font-size: 18px;
            }

            @include min_width($lg-main) {
                &:hover {
                    color: $primary-color;
                }
            }
        }

        @include min_width($lg-main) {
            padding-right: 20px;
        }

        @include min_width($xl-main) {
            padding-right: 30px;
        }

        @include max_width($lg-less-one) {
            display: block;
            width: 100%;

            >a {
                width: 100%;
                padding: 10px 20px;
                color: #fff;
                display: block;
            }
        }

        >ul {
            background: #fff;
            width: 100%;
            left: 0;
            top: 85%;
            @include transition;

            @include max-width($lg-less-one) {
                display: none;
            }

            @include min-width($lg-main) {
                width: 170px;
                position: absolute;
                visibility: hidden;
                opacity: 0;
            }

            >li {
                >a {
                    padding: 13px 15px;
                    border-bottom: 1px solid #ddd;
                    color: #333;
                    @include transition;

                    &:hover {
                        background-color: $secondary-color;
                        color: #fff;
                    }
                }

                &:last-child {
                    >a {
                        border-bottom: none;
                    }
                }
            }
        }

        &:hover {
            >ul {

                @include max-width($lg-less-one) {
                    display: block;
                }

                @include min-width($lg-main) {
                    opacity: 1;
                    visibility: visible;
                    top: 100%;
                }
            }
        }

        &.active {
            >a {
                color: $primary-color;
            }
        }
    }
}

$DEFScreensMargin: 25px;
$DEFmdScreensMargin: 40px;
$DEFlgScreensMargin: 55px;
$DEFxlScreensMargin: 70px;

.ST_def-mar-T,
.ST_def-mar-TB {
    margin-top: $DEFScreensMargin;

    @include min_width($md-main) {
        margin-top: $DEFmdScreensMargin;
    }

    // @include min_width($lg-main) {
    //     margin-top: $DEFlgScreensMargin;
    // }

    @include min_width($xl-main) {
        margin-top: $DEFxlScreensMargin;
    }
}

.ST_def-mar-B,
.ST_def-mar-TB {
    margin-bottom: $DEFScreensMargin;

    @include min_width($md-main) {
        margin-bottom: $DEFmdScreensMargin;
    }

    // @include min_width($lg-main) {
    //     margin-bottom: $DEFlgScreensMargin;
    // }

    @include min_width($xl-main) {
        margin-bottom: $DEFxlScreensMargin;
    }
}

.ST_def-pad-T,
.ST_def-pad-TB {
    padding-top: $DEFScreensMargin;

    @include min_width($md-main) {
        padding-top: $DEFmdScreensMargin;
    }

    // @include min_width($lg-main) {
    //     padding-top: $DEFlgScreensMargin;
    // }

    @include min_width($xl-main) {
        padding-top: $DEFxlScreensMargin;
    }
}

.ST_def-pad-B,
.ST_def-pad-TB {
    padding-bottom: $DEFScreensMargin;

    @include min_width($md-main) {
        padding-bottom: $DEFmdScreensMargin;
    }

    // @include min_width($lg-main) {
    //     padding-bottom: $DEFlgScreensMargin;
    // }

    @include min_width($xl-main) {
        padding-bottom: $DEFxlScreensMargin;
    }
}

// SITE BANNER
#ST_banner {
    .caption {
        top: 50%;
        width: 100%;
        @include transformy(-50%);

        .img-sec {
            width: 100%;
        }

        .st-head {
            color: #fff;
            margin-bottom: 5px;
            letter-spacing: 2px;
        }

        .desc {
            font-size: 16px;
            color: #e0e0e0;
            line-height: 23px;
        }
    }
}

// BREADCRUMBS
// #ST_breadcrumbs {
//     background: #fff;
//     padding: 15px 0;
// }

.ST_breadcrumbs {
    >ul {
        flex-wrap: wrap;

        >li {
            position: relative;

            >a {
                color: #ebebeb;
                text-decoration: none;
                @include transition;

                i {
                    color: $primary-color;
                    margin-right: 5px;
                }

                display: flex;
                align-items: center;
            }

            &:not(:last-child) {
                padding-right: 30px;

                &:after {
                    content: '/';
                    position: absolute;
                    right: 11px;
                    top: 0;
                    color: #fff;
                }
            }

            &:not(:last-child):hover {
                >a {
                    color: $secondary-color;
                }
            }

            &.active {
                >a {
                    color: $secondary-color;
                    // pointer-events: none !important;
                }
            }

            &:last-child {
                >a {
                    pointer-events: none !important;
                }
            }
        }
    }
}


// CUSTOM CHECKBIXEX
.custom-checkbox {
    position: relative;
    font-weight: normal;
    cursor: pointer;

    .box {
        height: 19px;
        width: 19px;
        border: 1px solid #d8d8d8;
        border-radius: 4px;
        color: #fff;
        font-size: 11px;
        @include transition(.1s);

        i {
            opacity: 0;
            @include transition(.1s);
        }
    }

    &.cc-secondary {
        .box {
            border-color: $secondary-color;
        }
    }

    .text {
        color: #d8d8d8;
        font-size: 16px;
        padding-left: 5px;
        @include transition(.1s);

        @include min-width(992px) {
            padding-left: 15px;
        }
    }

    >input:checked+ {
        .box {
            background: #31bcc7;
            border-color: #31bcc7;

            i {
                opacity: 1;
            }
        }
    }
}

// ST-LEFTMULTILEVEL MENU
ul.st-left-multilevel-menu {
    li {
        position: relative;

        >a {
            text-decoration: none;
            padding: 11px 15px 13px 15px;
            color: #333;
            font-size: 16px;
            @include transition;
            position: relative;

            @include min-width(768px) {
                padding: 11px 20px 13px 40px;

                &:before {
                    content: '\f061';
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 600;
                    position: absolute;
                    top: calc(50% + 2px);
                    left: 20px;
                    @include transformy(-50%);
                    font-size: 13px;
                    color: $secondary-color;
                    @include transition;
                }
            }

            &.has-multi-menu {
                i {
                    top: 0;
                    right: 0;
                    width: 40px;
                    color: $secondary-color;
                }
            }
        }

        &:not(:last-child) {
            >a {
                border-bottom: 1px solid lightgray;
            }
        }
    }

    >li {
        @include min-width(768px) {

            &:hover,
            &.active {
                >a {
                    background-color: $secondary-color;
                    color: #fff;

                    &:before {
                        color: #fff;
                    }
                }

            }
        }

        &.active {
            >a {
                background-color: $secondary-color;
                color: #fff;

                i {
                    color: #fff;
                }
            }
        }

        >a {
            &:active {
                background-color: darken($color: $secondary-color, $amount: 6%);
            }
        }
    }

    ul {
        width: 100%;
        display: none;

        @include max-width(767px) {
            padding: 5px;
        }

        @include min-width(768px) {
            position: absolute;
            left: 100%;
            top: 0;
            z-index: 1;
        }

        >li {
            >a {
                background-color: $secondary-color;
                color: #fff;
                border-color: #efefef;

                &:before {
                    color: #fff;
                }

                &.has-multi-menu {
                    i {
                        color: #fff;
                    }
                }
            }

            @include min-width(768px) {

                &:hover,
                &.active {
                    >a {
                        background-color: $primary-color;
                    }
                }
            }

            &.active {
                >a {
                    background-color: $primary-color;
                }
            }

            >a {
                &:active {
                    background-color: darken($color: $primary-color, $amount: 6%);
                }
            }
        }
    }

    @include min-width(768px) {
        li {
            &:hover {
                >ul {
                    display: block;
                }
            }
        }
    }

}

.dynamic-select {
    >.input-main {
        >input {
            padding-right: 35px;
            box-shadow: none;
            box-shadow: none !important;
            cursor: pointer;

            &:focus {
                background: #f1f1f1;
                border-color: #dcdcdc;
            }
        }

        .icon {
            top: 50%;
            @include transformy(-50%);
            right: 12px;
            font-size: 17px;
            color: #616161;
            line-height: 0;

            i {
                font-size: 25px;
            }
        }
    }

    .options {
        display: none;
        background: #fff;
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        overflow: auto;
        z-index: 1;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 5px;
        font-size: 17px;
        max-height: 120px;

        @include min-width(992px) {
            max-height: 150px;
        }

        .frac {
            &:not(:last-child) {
                border-bottom: 1px solid #cdcdcd;
                margin-bottom: 10px;
                padding-bottom: 5px;
            }

            .sm-head {
                padding: 0 10px;
                font-size: 13px;
                color: $primary-color;
                margin-bottom: 5px;
                margin-left: -5px;
                margin-right: -5px;
            }

            >ul {
                >li {
                    cursor: pointer;

                    .label {
                        margin-left: -5px;
                        padding: 4px 10px 5px;
                        font-size: 14px;
                        width: calc(100% + 10px);
                        color: #676767;
                        @include transition(.1s);

                        &:hover {
                            color: #333;
                            background-color: lighten($color: $primary-color, $amount: 40%);
                        }

                        &:active {
                            background-color: lighten($color: $primary-color, $amount: 40%);
                        }

                        .text {
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.st-btn {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.5px;

    background-color: #333;
    padding: 10px 16px 8px;
    border-radius: 45px;
    box-shadow: none;
    @include transition;

    @include min-width($md-main) {
        padding: 15px 30px 12px;
    }

    @include min-width($lg-main) {
        font-size: 16px;
        padding: 15px 30px 12px;
    }

    &:hover {
        background-color: darken($color: #333, $amount: 5);
        color: #fff;
    }

    &:active {
        background-color: darken($color: #333, $amount: 10);
    }

    &:focus {
        box-shadow: none !important;
    }

    .icon {
        font-size: 19px;
        position: relative;
        top: 3px;
        margin-right: 3px;
        color: #000;
    }

    &.st-btn-light {
        font-size: 15px;
        padding: 9px 16px 8px;
        border-radius: 45px;

        @include min-width($md-main) {
            padding: 11px 20px 9px;
        }

        &.with-icon {
            padding: 7px 16px 8px;

            @include min-width($md-main) {
                padding: 9px 20px 10px;
            }
        }
    }

    &.st-btn-primary {
        @include gradient-primary($defaultColorTheme, $gradColor1Theme, $gradColor2Theme);

        .icon {
            color: #fff;
        }
    }

    &.st-btn-transparent {
        color: $primary-color;
        background-color: transparent;
        border-color: $primary-color;

        .icon {
            color: $primary-color;
        }

        &.active,
        &:hover {
            @include gradient-primary($defaultColorTheme, $gradColor1Theme, $gradColor2Theme);
            color: #fff;

            .icon {
                color: #fff;
            }
        }
    }

    &.st-btn-white {
        color: #333;
        background-color: #fff;

        &.active,
        &:hover {
            @include gradient-primary($defaultColorTheme, $gradColor1Theme, $gradColor2Theme);
            color: #fff;
        }
    }
}

.section-heading {
    .st-header-top-img {
        width: 20px;
        margin-bottom: 5px;
    }

    .st-head {
        font-size: 35px;
        font-family: 'jasmina', sans-serif;
        color: $primary-color;
        letter-spacing: .5px;

        margin-bottom: 15px;

        @include min-width($md-main) {
            font-size: 40px;
            margin-bottom: 35px;
        }
    }

    .st-head-two {
        font-size: 23px;
        font-weight: 700;
        color: #333;
        letter-spacing: .5px;
        margin-bottom: 15px;

        @include min-width($md-main) {
            font-size: 30px;
        }

        @include min-width($lg-main) {
            font-size: 36px;
            margin-bottom: 25px;
        }
    }

    .st-head-bottom {
        font-size: 20px;
        font-family: 'jasmina', sans-serif;
        color: $primary-color;
        letter-spacing: .5px;
        margin-bottom: 10px;

        @include min-width($md-main) {
            font-size: 30px;
        }
    }

}

.st-desc {
    font-size: 16px;
    line-height: 28px;

    @include min-width($lg-main) {
        font-size: 17px;
    }
}

.star-rating-show {
    >li {
        font-size: 13px;

        &:not(.count):not(.no-rate) {
            color: $star-color;
        }

        &.no-rate {
            color: $light-white;
        }

        &:not(:last-child) {
            margin-right: 5px;
        }
    }
}

.custom-modal {
    .close {
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 10px;
    }
}

.dynamic-select {
    >.input-main {
        cursor: pointer;

        >input {
            padding-right: 35px;
            box-shadow: none;
            box-shadow: none !important;
            background: transparent;
            border-color: #c0c0c0;

            &:focus {
                background: transparent;
                border-color: #8c8c8c;
            }
        }

        .icon {
            top: 50%;
            @include transformy(-50%);
            right: 12px;
            font-size: 17px;
            color: #616161;
            line-height: 0;

            i {
                font-size: 25px;
            }
        }
    }

    .options {
        display: none;
        background: #fff;
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        overflow: auto;
        z-index: 1;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 5px;
        font-size: 17px;
        max-height: 120px;

        @include min-width(992px) {
            max-height: 150px;
        }

        .frac {
            &:not(:last-child) {
                border-bottom: 1px solid #cdcdcd;
                margin-bottom: 10px;
                padding-bottom: 5px;
            }

            .sm-head {
                padding: 0 10px;
                font-size: 13px;
                color: #eb530a;
                margin-bottom: 5px;
                margin-left: -5px;
                margin-right: -5px;
            }

            >ul {
                >li {
                    cursor: pointer;

                    .label {
                        margin-left: -5px;
                        padding: 4px 10px 5px;
                        font-size: 14px;
                        width: calc(100% + 10px);
                        color: #676767;
                        @include transition(.1s);

                        &:hover {
                            color: #333;
                            background-color: lighten($color: $primary-color, $amount: 40%);
                        }

                        &:active {
                            background-color: lighten($color: $primary-color, $amount: 30%);
                        }

                        .text {
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            display: block;
                        }

                        &.with-img {
                            .img-sec {
                                width: 15px;
                                height: 15px;

                                img {
                                    max-height: 100%;
                                }
                            }

                            .text {
                                width: calc(100% - 15px);
                                padding-left: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// PRODUCTS VIEW
.st-products-container {
    .st-products-container-inner {
        margin-left: -10px;
        margin-right: -10px;
    }

    .st-product-item {
        padding: 0 10px 20px;

        .st-product-item-inner {
            border: 1px solid #c0c0c0;
            padding: 25px;
        }

        .img-sec {
            height: 200px;
            // border: 1px solid #000;
        }

        .text-sec {
            margin-top: 15px;

            .st-product-name {
                font-size: 16px;
                font-weight: 600;
                color: #333;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .st-product-price {
                font-size: 25px;
                font-weight: 600;
                margin-top: 10px;
                margin-bottom: 10px;

                span {
                    font-size: 20px;
                    text-decoration: line-through;
                    color: #b7b7b7;
                    margin-right: 3px;
                    font-weight: 500;
                }
            }

            .buy-now-btn {
                margin-top: 10px;
            }
        }
    }

    .view-more-btn-container {
        padding: 10px 10px 0;

        @include min-width($md-main) {
            padding: 30px 10px 0;
        }

        .st-btn {
            padding-left: 25px;
            padding-right: 25px;

            @include min-width($md-main) {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }

    .product-tag {
        top: 15px;
        left: 15px;
        background: #999;
        padding: 4px 7px 5px;
        color: #fff;
        border-radius: 5px;
        font-size: 15px;

        &.new {
            background: $sucess-color;
        }
    }

    .product-add-to-favourite {
        right: 15px;
        top: 15px;

        >label {
            cursor: pointer;
            font-weight: normal;

            span {
                font-size: 19px;
            }

            .icon-not-selected {
                display: inline-block;
                color: "#888";
            }

            .icon-selected {
                display: none;
                color: #f81b1b;
            }

            >input {
                &:checked {
                    &~.icon-not-selected {
                        display: none;
                    }

                    &~.icon-selected {
                        display: inline-block;
                    }
                }
            }
        }
    }

}

// header-search
.header-search {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 234;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
    padding: 35px 20px 20px;

    @include min-width($lg-main) {
        padding: 35px 20px;
    }

    .close-search {
        top: 5px;
        right: 18px;
        cursor: pointer;
        color: #000;
        font-size: 19px;

        &:hover {
            color: $primary-color;
        }
    }

    input {
        height: 45px;
        letter-spacing: .5px;
        font-size: 16px;
        padding: 5px 45px 5px 15px;
        font-weight: 500;

        &:focus {
            box-shadow: none !important;
            border-color: #777;
        }

        @include min-width($lg-main) {
            font-size: 20px;
            height: 55px;
            padding: 5px 60px 5px 20px;
        }
    }

    .icon-inside-search {
        font-size: 21px;
        color: #555;
        @include transition;
        cursor: pointer;
        top: 50%;
        @include transformy(-50%);
        right: 0;
        height: calc(100% - 15px);
        width: 40px;

        // background: $light-white;
        &:hover {
            // background: darken($color: $light-white, $amount: 10);
            color: $primary-color;
        }

        @include min-width($lg-main) {
            font-size: 27px;
            right: 11px;
        }
    }
}

$defAngleHeight:20px;
$mdAngleHeight:60px;
$lgAngleHeight:80px;
$xlAngleHeight:100px;

.add-angle-to-top-right {
    position: relative;
    z-index: 2;

    &.aattr-margin {
        margin-top: -$defAngleHeight;

        @include min-width($md-main) {
            margin-top: -$mdAngleHeight;
        }

        @include min-width($lg-main) {
            margin-top: -$lgAngleHeight;
        }

        @include min-width($xl-main) {
            margin-top: -$xlAngleHeight;
        }
    }

    &::before {
        content: "";
        display: block;
        border-style: solid;
        border-color: transparent;
        border-bottom-color: #fff;
        border-width: 0;
        border-left-width: 99vw;
        border-bottom-width: $defAngleHeight;

        @include min-width($md-main) {
            border-bottom-width: $mdAngleHeight;
        }

        @include min-width($lg-main) {
            border-bottom-width: $lgAngleHeight;
        }

        @include min-width($xl-main) {
            border-bottom-width: $xlAngleHeight;
        }
    }
}

.add-angle-to-top-left {
    position: relative;
    z-index: 2;

    &.aattl-margin {
        margin-top: -$defAngleHeight;

        @include min-width($md-main) {
            margin-top: -$mdAngleHeight;
        }

        @include min-width($lg-main) {
            margin-top: -$lgAngleHeight;
        }

        @include min-width($xl-main) {
            margin-top: -$xlAngleHeight;
        }
    }

    &::before {
        content: "";
        display: block;
        border-style: solid;
        border-color: transparent;
        border-bottom-color: #fff;
        border-width: 0;
        border-right-width: 99vw;
        border-bottom-width: $defAngleHeight;

        @include min-width($md-main) {
            border-bottom-width: $mdAngleHeight;
        }

        @include min-width($lg-main) {
            border-bottom-width: $lgAngleHeight;
        }

        @include min-width($xl-main) {
            border-bottom-width: $xlAngleHeight;
        }
    }
}

.add-angle-to-bottom-left {
    position: relative;
    z-index: 2;

    &.aatbl-margin {
        margin-bottom: -$defAngleHeight;

        @include min-width($md-main) {
            margin-bottom: -$mdAngleHeight;
        }

        @include min-width($lg-main) {
            margin-bottom: -$lgAngleHeight;
        }

        @include min-width($xl-main) {
            margin-bottom: -$xlAngleHeight;
        }
    }

    &::after {
        content: "";
        display: block;
        border-style: solid;
        border-color: transparent;
        border-width: 0;

        border-top-color: #fff;
        border-right-width: 99vw;
        border-top-width: $defAngleHeight;

        @include min-width($md-main) {
            border-top-width: $mdAngleHeight;
        }

        @include min-width($lg-main) {
            border-top-width: $lgAngleHeight;
        }

        @include min-width($xl-main) {
            border-top-width: $xlAngleHeight;
        }
    }
}

.add-angle-to-bottom-right {
    position: relative;
    z-index: 2;

    &.aatbr-margin {
        margin-bottom: -$defAngleHeight;

        @include min-width($md-main) {
            margin-bottom: -$mdAngleHeight;
        }

        @include min-width($lg-main) {
            margin-bottom: -$lgAngleHeight;
        }

        @include min-width($xl-main) {
            margin-bottom: -$xlAngleHeight;
        }
    }

    &::after {
        content: "";
        display: block;
        border-style: solid;
        border-color: transparent;
        border-width: 0;

        border-top-color: #fff;
        border-left-width: 99vw;
        border-top-width: $defAngleHeight;

        @include min-width($md-main) {
            border-top-width: $mdAngleHeight;
        }

        @include min-width($lg-main) {
            border-top-width: $lgAngleHeight;
        }

        @include min-width($xl-main) {
            border-top-width: $xlAngleHeight;
        }
    }
}


.header-cart-items {
    display: none;
    width: 250px;
    right: 0;
    top: calc(100% + 10px);
    background: #fff;
    z-index: 9;
    @include box-shadow(1px, 1px, 4px, 0, rgba(0, 0, 0, 0.4));
    padding: 7.5px 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    .header-cart-items-inner {
        max-height: 250px;
        overflow: auto;
    }
    .cart-item {}

    .cart-item-inner {
        padding: 7.5px 15px;

        .img-sec {
            width: 55px;
            height: 55px;
            border: 1px solid #ddd;
            padding: 3px;
        }

        .text-sec {
            width: calc(100% - 55px);

            .content {
                width: calc(100% - 30px);

                .name {
                    font-weight: 600;
                    color: #333;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    width: 100%;
                    margin-bottom: 3px;
                }

                .p-and-q {
                    font-weight: 500;
                    font-size: 15px;

                    .price {
                        font-weight: 600;
                        margin-left: 4px;
                    }
                }
            }

            .actions {
                width: 30px;
                padding-top: 2px;
            }
        }
    }

    .header-cart-items-btn {
        border-top: 1px solid #ddd;
        padding-top: 7.5px;
        .st-btn {
            font-size: 14px;
            width: 100%;
        }
    }
}