// STYLING FONTS
@font-face {
    font-family: 'jasmina';
    src: url('../fonts/jasmina/Jasmina-FY-Regular.ttf');
}

// CARMEN SANS FONTS
@font-face {
    font-family: 'carmen-sans-regular';
    src: url('../fonts/carmen-sans/Carmen-Sans-Regular.otf');
}

@font-face {
    font-family: 'carmen-sans-medium';
    src: url('../fonts/carmen-sans/Carmen-Sans-Medium.otf');
}

@font-face {
    font-family: 'carmen-sans-bold';
    src: url('../fonts/carmen-sans/Carmen-Sans-Bold.otf');
}

@font-face {
    font-family: 'carmen-sans-extra-bold';
    src: url('../fonts/carmen-sans/Carmen-Sans-ExtraBold.otf');
}