// copperplate
@font-face {
    font-family: "copperplate-regular";
    // src: url("../fonts/copperplate/copperplate_regular.ttf") format("truetype");
    src: url("../fonts/copperplate/COPPEPLA_0.ttf") format("truetype");
}

// copperplate
@font-face {
    font-family: "styling-regular";
    src: url("../fonts/Styling/Styling-Regular4.ttf") format("truetype");
}