/* SCROLLBAR */
@import "styles/scrollbar";

/* COLORS STYLES */
@import "styles/colors";

/* BUTTONS STYLES */
@import "styles/buttons";

/* TEXT STYLES */
@import "styles/text";

/* HEADING STYLES */
@import "styles/headings";

/* FORMS STYLES */
@import "styles/form";

// common margin and padding
.ST_def-mar-T,
.ST_def-mar-TB {
    margin-top: 20px;

    @include min_width($lg-min) {
        margin-top: 35px;
    }

    @include min_width($xl-min) {
        margin-top: 50px;
    }
}

.ST_def-mar-B,
.ST_def-mar-TB {
    margin-bottom: 20px;

    @include min_width($lg-min) {
        margin-bottom: 35px;
    }

    @include min_width($xl-min) {
        margin-bottom: 50px;
    }
}

.ST_def-pad-T,
.ST_def-pad-TB {
    padding-top: 20px;

    @include min_width($lg-min) {
        padding-top: 35px;
    }

    @include min_width($xl-min) {
        padding-top: 50px;
    }
}

.ST_def-pad-B,
.ST_def-pad-TB {
    padding-bottom: 20px;

    @include min_width($lg-min) {
        padding-bottom: 35px;
    }

    @include min_width($xl-min) {
        padding-bottom: 50px;
    }
}

// img classes
.img-fluid-height {
    max-height: 100%;
}
// owl dots
.owl-carousel {
    .owl-dots {
        margin-top: 25px;
        line-height: normal;
        text-align: center;
        .owl-dot {
            height: 11px;
            width: 11px;
            background-color: $starRatingNoRatingColor;
            display: inline-block;
            margin: 0 5px;
            border-radius: 50%;
            vertical-align: top;
            line-height: normal !important;
            outline: none !important;
            @include transition;
            opacity: 0.5;
            &:focus {
                outline: none !important;
            }
            &:hover,
            &.active {
                opacity: 1;
            }
        }
    }
}

// navbar toggler
.navbar-toggler {
    background: $primary-color;
    color: #fff;
    font-size: 28px;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: $app-block-border-radius;
    i {
        line-height: 0;
    }

    @include max_width($md-max) {
        position: absolute;
        top: -61px;
        right: 0;
    }
}

// st single product item
.st-single-product-item {
    > .inner {
        border: 1px solid #ededed;
        padding: 15px;
        @include min_width($md-min) {
            padding: 25px;
        }
    }
    .img-sec {
        height: 230px;
        img {
            max-height: 100%;
            width: auto;
        }
    }
    .off-percent {
        top: 10px;
        left: 10px;
        height: 50px;
        width: 50px;
        background-color: $secondary-color;
        color: #fff;
    }
    .text-sec {
        .name,
        .price,
        .qty label {
            color: #2d2d2d;
        }

        .price {
            .old-price {
                color: #a5a5a5;
                text-decoration: line-through;
            }
        }

        .qty {
            input {
                width: 80px;
            }
        }
    }
}

// st breadcrumbs
#st-breadcrumbs {
    padding-top: 15px;
    background-color: $gray-bg-color;
}
.st-breadcrumbs {
    .breadcrumbs-link {
        position: relative;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 15px;
        &:not(:last-child) {
            padding-right: 30px;
            &:after {
                content: ">";
                position: absolute;
                top: 0;
                right: 10px;
            }
        }
        > a {
            text-decoration: none;
            color: $light-text-color;
            @include transition(0.2s);
            &.active {
                color: $primary-color;
            }
            &:hover {
                color: $dark-text-color;
            }
        }
        &.active {
            > a {
                color: $primary-color;
            }
        }
        &:last-child {
            pointer-events: none !important;
            > a {
                pointer-events: none !important;
            }
        }
    }
}

// QUANTITY-SELECT-CONTROLS
.quantity-select-controls {
    > button,
    > input {
        height: 35px;
        border: 1px solid $app-border-color;

        &:hover,
        &:focus,
        &:active {
            border-color: $app-border-color;
        }
    }

    > button {
        width: 35px;
        padding: 0;

        &.minus {
            margin-right: -1px;
        }

        &.plus {
            margin-left: -1px;
        }
    }

    > input {
        width: 50px;
        box-shadow: none !important;
        padding: 0 5px;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }
    }
}

// border clsses
.st-border-primary {
    border-color: $primary-color !important;
}
.st-border-secondary {
    border-color: $secondary-color !important;
}
.st-border-gray {
    border-color: $app-border-color !important;
}

// st banner
.st-banner {
    .caption {
        top: 0;
        left: 0;
        z-index: 1;
        // padding: 15px;
        > .container {
            @include max_width($xl-max) {
                border-left: none !important;
            }
            @include min_width($md-min) {
            }
            @include min_width($xl-min) {
                padding-bottom: 10px;
                border-left-width: 5px !important;
                padding-left: 20px;
            }
        }
        .heading {
            color: #fff;
            font-size: 25px;
            @include min_width($md-min) {
                font-size: 45px;
            }
        }
        .desc {
            color: #fff;
        }
    }
}

// st pagination
.st-pagination {
    .pagi-link {
        text-decoration: none;
        height: 35px;
        width: 35px;
        margin: 0 1px;
        color: $dark-text-color;
        @include transition;
        &.first,
        &.last {
            border: 1px solid $app-border-color;
            border-radius: $app-block-border-radius;
            color: $primary-color;
            font-size: 16px;
            &:hover {
                background-color: $primary-color;
                color: #fff;
                border-color: $primary-color;
            }
        }
        &.active {
            font-weight: 600;
        }
    }

    .rt {
        @include min_width($lg-min) {
            margin-left: auto;
        }
        select {
            height: 35px;
            width: 80px;
            padding: 0 8px;
        }
        .text {
            &.page {
                width: 55px;
            }
        }
    }
}

// ST RATINGS COUNT
#st-ratings-count {
}
.st-ratings-count {
    .lt-sec {
        width: 120px;
        @include min-width($lg-min) {
            width: 135px;
        }
        .head {
            font-size: 45px;
            line-height: 45px;
        }
    }

    .rt-sec {
        // width: calc(100% - 120px);
        border-left: 1px solid $app-border-color;
        padding-left: 18px;

        @include min-width($lg-min) {
            padding-left: 30px;
            // width: 250px;
        }

        .frac {
            .progress {
                height: 5px;

                .progress-bar {
                    background-color: $light-text-color;
                }
            }

            &.five-star,
            &.four-star,
            &.three-star {
                .progress-bar {
                    background-color: $primary-color;
                }
            }

            &.three-star {
                .progress-bar {
                    opacity: 0.5;
                }
            }

            &.two-star {
                .progress-bar {
                    background-color: #fcb301;
                }
            }

            &.one-star {
                .progress-bar {
                    background-color: #f16565;
                }
            }
        }
    }
}

// STAR RATING UL
.star-rating-ul {
    > li {
        &:not(:last-child) {
            margin-right: 2px;
        }

        label {
            font-weight: normal;
            position: relative;
            cursor: pointer;

            > span {
                img {
                    width: 21px;

                    &.gray {
                        display: block;
                    }

                    &.colured {
                        display: none;
                    }
                }
            }
        }

        // &.active>label>span,
        // &>label>input:checked+span
        // &>label:hover>span {
        &.active > label > span {
            img {
                &.gray {
                    display: none;
                }

                &.colured {
                    display: block;
                }
            }
        }
    }
}

// custom modal
.custom-modal {
    .close {
        z-index: 1;
        top: 10px;
        right: 10px;
    }
    .modal-content {
        border-radius: $app-block-border-radius;
    }
}

// star ratings
.st-star-rating {
    li {
        i {
            &.fas.fa-star {
                color: $starRatingColor;
            }
            &.far.fa-star {
                color: $starRatingNoRatingColor;
            }
        }
    }
}

.cstm-animation-delay-point-2s {
    animation-delay: 0.2s !important;
}

.cstm-animation-delay-point-5s {
    animation-delay: 0.5s !important;
}

.cstm-animation-delay-point-7s {
    animation-delay: 0.7s !important;
}

.cstm-animation-delay-1-point-2s {
    animation-delay: 1.2s !important;
}

.cstm-animation-delay-1-point-7s {
    animation-delay: 1.7s !important;
}

.cstm-animation-delay-2-point-2s {
    animation-delay: 2.2s !important;
}

.cstm-animation-delay-2-point-7s {
    animation-delay: 2.7s !important;
}
