.st-ff-montserrat {
    font-family: "Montserrat", sans-serif;
}

@mixin st-ff-montserrat {
    font-family: "Montserrat", sans-serif;
}

.st-ff-cenzel {
    font-family: "Cinzel", serif;
}

@mixin st-ff-cenzel {
    font-family: "Cinzel", serif;
}

.st-ff-lato {
    font-family: "Lato", sans-serif;
}

@mixin st-ff-lato {
    font-family: "Lato", sans-serif;
}
