// colors
$primary-color: #e9ac38;
$secondary-color: #e2b916;

$footer-bg-color: #384651;
$footer-text-color: #c7d1d9;

/* RESPONSIVE BREAKPOINTS */
$sm-min: 576px;
$sm-max: 575px;

$md-min: 768px;
$md-max: 767px;

$lg-min: 992px;
$lg-max: 991px;

$xl-min: 1200px;
$xl-max: 1199px;

// TEXT COLORS
$dark-text-color: #3d3d3d;
$light-text-color: #6e6e6e;

// border-radius
$app-block-border-radius: 2px;
$borderRadiusInputsAndButtons: 2px;
$app-border-color: #bfbfbf;

// ratings
$starRatingColor: #fed43b;
$starRatingNoRatingColor: #6e6e6e;

// border colors
$app-border-color: #d2d2d2;
$app-border-color-input: #b1b1b1;
// $footer-border-color: #585858;
$footer-border-color: #463e37;
