// colors
$primary-color: #e2230e;
$secondary-color: #575092;
$primary-color-light: #ea5f4f;

/* RESPONSIVE BREAKPOINTS */
$sm-min: 576px;
$sm-max: 575px;

$md-min: 768px;
$md-max: 767px;

$lg-min: 992px;
$lg-max: 991px;

$xl-min: 1200px;
$xl-max: 1199px;

// TEXT COLORS
$dark-text-color: #333333;
$light-text-color: #6e6e6e;
// $color-paragraph: #1a1a1a;
$color-paragraph: #505050;

// border-radius
$app-block-border-radius: 4px;
$borderRadiusInputsAndButtons: 5px;

// border colors
$app-border-color: #d8d8d8;
$app-border-color-input: #b1b1b1;

// BGCOLORS
$headerTopColor: #eaebf0;
$servicesBgColor: #ececec;