@import "components/reset";
// @import "components/fonts";
@import "components/variables";
@import "components/mixins";
@import "components/common";

// GOOGLE FONTS
// font-family: 'Lato', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

// HOMEPAGE CSS
// header
header {
    padding: 15px 0;
    @include box-shadow(0px, 1px, 5px, 0px, rgba(0, 0, 0, 0.2))
}

.header {
    .logo {
        img {
            @include min-width(768px) {
                width: 190px;
            }
        }
    }

    .head-location-selector {
        width: 150px;

        select {
            background: transparent;
            font-size: 16px;
            color: #7b7b7b;
            padding: 0;
            height: auto;
            border-radius: 0;
            border: none;
            padding-right: 10px;
            box-shadow: none;
            width: auto;
            cursor: pointer;
        }
    }

    .head-search {
        width: calc(100% - 150px);

        input {
            padding-left: 40px;
            font-size: 15px;
            height: 48px;
            -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
        }

        i {
            top: 50%;
            left: 10px;
            font-size: 22px;
            color: #717171;
            font-weight: 800;
            transform: translateY(-50%);
        }
    }

    .head-login {
        a {
            text-decoration: none;
        }

        >.inner {
            >a {
                font-size: 16px;
                color: $primary-color;
                font-weight: 600;
                @include transition;

                i {
                    font-size: 19px;
                    margin-right: 4px;
                }

            }

            &:hover {
                >a {
                    color: $secondary-color;
                }
            }
        }

        .head-dropdown-menu {
            width: 120px;
            top: calc(100%);
            right: 0;
            padding-top: 15px;

            display: none;

            >ul {
                background: #fff;
                border: 1px solid #c3c3c3;
                border-radius: 8px;
                padding: 10px 0;

                >li {
                    font-size: 15px;

                    >a {
                        color: #333;
                        display: block;
                        padding: 7px 15px;
                        // background: #f5f5f5;
                        @include transition;

                        &:hover {
                            background-color: $primary-color;
                            color: #fff;
                        }
                    }
                }
            }

            &::before {
                content: '\f0de';
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                position: absolute;
                top: 3px;
                line-height: 29px;
                font-size: 21px;
                right: 15px;
                color: #c3c3c3;
            }
        }

        >.inner:hover {
            .head-dropdown-menu {
                display: block;
            }
        }
    }
}

// home slider
.home_slider {
    .inner {
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: transparent url("../images/home-slider/overlay.png") no-repeat 0 0 / 100%;
        }
    }

    .item {
        .img-sec {
            img {
                width: 100%;
            }
        }

        .caption {
            top: 50%;
            left: 50%;
            @include transform(-50%, -50%);
            width: 100%;
            z-index: 1;

            .head {
                font-size: 42px;
                font-weight: 600;
                margin-bottom: 30px;
            }
            .selects {
                select {
                    height: 45px;
                }
            }
            .submit-btn {
                margin-top: 15px;
                .btn {
                    $padd: 40px;
                    padding-left: $padd;
                    padding-right: $padd;
                }
            }
            .links {
                margin-top: 40px;
            }
        }
    }
}