@import "components/reset";
// @import "components/fonts";
@import "components/variables";
@import "components/mixins";
@import "components/common";

// GOOGLE FONTS
// font-family: 'Lato', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

// HOMEPAGE CSS
// header
header {
    padding: 15px 0;
    @include box-shadow(0px, 1px, 5px, 0px, rgba(0, 0, 0, 0.2));
    z-index: 12;
    position: relative;
}

.header {
    .logo {
        img {
            @include min-width(768px) {
                width: 190px;
            }
        }
    }

    .head-location-selector {
        width: 120px;

        @include min-width(768px) {
            width: 150px;
        }

        select {
            background: transparent;
            font-size: 16px;
            color: #7b7b7b;
            padding: 0;
            height: auto;
            border-radius: 0;
            border: none !important;
            padding-right: 10px;
            box-shadow: none !important;
            width: auto;
            cursor: pointer;
        }
    }

    .head-search {
        width: calc(100% - 120px);

        @include min-width(768px) {
            width: calc(100% - 150px);
        }

        input {
            padding-left: 40px;
            font-size: 15px;
        }

        i {
            top: 50%;
            left: 10px;
            font-size: 22px;
            color: #717171;
            font-weight: 800;
            transform: translateY(-50%);
        }
    }

    .head-login {
        a {
            text-decoration: none;
        }

        >.inner {
            >a {
                font-size: 16px;
                color: $primary-color;
                font-weight: 600;
                @include transition;

                i {
                    font-size: 19px;
                    margin-right: 4px;
                }

            }

            &:hover {
                >a {
                    color: $secondary-color;
                }
            }
        }

        .head-dropdown-menu {
            width: 120px;
            top: calc(100%);
            right: 0;
            padding-top: 15px;
            z-index: 12;
            display: none;

            >ul {
                background: #fff;
                border: 1px solid #c3c3c3;
                border-radius: 8px;
                padding: 10px 0;

                >li {
                    font-size: 15px;

                    >a {
                        color: #333;
                        display: block;
                        padding: 7px 15px;
                        // background: #f5f5f5;
                        @include transition;

                        &:hover {
                            background-color: $primary-color;
                            color: #fff;
                        }

                        &:active {
                            background-color: darken($color: $primary-color, $amount: 6%);
                        }
                    }
                }
            }

            &::before {
                content: '\f0de';
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                position: absolute;
                top: 3px;
                line-height: 29px;
                font-size: 21px;
                right: 15px;
                color: #c3c3c3;
            }
        }

        >.inner:hover {
            .head-dropdown-menu {
                display: block;
            }
        }
    }
}

// home slider
.home_slider {
    .item {
        .img-sec {
            img {
                width: 100%;
            }
        }

        .caption {
            width: 100%;
            z-index: 1;

            @include min-width(768px) {
                top: 50%;
                left: 50%;
                @include transform(-50%, -50%);
            }

            .head {
                font-size: 32px;
                font-weight: 600;
                margin-bottom: 20px;

                @include min-width(992px) {
                    font-size: 42px;
                    margin-bottom: 30px;
                }
            }

            .selects {
                select {
                    font-size: 17px;
                    // font-weight: 500;
                }
            }

            .submit-btn {
                margin-top: 15px;

                .btn {
                    padding: 8px 20px;

                    @include min-width(992px) {
                        padding: 12px 40px;
                    }
                }
            }

            .links {
                margin-top: 15px;

                @include min-width(992px) {
                    margin-top: 40px;
                }
            }
        }
    }
}

// home-health-and-fitness
#home-health-and-fitness {}

.home-health-and-fitness {
    border-bottom: 1px solid #e6e6e6;

    .lt {
        background: transparent url('../images/home-health-and-fitness/left-bg.png') no-repeat center;

        @include max-width(991px) {
            background-size: contain;
        }

        .head {
            font-size: 34px;
            color: #000;
            font-weight: 500;
            margin-bottom: 15px;

            span {
                font-weight: 600;
            }

            @include min-width(992px) {
                font-size: 40px;
                margin-bottom: 20px;
            }
        }

        .text {
            font-size: 15px;

            margin-bottom: 20px;
            color: #525252;

            @include min-width(992px) {
                font-size: 17px;
                line-height: 26px;

            }
        }

        .st-btn {
            background: #fff !important;
            color: #289eaa !important;
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2) !important;
            padding: 9px 19px;
            font-weight: 600;

            &:active {
                background-color: $less-white !important;
            }

            @include min-width(992px) {
                padding: 12px 37px;
            }
        }
    }

    .rt {
        img {
            margin-left: auto;
        }
    }
}

// speciality-slider-main
#speciality-slider-main {}

.speciality-slider-main {
    border-bottom: 1px solid #e6e6e6;

    .st-slider {
        margin-top: 30px;
        padding: 0 25px;

        @include min-width(768px) {
            margin-top: 50px;
            padding: 0 40px;
        }

        @include min-width(1200px) {
            margin-top: 70px;
        }
    }

    .item {
        .inner {
            padding: 0 5px;
        }

        .icon {
            height: 60px;

            img {
                max-height: 100%;
            }
        }

        .text {
            margin-top: 10px;

            p {
                color: #000;
                font-weight: 600;
                font-size: 16px;
            }
        }
    }
}

// home-medicine
#home-medicine {}

.home-medicine {
    margin-top: 20px;

    @include min-width(768px) {
        margin-top: 30px;
    }

    @include min-width(1200px) {
        margin-top: 50px;
    }

    .item {
        >.inner {
            border: 1px solid #e6e6e6;
            border-bottom: 3px solid $blue-color;
            padding: 8px 8px 20px;

            .img-sec {
                img {
                    width: 100%;
                }
            }

            .text-sec {
                margin-top: 10px;

                p {
                    color: #555;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }

        >a {
            display: table;
            margin: 10px auto 0;
            font-weight: 600;
            font-size: 17px;
            color: #2d7abf;
        }


        @include max-width(575px) {
            margin-bottom: 20px;
        }

        @include min-max-width(576px, 767px) {
            &:not(:nth-last-child(-n+2)) {
                margin-bottom: 30px;
            }
        }

        @include min-max-width(768px, 991px) {
            &:not(:nth-last-child(-n+3)) {
                margin-bottom: 30px;
            }
        }

        @include min-width(992px) {
            &:not(:nth-last-child(-n+4)) {
                margin-bottom: 30px;
            }

        }
    }
}

// home-lab-test
#home-lab-test {
    background: $less-gray;
}

.home-lab-test {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 20px;

    @include min-width(768px) {
        margin-top: 30px;
    }

    @include min-width(1200px) {
        margin-top: 50px;
    }

    >.item {
        >.inner {
            background: #fff;

            border: 1px solid #dedede;
            padding: 60px 20px 28px;
            @include transition;
            @include box-shadow(2px, 2px, 5px, 0px, rgba(0, 0, 0, 0.1));

            &:hover {
                border-color: $primary-color;
            }

            .off-sec {
                top: 11px;
                left: 0;
                padding: 7px 26px 7px 10px;
                font-size: 15px;
                background: #fff url(../images/icons/icon-ribbon.png) no-repeat left top / 100% 100%;
                font-weight: 600;
                color: #fff;
            }

            .head {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 10px;

                @include min-width(768px) {
                    margin-bottom: 20px;
                }
            }

            .add-info {
                font-size: 17px;
                margin-bottom: 15px;

                span {
                    font-weight: 600;
                }
            }

            .points {
                li {
                    font-size: 16px;
                    margin-bottom: 7px;
                }
            }

            .st-btn {
                margin: 15px 0;
                font-size: 14px;
                padding: 5px 15px 6px;
            }

            .price {
                font-size: 20px;
                font-weight: 800;
                color: $secondary-color;

                span {
                    text-decoration: line-through;
                    margin-right: 15px;
                    color: #9c9c9c;
                    font-size: 18px;
                }
            }

        }

        padding: 0 10px 20px;

        @include min-width(992px) {
            padding-bottom: 0;
        }
    }
}

// articles
#articles {}

.articles {
    border-bottom: 1px solid #e6e6e6;
    margin-top: 20px;

    @include min-width(768px) {
        margin-top: 30px;
    }

    @include min-width(1200px) {
        margin-top: 80px;
    }


    .articles-inner {
        margin-left: -15px;
        margin-right: -15px;

        @include min-max-width(576px, 767px) {}

        @include min-max-width(768px, 991px) {}

        >.item {
            >.inner {
                border: 1px solid #dedede;
                @include box-shadow(2px, 2px, 5px, 0px, rgba(0, 0, 0, 0.1));
            }

            .img-sec {
                .caption {
                    top: 0;
                    left: 0;
                    background: rgba(0, 0, 0, 0.4);

                    p {
                        font-weight: 600;
                        color: #fff;
                        font-size: 17px;
                        padding: 0 10px;
                        text-align: center;
                    }
                }

                .date {
                    font-size: 14px;
                    padding: 8px 15px 8px;
                    @include transformy(-50%);
                    left: 15px;
                }
            }

            .text-sec {
                padding: 23px 15px 15px;

                .art {
                    font-size: 14px;
                    font-weight: 600;
                }

                .name {
                    margin-top: 8px;
                    font-weight: 800;
                    font-size: 13px;
                    color: #ec5912;
                }

            }

            padding: 0 15px 15px;

            @include min-max-width(576px, 767px) {
                padding-bottom: 30px;
            }

            @include min-max-width(768px, 992px) {
                padding-bottom: 0;
            }

            @include min-width(991px) {
                padding: 0 20px 0
            }
        }
    }
}


// home-contact
#home-contact {
    @include min-width(1200px) {
        background: transparent url("../images/home-contact/right-bg.png") no-repeat right 91% / 52%;
    }
}

.home-contact {
    margin-top: 20px;

    @include min-width(768px) {
        margin-top: 60px;
    }

    @include min-width(1200px) {
        margin-top: 100px;
    }

    .nav-tabs {
        border-bottom: none;
        margin-bottom: 20px;

        >li {
            margin-bottom: 0;
            padding-right: 10px;

            @include min-width(992px) {
                padding-right: 20px;
            }

            >a {
                border-radius: 0;
                padding: 0 0 5px;
                border: none;
                border-bottom: 2px solid transparent;
                font-weight: 600;
                font-size: 15px;
                color: #b1b1b1;
                @include transition;

                &.active,
                &:hover {
                    border-color: $secondary-color;
                    color: $primary-color;
                }
            }
        }
    }

    .tab-content {
        .tab-pane {
            @include min-width(768px) {
                min-height: 130px;
            }

            .head {
                font-size: 21px;
                font-weight: 600;
                color: #333;
                margin-bottom: 12px;
            }

            .text {
                font-size: 16px;
                color: #333;
                margin-bottom: 12px;

                a {
                    text-decoration: underline;
                    color: $primary-color;
                    @include transition;

                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }

    .cont-form {
        background: #fff;
        @include box-shadow(0px, 0px, 5px, 0px, rgba(0, 0, 0, 0.2));
        padding: 15px;

        @include min-width(768px) {
            padding: 30px;
        }

        @include min-width(1200px) {
            padding: 70px 35px;
            width: 550px;
            margin-left: auto;
        }

        .head {
            font-size: 19px;
            font-weight: 600;
            margin-bottom: 20px;
        }
    }
}

// download-app
#download-app {
    background: $less-gray;
    padding: 30px 0 40px;

    .ST_main-head .head {
        font-size: 27px;
    }
}

.download-app {
    >ul {
        >li {
            padding: 0 10px;

            >a {
                border-radius: 4px;
                overflow: hidden;

                img {
                    width: 130px;
                }
            }
        }
    }
}

// fotter
footer {
    background-color: #222222;
    padding: 25px 0;

    @include min-width(992px) {
        padding: 40px 0 40px;
    }

    .top-part {
        // border-bottom: 1px solid #585858;
        padding-bottom: 10px;
        position: relative;

        &:after {
            content: '';
            display: block;
            width: calc(100% - (15px * 2));
            height: 1px;
            background: #585858;
            position: absolute;
            left: 15px;
            bottom: 0;
        }

        @include min-width(992px) {
            padding-bottom: 25px;
        }

        .TP-lt {
            padding-top: 5px;
        }

        .TP-rt {
            .head {
                color: #fff;
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
    }

    ul.links {
        >li {
            height: 13px;
            line-height: 9px;
            margin-bottom: 14px;
            font-size: 14.5px;

            &:not(:last-child) {
                padding-right: 13px;
                border-right: 1.5px solid #ec5912;
                margin-right: 13px;
            }

            >a {
                color: $primary-color;
            }
        }
    }

    .bottom-part {
        margin-top: 10px;

        @include min-width(992px) {
            margin-top: 25px;
        }

        p {
            color: #dcdcdc;
            font-size: 14px;
            line-height: 23px;

            a {
                color: $primary-color;
            }
        }
    }
}

// LOGIN PAGE
// st-login
#st-login {
    margin-top: 30px;
    margin-bottom: 30px;

    @include min_width(768px) {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    @include min_width(992px) {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

.st-login {

    .login-inner {
        margin: 0 auto;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
        border: 1px solid #dfdfdf;

        @include min-width(768px) {
            width: 650px;
        }

        @include min-width(992px) {
            width: 800px;
        }

        >.lt {
            @include min-width(992px) {
                min-height: 450px;
            }

            .inner {
                background: transparent url('../images/login-page/left-img.jpg') no-repeat center / 100% 100%;
            }
        }

        >.rt {

            .inner {
                // padding: 40px 40px;
                padding: 20px;

                @include min-width(992px) {
                    padding: 40px;
                }
            }

            .nav-tabs {
                border-bottom: none;
                padding: 0;
                margin-bottom: 10px;

                @include min-width(768px) {
                    margin-bottom: 15px;
                }

                @include min-width(992px) {
                    margin-bottom: 25px;
                }

                >li {
                    margin-bottom: 0;

                    >a {
                        border: none !important;
                        border-radius: 0;
                        padding: 0;
                        @include transition(.1s);
                        font-size: 26px;
                        color: #888;

                        &.active,
                        &:hover {
                            color: $primary-color;
                        }
                    }

                    &:first-child {
                        >a {
                            &:after {
                                content: '/';
                                color: #888;
                                margin: 0 7px;
                            }
                        }
                    }
                }
            }

            .head {
                font-size: 26px;
                margin-bottom: 10px;
                color: #666;

                @include min-width(768px) {
                    margin-bottom: 15px;
                }

                @include min-width(992px) {
                    margin-bottom: 25px;
                }

                span {
                    color: $primary-color;
                }
            }

            .st-form {

                input,
                select,
                textarea {
                    font-size: 15px;
                    font-weight: 500;
                }
            }

            .submit-btn {
                margin-top: 15px;

                @include min-width(992px) {
                    margin-top: 30px;
                }

                .st-btn {
                    font-weight: 600;
                }
            }

            .add-info {
                margin-top: 15px;

                @include min-width(992px) {
                    margin-top: 30px;
                }

                p {
                    font-size: 16px;
                    color: #888;

                    a {
                        color: $primary-color;
                        text-decoration: underline;
                        @include transition;

                        &:hover {
                            color: #333;
                        }
                    }
                }
            }

            .other-options {
                margin-top: 20px;

                @include min-width(992px) {
                    margin-top: 60px;
                }

                >a {
                    font-size: 15px;
                    color: $primary-color;
                    @include transition;

                    &:hover {
                        color: #333;
                    }
                }

                >ul {
                    >li {
                        &.first {
                            color: #888;
                        }

                        &:not(:last-child) {
                            margin-right: 8px;
                        }

                        >a {
                            height: 25px;
                            width: 25px;
                            border-radius: 4px;
                            color: #fff;
                            text-decoration: none;
                            font-size: 11px;
                            @include transition;

                            @include min-width(992px) {
                                height: 30px;
                                width: 30px;
                                font-size: 11px;
                                font-size: 17px;
                            }
                        }

                        &.facebook {
                            >a {
                                background: #3b5998;

                                &:hover {
                                    background: darken($color: #3b5998, $amount: 5%);
                                }
                            }
                        }

                        &.google {
                            >a {
                                background: #f14335;

                                &:hover {
                                    background: darken($color: #f14335, $amount: 5%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// APPOINTMENT PAGE
// appointment-select-type
#appointment-select-type {
    background-color: $secondary-color;
}

.appointment-select-type {
    background-color: $secondary-color;
    padding: 15px 0 5px;

    .links {
        margin: 0 auto;

        @include min-width(768px) {
            width: 500px;
        }

        @include min-width(992px) {
            width: 600px;
        }

        >a {
            margin: 0 5px 10px;

            @include min-width(992px) {
                padding: 8px 25px;
            }
        }
    }
}

// st-appointment
#st-appointment {
    background: #f8f8f8;
}

.st-appointment {
    $leftRightGap: 20px;
    $borderColor: #d2d2d2;

    .book-appointment,
    .confirm-appointment,
    >.rt>.inner {
        border: 1px solid $borderColor;
        background-color: #fff;
    }

    .book-appointment,
    .confirm-appointment {
        .AP-head {
            font-size: 22px;
            font-weight: 600;
            color: #333;
        }
    }

    // >.lt {
    .book-appointment {
        margin-bottom: 20px;

        @include min-width(768px) {
            margin-bottom: 35px;
        }

        .AP-head {
            padding: 15px $leftRightGap;
            border-bottom: 1px solid $borderColor;
        }

        .nav-tabs {
            border-bottom: 1px solid $borderColor;
            padding: 10px 15px 0;

            @include min-width(992px) {
                padding: 10px calc(#{$leftRightGap} + 5px) 0;
            }

            >li {
                margin-bottom: 10px;

                &:not(:last-child) {
                    margin-right: 10px;

                    @include min-width(992px) {
                        margin-right: 30px;
                    }
                }

                >a {
                    border: none !important;
                    border-radius: 4px;
                    font-size: 15px;
                    font-weight: 600;
                    padding: 3px 7px;
                    color: #555;
                    @include transition(.1s);
                    min-width: 45px;

                    @include min-width(768px) {
                        min-width: 50px;
                    }

                    .day {
                        font-size: 14px;
                        margin-top: 3px;
                    }

                    &.active,
                    &:hover {
                        background-color: lighten($color: $borderColor, $amount: 8%);
                        color: $secondary-color;
                    }

                    &:active {
                        background-color: lighten($color: $borderColor, $amount: 4%);
                    }
                }
            }
        }

        .tab-pane {
            padding: 20px $leftRightGap;

            @include min-width(992px) {
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }

        .select-time {
            .frac {
                // &:not(:last-child) {
                margin-bottom: 10px;

                @include min-width(992px) {
                    margin-bottom: 20px;
                }

                // }
            }

            .head {
                width: 100px;
                padding-right: 7px;

                @include min-width(992px) {
                    width: 120px;
                }

                // p {
                font-size: 16px;
                color: #555;

                img {
                    width: 17px;
                    margin-right: 5px;

                    @include min-width(992px) {
                        width: 25px;
                    }
                }

                // }
            }

            ul {
                width: calc(100% - 100px);

                @include min-width(992px) {
                    width: calc(100% - 120px);
                }

                >li {
                    margin-bottom: 5px;


                    &:not(:last-child):not(.head) {
                        margin-right: 10px;

                        @include min-width(992px) {
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }

    // }

    .confirm-appointment {
        padding: $leftRightGap;

        .AP-head {
            margin-bottom: $leftRightGap;
        }

        .CA-form {
            @include min_width(768px) {
                .st-form.lt {
                    padding-right: 10px;
                }

                .st-form.rt {
                    padding-left: 10px;
                }
            }

            @include min_width(992px) {
                .st-form.lt {
                    padding-right: 15px;
                }

                .st-form.rt {
                    padding-left: 15px;
                }
            }

            .submit-btn {
                margin-top: 20px;

                @include min-width(768px) {
                    width: 50%;
                }

                .st-btn {
                    font-weight: 600;
                }
            }
        }
    }

    >.rt {
        @include min-width(992px) {
            padding-left: 25px;
        }

        >.inner {
            padding: 15px 15px 30px;

            @include min-width(992px) {
                padding-bottom: 50px;
            }
        }

        .top-bar {
            margin-bottom: 15px;

            p {
                color: #333;
                font-size: 15px;

                span {
                    font-weight: 600;
                }
            }
        }

        .bottom-bar {}

        .change-time {
            font-weight: 600;
            color: $primary-color;
            margin-bottom: 10px;
        }

        .doc-details {
            margin-bottom: 15px;
            margin-top: 5px;

            @include min-width(992px) {
                margin-bottom: 30px;
            }

            .img-sec {
                width: 65px;

                @include min-width(992px) {
                    width: 100px;
                }
            }

            .text-sec {
                width: calc(100% - 65px);
                padding-left: 15px;

                @include min-width(992px) {
                    width: calc(100% - 100px);
                    padding-left: 20px;
                }

                .name {
                    font-weight: 600;
                    margin-bottom: 5px;
                    color: #333;
                    text-transform: uppercase;
                    font-size: 17px;
                }

                .details {
                    font-size: 15px;
                    color: #555;
                }

            }

        }

        .address-details {
            img {
                width: 35px;

            }

            p {
                width: calc(100% - 35px);
                padding-left: 10px;
                font-size: 15px;
                color: #555;
            }
        }
    }
}

// BLOG PAGE
// blog-main
#blog-main {}

.blog-main {
    .blog-head {
        font-size: 27px;
        font-weight: 700;
        color: #333;
        border-bottom: 1px solid #d2d2d2;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .share-options {
        margin-bottom: 20px;

        .date {
            >div {
                font-size: 14px;
                font-weight: 600;
                color: #888;
                margin-right: 13px;

                i {
                    margin-right: 5px;
                }
            }
        }

        .socail {
            p {
                font-size: 19px;
                font-weight: 800;
                margin-right: 14px;
                color: #333;
            }
        }
    }

    .blog-img {
        img {
            width: 100%;
        }
    }

    .blog-details {
        margin-top: 15px;

        @include min-width(992px) {
            margin-top: 30px;
        }

        p {
            font-size: 18px;
            margin-bottom: 15px;
            color: #333;

            @include min-width(992px) {
                margin-bottom: 25px;
            }
        }
    }

    >.rt {
        padding-left: 20px;

        @include min-width(992px) {
            padding-left: 45px;
        }

        >.inner {}
    }

    .book-checkup {
        background-color: $secondary-color;
        padding: 15px;
        margin-bottom: 15px;

        @include min-width(992px) {
            margin-bottom: 25px;
            padding: 20px;
        }

        .head {
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            border-bottom: 1px solid #efefef;
            padding-bottom: 10px;
            margin-bottom: 10px;

            @include min-width(992px) {
                padding-bottom: 15px;
                margin-bottom: 15px;
            }
        }

        .desc {
            color: #fff;
            font-size: 16px;
            margin-bottom: 15px;
        }

        .form {
            .form-control {
                height: 40px;
            }

            .submit-btn {
                .st-btn {
                    font-weight: 600;
                }
            }
        }
    }

    .must-read {
        border: 1px solid #d2d2d2;
        border-top-width: 5px;
        border-top-color: $secondary-color;
        padding: 15px;

        @include min-width(992px) {
            padding: 20px;
        }

        .head {
            font-size: 20px;
            font-weight: 800;
            margin-bottom: 20px;
            color: #333;
        }

        .frac {
            &:not(:last-child) {
                margin-bottom: 10px;

                @include min-width(992px) {
                    margin-bottom: 20px;
                }
            }

            .img-sec {
                width: 60px;

                @include min-width(992px) {
                    width: 100px;
                }
            }

            .text-sec {
                width: calc(100% - 60px);
                padding-left: 15px;

                @include min-width(992px) {
                    width: calc(100% - 100px);
                }

                p {
                    font-size: 16px;
                    color: #333;
                }
            }
        }
    }
}

// INNER PAGE
// st-filterbar
#st-filterbar {
    background-color: $secondary-color;
}

.st-filterbar {
    padding: 15px 0 5px;

    @include min-width(992px) {
        margin: 0 -10px;
    }

    .item {
        margin-bottom: 10px;
        padding: 0 5px;

        @include min-width(992px) {
            width: calc(100% / 5);
            padding: 0 10px;
        }

        select,
        .btn {
            height: 40px;

            @include min-width(992px) {
                height: 45px;
            }
        }

        .btn {
            padding-top: 9px;

            @include min-width(768px) {
                padding-top: 8px;
            }

            @include min-width(992px) {
                padding-top: 10px;
            }
        }

        &.gender {
            select {
                background-color: transparent;
                color: #fff;
                border-color: #fff;

                option {
                    color: #000;
                }
            }
        }

        &.popularity {
            select {
                background-color: lighten($color: $secondary-color, $amount: 7%);
                color: #fff;
                border-color: $secondary-color;

                option {
                    color: #fff;
                }
            }
        }
    }
}

// docs-result
#docs-result {
    .top-bar {
        margin-bottom: 20px;

        .head {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 6px;
            color: #333;
        }

        .results {
            font-size: 14px;

            p {
                color: #666;
            }

            a {
                text-decoration: underline;
                color: $primary-color;
                font-weight: 600;
            }
        }
    }
}

.docs-result {
    $leftRightPadding: 20px;

    .left-bar {
        .dr-rhead {
            background: #505050;
            color: #fff;
            font-size: 22px;
            padding: 11px $leftRightPadding;
            margin-bottom: 15px;

            @include min-width(992px) {
                margin-bottom: 20px;
            }
        }
    }

    .frac {
        &:not(:last-child) {
            margin-bottom: $leftRightPadding;
        }

        >.inner {
            border: 1px solid #d2d2d2;
        }

        ul.checkboxes-list {
            >li {
                margin-bottom: 15px;

                @include min-width(992px) {
                    margin-bottom: 20px;
                }
            }
        }

        &.bukhar {
            background-color: #232323;

            >.inner {
                padding: $leftRightPadding;
            }

            img {
                width: 190px;
                margin-bottom: 15px;

                @include min-width(992px) {
                    margin-top: 5px;
                    margin-bottom: 20px;
                }
            }

            ul {}
        }

        &.hospital-types {
            // >.inner {
            //     padding: $leftRightPadding;
            // }
            ul.checkboxes-list {
                padding: 0 $leftRightPadding $leftRightPadding;
                .custom-checkbox {
                    .text {
                        color: #333;
                    }
                }
            }
        }
    }
}