// sass --watch scss/style.scss:css/style.css --style compact

// font-family: 'carmen-sans-regular', sans-serif;
// font-family: 'jasmina', sans-serif;
@import "components/reset";
@import "components/fonts";
@import "components/variables";
@import "components/mixins";
@import "components/common";

// GOOGLE FONTS
// font-family: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
    font-family: 'carmen-sans-regular', sans-serif;
    font-size: 15px;
    font-weight: 400;

    @include min-width($md-main) {
        font-size: 16px;
    }
}

// HOMEPAGE CSS

// header
#header {
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    // position: fixed;
    z-index: 99;
}

// HEADER TOP SEC
#header-top {
    background-color: $medium-white;
    color: #fff;
    padding: 5px 0;
    z-index: 1;
    position: relative;
    @include transition;

    @include min-width($md-main) {
        height: 40px;
    }
}

.header-top {
    .lt {
        p {
            font-family: 'Open Sans', sans-serif;
            color: #333;
            font-size: 14px;
            font-weight: 400;
        }
    }

    .rt {
        .select-country {
            @include min-width($lg-main) {
                margin-right: 15px;
            }
        }

        .dynamic-select>.input-main>input {
            height: 30px;
            width: 145px;
            padding: 0 23px 0 28px;
            font-size: 13px;
            font-family: 'Open Sans', sans-serif;
        }

        .dynamic-select>.input-main .flag {
            top: 50%;
            @include transformy(-50%);
            left: 7px;
        }

        .dynamic-select>.input-main .icon {
            right: 5px;
        }

        .dynamic-select>.input-main .icon i {
            font-size: 15px;
        }

        .dynamic-select .options {}

        .dynamic-select .options .frac>ul>li .label .flag {
            margin: 6px 7px 0 0;
        }

        .login-menu {
            >li {
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                font-weight: 400;
                margin-left: 15px;

                >a {
                    color: #333;
                    @include transition;

                    i {
                        margin-right: 3px;
                    }

                    >span {
                        // border-bottom: 1px solid transparent;
                        @include transition;
                    }

                    &:hover {
                        color: #000;

                        >span {
                            // border-bottom-color: $primary-color;
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}

// HEADER MAIN SEC
#header-main {
    @include transition;
}

.header-main {
    padding: 20px 0;

    .hm-lt,
    .hm-rt {
        @include transition;
    }

    .hm-lt {
        @include min-width($lg-main) {
            width: 259px;
        }
    }

    .hm-rt {
        padding-left: $defaultGap;

        .cart-menu {
            .icon {
                font-size: 23px;
                color: #000;
                @include transition;
                cursor: pointer;

                &:not(:last-child) {
                    margin-right: 15px;
                }

                &:hover {
                    color: $primary-color;
                }
            }

            .icon-cart {
                .count {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 10px;
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    vertical-align: top;
                    text-align: center;
                    padding-top: 5px;
                    color: #fff;
                    @include gradient-primary($defaultColorOrange, $gradColor1Orange, $gradColor2Orange);
                    top: 3px;
                    right: 0;

                    &:after {
                        content: '';
                        position: absolute;
                        left: -12px;
                        top: 50%;
                        display: block;
                        border-style: solid;
                        border-width: 7px;
                        border-color: transparent;
                        border-right-color: $primary-color;
                        @include transformy(-50%);
                    }
                }
            }
        }
    }

}

// WHEN HEADER FIXED
// #header.active {
//     #header-top {
//         margin-top: -40px;
//     }

//     @include min-width($md-main) {
//         #header-top {
//             margin-top: -40px;
//         }

//         #header-main {
//             margin-top: -98px;
//         }
//     }

//     @include min-width($lg-main) {
//         #header-main {
//             margin-top: -117px;
//         }
//     }

//     @include min-width($xl-main) {

//         .st-head-menu>li>a {
//             font-size: 15px;
//             padding-top: 12px;
//             padding-bottom: 12px;
//         }
//     }
// }

@include min-width($md-main) {
    .header-like-margin-top {
        margin-top: 190px;
    }

    .header-like-padding-top {
        padding-top: 190px;
    }
}

@include min-width($lg-main) {
    .header-like-margin-top {
        margin-top: 159px;
    }

    .header-like-padding-top {
        padding-top: 159px;
    }
}

// home slider
.home_slider {
    background-color: $slider-bg;

    .item {
        .img-main {
            img {
                width: 100%;
            }
        }

        .caption {
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.2);

            .caption-inner {
                padding: 0 $defaultGap;
            }

            .head {
                font-family: 'carmen-sans-extra-bold', sans-serif;
                font-size: 30px;
                text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                color: #fff;

                @include min-width($lg-main) {
                    font-size: 58px;
                }
            }

            .btn-sec {
                margin-top: 15px;

                @include min-width($lg-main) {
                    margin-top: 25px;
                }
            }
        }
    }
}

// OUR CATEGORIES
#our-categories {}

.our-categories {
    .item-main {
        height: 500px;
    }

    .item {
        padding-bottom: 30px;

        >.inner {
            border-radius: 25px;
            overflow: hidden;
            height: 100%;

            >img {
                max-width: none;
            }
        }

        .caption {
            top: 0;
            left: 0;
            padding: 15px;
            @include transition;

            &::after {
                content: '';
                height: calc(100% - 20px);
                width: calc(100% - 20px);
                position: absolute;
                top: 10px;
                left: 10px;
                border: 1px solid transparent;
                border-radius: 25px;
                @include transition;
            }

            &:hover {
                background: rgba(0, 0, 0, 0.3);

                &::after {
                    border-color: #fff;
                }
            }

            .st-btn {
                position: relative;
                z-index: 1;
            }
        }
    }
}


// HOME SHOP
#home-shop {}

.home-shop {
    .tabs-sec {
        .nav {
            margin-bottom: 30px;

            >.nav-item {
                margin: 0 20px;

                >.nav-link {
                    border-radius: 0;
                    padding: 0;
                    font-family: 'carmen-sans-bold', sans-serif;
                    font-size: 26px;
                    color: #666;
                    border-bottom: 2px solid transparent;
                    padding-bottom: 6px;
                    @include transition;

                    &.active,
                    &:hover {
                        color: #000;
                        border-bottom-color: $primary-color;
                        background-color: transparent !important;
                    }
                }
            }
        }
    }
}

// OUR FEATURES
#home-our-features {
    background-color: $our-features-bg-color;
}

.home-our-features {
    .item {
        .st-head-two {
            margin-bottom: 5px;
        }

        .st-desc {

            @include min-width($md-main) {
                line-height: 35px;
                max-width: 80%;
            }
        }

        .buy-now-btn {
            margin-top: 25px;
            margin-bottom: 25px;
        }

        .price {
            font-family: 'carmen-sans-bold', sans-serif;
            font-size: 35px;

            span {
                font-size: 30px;
                font-family: 'jasmina', sans-serif;
                margin-right: 5px;
            }
        }
    }

    #our-features-slider {
        .owl-nav {
            margin-top: -20px;
            z-index: 1;
            position: relative;

            >button {
                background: darken($color: $our-features-bg-color, $amount: 10);
                height: 40px;
                width: 35px;
                font-size: 29px;
                @include transition;
                outline: none !important;

                &.owl-prev {
                    margin-right: 10px;
                }

                &.owl-next {}

                &:hover {
                    background: darken($color: $our-features-bg-color, $amount: 20);
                }
            }
        }
    }
}


// OUR FEATURES
#about-boutique {}

.about-boutique {
    background: url('../images/about-boutique/bg-dotted.png') no-repeat 0 center / 55%;
    padding: 20px 0;

    @include min-width($lg-main) {
        padding: 50px 0;
    }

    .lt {
        .round-gray-img {
            height: 400px;
            width: 400px;
            background: #f5f5f5;
            padding: 15px 10px 0;

            img {
                z-index: 1;
            }
        }

        .gradient-round-small {
            height: 50px;
            width: 50px;
            top: 7%;
            left: 23%;
            @include gradient-primary($defaultColorOrange, $gradColor1Orange, $gradColor2Orange);
        }

        .gradient-round-big {
            height: 150px;
            width: 150px;
            top: 16%;
            left: -30px;
            @include gradient-primary($defaultColorOrange, $gradColor1Orange, $gradColor2Orange);
        }
    }

    .rt {
        @include min-width($lg-main) {
            padding-left: 20px;
        }

        .st-desc {
            @include min-width($lg-main) {
                line-height: 35px;
            }
        }

        .st-btn {
            margin-top: 25px;

            @include min-width($lg-main) {
                padding-left: 40px;
                padding-right: 40px;
                margin-top: 40px;
            }
        }
    }
}


// home video
#home-video {
    background: url('../images/home-video/home-bg-img.jpg') no-repeat center / cover;
}

.home-video {
    .img-sec {
        margin-bottom: 20px;
    }
}

// TESTIMONIALS
#testimonials {
    border-bottom: 1px solid #bbb;
    padding-top: 30px;
    padding-bottom: 30px;

    @include min-width($sm-main) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @include min-width($lg-main) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.testimonials {
    .section-heading .st-head-two {
        font-size: 30px;
        color: #000;

        @include min-width($lg-main) {
            margin-bottom: 60px;
        }

        img {
            width: 120px;
            left: -100px;
            top: -20px;

            @include min-width($lg-main) {}
        }
    }

    .item {

        .text-sec {
            .inner {
                @include transition(.4s);
                margin-bottom: 50px;
            }

            p {
                font-family: 'Open Sans', sans-serif;
                font-size: 15px;
                line-height: 28px;
                letter-spacing: .6px;
                color: #333;
                margin: 0 auto;
            }
        }

        .user-sec {
            padding: 0 15px;

            .user-img {
                height: 45px;
                width: 45px;
                background: $light-white;

                img {
                    max-height: 100%;
                }
            }

            .user-details {
                margin-top: 20px;

                .user-name {
                    font-family: 'carmen-sans-extra-bold', sans-serif;
                    font-size: 17px;
                    margin-bottom: 10px;
                    color: #000;
                }

                .user-prof {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    color: #6b6b6b;
                }
            }
        }

    }
}

// OUR SPECIALITY
#our-speciality {}

.our-speciality {
    .item {
        .img-sec {
            width: 70px;
        }

        .text-sec {
            .head {
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                color: #000;
                font-size: 17px;
                margin-bottom: 5px;
            }

            .desc {
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                color: #888;
            }
        }
    }
}

// FOOTER
footer {
    background: $footer-bg-color url("../images/fotter-bg.png") no-repeat center bottom/100% 77%;

    .st-text,
    .ft-link {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: $footer-text-color;
        line-height: 23px;

        &.mb {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }

        >i {
            width: 35px;
            font-size: 20px;
            padding-top: 5px;
        }
    }
}

#ft-newsletter {
    @include min-width($sm-main) {}

    @include min-width($lg-main) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.ft-newsletter {
    @include min-width($sm-main) {
        padding-bottom: 100px;
    }

    @include min-width($lg-main) {
        padding-bottom: 230px;
    }

    .section-heading {
        img {
            width: 65px;
            margin-bottom: 15px;
        }

        .st-head-two {
            color: #000;
            margin-bottom: 15px;
        }
    }

    .st-desc {
        font-size: 16px;

        @include min-width($md-main) {
            margin-bottom: 30px;
            max-width: 65%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .form {
        @include min-width($md-main) {
            width: 440px;
        }

        >input {
            height: 50px;
            border-radius: 50px;
            background: #ddd;
            padding: 2px 70px 2px 20px;
            font-size: 14px;
            outline: none !important;
            border-color: #ddd !important;

            &:focus {}
        }

        >button {
            top: 0;
            right: 0;
            height: 100%;
            background: #000;
            width: 60px;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            color: #fff;
            font-size: 22px;
        }
    }
}

#ft-top {}

.ft-top {
    padding-bottom: 15px;

    @include min-width($lg-main) {
        padding-bottom: 35px;
    }

    .ft-head {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        margin-bottom: 15px;
        color: #fff;
        font-weight: 600;

        @include min-width($md-main) {
            margin-bottom: 27px;
        }
    }

    .footer-ul {
        >li {
            &:not(:last-child) {
                margin-bottom: 10px;
            }

            >a {
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                color: $footer-text-color;
                @include transition;

                &:hover {
                    margin-left: 3px;
                }
            }
        }
    }

    .one {
        img {
            // width: 200px;
            margin-bottom: 20px;

        }

        .st-text {
            margin-bottom: 15px;

            >i {
                width: 30px;
                font-size: 15px;
                padding-top: 6px;
            }
        }

    }

    .two {
        .ft-link {}

        .st-text {
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    .social-links {
        >li {
            &:not(:last-child) {
                padding-right: 20px;
            }

            >a {
                background: #bbbbbb;
                color: #161616;
                font-size: 15px;
                height: 30px;
                width: 30px;
                border-radius: 100%;
                @include transition(.1s);

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    .newsletter {

        >.form {
            position: relative;

            input,
            .btn {}

            input {
                height: 50px;
                border-radius: 5px;
                border: 1px solid #bbbbbb;
                font-size: 15px;

                color: #000;
                letter-spacing: 0.7px;
            }

            .st-btn {
                font-family: styling, sans-serif;
                padding: 11px 30px 10px;
                font-size: 18px;
                letter-spacing: 1px;
            }

            @include max-width($md-less-one) {
                >input {
                    padding-right: 50px;
                }

                button.mobile {
                    border: none !important;
                    outline: none !important;
                    box-shadow: none !important;
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    height: calc(100% - 10px);
                    width: 40px;
                    background: $secondary-color;
                    font-size: 20px;
                    color: #fff;
                    padding: 0;
                    border-radius: 5px;

                    &:hover {
                        background-color: lighten($color: $secondary-color, $amount: 10);
                        color: #fff;
                    }

                    &:active {
                        background-color: darken($color: $secondary-color, $amount: 3);
                    }
                }
            }
        }
    }
}

.ft-bottom {
    padding: 15px 0 25px;
    border-top: 1px solid #313131;
}