/* COLORS */
/* main colors */
$primary-color: #c99d48;
$secondary-color: #f2f2f2;

/* other colors */
$light-white: #f4f4f4;
$medium-white: #7d7d7d;

$sucess-color: #56ca66;
$input-border-color: #bdbdbd;

/* MARGINS,PADDING */
$default-gap: 15px;

/* RESPONSIVE BREAKPOINTS */
$sm-main: 576px;
$sm-less-one: 575px;

$md-main: 768px;
$md-less-one: 767px;

$lg-main: 992px;
$lg-less-one: 991px;

$xl-main: 1200px;
$xl-less-one: 1199px;