button.no-style {
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
}

.st-btn {
    background-color: #666;
    padding: 11px 10px 9px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
    outline: none !important;
    box-shadow: none !important;

    /* PRIMARY BTN */
    &.st-btn-primary {
        background-color: $primary-color;

        &:hover {
            background-color: darken($color: $primary-color, $amount: 5%);
            color: #fff;
        }

        &:active {
            background-color: darken($color: $primary-color, $amount: 8%);
        }
    }

    /* SECONDARY BTN */
    &.st-btn-secondary {
        background-color: $secondary-color;

        &:hover {
            background-color: darken($color: $secondary-color, $amount: 5%);
        }

        &:active {
            background-color: darken($color: $secondary-color, $amount: 8%);
        }
    }

    /* FACEBOOK BTN */
    &.st-btn-facebook {
        background-color: #5c7cad;
        padding: 8px 10px 7px;
        font-size: 15px;
        color: #fff;

        @include min_width($lg-main) {
            font-size: 20px;
        }

        &:hover {
            background-color: darken($color: #5c7cad, $amount: 5%);
            color: #fff;
        }

        &:active {
            background-color: darken($color: #5c7cad, $amount: 8%);
            color: #fff;
        }
    }

    /* ST BTN OUTLINE */
    &.st-btn-outline {
        border: 1px solid #d8d8d8;
        background: transparent;
        color: #333;
        box-shadow: inset 0px 0 6px rgba(0, 0, 0, 0.2) !important;
        padding: 4px 10px 3px;
        border-radius: 4px !important;
        &:hover {
            background-color: #efefef;
        }

        &:active {
            background-color: #efefef;
        }
    }
}