/* HEADING STYLES */
.st-img-heading {
    margin-bottom: 20px;
}

.st-text {
    &:not(:last-child) {
        margin-bottom: 10px;
    }

    &.st-text-sm {
        font-size: 13px;
        line-height: 20px;
    }
}

.st-heading-with-bg {
    background-color: darken($color: $secondary-color, $amount: 12%);
    margin-bottom: 10px;
    border: 1px solid #ddd;
    color: #000;
    font-size: 20px;
    padding: 4px;
}