/* SCROLLBAR */
@import 'styles/scrollbar';

/* COLORS STYLES */
@import 'styles/colors';

/* BUTTONS STYLES */
@import 'styles/buttons';

/* TEXT STYLES */
@import 'styles/text';

/* HEADING STYLES */
@import 'styles/headings';

/* FORMS STYLES */
@import 'styles/form';

// common margin and padding
.ST_def-mar-T,
.ST_def-mar-TB {
    margin-top: 20px;

    @include min_width(992px) {
        margin-top: 50px;
    }
}

.ST_def-mar-B,
.ST_def-mar-TB {
    margin-bottom: 20px;

    @include min_width(992px) {
        margin-bottom: 50px;
    }
}

.ST_def-pad-T,
.ST_def-pad-TB {
    padding-top: 20px;

    @include min_width(992px) {
        padding-top: 50px;
    }
}

.ST_def-pad-B,
.ST_def-pad-TB {
    padding-bottom: 20px;

    @include min_width(992px) {
        padding-bottom: 50px;
    }
}


// APP BADGE
.app-badge {
    background: #333;
    padding: 2px;
    height: 22px;
    width: 22px;
    top: 0;
    right: -5px;
    color: #fff;

    &.app-badge-primary {
        background-color: $primary-color;
    }

    &.app-badge-secondary {
        background-color: $secondary-color;
    }
}

// img classes
.img-fluid-height {
    max-height: 100%;
}

// common slider classes
.st-common-slider-item {
    .st-common-slider-item-inner {}
}

.st-common-slider-img-sec {
    height: 150px;

    >img {
        width: auto !important;
    }
}

// app-devider
.app-devider {
    height: 1px;
    width: 100%;
    background-color: $app-border-color;
}

// or text
.or-text {
    &::after {
        content: '';
        background-color: $app-border-color;
        height: 1px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        @include transformy(-50%)
    }

    span {
        z-index: 1;
        background-color: #fff;
        padding: 0 5px;
        color: $app-border-color;
    }
}

// SITE BREADCRUMBS
#st-breadcrumbs {
    margin: 20px 0;
}

.st-breadcrumbs {
    ul {
        li {
            &:not(:last-child) {
                &::after {
                    content: '>';
                    margin: 0 8px 0 5px;
                }
            }

            a {
                color: $primary-color;
            }

            &:last-child {
                a {
                    color: $dark-text-color;
                    pointer-events: none;
                }
            }
        }
    }
}

// ST-RADIO
.st-radio {
    font-weight: normal;
    cursor: pointer;

    .round {
        height: 16px;
        width: 16px;
        padding: 2px;
        border: 2px solid $primary-color;
        margin-top: 3px;

        .round-inner {
            background-color: $primary-color;
            opacity: 0;
            @include transition(.2s);
        }
    }

    .text {
        @include transition(.2s);

        &:hover {
            color: #111 !important;
        }
    }

    >input:checked {
        &+.round {
            .round-inner {
                opacity: 1;
            }
        }

        &~.text {
            color: #111 !important;
        }
    }
}

// range slider css
.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
    font-size: 11px;
    background-color: $dark-text-color;
}
.irs--round .irs-from:before, .irs--round .irs-to:before, .irs--round .irs-single:before {
    border-top-color: $dark-text-color;
}
.irs--round .irs-bar {
    background-color: $dark-text-color;
}

.irs--round .irs-handle {
    top: 28px;
    width: 20px;
    height: 20px;
    border-width: 2px;
    border-color: $dark-text-color;
}