// colors
$primary-color: #06a0a8;
$secondary-color: #ec5c16;

$st-bg-color:#e8ebf0;

$footer-bg-color:#384651;
$footer-text-color:#c7d1d9;


/* RESPONSIVE BREAKPOINTS */
$sm-min: 576px;
$sm-max: 575px;

$md-min: 768px;
$md-max: 767px;

$lg-min: 992px;
$lg-max: 991px;

$xl-min: 1200px;
$xl-max: 1199px;

// TEXT COLORS
$dark-text-color: #3d3d3d;
$light-text-color: #6e6e6e;

// border-radius
$app-block-border-radius: 4px;
$borderRadiusInputsAndButtons: 5px;
$app-border-color: #bfbfbf;