html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  /* vertical-align: baseline; */
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* HELVETICA FONTS */
@font-face {
  font-family: 'helvetica';
  src: url("../fonts/Helvetica-Font/Helvetica.ttf");
}
/* CENTURY GOTHIC */
@font-face {
  font-family: 'century-gothic-regular';
  src: url("../fonts/century-gothic/century-gothic-regular.ttf");
}
@font-face {
  font-family: 'century-gothic-bold';
  src: url("../fonts/century-gothic/century-gothic-bold.ttf");
}
/* OPEN SANS */
@font-face {
  font-family: 'open-sans-light';
  src: url("../fonts/open-sans/OpenSans-Light.ttf");
}
@font-face {
  font-family: 'open-sans-regular';
  src: url("../fonts/open-sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: 'open-sans-bold';
  src: url("../fonts/open-sans/OpenSans-Bold.ttf");
}
.font-family-helvetica {
  font-family: 'helvetica', sans-serif;
}

.font-family-arial {
  font-family: 'arial', sans-serif;
}

.font-family-century-gothic-regular {
  font-family: 'century-gothic-regular', sans-serif;
}

.font-family-century-gothic-bold {
  font-family: 'century-gothic-bold', sans-serif;
}

.font-family-open-sans-light {
  font-family: 'open-sans-light', sans-serif;
}

.font-family-open-sans-regular {
  font-family: 'open-sans-regular', sans-serif;
}

.font-family-open-sans-bold {
  font-family: 'open-sans-bold', sans-serif;
}

.font-family-times-new-roman {
  font-family: 'times new roman', sans-serif;
}

/* COLORS */
/* main colors */
/* OTHER COLORS */
/* MARGINS,PADDING */
/* RESPONSIVE BREAKPOINTS */
/* SCROLLBAR */
/* SCROLLBAR */
/* WIDTH */
::-webkit-scrollbar {
  width: 8px;
}

/* TRACK */
::-webkit-scrollbar-track {
  background: #d1d1d1;
}

/* HANDLE */
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 15px;
}

/* HANDLE ON HOVER */
::-webkit-scrollbar-thumb:hover {
  background: #1f1f1f;
}

/* COMMON CSS */
.clear-parent::after {
  content: "";
  display: block;
  clear: both;
}

/* COLORS STYLES */
/* COLORS */
.background-primary {
  background-color: #c99d48 !important;
}

.background-secondary {
  background-color: #f7f7f7 !important;
}

/* BUTTONS STYLES */
button.no-style {
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
}

.st-btn {
  background-color: #666;
  padding: 11px 10px 9px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
  outline: none !important;
  box-shadow: none !important;
  cursor: pointer;
  /* BTN LG */
  /* PRIMARY BTN */
  /* SECONDARY BTN */
  /* DARK GRAY BTN */
  /* FACEBOOK BTN */
  /* ST BTN OUTLINE */
}
@media screen and (min-width: 768px) {
  .st-btn.st-btn-lg {
    padding: 15px 20px 12px;
    font-size: 14px;
  }
}
.st-btn.st-btn-primary {
  background-color: #c99d48;
}
.st-btn.st-btn-primary:hover {
  background-color: #bf9138;
  color: #fff;
}
.st-btn.st-btn-primary:active {
  background-color: #b38835;
}
.st-btn.st-btn-secondary {
  background-color: #f7f7f7;
}
.st-btn.st-btn-secondary:hover {
  background-color: #eaeaea;
}
.st-btn.st-btn-secondary:active {
  background-color: #e3e3e3;
}
.st-btn.st-btn-dark-gray {
  background-color: #414141;
  color: #c99d48 !important;
}
.st-btn.st-btn-dark-gray:hover {
  background-color: #343434;
  color: #c99d48 !important;
}
.st-btn.st-btn-dark-gray:active {
  background-color: #2d2d2d;
  color: #c99d48 !important;
}
.st-btn.st-btn-facebook {
  background-color: #5c7cad;
  padding: 8px 10px 7px;
  font-size: 15px;
  color: #fff;
}
@media screen and (min-width: 992px) {
  .st-btn.st-btn-facebook {
    font-size: 20px;
  }
}
.st-btn.st-btn-facebook:hover {
  background-color: #506f9f;
  color: #fff;
}
.st-btn.st-btn-facebook:active {
  background-color: #4b6895;
  color: #fff;
}
.st-btn.st-btn-outline {
  border: 1px solid #d8d8d8;
  background: transparent;
  color: #333;
  box-shadow: inset 0px 0 6px rgba(0, 0, 0, 0.2) !important;
  padding: 4px 10px 3px;
  border-radius: 4px !important;
}
.st-btn.st-btn-outline:hover {
  background-color: #efefef;
}
.st-btn.st-btn-outline:active {
  background-color: #efefef;
}

/* TEXT STYLES */
/* FONT WEIGHT CLASSES */
.font-weight-100 {
  font-weight: 100 !important;
}

.font-weight-200 {
  font-weight: 200 !important;
}

.font-weight-300 {
  font-weight: 300 !important;
}

.font-weight-400 {
  font-weight: 400 !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.font-weight-700 {
  font-weight: 700 !important;
}

.font-weight-800 {
  font-weight: 800 !important;
}

.font-weight-900 {
  font-weight: 900 !important;
}

.st-text-gray {
  color: gray !important;
}

.st-text-primary {
  color: #c99d48 !important;
}

.st-text-secondary {
  color: #f7f7f7 !important;
}

a.st-text-primary:hover {
  color: #ab8233;
}

a.st-text-secondary:hover {
  color: #dedede;
}

.font-size-10 {
  font-size: 10px !important;
}

.font-size-11 {
  font-size: 11px !important;
}

.font-size-12 {
  font-size: 12px !important;
}

.font-size-13 {
  font-size: 13px !important;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-15 {
  font-size: 15px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-20 {
  font-size: 20px !important;
}

.text-black {
  color: #000 !important;
}

.st-desc:not(:last-child) {
  margin-bottom: 15px;
}

/* HEADING STYLES */
/* HEADING STYLES */
.st-img-heading {
  margin-bottom: 20px;
}

.st-text:not(:last-child) {
  margin-bottom: 10px;
}
.st-text.st-text-sm {
  font-size: 13px;
  line-height: 20px;
}

.st-heading-with-bg {
  background-color: #d8d8d8;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  color: #000;
  font-size: 20px;
  padding: 4px;
}

.st-heading-underline {
  font-size: 30px;
  border-bottom: 4px solid #000;
  color: #000;
  margin-bottom: 15px;
}
@media screen and (min-width: 992px) {
  .st-heading-underline:not(.st-heading-sm) {
    font-size: 40px;
  }
}
.st-heading-underline.with-logo-img {
  font-size: 28px;
  border-bottom-width: 2px;
}
@media screen and (min-width: 768px) {
  .st-heading-underline.with-logo-img {
    padding-left: 60px;
  }
  .st-heading-underline.with-logo-img:after {
    content: '';
    width: 51px;
    height: 24px;
    display: block;
    background-image: url("../images/f1_logo_s.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    position: absolute;
    top: 7px;
    left: 0;
  }
  .st-heading-underline.with-logo-img:hover {
    color: #c99d48;
    border-color: #c99d48;
  }
  .st-heading-underline.with-logo-img:hover::after {
    background-position: 0 -24px;
  }
}
@media screen and (min-width: 992px) {
  .st-heading-underline.with-logo-img {
    font-size: 32px;
  }
}
.st-heading-underline.st-heading-sm {
  padding-bottom: 4px;
}
.st-heading-underline.st-border-primary {
  border-bottom-color: #ab8233;
}
.st-heading-underline.st-border-secondary {
  border-bottom-color: #f7f7f7;
}
.st-heading-underline.st-border-light-width {
  border-bottom-width: 1px;
}
.st-heading-underline.st-heading-xs {
  font-size: 27px;
  padding-bottom: 4px;
}

.st-heading-open-sans {
  font-size: 30px;
  margin-bottom: 10px;
}
.st-heading-open-sans.st-small {
  font-size: 25px;
}

/* COMMON CSS */
.outline-none {
  outline: none !important;
}

.ST_def-mar-T,
.ST_def-mar-TB {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .ST_def-mar-T,
  .ST_def-mar-TB {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .ST_def-mar-T,
  .ST_def-mar-TB {
    margin-top: 50px;
  }
}

.ST_def-mar-B,
.ST_def-mar-TB {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .ST_def-mar-B,
  .ST_def-mar-TB {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .ST_def-mar-B,
  .ST_def-mar-TB {
    margin-bottom: 50px;
  }
}

.ST_def-pad-T,
.ST_def-pad-TB {
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .ST_def-pad-T,
  .ST_def-pad-TB {
    padding-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .ST_def-pad-T,
  .ST_def-pad-TB {
    padding-top: 50px;
  }
}

.ST_def-pad-B,
.ST_def-pad-TB {
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .ST_def-pad-B,
  .ST_def-pad-TB {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .ST_def-pad-B,
  .ST_def-pad-TB {
    padding-bottom: 50px;
  }
}

.st-ul-styled {
  padding-left: 17px;
}

/* SOCIAL LINKS */
.social-links-container .social-links > li:not(:last-child) {
  margin-right: 5px;
}
.social-links-container .social-links > li > a {
  height: 20px;
  width: 20px;
  transition: 0.3s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .social-links-container .social-links > li > a {
    height: 30px;
    width: 30px;
  }
}
.social-links-container .social-links > li > a:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.social-links-container .social-links > li > a.facebook {
  background-image: url("../images/FACEBOOK-GOLD.png");
}
.social-links-container .social-links > li > a.youtube {
  background-image: url("../images/YOUTUBE-GOLD.png");
}
.social-links-container .social-links > li > a.instagram {
  background-image: url("../images/INSTAGRAM-GOLD.png");
}
.social-links-container .social-links > li > a.twitter {
  background-image: url("../images/TWITTER-GOLD.png");
}
.social-links-container .social-links > li > a.rss {
  background-image: url("../images/RSS-GOLD.png");
}
.social-links-container .social-links > li > a.googleplus {
  background-image: url("../images/GOOGLE-PLUS-GOLD.png");
}
.social-links-container .social-links > li > a.pinterest {
  background-image: url("../images/PINTEREST-GOLD.png");
}

/* SOCIAL LINKS 2 */
.social-links-container2 .social-links2 > li:not(:last-child) {
  margin-right: 4px;
}
.social-links-container2 .social-links2 > li > a {
  height: 42px;
  width: 42px;
  background: url("../images/ev_socials_16.png");
  transition: 0.3s;
  background-size: 320px;
}
.social-links-container2 .social-links2 > li > a:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.social-links-container2 .social-links2 > li > a.facebook {
  background-position: -216px -14px;
}
.social-links-container2 .social-links2 > li > a.facebook:hover {
  background-position: -216px -66px;
}
.social-links-container2 .social-links2 > li > a.instagram {
  background-position: -5px -15px;
}
.social-links-container2 .social-links2 > li > a.instagram:hover {
  background-position: -5px -66px;
}
.social-links-container2 .social-links2 > li > a.googleplus {
  background-position: -57px -14px;
}
.social-links-container2 .social-links2 > li > a.googleplus:hover {
  background-position: -57px -64px;
}
.social-links-container2 .social-links2 > li > a.pinterest {
  background-position: -108px -14px;
}
.social-links-container2 .social-links2 > li > a.pinterest:hover {
  background-position: -108px -66px;
}
.social-links-container2 .social-links2 > li > a.youtube {
  background-position: -163px -14px;
}
.social-links-container2 .social-links2 > li > a.youtube:hover {
  background-position: -164px -66px;
}
.social-links-container2 .social-links2 > li > a.twitter {
  background-position: -270px -14px;
}
.social-links-container2 .social-links2 > li > a.twitter:hover {
  background-position: -270px -66px;
}

/* DYNAMIC TABS */
.st-dynamic-tabs {
  border-bottom: none;
}
.st-dynamic-tabs > .nav-item {
  margin-bottom: 0;
}
.st-dynamic-tabs > .nav-item > .nav-link {
  color: #333;
  background-color: transparent;
  border-radius: 0;
  border: none;
}
.st-dynamic-tabs > .nav-item > .nav-link:hover, .st-dynamic-tabs > .nav-item > .nav-link.active {
  background-color: #ccc;
}

.progress-steps .progress {
  height: 24px;
  border-width: 2px !important;
  border-color: #000 !important;
}
.progress-steps .progress .progress-bar {
  background-color: #60503a;
}
.progress-steps .frac .inner .progress {
  width: calc(100% - 70px);
}
.progress-steps .frac .inner .r-text {
  width: 70px;
  padding-left: 5px;
}

/* FONTS */
/* font-family: 'Arial', sans-serif; */
/* font-family: 'helvetica', sans-serif; */
body {
  font-family: 'Arial', sans-serif;
  font-size: 15px;
}

/* HOMEPAGE CSS */
/* HEADER */
#header {
  /* top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 99; */
  background-color: #f2f2f2;
}

/* HEADER SEARCH */
.header-search .search {
  width: 170px;
}
@media screen and (min-width: 768px) {
  .header-search .search {
    width: 180px;
  }
}
.header-search .search input {
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 13px;
  padding: 1px 33px 0 7px;
  font-family: 'helvetica', sans-serif;
}
@media screen and (min-width: 768px) {
  .header-search .search input {
    height: 32px;
  }
}
.header-search .search input:hover, .header-search .search input:focus, .header-search .search input:active {
  border-color: #b7b7b7;
}
.header-search .search .search-btn {
  background: url("../images/header_search_btn.png") no-repeat center/auto;
  width: 30px;
  height: 30px;
  top: 50%;
  right: 3px;
  -webkit-transform: translatey(-50%);
  transform: translatey(-50%);
}

.header {
  padding: 10px 0;
}
.header .logo {
  width: 160px;
}

/* MAIN HEADER */
#main-header {
  border-bottom: 1px solid #dedede;
}

/* MENU */
#menu {
  background-color: #fff;
  border-top: 2px solid #f7f7f7;
  border-bottom: 2px solid #f7f7f7;
  padding: 2px 0;
}
#menu .navbar {
  padding: 0;
}
#menu .navbar .navbar-toggler .navbar-toggler-icon {
  padding: 7px 0 0;
  font-size: 21px;
  border: 1px solid #c99d48;
  color: #c99d48;
  width: 36px;
  height: 36px;
}
#menu .navbar-nav > .nav-item > .nav-link {
  font-family: helvetica, sans-serif;
  font-size: 14px;
  padding: 9px 10px 8px;
  color: #404040;
  border: 1px solid transparent;
}
@media screen and (max-width: 767px) {
  #menu .navbar-nav > .nav-item > .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }
}
#menu .navbar-nav > .nav-item > .nav-link:hover, #menu .navbar-nav > .nav-item > .nav-link.active {
  color: #866c44;
  background-color: #f7f7f7;
  border-color: #f2f2f2;
}
#menu .navbar-nav > .nav-item > .nav-link.important {
  color: red;
}
#menu .navbar-nav > .nav-item:hover > a, #menu .navbar-nav > .nav-item.active > a {
  color: #866c44;
  background-color: #f7f7f7;
  border-color: #f2f2f2;
}
#menu .navbar-nav > .nav-item.dropdown .dropdown-menu {
  margin: 0;
  border-radius: 0;
  padding: 0;
  background-color: #eaeaea;
  border: none;
}
@media screen and (min-width: 992px) {
  #menu .navbar-nav > .nav-item.dropdown .dropdown-menu {
    min-width: 200px;
  }
  #menu .navbar-nav > .nav-item.dropdown .dropdown-menu.mega-menu {
    min-width: 360px;
  }
}
#menu .navbar-nav > .nav-item.dropdown .dropdown-menu .dropdown-item {
  font-family: helvetica, sans-serif;
  font-size: 13px;
  padding: 10px 15px;
  color: #404040;
  border-radius: 0;
  border: 1px solid transparent;
  border-bottom: 1px dotted #aaa;
  border-radius: 0;
  color: #866c44;
  white-space: normal;
}
@media screen and (max-width: 767px) {
  #menu .navbar-nav > .nav-item.dropdown .dropdown-menu .dropdown-item {
    padding-left: 10px;
    padding-right: 10px;
  }
}
#menu .navbar-nav > .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #dedede;
}
#menu .navbar-nav > .nav-item.dropdown .dropdown-menu .menu-sec > ul > li {
  width: 100%;
}
@media screen and (min-width: 768px) {
  #menu .navbar-nav > .nav-item.dropdown .dropdown-menu .menu-sec > ul > li {
    width: 50%;
  }
  #menu .navbar-nav > .nav-item.dropdown .dropdown-menu .menu-sec > ul > li:nth-child(odd) .dropdown-item {
    text-align: right;
  }
}
#menu .navbar-nav > .nav-item.dropdown:hover .dropdown-menu {
  display: block !important;
}

/* TRADMARK */
#trademark {
  background: url("../images/trademarkBG.png") no-repeat center/auto;
}
#trademark .info-sec {
  border: 2px solid #000;
}
#trademark .info-sec .inner {
  padding: 10px 10px;
}

/* FOOTER */
footer {
  background-color: #eaeaea;
  padding: 20px 0;
}
footer .footer-heading {
  margin-bottom: 10px;
  color: #000;
}
@media screen and (min-width: 768px) {
  footer .footer-heading {
    font-size: 17px;
  }
}
footer .footer-ul > li {
  padding: 5px 0;
}
footer .footer-ul > li > a {
  font-size: 14px;
  color: #333;
  transition: 0.3s;
}
footer .footer-ul > li > a:hover {
  color: #c99d48;
}
footer .footer-big-links > a {
  line-height: 14px;
  height: 14px;
  transition: 0.3s;
}
footer .footer-big-links > a:not(:last-child) {
  border-right: 2px solid #000;
  margin-right: 5px;
  padding-right: 8px;
}
footer .footer-big-links > a:hover {
  color: #c99d48;
}

.footer {
  margin-bottom: 30px;
}

/* PROGRAMS CONTAINER */
.programs-container > .item {
  padding: 0 1px 15px;
}
@media screen and (min-width: 576px) {
  .programs-container > .item {
    padding-bottom: 25px;
  }
  .programs-container > .item:nth-last-child(1), .programs-container > .item:nth-last-child(2) {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .programs-container > .item {
    padding-bottom: 40px;
  }
  .programs-container > .item:nth-last-child(1), .programs-container > .item:nth-last-child(2), .programs-container > .item:nth-last-child(3) {
    padding-bottom: 0;
  }
}
.programs-container > .item .text-sec {
  padding: 0 10px;
}
.programs-container > .item .text-sec .head {
  color: #666;
  font-size: 14px;
  transition: 0.3s;
}
.programs-container > .item .text-sec .head:hover {
  color: #444;
}
.programs-container > .item .text-sec .text {
  font-size: 12px;
}

/* VIDEOS PAGE */
.common-container-with-right-bar .common-container-left-sec {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .common-container-with-right-bar .common-container-left-sec {
    width: calc(100% - 280px);
  }
}
.common-container-with-right-bar .common-container-right-sec {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .common-container-with-right-bar .common-container-right-sec {
    width: 280px;
  }
}

.youtube-video-black-container > .inner {
  -webkit-box-shadow: 0px 0px 3px 3px #ccc;
  box-shadow: 0px 0px 3px 3px #ccc;
  background: #000;
  border: solid 1px #fff;
}
.youtube-video-black-container iframe {
  width: 100%;
  height: 300px;
}
@media screen and (min-width: 768px) {
  .youtube-video-black-container iframe {
    height: 400px;
  }
}

.show-more-container .text.less-content {
  height: 50px;
}

.single-fashion-news-block:hover {
  background-color: #efefef;
}
.single-fashion-news-block .img-sec {
  width: 80px;
  border: 1px solid #ddd;
  padding: 2px;
}
.single-fashion-news-block .img-sec img {
  max-height: 100%;
}
.single-fashion-news-block .time {
  background-color: #000;
  padding: 2px 5px 3px;
  top: 0;
  left: 0;
}
.single-fashion-news-block.bg .img-sec {
  width: 100px;
}

#recent-videos-slider .owl-nav,
#modal-workout-videos-slider .owl-nav,
#modal-workout-download-slider .owl-nav {
  position: absolute;
  top: -50px;
  right: 0;
}
#recent-videos-slider .owl-nav button[type="button"],
#modal-workout-videos-slider .owl-nav button[type="button"],
#modal-workout-download-slider .owl-nav button[type="button"] {
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  outline: none;
  opacity: 0.6;
  transition: 0.1s;
}
#recent-videos-slider .owl-nav button[type="button"] span,
#modal-workout-videos-slider .owl-nav button[type="button"] span,
#modal-workout-download-slider .owl-nav button[type="button"] span {
  display: none !important;
}
#recent-videos-slider .owl-nav button[type="button"]:hover,
#modal-workout-videos-slider .owl-nav button[type="button"]:hover,
#modal-workout-download-slider .owl-nav button[type="button"]:hover {
  opacity: 1;
}
#recent-videos-slider .owl-nav button[type="button"].owl-prev,
#modal-workout-videos-slider .owl-nav button[type="button"].owl-prev,
#modal-workout-download-slider .owl-nav button[type="button"].owl-prev {
  background-image: url("../images/prev.png");
  margin-right: 5px;
}
#recent-videos-slider .owl-nav button[type="button"].owl-next,
#modal-workout-videos-slider .owl-nav button[type="button"].owl-next,
#modal-workout-download-slider .owl-nav button[type="button"].owl-next {
  background-image: url("../images/next.png");
}

.st-video-container .img-sec {
  overflow: hidden;
}
.st-video-container .img-sec img {
  max-height: 100%;
  transition: 0.5s;
}
.st-video-container .img-sec:hover img {
  transform: scale(1.1);
}
.st-video-container .icon {
  top: 0;
  right: 0;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 8px 10px;
  text-align: right;
  background: rgba(0, 0, 0, 0.2);
}

.popular-videos .inner {
  margin: 0 -4px;
}
.popular-videos .inner .item {
  padding: 0 4px 8px;
}

/* ORIGINAL SERIES AND SPECIALS FASHION */
#original-series-and-specials-slider .owl-item .item {
  opacity: 0.6;
  z-index: 9;
  position: relative;
  transition: 1s;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  padding: 25px 0;
}
#original-series-and-specials-slider .owl-item .item .text-sec {
  transition: 0.3s;
  opacity: 0;
}
#original-series-and-specials-slider .owl-item .item .text-sec .heading {
  font-size: 23px;
  margin: 0px auto 10px;
  color: #222;
  display: table;
  border-bottom: 1px solid #222;
  line-height: 30px;
}
#original-series-and-specials-slider .owl-item .item .text-sec .desc {
  color: #696969;
  line-height: 14px;
}
#original-series-and-specials-slider .owl-item.active.center .item {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
}
#original-series-and-specials-slider .owl-item.active.center .item .text-sec {
  opacity: 1;
}
#original-series-and-specials-slider .owl-nav {
  opacity: 1;
  transition: 0.3s;
}
#original-series-and-specials-slider .owl-nav button[type="button"] {
  background-color: #d8d8d8;
  position: absolute;
  bottom: 190px;
  height: 45px;
  width: 45px;
  font-size: 18px;
  border-radius: 50%;
  outline: none;
  opacity: 0.6;
  transition: 0.1s;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 768px) {
  #original-series-and-specials-slider .owl-nav button[type="button"] {
    bottom: 50px;
  }
}
#original-series-and-specials-slider .owl-nav button[type="button"] span {
  display: none !important;
}
#original-series-and-specials-slider .owl-nav button[type="button"]:hover {
  opacity: 1;
}
#original-series-and-specials-slider .owl-nav button[type="button"].owl-prev {
  left: 0px;
}
@media screen and (min-width: 768px) {
  #original-series-and-specials-slider .owl-nav button[type="button"].owl-prev {
    left: 150px;
  }
}
@media screen and (min-width: 992px) {
  #original-series-and-specials-slider .owl-nav button[type="button"].owl-prev {
    left: 210px;
  }
}
@media screen and (min-width: 1200px) {
  #original-series-and-specials-slider .owl-nav button[type="button"].owl-prev {
    left: 240px;
  }
}
#original-series-and-specials-slider .owl-nav button[type="button"].owl-next {
  right: 0px;
}
@media screen and (min-width: 768px) {
  #original-series-and-specials-slider .owl-nav button[type="button"].owl-next {
    right: 150px;
  }
}
@media screen and (min-width: 992px) {
  #original-series-and-specials-slider .owl-nav button[type="button"].owl-next {
    right: 210px;
  }
}
@media screen and (min-width: 1200px) {
  #original-series-and-specials-slider .owl-nav button[type="button"].owl-next {
    right: 240px;
  }
}

/* ORIGINAL SERIES AND SPECIALS FASHION FILMMAKER PAGE */
#os-fashion-filmmaker {
  background-image: url("../images/beach-houses.png"), url("../images/os-fashion-filmmaker-bg1.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, 100% 80%;
  background-position: 100% 100px, 0 0;
  background-color: #f9efde;
}

.os-fashion-filmmaker-menu {
  background-color: #222;
}
.os-fashion-filmmaker-menu .item > a {
  font-size: 15px;
  transition: 0.3s;
  padding: 10px 5px;
}
@media screen and (min-width: 992px) {
  .os-fashion-filmmaker-menu .item > a {
    font-size: 20px;
  }
}
.os-fashion-filmmaker-menu .item > a:hover {
  opacity: 0.8;
}

.os-fashion-filmmaker-menu-members {
  padding: 20px 20px 40px;
}
@media screen and (min-width: 992px) {
  .os-fashion-filmmaker-menu-members .left > .inner {
    padding-right: 70px;
  }
}
.os-fashion-filmmaker-menu-members .members-list .head {
  padding: 0 5px;
  left: 0;
  bottom: 13px;
}

/* HOMEPAGE CSS */
/* HOMEPAGE SLIDER */
#home-slider .owl-nav {
  opacity: 0;
  transition: 0.3s;
}
#home-slider .owl-nav button[type="button"] {
  background-color: #d8d8d8;
  position: absolute;
  top: 50%;
  -webkit-transform: translatey(-50%);
  transform: translatey(-50%);
  height: 45px;
  width: 37px;
  font-size: 18px;
  background-repeat: no-repeat;
  background-size: cover;
  outline: none;
  opacity: 0.6;
  transition: 0.1s;
}
#home-slider .owl-nav button[type="button"] span {
  display: none !important;
}
#home-slider .owl-nav button[type="button"]:hover {
  opacity: 1;
}
#home-slider .owl-nav button[type="button"].owl-prev {
  left: 0px;
}
#home-slider .owl-nav button[type="button"].owl-next {
  right: 0px;
}
#home-slider:hover .owl-nav {
  opacity: 1;
}

/* HEADLINE SLIDER */
.headline-slider-container {
  padding: 10px 0;
}
.headline-slider-container .heading {
  color: #f80100;
  font-size: 17px;
  letter-spacing: -1px;
  width: 161px;
  height: 27px;
  padding-top: 3px;
}
.headline-slider-container .heading:after {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  background: #000;
  -webkit-transform: translatey(-50%);
  transform: translatey(-50%);
}
.headline-slider-container .item {
  padding-left: 170px;
  min-height: 27px;
}
.headline-slider-container .item p {
  color: #000;
  padding-top: 5px;
}
.headline-slider-container .item p a {
  color: #000;
  border-bottom: 1px solid #000;
  transition: 0.3s;
}
.headline-slider-container .item p a:hover {
  color: #c99d48;
  border-color: #c99d48;
}

/* HOME VIDEO BLOCK */
.home-video-block .video-container {
  background-color: #000;
  padding: 5px;
}
.home-video-block .video-container iframe {
  width: 100%;
  height: 200px;
}
@media screen and (min-width: 768px) {
  .home-video-block .video-container iframe {
    height: 350px;
  }
}

/* NOW ON FASHION ONE CONTAINER */
/* WEEK TABS CONTAINER */
.week-tabs-container .week-days ul {
  padding-bottom: 5px;
}
.week-tabs-container .week-days .week-day-name {
  height: 23px;
  color: #333;
  border-radius: 4px;
  padding-top: 3px;
  background: #d9d9d9;
  background: linear-gradient(0deg, #d9d9d9 25%, #fafafa 100%);
  transition: 0.3s;
}
.week-tabs-container .week-days .week-day-name:hover, .week-tabs-container .week-days .week-day-name.active, .week-tabs-container .week-days .week-day-name:active {
  background: #7a602d;
  background: linear-gradient(180deg, #7a602d 0%, #c99d48 100%);
  color: #fff;
}
.week-tabs-container .week-days .week-day-name:hover::after, .week-tabs-container .week-days .week-day-name.active::after {
  content: "";
  border-width: 4px;
  border-color: transparent;
  border-style: solid;
  border-top-color: #c99d48;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
}

/* NOW PLAYING CONTAINER */
.now-playing-container .frac .heading {
  background-color: #ab8233;
  padding: 2px 4px;
}
.now-playing-container .frac .heading.heading-red {
  background-color: red;
}
.now-playing-container .frac .heading.heading-black {
  background-color: #000;
}

.st-line {
  background-color: #aaa;
  height: 2px;
}

.bordered-image-block {
  border: 1px solid #ccc;
}
.bordered-image-block a {
  bottom: 10px;
  right: 20px;
}

/* FASHION STREAM CONTAINER */
.fashion-stream-container > .item .heading {
  background: #d9d9d9;
  background: linear-gradient(0deg, #d9d9d9 53%, #fafafa 100%);
  font-size: 17px;
  color: #333;
  letter-spacing: -1px;
  padding: 10px 10px 9px;
  border: 1px solid #d0d0d0;
  border-right: 3px solid #6f6f6f;
  -webkit-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
}
.fashion-stream-container > .item .content {
  height: 250px;
}
@media screen and (min-width: 768px) {
  .fashion-stream-container > .item .content {
    height: 300px;
  }
}
.fashion-stream-container > .item .content .content-inner {
  padding: 10px 0;
}
.fashion-stream-container > .item.popular-now .content ul li a {
  padding: 13px 0;
  border-bottom: 1px dotted #cecece;
  transition: 0.3s;
}
.fashion-stream-container > .item.popular-now .content ul li a::after {
  content: "";
  display: block;
  height: 5px;
  width: 50px;
  background: #bf9138;
  margin-top: 5px;
  transition: 0.3s;
}
.fashion-stream-container > .item.popular-now .content ul li a:hover::after {
  width: 80px;
}

/* FASHION-CALENDAR-CONTAINER */
@media screen and (min-width: 992px) {
  .common-container-with-right-bar.fashion-calendar-container .common-container-left-sec {
    width: calc(100% - 350px);
  }
}
@media screen and (min-width: 992px) {
  .common-container-with-right-bar.fashion-calendar-container .common-container-right-sec {
    width: 350px;
  }
}

/* FASHION CALENDAR EVENTS CONTAINER */
.fashion-calendar-events-container .no-events p {
  color: red;
}

/* ORIGINAL SERIES AND WEBSITES CONTAINER */
/* OSWC-HEADER-LOGO-LEFT-MENU-RIGHT */
.oswc-header-logo-left-menu-right .navbar {
  padding: 0;
}
.oswc-header-logo-left-menu-right .navbar .navbar-toggler .navbar-toggler-icon {
  padding: 7px 0 0;
  font-size: 21px;
  border: 1px solid #c99d48;
  color: #c99d48;
  width: 36px;
  height: 36px;
}
.oswc-header-logo-left-menu-right .navbar-nav > .nav-item:not(:last-child) {
  margin-right: 30px;
}
.oswc-header-logo-left-menu-right .navbar-nav > .nav-item > .nav-link {
  font-family: helvetica, sans-serif;
  font-size: 14px;
  padding: 9px 0px 8px;
  color: #fff;
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  .oswc-header-logo-left-menu-right .navbar-nav > .nav-item > .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.oswc-header-logo-left-menu-right .navbar-nav > .nav-item > .nav-link:hover, .oswc-header-logo-left-menu-right .navbar-nav > .nav-item > .nav-link.active {
  color: #866c44;
}
.oswc-header-logo-left-menu-right .navbar-nav > .nav-item > .nav-link.important {
  color: red;
}
.oswc-header-logo-left-menu-right .navbar-nav > .nav-item > .nav-link.dropdown-toggle::after {
  margin-top: 6px;
}
.oswc-header-logo-left-menu-right .navbar-nav > .nav-item:hover > a, .oswc-header-logo-left-menu-right .navbar-nav > .nav-item.active > a {
  color: #866c44;
}
.oswc-header-logo-left-menu-right .navbar-nav > .nav-item.dropdown .dropdown-menu {
  margin: 0;
  border-radius: 0;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.9);
  border: none;
  padding: 10px 15px;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .oswc-header-logo-left-menu-right .navbar-nav > .nav-item.dropdown .dropdown-menu {
    min-width: 160px;
  }
}
.oswc-header-logo-left-menu-right .navbar-nav > .nav-item.dropdown .dropdown-menu .dropdown-item {
  font-family: helvetica, sans-serif;
  font-size: 13px;
  padding: 10px 0;
  border-radius: 0;
  color: #fff;
  background-color: transparent;
  transition: 0.3s;
  position: relative;
}
.oswc-header-logo-left-menu-right .navbar-nav > .nav-item.dropdown .dropdown-menu .dropdown-item:hover, .oswc-header-logo-left-menu-right .navbar-nav > .nav-item.dropdown .dropdown-menu .dropdown-item.active {
  color: #866c44;
}
.oswc-header-logo-left-menu-right .navbar-nav > .nav-item.dropdown .dropdown-menu .dropdown-item.dropdown-toggle::after {
  position: absolute;
  right: 0;
  top: 15px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
@media screen and (min-width: 768px) {
  .oswc-header-logo-left-menu-right .navbar-nav > .nav-item.dropdown .dropdown-menu li .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }
}
.oswc-header-logo-left-menu-right .navbar-nav > .nav-item.dropdown .dropdown-menu li:hover > a, .oswc-header-logo-left-menu-right .navbar-nav > .nav-item.dropdown .dropdown-menu li.active > a {
  color: #866c44;
}
.oswc-header-logo-left-menu-right .navbar-nav > .nav-item.dropdown .dropdown-menu li:hover > .dropdown-menu {
  display: block !important;
}
.oswc-header-logo-left-menu-right .navbar-nav > .nav-item.dropdown:hover > .dropdown-menu {
  display: block !important;
}

/* AGENCIES-HEADER */
.agencies-header {
  background-color: #310201;
  padding: 6px 0 3px;
  top: 0px;
  z-index: 2;
  transition: 0.3s;
}
.agencies-header .navbar-brand > img {
  width: 200px;
}
@media screen and (min-width: 768px) {
  .agencies-header .navbar-brand > img {
    width: 300px;
  }
}

/* AGENCIES HOME BANNER */
.agencies-banner .caption {
  top: 0;
  left: 0;
}

/* AGENCIES HOME DETAILS SECTION */
/* IMG CONTAINER WITH TEXT AT BOTTOM */
.img-container-with-text-at-bottom .img-container-with-text-at-bottom-inner {
  -webkit-box-shadow: 0px 0px 5px 3px #cccccc;
  box-shadow: 0px 0px 5px 3px #cccccc;
}

@media screen and (min-width: 768px) {
  .img-container-with-text-at-bottom-container.img-container-lg .name {
    font-size: 20px;
  }
}
.img-container-with-text-at-bottom-container.img-container-lg .img-sec img {
  transition: 0.5s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.img-container-with-text-at-bottom-container.img-container-lg .img-container-with-text-at-bottom-inner:hover .img-sec img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* AGENCIES PLAYER SECTION */
/* AGENCIES PHOTOS SECTION */
#agencies-coloured-section {
  background: #c99d48;
  background: -webkit-linear-gradient(#c99d48, #fff);
  background: -o-linear-gradient(#c99d48, #fff);
  background: -moz-linear-gradient(#c99d48, #fff);
  background: linear-gradient(#c99d48, #fff);
}

.agencies-coloured-section > .st-heading-underline {
  background-color: #eadfc2;
}

.agencies-photos-container {
  background: #eadfc2;
  background: -webkit-linear-gradient(#eadfc2, #fff);
  background: -o-linear-gradient(#eadfc2, #fff);
  background: -moz-linear-gradient(#eadfc2, #fff);
  background: linear-gradient(#eadfc2, #fff);
  padding: 20px;
}

/* AGENCIES BLOGS CONTAINER */
.agencies-blogs-container {
  background: #eadfc2;
  background: -webkit-linear-gradient(#eadfc2, #fff);
  background: -o-linear-gradient(#eadfc2, #fff);
  background: -moz-linear-gradient(#eadfc2, #fff);
  background: linear-gradient(#eadfc2, #fff);
  padding: 20px;
}
.agencies-blogs-container .img-sec {
  width: 100px;
}
@media screen and (min-width: 768px) {
  .agencies-blogs-container .img-sec {
    width: 280px;
  }
}
.agencies-blogs-container .text-sec {
  -ms-flex: 0 0 calc(100% - 100px);
  flex: 0 0 calc(100% - 100px);
}
@media screen and (min-width: 768px) {
  .agencies-blogs-container .text-sec {
    -ms-flex: 0 0 calc(100% - 280px);
    flex: 0 0 calc(100% - 280px);
  }
}
.agencies-blogs-container .text-sec .name {
  font-size: 17px;
}
.agencies-blogs-container .text-sec .name,
.agencies-blogs-container .text-sec .st-desc {
  color: #4a4843;
}
.agencies-blogs-container .text-sec a {
  color: #ab8233 !important;
}

/* WEBSITE MODAL WORKOUT */
.agencies-header.header-modal-workout,
.agencies-header.header-yoga-workout,
.agencies-header.header-yoga-workout2 {
  background-color: transparent;
}
.agencies-header.header-modal-workout .oswc-header-logo-left-menu-right,
.agencies-header.header-yoga-workout .oswc-header-logo-left-menu-right,
.agencies-header.header-yoga-workout2 .oswc-header-logo-left-menu-right {
  background-color: #D82E1E;
}
.agencies-header.header-modal-workout .navbar-nav > .nav-item:not(:last-child),
.agencies-header.header-yoga-workout .navbar-nav > .nav-item:not(:last-child),
.agencies-header.header-yoga-workout2 .navbar-nav > .nav-item:not(:last-child) {
  margin-right: 22px;
}
.agencies-header.header-modal-workout .navbar-nav > .nav-item > .nav-link:hover, .agencies-header.header-modal-workout .navbar-nav > .nav-item > .nav-link.active,
.agencies-header.header-yoga-workout .navbar-nav > .nav-item > .nav-link:hover,
.agencies-header.header-yoga-workout .navbar-nav > .nav-item > .nav-link.active,
.agencies-header.header-yoga-workout2 .navbar-nav > .nav-item > .nav-link:hover,
.agencies-header.header-yoga-workout2 .navbar-nav > .nav-item > .nav-link.active {
  text-decoration: underline !important;
  color: #fff;
}
.agencies-header.header-modal-workout .navbar-nav > .nav-item > .nav-link.important,
.agencies-header.header-yoga-workout .navbar-nav > .nav-item > .nav-link.important,
.agencies-header.header-yoga-workout2 .navbar-nav > .nav-item > .nav-link.important {
  border-color: #fff;
}
.agencies-header.header-modal-workout .navbar-nav > .nav-item:hover > a, .agencies-header.header-modal-workout .navbar-nav > .nav-item.active > a,
.agencies-header.header-yoga-workout .navbar-nav > .nav-item:hover > a,
.agencies-header.header-yoga-workout .navbar-nav > .nav-item.active > a,
.agencies-header.header-yoga-workout2 .navbar-nav > .nav-item:hover > a,
.agencies-header.header-yoga-workout2 .navbar-nav > .nav-item.active > a {
  color: #fff;
}

.agencies-header.header-yoga-workout .oswc-header-logo-left-menu-right {
  background-color: #2db8d2;
}

.agencies-header.header-yoga-workout2 {
  background-color: #18a423;
}
.agencies-header.header-yoga-workout2 .oswc-header-logo-left-menu-right {
  background-color: transparent;
}
.agencies-header.header-yoga-workout2 .navbar-nav > .nav-item:not(:last-child) {
  margin-right: 30px;
}
.agencies-header.header-yoga-workout2 .navbar-nav > .nav-item > .nav-link {
  padding-top: 20px;
  padding-bottom: 13px;
  border-bottom: 6px solid transparent;
}
.agencies-header.header-yoga-workout2 .navbar-nav > .nav-item > .nav-link:hover, .agencies-header.header-yoga-workout2 .navbar-nav > .nav-item > .nav-link.active {
  text-decoration: none !important;
  color: #fff;
  border-bottom-color: #298436;
}
.agencies-header.header-yoga-workout2 .navbar-nav > .nav-item > .nav-link.important {
  color: yellow;
  border-bottom-color: transparent;
}
.agencies-header.header-yoga-workout2 .navbar-nav > .nav-item:hover > a, .agencies-header.header-yoga-workout2 .navbar-nav > .nav-item.active > a {
  color: #fff;
}

#modal-workout-videos-slider .owl-nav {
  position: static;
}
#modal-workout-videos-slider .owl-nav button[type="button"] {
  position: absolute;
  top: 70px;
  opacity: 0.8;
}
#modal-workout-videos-slider .owl-nav button[type="button"].owl-prev {
  background-image: url("../images/prev.png");
  left: -15px;
}
#modal-workout-videos-slider .owl-nav button[type="button"].owl-next {
  background-image: url("../images/next.png");
  right: -15px;
}

#modal-workout-download-slider .item {
  padding: 1px;
  transition: 0.5s;
  transform-origin: top;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  opacity: .8;
}
#modal-workout-download-slider .item .inner {
  border: 1px solid #666;
  padding: 10px;
}
#modal-workout-download-slider .item .img-sec {
  border: 1px solid #666;
}
#modal-workout-download-slider .owl-item.active.center > .item {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#modal-workout-download-slider .owl-nav {
  position: static;
}
#modal-workout-download-slider .owl-nav button[type="button"] {
  position: absolute;
  top: 50%;
  -webkit-transform: translatey(-50%);
  transform: translatey(-50%);
  opacity: 0.9;
  height: 40px;
  width: 40px;
}
@media screen and (min-width: 992px) {
  #modal-workout-download-slider .owl-nav button[type="button"] {
    height: 60px;
    width: 60px;
  }
}
#modal-workout-download-slider .owl-nav button[type="button"].owl-prev {
  background-image: url("../images/modal-workout-download-slider-arrow-left.png");
  left: -10px;
}
@media screen and (min-width: 992px) {
  #modal-workout-download-slider .owl-nav button[type="button"].owl-prev {
    left: -35px;
  }
}
#modal-workout-download-slider .owl-nav button[type="button"].owl-next {
  background-image: url("../images/modal-workout-download-slider-arrow-right.png");
  right: -10px;
}
@media screen and (min-width: 992px) {
  #modal-workout-download-slider .owl-nav button[type="button"].owl-next {
    right: -35px;
  }
}

.yoga-season-2 {
  background-color: #fff;
}

#agencies-banner.modal-yoga-season2 .schedule > .rt .inner {
  background: rgba(50, 50, 50, 0.6);
}

@media screen and (min-width: 992px) {
  .container-low {
    max-width: 900px !important;
  }
}

/* ECO FASHION SEASON1 */
#original-series-websites-container.eco-fashion-page {
  background-color: #000;
}

#agencies-banner {
  z-index: 12;
  position: relative;
}
#agencies-banner.banner-eco-fashion .agencies-banner {
  background-repeat: no-repeat;
  background-position: right 0px;
  height: 129px;
}
@media screen and (min-width: 768px) {
  #agencies-banner.banner-eco-fashion .agencies-banner {
    height: 185px;
  }
}
#agencies-banner.banner-eco-fashion .agencies-banner a {
  width: 250px;
}
@media screen and (min-width: 768px) {
  #agencies-banner.banner-eco-fashion .agencies-banner a {
    width: auto;
  }
}

#oswc-header-logo-left-menu-right.header-eco-fashion {
  background-color: #000;
  margin-top: -9px;
}
@media screen and (min-width: 992px) {
  #oswc-header-logo-left-menu-right.header-eco-fashion {
    margin-top: -20px;
  }
}
@media screen and (min-width: 768px) {
  #oswc-header-logo-left-menu-right.header-eco-fashion .navbar {
    padding-left: 320px !important;
  }
}
#oswc-header-logo-left-menu-right.header-eco-fashion .navbar-nav > .nav-item > .nav-link {
  font-size: 18px;
  font-family: 'century-gothic-regular', sans-serif;
  position: relative;
}
#oswc-header-logo-left-menu-right.header-eco-fashion .navbar-nav > .nav-item > .nav-link::after {
  content: "";
  border-width: 6px;
  border-color: transparent;
  border-style: solid;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transition: 0.3s;
  -webkit-transform: translatex(-50%);
  transform: translatex(-50%);
}
#oswc-header-logo-left-menu-right.header-eco-fashion .navbar-nav > .nav-item > .nav-link:hover::after, #oswc-header-logo-left-menu-right.header-eco-fashion .navbar-nav > .nav-item > .nav-link.active::after {
  border-top-color: #fff;
}
#oswc-header-logo-left-menu-right.header-eco-fashion .navbar-nav > .nav-item:hover > a, #oswc-header-logo-left-menu-right.header-eco-fashion .navbar-nav > .nav-item.active > a {
  color: #fff;
}

#agencies-details-section.details-eco-fashion .details-eco-fashion-content .col-left,
#agencies-details-section.details-eco-fashion .details-eco-fashion-content .col-right {
  transition: 0.4s;
}
@media screen and (min-width: 768px) {
  #agencies-details-section.details-eco-fashion .details-eco-fashion-content .col-left,
  #agencies-details-section.details-eco-fashion .details-eco-fashion-content .col-right {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
}
#agencies-details-section.details-eco-fashion .details-eco-fashion-content .col-left {
  background: transparent url("../images/eco-fashion-content-left.png") no-repeat 0 0/cover;
}
@media screen and (min-width: 992px) {
  #agencies-details-section.details-eco-fashion .details-eco-fashion-content .col-left {
    width: 190px;
  }
}
@media screen and (min-width: 1200px) {
  #agencies-details-section.details-eco-fashion .details-eco-fashion-content .col-left {
    width: 240px;
  }
}
#agencies-details-section.details-eco-fashion .details-eco-fashion-content .col-right {
  background: #fff;
  padding: 10px;
  left: initial;
  right: 0;
}
@media screen and (min-width: 768px) {
  #agencies-details-section.details-eco-fashion .details-eco-fashion-content .col-right {
    background: transparent url("../images/eco-fashion-content-right.png") repeat-y 0 0/cover;
    width: 500px;
    padding-left: 170px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 992px) {
  #agencies-details-section.details-eco-fashion .details-eco-fashion-content .col-right {
    width: 600px;
    padding-left: 240px;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  #agencies-details-section.details-eco-fashion .details-eco-fashion-content .col-right {
    padding-top: 60px;
    width: 650px;
  }
}
@media screen and (min-width: 768px) {
  #agencies-details-section.details-eco-fashion .details-eco-fashion-content .video-container {
    padding-right: 10px;
  }
}
#agencies-details-section.details-eco-fashion .details-eco-fashion-content .video-container > a {
  border: 1px solid #CFCFCF;
  padding: 5px;
  -webkit-box-shadow: 5px 5px 5px 0px #666666;
  box-shadow: 5px 5px 5px 0px #666666;
}
#agencies-details-section.details-eco-fashion .details-eco-fashion-content .video-container .heading {
  margin-top: 15px;
}
#agencies-details-section.details-eco-fashion .details-eco-fashion-content .video-container .heading::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: #999933;
  margin-top: 5px;
}
@media screen and (min-width: 992px) {
  #agencies-details-section.details-eco-fashion .details-eco-fashion-content .video-container .heading::after {
    margin-left: -15px;
    margin-top: 15px;
  }
}
@media screen and (min-width: 992px) {
  #agencies-details-section.details-eco-fashion .details-eco-fashion-content .video-container .heading {
    margin-top: 24px;
  }
}
#agencies-details-section.details-eco-fashion .details-eco-fashion-content .other-details {
  margin-top: 15px;
  margin-bottom: 15px;
}
#agencies-details-section.details-eco-fashion .details-eco-fashion-content .other-details p {
  font-size: 12px;
}
#agencies-details-section.details-eco-fashion .details-eco-fashion-content .other-details a {
  font-size: 13px;
}
@media screen and (min-width: 768px) {
  #agencies-details-section.details-eco-fashion .details-eco-fashion-content .other-details {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  #agencies-details-section.details-eco-fashion .details-eco-fashion-content .other-details {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 992px) {
  #agencies-details-section.details-eco-fashion .details-eco-fashion-content .other-details p {
    font-size: 13px;
  }
  #agencies-details-section.details-eco-fashion .details-eco-fashion-content .other-details a {
    font-size: 14px;
  }
}
#agencies-details-section.details-eco-fashion .details-eco-fashion-content .other-details > .inner {
  background: transparent url("../images/eco-fashion-season-other-details-img.png") no-repeat;
  padding-left: 110px;
  background-size: 100px;
}
@media screen and (min-width: 768px) {
  #agencies-details-section.details-eco-fashion .details-eco-fashion-content .other-details > .inner {
    background-size: auto;
    padding-left: 170px;
    margin-left: -80px;
  }
}
#agencies-details-section.details-eco-fashion .details-eco-fashion-content .eco-logo-sec {
  background: url("../images/ico-fashion-season-logo-bg.png") no-repeat center/cover;
  width: 100%;
  text-align: center;
  padding: 15px 15px;
}
@media screen and (min-width: 768px) {
  #agencies-details-section.details-eco-fashion .details-eco-fashion-content .eco-logo-sec {
    background-size: 100% 100%;
    position: absolute;
    left: 0px;
    bottom: 15px;
  }
}
@media screen and (min-width: 992px) {
  #agencies-details-section.details-eco-fashion .details-eco-fashion-content .eco-logo-sec {
    bottom: 40px;
    padding: 22px 80px;
  }
}
@media screen and (min-width: 1200px) {
  #agencies-details-section.details-eco-fashion .details-eco-fashion-content .eco-logo-sec {
    bottom: 80px;
  }
}
#agencies-details-section.details-eco-fashion .details-eco-fashion-content .eco-logo-sec img {
  width: 150px;
}
@media screen and (min-width: 992px) {
  #agencies-details-section.details-eco-fashion .details-eco-fashion-content .eco-logo-sec img {
    width: 268px;
  }
}
@media screen and (min-width: 992px) {
  #agencies-details-section.details-eco-fashion .owl-carousel:hover + .details-eco-fashion-content .col-left {
    -webkit-transform: translatex(-40%);
    transform: translatex(-40%);
  }
  #agencies-details-section.details-eco-fashion .owl-carousel:hover + .details-eco-fashion-content .col-right {
    -webkit-transform: translatex(40%);
    transform: translatex(40%);
  }
}

/* SUPER DOOPER MODAL PAGE */
#original-series-websites-container.super-dooper-models-page {
  background: #000 url("../images/super-dooper-modal-main-bg.gif") no-repeat center bottom/auto;
}

#original-series-websites-container.super-dooper-models-page .header-super-dooper-models {
  background-color: inherit;
}
#original-series-websites-container.super-dooper-models-page .navbar-brand {
  z-index: 11;
  margin-bottom: -20px;
}
@media screen and (min-width: 992px) {
  #original-series-websites-container.super-dooper-models-page .navbar-brand img {
    width: 480px;
  }
}
#original-series-websites-container.super-dooper-models-page .navbar-toggler {
  margin-bottom: 20px;
}
#original-series-websites-container.super-dooper-models-page .navbar-collapse {
  margin: 20px 0;
}
#original-series-websites-container.super-dooper-models-page .navbar-nav > .nav-item:not(:last-child) {
  margin-right: 25px;
}
#original-series-websites-container.super-dooper-models-page .navbar-nav > .nav-item > .nav-link {
  color: #565656;
}
@media screen and (min-width: 768px) {
  #original-series-websites-container.super-dooper-models-page .navbar-nav > .nav-item > .nav-link {
    font-weight: 900;
    font-size: 23px;
  }
  #original-series-websites-container.super-dooper-models-page .navbar-nav > .nav-item > .nav-link > span {
    text-align: right;
    display: block;
    font-weight: 500;
    font-size: 13px;
    position: relative;
    top: 5px;
  }
}
#original-series-websites-container.super-dooper-models-page .navbar-nav > .nav-item > .nav-link:hover, #original-series-websites-container.super-dooper-models-page .navbar-nav > .nav-item > .nav-link.active {
  color: #a9a9a9;
}
#original-series-websites-container.super-dooper-models-page .navbar-nav > .nav-item:hover > a, #original-series-websites-container.super-dooper-models-page .navbar-nav > .nav-item.active > a {
  color: #a9a9a9;
}

#agencies-details-section.details-super-dooper-modal .wire-bg {
  background: transparent url(../images/super-dooper-model-wire-bg.png) no-repeat center;
  height: 30px;
  margin: -33px auto 0;
  top: 20px;
  left: 50%;
  -webkit-transform: translatex(-50%);
  transform: translatex(-50%);
  width: calc(100% - 35px);
  z-index: 1;
}
#agencies-details-section.details-super-dooper-modal .agencies-details-section::after {
  content: '';
  position: absolute;
  top: 15px;
  left: -15px;
  width: calc(100% + 30px);
  height: calc(100%);
  background: rgba(0, 0, 0, 0.5);
}
#agencies-details-section.details-super-dooper-modal .agencies-details-section > .inner {
  background-color: #fff;
  padding: 20px;
  z-index: 1;
}
#agencies-details-section.details-super-dooper-modal .agencies-details-section-inner {
  margin-top: 15px;
}
#agencies-details-section.details-super-dooper-modal .video-container iframe {
  width: 100%;
  margin-bottom: -3px;
  height: 300px;
}
@media screen and (min-width: 992px) {
  #agencies-details-section.details-super-dooper-modal .video-container iframe {
    height: 500px;
  }
}
#agencies-details-section.details-super-dooper-modal .all-details-section .head {
  background-color: #A9A9A9;
  line-height: 18px;
  font-size: 19px;
}
#agencies-details-section.details-super-dooper-modal .all-details-section .img-sec {
  height: 150px;
}

/* stefstylediaries page */
#original-series-websites-container.stefstylediaries-page {
  background-repeat: no-repeat;
}
@media screen and (min-width: 992px) {
  #original-series-websites-container.stefstylediaries-page .container {
    max-width: 800px;
  }
}

#oswc-header-logo-left-menu-right.header-stefstylediaries {
  background-color: transparent;
}
#oswc-header-logo-left-menu-right.header-stefstylediaries .oswc-header-logo-left-menu-right {
  border-radius: 7px 7px 0px 0;
}
#oswc-header-logo-left-menu-right.header-stefstylediaries .navbar-nav > .nav-item:not(:last-child) {
  margin-right: 15px;
}
#oswc-header-logo-left-menu-right.header-stefstylediaries .navbar-nav > .nav-item > .nav-link {
  font-size: 13px;
  font-family: 'century-gothic-regular', sans-serif;
  color: #000;
  position: relative;
}
#oswc-header-logo-left-menu-right.header-stefstylediaries .navbar-nav > .nav-item > .nav-link:hover, #oswc-header-logo-left-menu-right.header-stefstylediaries .navbar-nav > .nav-item > .nav-link.active {
  font-family: 'century-gothic-bold', sans-serif;
}
@media screen and (min-width: 992px) {
  #oswc-header-logo-left-menu-right.header-stefstylediaries .navbar-nav > .nav-item:not(:last-child) > .nav-link::after {
    content: '';
    height: 11px;
    width: 1px;
    background: #333;
    position: absolute;
    top: 12px;
    right: -7px;
  }
}

#agencies-details-section.details-stefstylediaries .video-container .caption {
  bottom: 20px;
  left: 0;
}
#agencies-details-section.details-stefstylediaries .video-container .caption .head {
  font-size: 25px;
}
@media screen and (min-width: 992px) {
  #agencies-details-section.details-stefstylediaries .video-container .caption .head {
    font-size: 50px;
    padding-left: 50px;
    color: #000;
  }
}
#agencies-details-section.details-stefstylediaries .slider-container .heading::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 10px;
}
#agencies-details-section.details-stefstylediaries .slider-container .heading > span {
  z-index: 1;
}
@media screen and (min-width: 768px) {
  #agencies-details-section.details-stefstylediaries .slider-container .slider {
    padding: 0 60px;
  }
}
#agencies-details-section.details-stefstylediaries .slider-container .owl-item .item {
  opacity: 0.6;
  z-index: 9;
  position: relative;
  transition: 1s;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  padding: 50px 0 40px;
}
#agencies-details-section.details-stefstylediaries .slider-container .owl-item.active.center .item {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
}
#agencies-details-section.details-stefstylediaries .slider-container .owl-item.active.center .item .text-sec {
  opacity: 1;
}
#agencies-details-section.details-stefstylediaries .slider-container .owl-nav {
  opacity: 1;
  transition: 0.3s;
}
#agencies-details-section.details-stefstylediaries .slider-container .owl-nav button[type="button"] {
  position: absolute;
  top: 50%;
  height: 45px;
  width: 45px;
  font-size: 25px;
  border-radius: 50%;
  outline: none;
  opacity: 0.6;
  transition: 0.1s;
  -webkit-transform: translatey(-50%);
  transform: translatey(-50%);
}
#agencies-details-section.details-stefstylediaries .slider-container .owl-nav button[type="button"] span {
  display: none !important;
}
#agencies-details-section.details-stefstylediaries .slider-container .owl-nav button[type="button"]:hover {
  opacity: 1;
}
#agencies-details-section.details-stefstylediaries .slider-container .owl-nav button[type="button"].owl-prev {
  left: 0px;
}
@media screen and (min-width: 992px) {
  #agencies-details-section.details-stefstylediaries .slider-container .owl-nav button[type="button"].owl-prev {
    left: -55px;
  }
}
#agencies-details-section.details-stefstylediaries .slider-container .owl-nav button[type="button"].owl-next {
  right: 0px;
}
@media screen and (min-width: 992px) {
  #agencies-details-section.details-stefstylediaries .slider-container .owl-nav button[type="button"].owl-next {
    right: -55px;
  }
}
#agencies-details-section.details-stefstylediaries .social-container {
  border-top: 2px solid #000;
  padding-top: 10px;
}
#agencies-details-section.details-stefstylediaries .social-container .item {
  padding: 0 5px;
}
#agencies-details-section.details-stefstylediaries .social-container .item .scroll-box {
  max-height: 245px;
}
#agencies-details-section.details-stefstylediaries .social-container .item.about .heading {
  background: #616ba6;
  color: #fff;
}
#agencies-details-section.details-stefstylediaries .social-container .item.about .caption {
  width: calc(100% - 40px);
  left: 20px;
  bottom: -100%;
  opacity: 0.8;
  transition: 0.7s;
}
#agencies-details-section.details-stefstylediaries .social-container .item.about .caption a {
  color: #386790;
}
#agencies-details-section.details-stefstylediaries .social-container .item.about:hover .caption {
  bottom: 20px;
}
#agencies-details-section.details-stefstylediaries .social-container .item.instagram .heading {
  background: #446a91;
  color: #fff;
}
#agencies-details-section.details-stefstylediaries .social-container .item.twitter .heading {
  background: #57879d;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
