/* HELVETICA FONTS */
@font-face {
    font-family: 'helvetica';
    src: url('../fonts/Helvetica-Font/Helvetica.ttf');
}

/* CENTURY GOTHIC */
@font-face {
    font-family: 'century-gothic-regular';
    src: url('../fonts/century-gothic/century-gothic-regular.ttf');
}

@font-face {
    font-family: 'century-gothic-bold';
    src: url('../fonts/century-gothic/century-gothic-bold.ttf');
}

/* OPEN SANS */
@font-face {
    font-family: 'open-sans-light';
    src: url('../fonts/open-sans/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'open-sans-regular';
    src: url('../fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'open-sans-bold';
    src: url('../fonts/open-sans/OpenSans-Bold.ttf');
}

.font-family-helvetica {
    font-family: 'helvetica', sans-serif;
}

.font-family-arial {
    font-family: 'arial', sans-serif;
}

.font-family-century-gothic-regular {
    font-family: 'century-gothic-regular', sans-serif;
}

.font-family-century-gothic-bold {
    font-family: 'century-gothic-bold', sans-serif;
}

.font-family-open-sans-light {
    font-family: 'open-sans-light', sans-serif;
}

.font-family-open-sans-regular {
    font-family: 'open-sans-regular', sans-serif;
}

.font-family-open-sans-bold {
    font-family: 'open-sans-bold', sans-serif;
}

.font-family-times-new-roman {
    font-family: 'times new roman', sans-serif;
}