@font-face {
  font-family: "ebgaramond12-regular";
  src: url("../fonts/INARI_fonts/EBGaramond12-Regular.otf") format("opentype");
}
@font-face {
  font-family: "ebgaramond12-italic";
  src: url("../fonts/INARI_fonts/EBGaramond12-Italic.otf") format("opentype");
}
@font-face {
  font-family: "ebgaramond12-allsc";
  src: url("../fonts/INARI_fonts/EBGaramond12-AllSC.otf") format("opentype");
}
@font-face {
  font-family: "ebgaramond08-regular";
  src: url("../fonts/INARI_fonts/EBGaramond08-Regular.otf") format("opentype");
}
@font-face {
  font-family: "ebgaramond08-italic";
  src: url("../fonts/INARI_fonts/EBGaramond08-Italic.otf") format("opentype");
}
@font-face {
  font-family: "ebgaramond-";
  src: url("../fonts/INARI_fonts/") format("opentype");
}
@font-face {
  font-family: "nexa-black";
  src: url("../fonts/INARI_fonts/NexaBlack.otf") format("opentype");
}
@font-face {
  font-family: "nexa-bold";
  src: url("../fonts/INARI_fonts/NexaBold.otf") format("opentype");
}
@font-face {
  font-family: "nexa-light";
  src: url("../fonts/INARI_fonts/NexaLight.otf") format("opentype");
}
@font-face {
  font-family: "nexa-regular";
  src: url("../fonts/INARI_fonts/NexaRegular.otf") format("opentype");
}
@font-face {
  font-family: "nexa-thin";
  src: url("../fonts/INARI_fonts/NexaThin.otf") format("opentype");
}
@font-face {
  font-family: "nexa-x-bold";
  src: url("../fonts/INARI_fonts/NexaXBold.otf") format("opentype");
}
@font-face {
  font-family: "nexa-x-bold-italic";
  src: url("../fonts/INARI_fonts/NexaXBoldItalic.otf") format("opentype");
}
// @font-face {
//   font-family: "nexa-thin";
//   src: url("../fonts/INARI_fonts/NexaThin.otf") format("opentype");
// }
// @font-face {
//   font-family: "nexa-thin";
//   src: url("../fonts/INARI_fonts/NexaThin.otf") format("opentype");
// }
