/* COLORS */
.app-bg-primary {
    background-color: $primary-color !important;
}

.app-bg-secondary {
    background-color: $secondary-color !important;
}

.app-bg-gray {
    background-color: $gray-bg-color !important;
}
