/* COLORS */
.app-bg-primary {
    background-color: $primary-color !important;
}

.app-bg-secondary {
    background-color: $secondary-color !important;
}

.app-bg-gray {
    background-color: $gray-bg-color !important;
}

.app-bg-badge-green {
    background-color: $badge-color-green;
}
.app-bg-badge-orange {
    background-color: $badge-color-orange;
}
.app-bg-badge-sky-blue {
    background-color: $badge-color-sky-blue;
}
