@import "components/reset";
@import "components/fonts";
@import "components/variables";
@import "components/mixins";
@import "components/grid";
@import "components/common";

body {
    background: #f6f6f6;
    font-family: "nexa-regular";
}
// LOGIN PAGE
html,
.login-body,
.app-login,
.app_L-main {
    height: 100%;
}
.login-body {
    background-color: #fff;
}
.app_L-main {
    .AL_head {
        background: transparent url("../images/login_bg.png") no-repeat center / 100% 100%;
        width: 100%;
        // padding: 60px 15px 110px;
        padding: 40px 15px 100px;
        margin-bottom: 50px;
        .AL_text {
            font: 35px "nexa-x-bold";
            color: #fff;
            text-shadow: 0px 2px 2px #929292;
            span {
                font: 16px "nexa-regular";
            }
        }
        .AL_logo {
            top: 100%;
            left: 50%;
            @include transform(-50%, calc(-50% + (-18px)));
            img {
                width: 140px;
            }
        }
    }
    .AL_login-box {
        margin-bottom: 30px;
        .form {
            padding: 0 10px;
            .input-field,
            .forgot-pass {
                margin-bottom: 35px;
            }
            label,
            input {
                font: 15px "nexa-bold";
                color: #666;
            }
            .icon {
                top: 50%;
                right: 5px;
                @include transformy(-50%);
                i {
                    font-size: 20px;
                    color: #636363;
                }
            }
            input {
                height: 40px;
                padding-right: 30px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                &:focus {
                    border-bottom-color: #636363;
                    @include box-shadow(0, 1px, 0, 0, #636363);
                    & + label {
                        color: #444;
                    }
                    & ~ .icon i {
                        color: #444;
                    }
                }
            }
            .forgot-pass {
                a {
                    font: 15px "nexa-regular";
                    color: #777;
                }
            }
        }
    }
}

// HEADER
.app-head-top {
    padding: 20px 0;
    .AHT_inner {
        > .LT,
        .RT {
            width: 40px;
            > a {
                top: 2px;

                i {
                    color: #fff;
                    font-size: 30px;
                    border-radius: 100%;
                }
            }
        }
        > .CT {
            width: calc(100% - (40px * 2));
            input {
                border: none;
                border-radius: 7px;
                &:focus {
                    @include box-shadow(0px, 0px, 5px, 0px, #26a69a);
                }
            }
        }
        // > .RT {
        //     &.hasNotification a:after {
        //         content: "";
        //         height: 9px;
        //         width: 9px;
        //         border-radius: 100%;
        //         background: red;
        //         position: absolute;
        //         top: 6px;
        //         right: 4px;
        //     }
        // }
    }
    @include transition(0.4s);
    &.fixed {
        position: fixed;
        left: 0;
        width: 100%;
        top: 0;
        z-index: 12;
        @include app-gradient;
        padding-top: 10px;
        padding-bottom: 10px;
        @include box-shadow(0px, 0px, 5px, 0px, #a7a7a7);
    }
}

.app-head-bottom {
    padding-bottom: 20px;
    .item {
        padding: 0 4px;
        > a {
            padding-top: 4px;
        }
        .img-sec {
            background-color: #fff;
            height: 50px;
            width: 50px;
            padding: 5px;
            border-radius: 100%;
            margin: 0 auto;
            img {
                max-height: 100%;
                width: auto;
                z-index: 1;
            }
        }
        .text-sec {
            margin-top: 5px;
            p {
                color: #fff;
                font: 15px "nexa-bold";
                text-shadow: 0px 1px 1px #a2a2a2;
            }
        }
    }
    .owl-nav.disabled + .owl-dots {
        position: absolute;
        width: 100%;
        margin-top: 0;
    }
}
// BOTTOM MENU BAR
body.hasBMB {
    padding-bottom: calc(72px + 10px);
}
.bottom-menu-bar {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    z-index: 12;
    background-color: #fff;
    @include box-shadow(0px, 0px, 4px, 0px, #848484);
    .item {
        -webkit-flex-basis: 100px;
        flex-basis: 100px;
        > a {
            padding: 10px 5px 9px;
        }
        .img-sec {
            img {
                width: 25px;
                &.active {
                    display: none;
                }
            }
        }
        .text-sec {
            margin-top: 10px;
            p {
                font: 15px "nexa-regular";
                color: #8a8a8a;
            }
        }
        &:hover,
        &.active {
            .img-sec {
                img {
                    &.active {
                        display: block;
                    }
                    &.main {
                        display: none;
                    }
                }
            }
            .text-sec {
                p {
                    color: $secodary-color;
                }
            }
        }
    }
}

// SITE WRAPPER
.wrapper {
    margin-top: 10px;
}
// APP TEST SERIES
#app-test-series {
    margin-bottom: 25px;
    @include box-shadow(0px, 0px, 5px, 0px, #d6d6d6);
    background: #fff;
    .ATS_inner {
        padding: 15px 0;
        .item {
            padding: 0 4px;
            .img-sec {
                height: 50px;
                // background-color: #fff;
                // height: 50px;
                // width: 50px;
                padding: 5px;
                margin: 0 auto;
                img {
                    max-height: 100%;
                    width: auto;
                    z-index: 1;
                }
            }
            .text-sec {
                margin-top: 5px;
                p {
                    color: #000;
                    font: 13px "nexa-regular";
                    width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
        }
    }
}

#app-home-sliders {
    margin-bottom: 35px;
    > .container {
        padding-right: 0;
    }
    .AHS_inner {
        padding-right: 10px;
    }
}
// VIDEO SOLUTION
.video-solutions-slider {
    .owl-stage {
        padding-left: 0 !important;
    }
    .item {
        .icon {
            top: 50%;
            left: 50%;
            @include transform(-50%, -50%);
        }
    }
}
// STUDY MATERIAL SLIDER
.study-material-slider {
    .owl-stage {
        padding-left: 0 !important;
    }
    .item {
        padding: 2px;
        > a {
            // border: 1px solid #000;
            background: #fff;
            width: 100%;
            padding: 8px;
            @include box-shadow(0px, 0px, 4px, 0px, #dadada);
        }
        .img-sec {
            margin: 0 auto;
            height: 66px;
            img {
                max-height: 100%;
                width: auto;
                z-index: 1;
                margin: 0 auto;
            }
        }
        .text-sec {
            margin-top: 11px;

            p {
                color: #333;
                font: 15px "nexa-bold";
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
}

// BACKBAR
.backBar {
    .BB_top {
        padding: 16px 0 14px;
    }
    .BBT_inner {
        > .LT {
            width: calc(100% - 40px);
            p {
                color: #fff;
                font: 17px "nexa-bold";
                text-shadow: 0px 1px 1px #a2a2a2;
                i {
                    border-radius: 100%;
                }
                span {
                    margin-left: 10px;
                    position: relative;
                    top: 2px;
                }
            }
        }
        > .RT {
            width: 40px;
        }
    }
    .BBB_inner {
        .text {
            color: #fff;
            font: 25px "nexa-x-bold";
            text-shadow: 0px 1px 1px #a2a2a2;
        }
        img {
            line-height: 0;
            margin-bottom: -6px;
            width: 200px;
            margin-top: 8px;
        }
    }
    .BB_top {
        &.fixed {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 12;
            @include box-shadow(0px, 0px, 5px, 0px, #a7a7a7);
        }
    }
}

// APP NOTIFICATIONS
.app-notifications {
    margin-bottom: 20px;
}
.AN_main {
    &:not(:last-child) {
        margin-bottom: 10px;
    }
    .ANM_inner {
        background-color: #fff;
        @include box-shadow(0px, 0px, 3px, 0px, #d6d6d6);
        padding: 15px 0 12px 35px;
        color: #777;
        > .LT {
            width: calc(100% - 30px);
            padding-right: 10px;
            .left-icon {
                top: 50%;
                left: 3px;
                @include transformy(-50%);
                font-size: 28px;
            }
            .head {
                font: 16px "nexa-bold";
                color: #000;
                span {
                    font: 12px "nexa-regular";
                    color: $secodary-color;
                    margin-top: 3px;
                }
            }
        }
        > .RT {
            width: 30px;
            i {
                font-size: 22px;
                margin-right: 3px;
            }
        }
    }
}

// VIDEO LESSONS
.video-lessons {
    .big-vide-sec {
        margin: -10px -10px 15px;
        background-color: #000;
        padding: 5px;
    }
    .all-videos {
        padding: 0 5px 10px;
    }
    .A-video {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
    .AV_inner {
        background-color: #fff;
        @include box-shadow(0px, 0px, 3px, 0px, #d6d6d6);
        > .LT {
            width: 110px;
            line-height: 0;
            .icon {
                top: 50%;
                left: 50%;
                @include transform(-50%, -50%);
                img {
                    width: 35px;
                }
            }
        }
        > .RT {
            width: calc(100% - 110px);
            padding: 10px 0 0 15px;
            .head {
                font: 16px "nexa-x-bold";
                > span {
                    font: 13px "nexa-regular";
                    color: $secodary-color;
                    margin-top: 4px;
                    i {
                        font-size: 12px;
                        margin-right: 5px;
                        position: relative;
                        top: -2px;
                    }
                }
            }
        }
    }
}

// CONTACT SEC
.app-contact {
    background-color: #fff;
    padding: 20px 0;
    @include box-shadow(0px, 0px, 5px, 0px, #d6d6d6);
    .AC_inner {
        padding: 0 10px;
        > p {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
            font: 15px "nexa-book";
            color: #444444;
            > i {
                font-size: 17px;
                margin-right: 6px;
                margin-top: 1px;
                color: #333;
            }
        }
    }
}

// CONTACT FORM SEC
.app-contact-form {
    margin: 30px 0;
    .ACP_inner {
        padding: 0 10px;
    }
    .form {
        input,
        textarea {
            font: 14px "nexa-bold";
            color: #666;
        }
        input {
            height: 40px;
        }
        input,
        textarea {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            outline: none;
            border-left: none;
            border-right: none;
            border-top: none;
            &:focus {
                border-bottom-color: #636363 !important;
                @include box-shadow(0, 1px, 0, 0, #636363 !important);
                & + label {
                    color: #444 !important;
                }
            }
        }
        .app-round-btn {
            min-width: auto;
            padding: 9px 3px 0;
            height: 60px;
            width: 60px;
            margin: 10px 0 0;
            i {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                font-size: 26px;
                position: relative;
                top: -2px;
                left: 1px;
            }
        }
    }
}

// SIDEBAR CSS
.app-userview {
    padding: 15px 15px;
    .img-sec {
        height: 65px;
        width: 65px;
        border-radius: 100%;
        border: 5px solid #fff;
        img {
            border-radius: 100%;
            max-height: 100%;
        }
    }
    .text-sec {
        width: calc(100% - 65px);
        padding-top: 10px;
        padding-left: 15px;
        .name {
            font: 25px "nexa-bold";
            color: #fff;
            text-shadow: 0px 2px 2px #929292;
        }
        .post {
            font: 17px "nexa-bold";
            color: #333;
            margin-top: 5px;
        }
    }
}
.app-menu {
    margin-top: 20px;
    height: calc(100% - (95px + 21px));
    overflow: auto;

    > li {
        > a {
            font: 15px "nexa-regular";
            height: auto;
            line-height: normal;
            padding: 13px 20px 10px;
            > img {
                width: 30px;
                margin: 0;
            }
            > span {
                margin-left: 20px;
                margin-top: 3px;
            }
        }
    }
}
