// avenir
@font-face {
    font-family: "avenir-regular";
    src: url("../fonts/avenir-next-lt-pro/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
    font-family: "avenir-demi";
    src: url("../fonts/avenir-next-lt-pro/AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
    font-family: "avenir-bold";
    src: url("../fonts/avenir-next-lt-pro/AvenirNextLTPro-Bold.otf") format("opentype");
}