// COMMON.CSS

.d-flex-wrap {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.d-inline-flex-wrap {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.com-pad-t,
.com-pad-tb {
    padding-top: 30px !important;
}

.com-pad-b,
.com-pad-tb {
    padding-bottom: 30px !important;
}

.com-mar-t,
.com-mar-tb {
    margin-top: 30px !important;
}

.com-mar-b,
.com-mar-tb {
    margin-bottom: 30px !important;
}


@include min_width(992px) {

    .com-pad-l,
    .com-pad-lr {
        padding-left: 30px !important;
    }

    .com-pad-r,
    .com-pad-lr {
        padding-right: 30px !important;
    }

    .com-pad-t,
    .com-pad-tb {
        padding-top: 80px !important;
    }

    .com-pad-b,
    .com-pad-tb {
        padding-bottom: 80px !important;
    }

    .com-mar-t,
    .com-mar-tb {
        margin-top: 80px !important;
    }

    .com-mar-b,
    .com-mar-tb {
        margin-bottom: 80px !important;
    }
}

.primary-color {
    color: $primary-color !important;
}

.primary-bg {
    background-color: $primary-color !important;
}

.primary-bg-btn {
    background-color: $primary-color;
    text-transform: uppercase;
    border-radius: 0;
    color: #fff;
}

.ripple {
    position: relative;
    overflow: hidden;
}

.ripple:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0;
    transition: .3s;
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
}

.ripple:hover:after {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
}

.ripple span {
    position: relative;
    z-index: 1;
}


.underline-btn {
    background-color: transparent;
    border: 4px solid #fff;
    border-radius: 0;
    color: #fff;
    font: 17px "itc-avant-book", sans-serif;
    padding: 13px 25px;

    &:after {
        background-color: #fff;
    }

    &:hover,
    &:focus,
    &:active {
        color: #333;
    }

    &.primary {
        border-color: $primary-color;
        color: $primary-color;

        &:hover,
        &:focus,
        &:active {
            color: #fff !important;
        }

        &:after {
            background-color: $primary-color;
        }
    }
}


.site-heading {
    color: $primary-color;
    font: 45px "itc-avant-book", sans-serif;
    margin-bottom: 20px;
}

.ST_bold-text {
    font: 17px "popins-bold", sans-serif;
    color: $primary-color;
    @include transition;

    &:hover {
        color: #000;
    }
}