// COMMON.CSS

.d-flex-wrap {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.d-inline-flex-wrap {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.com-pad-t,
.com-pad-tb {
    padding-top: 30px !important;
}

.com-pad-b,
.com-pad-tb {
    padding-bottom: 30px !important;
}

.com-mar-t,
.com-mar-tb {
    margin-top: 30px !important;
}

.com-mar-b,
.com-mar-tb {
    margin-bottom: 30px !important;
}


@include min_width(992px) {

    .com-pad-l,
    .com-pad-lr {
        padding-left: 30px !important;
    }

    .com-pad-r,
    .com-pad-lr {
        padding-right: 30px !important;
    }

    .com-pad-t,
    .com-pad-tb {
        padding-top: 80px !important;
    }

    .com-pad-b,
    .com-pad-tb {
        padding-bottom: 80px !important;
    }

    .com-mar-t,
    .com-mar-tb {
        margin-top: 80px !important;
    }

    .com-mar-b,
    .com-mar-tb {
        margin-bottom: 80px !important;
    }
}

.primary-color {
    color: $primary-color !important;
}

.primary-bg {
    background-color: $primary-color !important;
}

.primary-bg-btn {
    background-color: $primary-color;
    text-transform: uppercase;
    border-radius: 0;
    color: #fff;
}

.ripple {
    position: relative;
    overflow: hidden;
}

.ripple:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0;
    transition: .3s;
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
}

.ripple:hover:after {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
}

.ripple span {
    position: relative;
    z-index: 1;
}


.underline-btn {
    background-color: transparent;
    border: 4px solid #fff;
    border-radius: 0;
    color: #fff;
    font: 17px "itc-avant-book", sans-serif;
    padding: 13px 25px;

    &:after {
        background-color: #fff;
    }

    &:hover,
    &:focus,
    &:active {
        color: #333;
    }

    &.primary {
        border-color: $primary-color;
        color: $primary-color;

        &:hover,
        &:focus,
        &:active {
            color: #fff !important;
        }

        &:after {
            background-color: $primary-color;
        }

        &.big {
            font: 14px "itc-avant-demi", sans-serif;
            padding: 10px 30px;
        }

        @include min_width(992px) {

            &.big {
                font-size: 24px;
                padding: 12px 90px;
            }
        }
    }
}

.site-btn {
    background-color: $primary-color;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;

    &:hover {
        background-color: #000;
    }
}


.site-heading {
    color: $primary-color;
    font: 45px "itc-avant-book", sans-serif;
    margin-bottom: 20px;

    &.small {
        font-size: 30px;

        span {
            font-size: 16px;
            color: #000;
            margin-top: 5px;
        }
    }
}

.site-heading-bold {
    color: $primary-color;
    font: 35px "itc-avant-demi", sans-serif;
    margin-bottom: 20px;

    span {
        font: 19px "itc-avant-book", sans-serif;
        margin-top: 5px;
    }
}

.ST_bold-text {
    font: 17px "popins-bold", sans-serif;
    color: $primary-color;
    @include transition;

    &:hover {
        color: #000;
    }
}

.clear-parent:after {
    content: '';
    display: block;
    clear: both;
}

// SITE FORM
.st-form {

    input:not([type="radio"]),
    input:not([type="checkbox"]),
    select,
    textarea {
        border-radius: 0;
        border: 2px solid #bdbdbd;
        font-size: 16px;
    }

    input:not([type="radio"]),
    input:not([type="checkbox"]),
    select {
        height: 40px;
    }

    @include min_width(768px) {

        &.left,
        &.right {
            float: left;
            width: 50%;
        }

        &.left {
            padding-right: .5em;
        }

        &.right {
            padding-left: .5em;
        }
    }

    &.primary-big {

        input:not([type="radio"]),
        input:not([type="checkbox"]),
        select {
            height: 40px;
        }

        input:not([type="radio"]),
        input:not([type="checkbox"]),
        select,
        textarea {
            font-size: 14px;
            color: #333;
            font-weight: 600;
            border-color: $primary-color;

            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #333;
                opacity: 1;
                /* Firefox */
            }

            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: #333;
            }

            &::-ms-input-placeholder {
                /* Microsoft Edge */
                color: #333;
            }
        }

        @include min_width(992px) {

            input:not([type="radio"]),
            input:not([type="checkbox"]),
            select {
                height: 60px;
            }

            input:not([type="radio"]),
            input:not([type="checkbox"]),
            select,
            textarea {
                font-size: 18px;
            }
        }
    }
}

.heading-linethrough {
    font-size: 33px;
    line-height: 33px;

    span {
        position: relative;
        z-index: 1;
        background-color: #fff;
        padding: 0 11px;
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: #000;
        left: 0;
        top: 50%;
        -webkit-transform: translatey(-50%);
        transform: translatey(-50%);
    }
}

// MODAL-STYLING 


.modal,
.modal-content,
.modal-body {
    max-height: 100%;
    width: 100%;
}

.modal-dialog {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    margin: 10px auto 0;
    padding: 0;
    height: calc(100% - 20px);
}

.modal-content {
    border-radius: 0 !important;
    border-radius: 0 !important;
    min-height: 100px;
    padding-top: 35px;
    padding-bottom: 15px;
    margin: 10px;
}

button.close {
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 10px;
    border-radius: 100%;
    border: 2px solid #333;
    text-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
    padding: 0 0 0px 1px;
    top: 8px;
    right: 8px;
    z-index: 1;
    @include transition;
    z-index: 1;

    &:hover {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border-color: $primary-color;
        color: $primary-color;
    }
}

.modal-body {
    overflow: auto;
}

// SITE FORM


// LOGIN REGISTER FORM
.loginregisterform {
    .heading {
        font: 22px "itc-avant-demi", sans-serif;
        margin-bottom: 10px;
    }

    .form-main {
        @include min_width(768px) {
            width: 70%;
            margin: 30px auto 0;
        }

        .st-form {

            input:not([type="radio"]),
            input:not([type="checkbox"]),
            select {
                height: 45px;
            }
        }

        .validation {
            font-size: 11px;
            color: #000;
        }

        .forgot-password {
            margin-top: -10px;

            a {
                font-size: 13px;

            }
        }

        .submit-btn {
            margin: 30px 0 20px;

            .button {
                padding: 4px 18px;
                font-size: 17px;
            }
        }

        .options {
            p {
                font-size: 17px;
                color: #000;

                &.orr {
                    margin-bottom: 5px;
                }
            }
        }

        .socail-options {
            margin: 15px 0;

            >li {
                padding: 0 15px;

                >a {
                    height: 45px;
                    width: 45px;
                    background-color: lightgray;
                    color: #fff;
                    text-decoration: none;
                    font-size: 25px;

                    &.facebook {
                        background-color: #3c5a9a;
                    }

                    &.google {
                        background-color: #dc4e40;
                    }

                    @include transition;

                    &:hover {
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                }
            }
        }

        .account-related {
            font-size: 15px;
        }
    }
}

.site-select {
    background-image: url('../images/icons/select-icon.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) center;
    padding-right: 17px !important;
    background-size: 6px;

    @include min_width(768px) {
        background-position: calc(100% - 10px) center;
        padding-right: 35px !important;
        background-size: 10px;
    }


    -webkit-appearance: none;
    -moz-appearance: none;

    &::-ms-expand {
        display: none;
    }
}

.gradient-heading {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ba8a4d+0,ffffff+100 */
    background: #ba8a4d;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ba8a4d 0%, #ffffff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ba8a4d 0%, #ffffff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ba8a4d 0%, #ffffff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ba8a4d', endColorstr='#ffffff', GradientType=1);
    /* IE6-9 */

    padding: 11px 10px 5px;
    font: bold 23px "itc-avant-demi", sans-serif;
    margin-bottom: 15px;
}