@font-face {
    font-family: "itc-avant-bold";
    src: url('../fonts/itc-avant-garde-gothic-std/itc-avant-garde-gothic-std-bold.otf') format('opentype');
}

@font-face {
    font-family: "itc-avant-book";
    src: url('../fonts/itc-avant-garde-gothic-std/itc-avant-garde-gothic-std-book.otf') format('opentype');
}

@font-face {
    font-family: "itc-avant-demi";
    src: url('../fonts/itc-avant-garde-gothic-std/itc-avant-garde-gothic-std-demi.otf') format('opentype');
}

@font-face {
    font-family: "itc-avant-extralight";
    src: url('../fonts/itc-avant-garde-gothic-std/itc-avant-garde-gothic-std-extra-light.otf') format('opentype');
}

@font-face {
    font-family: "itc-avant-medium";
    src: url('../fonts/itc-avant-garde-gothic-std/itc-avant-garde-gothic-std-medium-condensed.otf') format('opentype');
}