html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

@font-face { font-family: 'futura-light-bt'; src: url("../fonts/futura/futura-light-bt.ttf"); }
@font-face { font-family: 'futura-medium-bt'; src: url("../fonts/futura/futura-medium-bt.ttf"); }
@font-face { font-family: 'futura-bold'; src: url("../fonts/futura/Futura-Bold-font.ttf"); }
@font-face { font-family: 'futura-book'; src: url("../fonts/futura/Futura-Book-font.ttf"); }
/* width */
::-webkit-scrollbar { width: 8px; }

/* Track */
::-webkit-scrollbar-track { background: #d1d1d1; }

/* Handle */
::-webkit-scrollbar-thumb { background: #333; border-radius: 15px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #1f1f1f; }

.clear-parent::after { content: ""; display: block; clear: both; }

.owl-carousel .owl-item img { width: auto; }

.owl-theme .owl-nav.disabled + .owl-dots { margin-top: 5px; }

.owl-theme .owl-dots .owl-dot span { margin: 3px 4px; background: #fff; }

.color-secondary { color: #7b7b7b !important; }

.color-primary { color: #f5fb91 !important; }

.color-black { color: #000 !important; }

.color-less-black { color: #333 !important; }

.bg-secondary { background-color: #7b7b7b !important; }

.bg-primary { background-color: #f5fb91 !important; }

.font-weight-100 { font-weight: 100 !important; }

.font-weight-200 { font-weight: 200 !important; }

.font-weight-300 { font-weight: 300 !important; }

.font-weight-400 { font-weight: 400 !important; }

.font-weight-500 { font-weight: 500 !important; }

.font-weight-600 { font-weight: 600 !important; }

.font-weight-700 { font-weight: 700 !important; }

.font-weight-800 { font-weight: 800 !important; }

.font-weight-900 { font-weight: 900 !important; }

.max-height-resize { max-height: 100%; }

.full-width-col { -ms-flex: 1; flex: 1; -ms-flex-positive: 1 !important; flex-grow: 1 !important; }

@media screen and (min-width: 576px) { .full-width-col-sm { -ms-flex: 1; flex: 1; -ms-flex-positive: 1 !important; flex-grow: 1 !important; } }
@media screen and (min-width: 768px) { .full-width-col-md { -ms-flex: 1; flex: 1; -ms-flex-positive: 1 !important; flex-grow: 1 !important; } }
@media screen and (min-width: 992px) { .full-width-col-lg { -ms-flex: 1; flex: 1; -ms-flex-positive: 1 !important; flex-grow: 1 !important; } }
@media screen and (min-width: 1200px) { .full-width-col-xl { -ms-flex: 1; flex: 1; -ms-flex-positive: 1 !important; flex-grow: 1 !important; } }
.owl-carousel.vertical-buttons .owl-nav > button { position: absolute; top: 50%; -webkit-transform: translatey(-50%); transform: translatey(-50%); display: -ms-flexbox !important; display: flex !important; -ms-flex-pack: center !important; justify-content: center !important; -ms-flex-align: center !important; align-items: center !important; line-height: 0; height: 25px; width: 25px; border-radius: 50%; background-color: #d0d0d0; transition: 0.3s; color: #fff; outline: none !important; }
@media screen and (min-width: 768px) { .owl-carousel.vertical-buttons .owl-nav > button { height: 35px; width: 35px; } }
.owl-carousel.vertical-buttons .owl-nav > button:hover { background-color: #f5fb91; }
.owl-carousel.vertical-buttons .owl-nav > button:active { background-color: #f2fa73; }
.owl-carousel.vertical-buttons .owl-nav > .owl-prev { left: 0; }
.owl-carousel.vertical-buttons .owl-nav > .owl-next { right: 0; }

.st-form { width: 100%; position: relative; }
.st-form input, .st-form select, .st-form textarea { border: none; color: #333; border-radius: 0; background-color: #fff; }
.st-form:not(.input-underline) input, .st-form:not(.input-underline) select, .st-form:not(.input-underline) textarea { -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1); box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1); border: 1px solid #bdbdbd; }
.st-form input, .st-form select { height: 40px; padding-top: 5px; }
@media screen and (min-width: 768px) { .st-form.lt, .st-form.rt { width: 50%; }
  .st-form.lt { padding-right: 7.5px; }
  .st-form.rt { padding-left: 7.5px; } }
.st-form.input-underline input, .st-form.input-underline select, .st-form.input-underline textarea { background-color: transparent; border-bottom: 2px solid #444; padding-left: 0; padding-right: 0; }
.st-form.input-underline input:focus, .st-form.input-underline select:focus, .st-form.input-underline textarea:focus { box-shadow: none; border-color: #222; }

.ST_def-mar-T, .ST_def-mar-TB { margin-top: 20px; }
@media screen and (min-width: 768px) { .ST_def-mar-T, .ST_def-mar-TB { margin-top: 30px; } }
@media screen and (min-width: 1200px) { .ST_def-mar-T, .ST_def-mar-TB { margin-top: 50px; } }

.ST_def-mar-B, .ST_def-mar-TB { margin-bottom: 20px; }
@media screen and (min-width: 768px) { .ST_def-mar-B, .ST_def-mar-TB { margin-bottom: 30px; } }
@media screen and (min-width: 1200px) { .ST_def-mar-B, .ST_def-mar-TB { margin-bottom: 50px; } }

.ST_def-pad-T, .ST_def-pad-TB { padding-top: 20px; }
@media screen and (min-width: 768px) { .ST_def-pad-T, .ST_def-pad-TB { padding-top: 30px; } }
@media screen and (min-width: 1200px) { .ST_def-pad-T, .ST_def-pad-TB { padding-top: 50px; } }

.ST_def-pad-B, .ST_def-pad-TB { padding-bottom: 20px; }
@media screen and (min-width: 768px) { .ST_def-pad-B, .ST_def-pad-TB { padding-bottom: 30px; } }
@media screen and (min-width: 1200px) { .ST_def-pad-B, .ST_def-pad-TB { padding-bottom: 50px; } }

.st-btn { font-family: 'futura-medium-bt', sans-serif; font-size: 15px; color: #fff; letter-spacing: 0.5px; background-color: #333; padding: 10px 16px 8px; box-shadow: none; transition: 0.3s; }
.st-btn:hover { background-color: #262626; color: #fff; }
.st-btn:active { background-color: #1a1a1a; }
.st-btn:focus { box-shadow: none !important; }
.st-btn.st-btn-white { color: #333; background-color: #fff; }
.st-btn.st-btn-white.active, .st-btn.st-btn-white:hover { color: #fff; }
.st-btn.st-btn-outlined { border: 2px solid #808080; background-color: #323232 !important; }
.st-btn.st-btn-outlined:hover { background-color: #000 !important; }

.cstm-animation-delay-point-2s { animation-delay: .2s !important; }

.cstm-animation-delay-point-7s { animation-delay: .7s !important; }

.cstm-animation-delay-1-point-2s { animation-delay: 1.2s !important; }

.cstm-animation-delay-1-point-7s { animation-delay: 1.7s !important; }

.cstm-animation-delay-2-point-2s { animation-delay: 2.2s !important; }

.cstm-animation-delay-2-point-7s { animation-delay: 2.7s !important; }

.st-menu-outer .st-menu > li > a { font-family: 'futura-medium-bt', sans-serif; font-size: 16px; color: #fff; padding: 15px; transition: 0.3s; }
.st-menu-outer .st-menu > li > a:hover, .st-menu-outer .st-menu > li > a.active { color: #f5fb91; }
@media screen and (min-width: 992px) { .st-menu-outer .st-menu > li > a { font-size: 17px; padding: 15px 20px; } }
.st-menu-outer > .header-drop-menu > a { font-size: 20px; color: #fff; padding: 15px; padding-right: 0; top: -1px; transition: 0.3s; }
.st-menu-outer > .header-drop-menu > a:hover, .st-menu-outer > .header-drop-menu > a.active { color: #f5fb91; }
@media screen and (min-width: 992px) { .st-menu-outer > .header-drop-menu > a { font-size: 24px; padding: 15px 20px; padding-right: 0; top: 1px; } }
.st-menu-outer > .header-drop-menu.active > a { color: #f5fb91; }
.st-menu-outer > .header-drop-menu .drop-hidden-menu { background: #000; right: 0; top: 0; width: 305px; padding: 30px 65px 0px 20px; display: none; }
.st-menu-outer > .header-drop-menu .drop-hidden-menu .close-header-drop-hidden-menu { color: #fff; right: 20px; font-size: 20px; top: 35px; }
.st-menu-outer > .header-drop-menu .drop-hidden-menu .close-header-drop-hidden-menu:hover { color: #f5fb91; }
.st-menu-outer > .header-drop-menu .drop-hidden-menu > ul > li > a { font-family: 'futura-medium-bt', sans-serif; font-size: 19px; color: #fff; padding: 15px; transition: 0.3s; }
.st-menu-outer > .header-drop-menu .drop-hidden-menu > ul > li > a:hover, .st-menu-outer > .header-drop-menu .drop-hidden-menu > ul > li > a.active { color: #f5fb91; }
@media screen and (min-width: 992px) { .st-menu-outer > .header-drop-menu .drop-hidden-menu > ul > li > a { font-size: 22px; padding: 15px 20px; } }
.st-menu-outer > .header-drop-menu .drop-hidden-menu .social-links-outer { padding: 15px 20px; }

.social-links-outer .head { color: #7b7b7b; margin-bottom: 3px; }
.social-links-outer .social-links { margin-bottom: 20px; }

.social-links > li { padding-right: 7px; }
.social-links > li > a { color: #FFF; font-size: 20px; }

.main-heading { margin-bottom: 25px; }
.main-heading .head { font-size: 25px; font-family: 'futura-medium-bt', sans-serif; letter-spacing: 3px; }
.main-heading .head.head-small { font-size: 20px; margin-bottom: 15px; }
@media screen and (min-width: 992px) { .main-heading .head { font-size: 32px; }
  .main-heading .head.head-small { font-size: 28px; margin-bottom: 20px; } }
.main-heading .desc { font-size: 17px; }
.main-heading .desc:not(:last-child) { margin-bottom: 15px; }

.prog-item .img-sec { overflow: hidden; }
@media screen and (min-width: 992px) { .prog-item .img-sec { height: 220px; } }
.prog-item .img-sec::after { content: ''; position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 1; transition: 0.3s; background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.001) 0, #000 100%); background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 35%, rgba(0, 0, 0, 0.8) 100%); background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0.001) 0%, rgba(255, 255, 255, 0) 35%, rgba(0, 0, 0, 0.8) 100%); background: -o-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 35%, rgba(0, 0, 0, 0.8) 100%); background: -ms-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 35%, rgba(0, 0, 0, 0.8) 100%); background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 35%, rgba(0, 0, 0, 0.8) 100%); }
.prog-item .img-sec:hover::after { background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 42%, rgba(0, 0, 0, 0.9) 100%); background: -moz-linear-gradient(top, #f5fb91 60%, black 100%); background: -webkit-linear-gradient(top, #f5fb91 60%, black 100%); background: linear-gradient(to bottom, rgba(245, 251, 145, 0.4) 60%, rgba(0, 0, 0, 0.8) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5fb91', endColorstr='#000000', GradientType=0); }
.prog-item .caption { bottom: 0; left: 0; padding: 12px 15px; z-index: 2; }
@media screen and (max-width: 767px) { .prog-item .caption { position: static !important; } }
@media screen and (min-width: 992px) { .prog-item .caption { padding: 12px 20px; } }
.prog-item .caption .name { font-size: 19px; color: #fff; font-family: 'futura-medium-bt', sans-serif; transition: 0.3s; }
.prog-item .caption .name:hover { color: #f5fb91; }
@media screen and (min-width: 992px) { .prog-item .caption .name { font-size: 22px; } }

.st-radio-selector { font-weight: normal; padding: 0 10px 10px 0; }
.st-radio-selector .radio-container { font-size: 13px; font-family: 'futura-medium-bt', sans-serif; background-color: #fff; padding: 8px 12px; border-radius: 120px; cursor: pointer; transition: 0.3s; }
.st-radio-selector .radio-container:hover { background-color: #bbbbbb; }
.st-radio-selector > input:checked + .radio-container { background-color: #f5fb91; }

body { font-family: 'futura-light-bt', sans-serif; font-size: 15px; background-color: #000; }
@media screen and (min-width: 768px) { body { font-size: 16px; } }

#header { top: 0; left: 0; width: 100%; position: fixed; z-index: 99; }
@media screen and (min-width: 768px) { #header { height: 85px; } }
#header .header-inner { background: rgba(0, 0, 0, 0.75); transition: 1s; top: 0; }
@media screen and (min-width: 1200px) { #header .header-inner.slide-up { top: -85px; } }

.header { padding: 10px 0; }
.header .logo { width: 160px; }

#main-page-sec .caption { padding: 15px; }
#main-page-sec .caption .desc { font-size: 15px; color: #fff; font-family: 'futura-medium-bt', sans-serif; line-height: 23px; }
@media screen and (max-width: 767px) { #main-page-sec .caption { position: static !important; } }
@media screen and (min-width: 768px) { #main-page-sec .caption { z-index: 1; bottom: 20px; left: 50%; -webkit-transform: translate(-50%, 100%); transform: translate(-50%, 100%); width: 95%; background: rgba(64, 64, 64, 0.8); } }
@media screen and (min-width: 992px) { #main-page-sec .caption .desc { font-size: 16px; line-height: 28px; } }
@media screen and (min-width: 1200px) { #main-page-sec .caption { padding: 16px; width: 80%; }
  #main-page-sec .caption .desc { font-size: 19px; line-height: 28px; } }

.main-page-sec:not(.banner-type) { height: 100vh; }
@media screen and (min-width: 768px) { .main-page-sec:not(.about-us-page-main):not(.contact-page-main) { margin-bottom: 100px; } }
.main-page-sec iframe { height: 100%; width: 100%; -webkit-transform: scale(1.3); transform: scale(1.3); pointer-events: none; }
.main-page-sec .overlay { top: 0; pointer-events: none; z-index: 1; }
.main-page-sec.about-us-page-main { background-repeat: no-repeat; background-position: 0 0; background-size: cover; }
.main-page-sec.about-us-page-main .about-us-page-caption { padding: 15px; }
@media screen and (max-width: 1200px) { .main-page-sec.about-us-page-main .about-us-page-caption { margin-top: 85px; } }
@media screen and (min-width: 992px) { .main-page-sec.about-us-page-main .about-us-page-caption { width: 65%; } }
@media screen and (min-width: 1201px) { .main-page-sec.about-us-page-main .about-us-page-caption { width: 50%; padding-left: 30px; padding-right: 80px; } }
.main-page-sec .banner-type-caption { top: 0; left: 0; }
.main-page-sec .banner-type-caption .page-banner-heading { font-size: 50px; font-family: 'futura-medium-bt', sans-serif; }
@media screen and (min-width: 768px) { .main-page-sec .banner-type-caption .page-banner-heading { font-size: 60px; } }
@media screen and (min-width: 992px) { .main-page-sec .banner-type-caption .page-banner-heading { font-size: 75px; } }

.latest-programmes #programmes-slider .owl-nav > .owl-prev, .latest-programmes #programmes-slider .owl-nav > .owl-next { position: absolute; top: 50%; -webkit-transform: translatey(-50%); transform: translatey(-50%); font-size: 20px; color: #fff; }
.latest-programmes #programmes-slider .owl-nav > .owl-prev { left: 10px; }
.latest-programmes #programmes-slider .owl-nav > .owl-next { right: 10px; }
@media screen and (min-width: 992px) { .latest-programmes #programmes-slider .owl-nav > .owl-prev { left: -25px; }
  .latest-programmes #programmes-slider .owl-nav > .owl-next { right: -25px; } }

.footer .footer-item { margin-bottom: 15px; }
.footer .footer-text { color: #fff; font-size: 13px; font-family: 'futura-medium-bt', sans-serif; }
.footer .footer-link { color: #f5fb91; font-size: 13px; font-family: 'futura-medium-bt', sans-serif; text-decoration: underline; }
.footer .footer-link:hover { color: #fff; }
.footer .social-links > li { padding-left: 13px; padding-right: 0px; }
@media screen and (min-width: 768px) { .footer .newsletter { width: 400px; } }
.footer .newsletter input { height: 54px; background: none; border: none; border-bottom: 1px solid #808080; color: #808080; font-size: 30px; border-radius: 0; }
.footer .newsletter input:hover, .footer .newsletter input:focus { border-bottom: 1px solid #808080; }
.footer .newsletter button { border: none; background: transparent; outline: none; color: #808080; font-size: 25px; padding: 3px 15px; transition: 0.3s; }
.footer .newsletter button:hover { color: #fff; }

#contact-us-sec { background-color: #323232; }
#contact-us-sec .splitter { display: none !important; top: 0; left: 0; }

.contact-us-sec > .lt { padding-top: 30px; }
@media screen and (min-width: 992px) { .contact-us-sec > .lt { padding-top: 40px; padding-bottom: 40px; }
  .contact-us-sec > .lt > .inner { padding-right: 30px; } }
.contact-us-sec > .rt { padding-top: 40px; padding-bottom: 40px; }
@media screen and (min-width: 992px) { .contact-us-sec > .rt { padding-top: 40px; padding-bottom: 40px; }
  .contact-us-sec > .rt > .inner { padding-left: 30px; } }
.contact-us-sec .adress-item { margin-bottom: 30px; }
.contact-us-sec .adress-item .head { font-family: 'futura-medium-bt', sans-serif; font-size: 18px; margin-bottom: 8px; }
.contact-us-sec .adress-item .head i { width: 25px; position: relative; top: 2px; }
.contact-us-sec .adress-item .address { padding-left: 25px; font-size: 16px; line-height: 23px; }

/*# sourceMappingURL=style.css.map */
