// sass --watch scss/style.scss:css/style.css --style compact
@import "components/reset";
// @import "components/fonts";
@import "components/variables";
@import "components/mixins";
@import "components/common";

// GOOGLE FONTS
// font-family: 'Lato', sans-serif;
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap");

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $dark-text-color;
    background-color: $st-bg-color;
}

// HOMEPAGE CSS
// header top
#header-top {
    padding: 5px 0;
    z-index: 12;
    position: relative;
    background-color: $primary-color;
    // @include box-shadow(0px, 1px, 5px, 0px, rgba(0, 0, 0, 0.2));
}

.header-top {
    // logo
    .logo {
        img {
            width: 110px;
            @include min-width($md-min) {
                width: 130px;
            }

            @include min-width($lg-min) {
                width: 140px;
            }

            @include min-width($xl-min) {
                width: 150px;
            }
        }
    }

    // header search
    .header-search {
        input {
            @include min-width($md-min) {
                width: 180px;
            }

            @include min-width($lg-min) {
                width: 200px;
            }

            @include min-width($xl-min) {
                width: 350px;
            }
        }
    }

    // header right
    .header-right {
        ul {
            li {
                position: relative;

                &:not(:last-child) {
                    &::after {
                        content: "";
                        display: block;
                        height: 13px;
                        width: 1px;
                        background-color: #fff;
                        position: absolute;
                        top: 6px;
                        right: -1px;
                    }
                }
            }
        }

        .lock-a {
            pointer-events: none;
        }

        // .cart-a {
        //     height: auto;
        //     width: auto;

        //     .app-badge {
        //         top: -12px;
        //         right: -13px;
        //     }
        // }
    }
}

// header menu
#header-menu {
    background-color: #fff;
}

.header-menu {
    .navbar {
        padding: 10px 0;
        @include min-width($xl-min) {
            padding: 15px 0;
        }
    }

    .navbar-nav {
        > .nav-item {
            &:not(:last-child) {
                padding-right: 25px;
            }

            > .nav-link {
                color: $dark-text-color;
                padding: 2px 0;
                @include transition(0.2s);
                @include max-width($xl-max) {
                    padding: 10px 0;
                }
                > i {
                    color: $light-text-color;
                }

                &:hover {
                    color: darken($color: $dark-text-color, $amount: 10);
                }

                &.active,
                &:active {
                    color: darken($color: $dark-text-color, $amount: 10);
                }
            }

            &.dropdown {
                position: relative;

                .dropdown-menu {
                    display: block;
                    border-radius: $app-block-border-radius;
                    @include transition;
                    top: -100%;
                    opacity: 0;
                    visibility: hidden;
                    @include max-width($xl-max) {
                        position: absolute;
                    }
                    @include max-width($lg-max) {
                        position: static;
                        width: 100%;
                        display: none;
                    }
                    > li {
                        > a {
                            color: $dark-text-color;
                            padding: 5px 10px;
                            display: block;
                            @include transition(0.1s);

                            &:hover {
                                color: #fff;
                                background-color: $primary-color;
                            }

                            &.active,
                            &:active {
                                color: #fff;
                                background-color: darken(
                                    $color: $primary-color,
                                    $amount: 5
                                );
                            }
                        }
                    }
                }
            }

            &:hover {
                &.dropdown {
                    .dropdown-menu {
                        opacity: 1;
                        visibility: visible;
                        top: 100%;
                        @include max-width($lg-max) {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

// login modal
#loginModal {
    .modal-dialog {
        @include min_width($md-min) {
            max-width: 700px;
        }

        @include min_width($lg-min) {
            max-width: 800px;
        }
    }
}

// ST COMMON THREE BLOCKS
#st-common-three-blocks {
    margin: 20px 0;
}

.st-common-three-blocks {
    $itemOneColor: #b9e6da;
    $itemTwoColor: #fbeab7;
    $itemThreeColor: #b9e5ff;

    .item {
        > .inner {
            padding: 7px;
        }

        &.one {
            > .inner {
                background-color: $itemOneColor;
                border: 1px solid darken($color: $itemOneColor, $amount: 15);
            }
        }

        &.two {
            > .inner {
                background-color: $itemTwoColor;
                border: 1px solid darken($color: $itemTwoColor, $amount: 15);
            }
        }

        &.three {
            > .inner {
                background-color: $itemThreeColor;
                border: 1px solid darken($color: $itemThreeColor, $amount: 15);
            }
        }

        .img-sec {
            height: 50px;
            width: 50px;
        }

        .text-sec {
            max-width: calc(100% - 50px);
        }
    }
}

// HOME SLIDER
#home-slider-main {
}

.home-slider-main {
    .owl-nav {
        .owl-prev,
        .owl-next {
            position: absolute;
            top: 50%;
            @include transformy(-50%);
            outline: none !important;
            box-shadow: none !important;
            opacity: 0.6;

            i {
                color: #fff;
                font-size: 40px;
            }

            &:hover {
                opacity: 1;
            }
        }

        .owl-prev {
            left: 5px;
        }

        .owl-next {
            right: 5px;
        }
    }
}

// HOME INFO BLOCK
#home-info-block {
    margin: 20px 0 0;
}

.home-info-block {
    padding: 10px 10px;
    background-color: #fff;
    @include min-width($md-min) {
        padding: 20px 10px;
    }
}

// CATEGORY SLIDER
#category-slider-main {
}

.category-slider-main {
    background-color: #fff;
    padding: 20px 10px 20px;
}

// HOME FOUR BLOCK SECTION
#home-four-blocks {
}

.home-four-blocks {
    // margin: 0 -8px;

    .item {
        // padding: 0 8px 0;

        // @include max-width($lg-max) {
        //     &:not(:nth-last-child(2)):not(:nth-last-child(1)) {
        //         padding-bottom: 16px;
        //     }
        // }

        // @include max-width($sm-max) {
        //     &:not(:nth-last-child(1)) {
        //         padding-bottom: 16px;
        //     }
        // }

        &.one {
            > .inner {
                background-image: url("../images/home-four-block/img1.png");

                .st-btn {
                    color: #fa9e45;
                }
            }
        }

        &.two {
            > .inner {
                background-image: url("../images/home-four-block/img2.png");

                .st-btn {
                    color: #6abb69;
                }
            }
        }

        &.three {
            > .inner {
                background-image: url("../images/home-four-block/img3.png");

                .st-btn {
                    color: #8390ef;
                }
            }
        }

        &.four {
            > .inner {
                background-image: url("../images/home-four-block/img4.png");

                .st-btn {
                    color: #e87fcb;
                }
            }
        }

        > .inner {
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: 0 0;
            height: 155px;

            .text {
                width: 70%;
            }
        }
    }
}

// OUR PRODUCTS SLIDER
#our-products-slider-main {
}

.our-products-slider-main {
    background-color: #fff;
    padding: 10px 10px 10px;

    .st-common-slider-item-inner {
        padding: 10px;
        @include transition;
        border: 1px solid transparent;

        &:hover {
            border-color: $primary-color;
        }
        &:hover .st-btn-outlined-primary {
            background-color: $primary-color;
            color: #fff;
        }
    }

    .price {
        .cut-price {
            text-decoration: line-through;
        }
    }
}

// HEALTH EXPERTS SLIDER
#health-experts-slider-main {
}

.health-experts-slider-main {
    .item-inner {
        background-color: #fff;
    }
}

// home-contact
#home-contact {
    @include min-width($xl-min) {
        background: transparent url("../images/home-contact/right-bg.png")
            no-repeat right 91% / 52%;
    }
}

.home-contact {
    margin-top: 20px;

    @include min-width($md-min) {
        margin-top: 30px;
    }

    @include min-width($lg-min) {
        margin-top: 40px;
    }

    @include min-width($xl-min) {
        margin-top: 100px;
    }

    .nav-tabs {
        border-bottom: none;
        margin-bottom: 10px;

        > li {
            margin-bottom: 5px;
            padding-right: 10px;

            @include min-width($lg-min) {
                padding-right: 10px;
            }

            > a {
                border-radius: 0;
                padding: 5px;
                border: none;
                border: 2px solid transparent;
                @include transition;

                &.active,
                &:hover {
                    border-color: $primary-color;
                    color: $secondary-color;
                    background-color: transparent;
                }
            }
        }
    }

    .tab-content {
        .tab-pane {
            @include min-width($md-min) {
                min-height: 130px;
            }

            .head {
                margin-bottom: 12px;
            }

            .text {
                margin-bottom: 12px;

                a {
                    text-decoration: underline;
                    color: $secondary-color;
                    @include transition;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    .cont-form {
        background: #fff;
        @include box-shadow(0px, 0px, 5px, 0px, rgba(0, 0, 0, 0.2));
        padding: 15px;

        @include min-width($md-min) {
            padding: 30px;
        }

        @include min-width($xl-min) {
            padding: 70px 35px;
            width: 550px;
            margin-left: auto;
        }

        .head {
            font-size: 19px;
            font-weight: 600;
            margin-bottom: 20px;
        }
    }
}

// LARGEST PLATFORM
#largest-platform {
}

.largest-platform {
    margin-top: 30px;

    @include min-width($lg-min) {
        margin-top: 60px;
    }
    .head {
        font-size: 20px;

        @include min-width($sm-min) {
            font-size: 30px;
        }
    }
}

// footer
footer {
    background-color: $footer-bg-color;
}

// top sec
#footer-top-sec {
}

.footer-top-sec {
    padding: 20px 0;

    @include min-width($sm-min) {
        padding: 40px 0;
    }

    .img-sec {
        border-right: 1px solid #606c76;
        padding-right: 20px;

        width: 120px;

        @include min-width($sm-min) {
            padding-right: 40px;
            width: 210px;
        }
    }

    .text-sec {
        padding-left: 20px;
        max-width: calc(100% - 120px);

        @include min-width($sm-min) {
            padding-left: 40px;
            max-width: calc(100% - 210px);
        }

        p {
            color: $footer-text-color;
        }
    }
}

// main sec
#footer-main {
}

.footer-main {
    padding-bottom: 20px;
    // @include min-width($sm-min) {
    //     padding-bottom: 40px;
    // }

    .heading {
        color: darken($color: $footer-text-color, $amount: 10);
    }

    .item {
        @include max-width($lg-max) {
            min-width: 160px;
        }

        @include max-width($md-max) {
            min-width: 200px;
        }

        @include max-width($sm-max) {
            min-width: 150px;
        }
    }
}

// bottom sec
#footer-bottom-sec {
}

.footer-bottom-sec {
    .text-sec {
        border-top: 1px solid #606c76;
        padding: 20px 0;

        p {
        }
    }
}

// AUTHENTICATION PAGE
#st-authentication {
    margin-top: 30px;
    margin-bottom: 30px;

    @include min_width($md-min) {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    @include min_width($lg-min) {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

.st-authentication {
    .login-inner {
        margin: 0 auto;
        &:not(.in-modal) {
            -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
            border: 1px solid #dfdfdf;
        }

        @include min-width($md-min) {
            &:not(.in-modal) {
                width: 650px;
            }
        }

        @include min-width($lg-min) {
            &:not(.in-modal) {
                width: 850px;
            }
        }

        > .lt {
            @include min-width($lg-min) {
                min-height: 450px;
            }

            .inner {
                background: $primary-color
                    url("../images/authentication/bg-icons.png") no-repeat
                    center / auto;
            }
        }

        > .rt {
            .inner {
                padding: 20px;

                @include min-width($lg-min) {
                    padding: 40px;
                }
            }

            .nav-tabs {
                border-bottom: none;
                padding: 0;
                margin-bottom: 10px;

                @include min-width($md-min) {
                    margin-bottom: 15px;
                }

                @include min-width($lg-min) {
                    margin-bottom: 25px;
                }

                > li {
                    margin-bottom: 0;

                    > a {
                        background-color: transparent !important;
                        border: none !important;
                        border-radius: 0;
                        padding: 0;
                        @include transition(0.1s);
                        font-size: 26px;
                        color: #888;

                        &.active,
                        &:hover {
                            color: $secondary-color;
                        }
                    }

                    &:first-child {
                        > a {
                            &:after {
                                content: "/";
                                color: #888;
                                margin: 0 7px;
                            }
                        }
                    }
                }
            }

            .head {
                font-size: 26px;
                margin-bottom: 10px;
                color: #666;

                @include min-width($md-min) {
                    margin-bottom: 15px;
                }

                @include min-width($lg-min) {
                    margin-bottom: 25px;
                }

                span {
                    color: $primary-color;
                }
            }

            .st-form {
                input,
                select,
                textarea {
                }
            }

            .submit-btn,
            .btns,
            .or-text {
                margin-top: 15px;

                @include min-width($lg-min) {
                    margin-top: 30px;
                }

                .st-btn {
                }
            }

            .add-info {
                margin-top: 15px;

                @include min-width($lg-min) {
                    margin-top: 30px;
                }

                p {
                    a {
                    }
                }
            }

            .other-options {
                margin-top: 20px;

                @include min-width($lg-min) {
                    margin-top: 60px;
                }

                > a {
                    @include transition;
                }

                > ul {
                    > li {
                        &.first {
                            color: #888;
                        }

                        &:not(:last-child) {
                            margin-right: 8px;
                        }

                        > a {
                            height: 25px;
                            width: 25px;
                            border-radius: $app-block-border-radius;
                            color: #fff;
                            text-decoration: none;
                            font-size: 11px;
                            @include transition;

                            @include min-width($lg-min) {
                                height: 30px;
                                width: 30px;
                                font-size: 17px;
                            }
                        }

                        &.facebook {
                            > a {
                                background: #3b5998;

                                &:hover {
                                    background: darken(
                                        $color: #3b5998,
                                        $amount: 5%
                                    );
                                }
                            }
                        }

                        &.google {
                            > a {
                                background: #f14335;

                                &:hover {
                                    background: darken(
                                        $color: #f14335,
                                        $amount: 5%
                                    );
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// PRODUCTS LISTING
#st-products-listing {
}

.st-products-listing {
    .st-products-listing-left-bar,
    .products-listing-main {
        width: 100%;
    }

    @include min-width($md-min) {
        .st-products-listing-left-bar {
            width: 250px;
        }

        .products-listing-main {
            width: calc(100% - 250px);
        }
    }

    .st-products-listing-left-bar {
    }
}

.st-products-listing-left-bar {
    .st-products-listing-left-bar-inner {
        &:not(:last-child) {
            margin-bottom: 20px;

            @include min-width($md-min) {
                margin-bottom: 25px;
            }
            @include min-width($lg-min) {
                margin-bottom: 40px;
            }
        }
    }

    .frac {
        .head {
            @include transition;

            &:hover,
            &.active {
                color: $primary-color;
            }
        }

        > ul {
            display: none;
            padding-left: 18px;

            > li {
                > a {
                    color: $light-text-color;
                    @include transition;

                    &::before {
                        content: "o";
                        margin-right: 6px;
                        position: relative;
                        top: -2px;
                        font-size: 12px;
                    }

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    .frac2 {
        > .inner {
            max-height: 200px;
            overflow: auto;
        }
    }
}

.products-listing-main {
    // padding-left: 20px;

    @include min-width($md-min) {
        padding-left: 25px;
    }
    @include min-width($lg-min) {
        padding-left: 40px;
    }
}

// common product item
.st-common-slider-item.com-product {
    .st-common-slider-item-inner {
        padding: 10px;
        @include transition;
        border: 1px solid transparent;

        &:hover {
            border-color: $primary-color;
        }
        &:hover .st-btn-outlined-primary {
            background-color: $primary-color;
            color: #fff;
        }
    }

    .price {
        .cut-price {
            text-decoration: line-through;
        }
    }
}

// PRODUCTS DETAILS
#st-product-detail {
}

.st-product-detail {
    .product-images,
    .product-details {
        width: 100%;
    }

    @include min-width($md-min) {
        .product-images {
            width: 300px;
        }

        .product-details {
            width: calc(100% - 300px);
        }
    }
    @include min-width($lg-min) {
        .product-images {
            width: 350px;
        }

        .product-details {
            width: calc(100% - 350px);
        }
    }

    .product-images {
        .big-img {
            height: 200px;
            @include min-width($md-min) {
                height: 400px;
            }
            @include transition(0.2s);

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .thumbnails {
        .item {
            > a {
                border: 1px solid $app-border-color;
                height: 100px;

                &.active {
                    border-color: $primary-color;
                }

                img {
                    width: auto;
                }

                @include transition(0.2s);

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    .product-details {
        margin-top: 15px;
        @include min-width($md-min) {
            margin-top: 0;
            padding-left: 25px;
        }

        @include min-width($lg-min) {
            padding-left: 40px;
        }
    }
}

// MORE PRODUCTS DETAILS TAB
#st-more-product-detail {
}

.st-more-product-detail {
    .nav-tabs {
        > .nav-item {
            margin-bottom: 0;
            &:not(:last-child) {
                margin-right: 10px;
            }
            @include max-width($xl-max) {
                margin-bottom: 10px;
            }

            > .nav-link {
                background-color: darken($color: #fff, $amount: 15);
                padding: 10px;
                color: $light-text-color;
                @include transition;
                @include min-width($md-min) {
                    padding: 15px;
                }
                &:hover,
                &.active {
                    background-color: #fff;
                    color: $dark-text-color;
                }
            }
        }
    }

    .tab-pane {
        padding: 15px;

        @include min-width($sm-min) {
            padding: 30px 30px;
        }
    }
}

// RELATED PRODUCTS
#related-products-slider-main {
}

.related-products-slider-main {
    .owl-nav {
        position: absolute;
        top: -47px;
        right: 0;

        .owl-prev,
        .owl-next {
            outline: none !important;
            box-shadow: none !important;
            opacity: 0.6;

            i {
                font-size: 30px;
            }

            &:hover {
                opacity: 1;

                i {
                    color: $primary-color;
                }
            }
        }

        .owl-prev {
            margin-right: 3px;
        }

        .owl-next {
            margin-left: 3px;
        }
    }
}

// PRODUCTS LISTING
#st-checkout {
}

.st-checkout {
    .st-checkout-cart-items {
        width: 100%;
        margin-bottom: 20px;
        @include min-width($md-min) {
            margin-bottom: 0;
            width: calc(100% - 300px);
        }
        @include min-width($lg-min) {
            width: calc(100% - 360px);
        }
    }

    .products-listing-main {
        width: 100%;
        @include min-width($md-min) {
            width: 300px;
        }
        @include min-width($lg-min) {
            width: 360px;
        }
    }
}

// PRODUCT LISTING MAIN
.products-listing-main {
    padding-left: 0;

    @include min-width($md-min) {
        padding-left: 25px;
    }
    @include min-width($lg-min) {
        padding-left: 40px;
    }

    .frac {
        &:not(:last-child) {
            margin-bottom: 20px;

            @include min-width($md-min) {
                margin-bottom: 25px;
            }
            @include min-width($lg-min) {
                margin-bottom: 40px;
            }
        }

        > .inner {
            padding: 25px 15px;
            background-color: #333;
        }

        .st-tag {
            margin-left: -15px;
        }
    }
}

.cart-product {
    .product-quantity,
    .product-price {
        width: 150px;
    }

    .product-name {
        -ms-flex: 1;
        flex: 1;
        min-width: 250px;

        .img-sec {
            height: 65px;
            width: 65px;
        }

        .text-sec {
            -ms-flex: 1;
            flex: 1;
        }
    }
}

// INFO LINKS
#st-info-links {
}

.st-info-links {
    .all-info-links {
        @include min-width($md-min) {
            width: 230px;
        }
        .nav-item {
            width: 100%;
        }
        .a-link {
            background-color: #fff;
            color: $dark-text-color;
            padding: 15px;
            @include transition(0.1s);
            @include min-width($md-min) {
                padding: 23px 20px;
                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(100%, -50%);
                    border-width: 13px;
                    border-style: solid;
                    border-color: transparent;
                    border-left-color: transparent;
                }
            }

            &.active,
            &:hover {
                background-color: $primary-color;
                color: #fff;
            }

            &.active {
                background-color: $primary-color;
                color: #fff;
                @include min-width($md-min) {
                    width: calc(100% + (15px + 1px));
                }

                &::after {
                    border-left-color: $primary-color;
                }
            }
        }
    }

    .info-sec {
        @include min-width($sm-min) {
            width: calc(100% - 230px);
            padding-left: 15px;
        }

        > .inner {
            padding: 25px;
        }
    }

    .two-col-info,
    .two-col-info + .app-devider-outer {
        @include min-width($sm-min) {
            width: 70%;
        }
    }
}

// Whishlist
.st-whishlist {
    .cart-product .product-name .img-sec {
        height: 90px;
        width: 90px;
    }
    .product-whishlist-btns {
        width: 250px;
    }
}

// PROCESS PAYMENT
#st-process-payment {
}

.st-process-payment {
    .st-process-payment-content {
        width: 100%;
        margin-bottom: 20px;
        @include min-width($md-min) {
            margin-bottom: 0;
            width: calc(100% - 300px);
        }
        @include min-width($lg-min) {
            width: calc(100% - 360px);
        }
    }

    .products-listing-main {
        width: 100%;
        @include min-width($md-min) {
            width: 300px;
        }
        @include min-width($lg-min) {
            width: 360px;
        }
    }
}


/* MY ACCOUNT CSS */
.account-menu {
}

.my-account {
    @include min-width($md-min) {
        min-height: 500px;
    }
}

@media screen and (min-width: $md-min) {
    .ma-leftbar {
        width: 285px;
    }
    
    .ma-content {
        margin-left: 285px;
        width: calc(100% - 285px);
    }
}

.ma-leftbar-user-details {
    box-shadow: 0 1px 2px #c3c3c3;
}

/* menu */
.ma-leftbar-menu {
}
.ma-leftbar-menu .menu-item {
}
.ma-leftbar-menu .menu-link {
    color: $light-text-color;
    @include transition
}
.ma-leftbar-menu .menu-item.active > .menu-link,
.ma-leftbar-menu .menu-link.active,
.ma-leftbar-menu .menu-link:hover {
    background-color: $primary-color;
    color: #fff;
}
.ma-leftbar-menu .dropdown-menu-item .menu-link {
    background: #ececec;
}
.ma-leftbar-menu .dropdown-menu-item.active > .menu-link,
.ma-leftbar-menu .dropdown-menu-item > .menu-link.active,
.ma-leftbar-menu .dropdown-menu-item > .menu-link:hover {
    background: #c3c3c3;
    color: $light-text-color;
}


/* MA DASHBOARD CONTENT */
.ma-content.dashboard-content {
    
}
.ma-content.dashboard-content .frac > .inner {
    @include transition
}
.ma-content.dashboard-content .frac:hover > .inner {
    border-color: #bebebe !important;
}

/* MA LOGIN INFORMATION CONTENT */
.ma-content.login-information-content {
    
}

// ORDERS INFORMATION TABLE
.orders-information-table{
    @include max-width($sm-max) {
        table {
            width: 600px;
        }
    }
    .prod-details {
        max-width: 200px;
    }
}