// sass --watch scss/style.scss:css/style.css --style compact
@import "components/reset";
@import "components/fonts";
@import "components/variables";
@import "components/mixins";
@import "components/common";

// GOOGLE FONTS
// font-family: 'Cinzel', serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Montserrat', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $dark-text-color;
}

// HOMEPAGE CSS

// header
#header-top-bar {
    background-color: #363636;
    padding: 7px 0;
}
.header-top-bar {
    .htb-text {
        color: #d4d4d4;
    }
    .htb-link {
        color: #d4d4d4;
        position: relative;
        @include transition;
        &:not(:last-child) {
            padding-right: 15px;
            margin-right: 11px;
            &:after {
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                height: calc(100% - 10px);
                width: 1px;
                background-color: #d4d4d4;
                @include transformy(-50%);
            }
        }
    }

    @include max_width($md-max) {
        .lt-sec,
        .rt-sec {
            width: 100%;
        }
    }
}

// header main bar
#header-main-bar {
    padding: 10px 0;
    border-bottom: 1px solid $app-border-color;
    @include min_width($md-min) {
        border-width: 2px;
    }
}
.header-main-bar {
    .logo-sec {
        @include max_width($xl-max) {
            width: 180px;
        }
        @include max_width($lg-max) {
            width: 150px;
        }
        @include max_width($md-max) {
            width: 130px;
            z-index: 1;
            position: relative;
        }
    }

    .rt-sec {
        @include max_width($md-max) {
            margin-top: -40px;
        }
        @include min_width($md-min) {
            margin-left: auto;
        }
    }
}

// header search
.header-search {
    @include max_width($md-max) {
        margin-top: 15px;
        padding-right: 60px;
    }
    @include min_width($md-min) {
        padding: 0 10px 0 40px;
    }
    @include min_width($lg-min) {
        padding: 0 30px 0 100px;
    }
    .st-form {
        > input:not([type="radio"]):not([type="checkbox"]) {
            height: 50px;
            padding-left: 15px;
            padding-right: 60px;
        }
        > .icon {
            height: 50px;
            right: 0;
        }
    }
}

// header cart
.header-cart {
    @include max_width($md-max) {
        margin-left: auto;
    }
    @include min_width($md-min) {
        position: relative;
        top: 7px;
    }
    .hc-link {
        color: $dark-text-color;
        @include transition;
        font-size: 25px;
        &:hover,
        &:active {
            color: #000;
        }
    }

    .your-account {
        width: 50px;
        @include min_width($md-min) {
            width: 70px;
        }
    }

    .cart-main {
        width: 100px;
        padding-left: 10px;
        padding-top: 5px;

        @include min_width($md-min) {
            width: 140px;
            padding-left: 20px;
            padding-top: 0;
        }
        > span {
            line-height: normal;
        }
        .hc-link {
            > span {
                font-size: 15px;
            }

            .count {
                height: 19px;
                width: 19px;
                padding-top: 1px;
                overflow: hidden;
                background-color: $primary-color;
                font-style: normal;
                font-size: 10px;
                color: #fff;
                border-radius: 50%;
                top: -8px;
                left: 13px;
            }
        }
        @include max_width($md-max) {
            .info-text {
                display: none !important;
            }
        }
    }
}

// header menu bar
#header-menu-bar {
}
.header-menu-bar {
    @include min_width($md-min) {
        padding: 15px 0;
    }
    .nav-item {
        @include st-ff-montserrat;
        font-weight: 700;
        font-size: 15px;
        color: $dark-text-color;
        margin: 0 15px;
        @include transition;
        @include min_width($lg-min) {
            font-size: 17px;
        }
    }
    .nav-link {
        color: $dark-text-color;
        padding: 0;
        @include max_width($md-max) {
            padding: 10px 0;
        }
        @include transition;
        &:hover {
            color: $primary-color;
        }
    }
    .home {
        font-size: 23px;
        .nav-link {
            color: $secondary-color !important;
        }
    }
}

// home slider
#home-slider {
}
.home-slider {
    .swiper-slide {
        @include max_width($md-max) {
            img {
                display: none;
            }
            background-repeat: no-repeat;
            background-size: cover;
        }
        @include min_width($md-min) {
            img {
                width: 100%;
            }
            background-image: none !important;
        }
        @include max_width($lg-max) {
            // padding: 100px 0;
        }
        @include max_width($md-max) {
            // padding: 0;
        }
        // img {
        //     width: 100%;
        // }
        .caption {
            @include min_width($md-min) {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }
            @include max_width($md-max) {
                background: rgba(0, 0, 0, 0.3);
                padding: 40px 0;
            }
            > .inner {
                @include max_width($md-max) {
                    text-align: center;
                }
                > .inner-main {
                    opacity: 0;
                    @include min_width($md-min) {
                        border-radius: 5px;
                        background: rgba(255, 255, 255, 0.5);
                        padding: 30px;
                    }
                }
            }
        }
        .head {
            font-size: 18px;
            color: #000;
            line-height: normal;
            @include max_width($md-max) {
                color: #fff;
            }
            @include min_width($md-min) {
                font-size: 25px;
            }
            @include min_width($lg-min) {
                font-size: 40px;
            }
            span {
                margin-top: 5px;
                font-size: 30px;
                font-weight: 600;
                @include min_width($md-min) {
                    font-size: 45px;
                }
                @include min_width($lg-min) {
                    font-size: 57px;
                }
            }
        }
        .desc {
            font-size: 15px;
            @include max_width($md-max) {
                color: #fff;
            }
            @include min_width($md-min) {
                font-size: 20px;
            }
        }

        .st-btn {
            @include min_width($md-min) {
                padding: 14px 30px 13px;
            }
        }
    }
}

// four section
#four-section {
}
.four-section {
    .item {
        .img {
            width: 70px;
        }
        .text {
            padding-left: 15px;
            color: #5a5254;
        }
    }
}

// deals sec
#home-deals-sec {
    @include max_width($md-max) {
        padding-bottom: 0 !important;
    }
}
.home-deals-sec {
    border-radius: 30px;
    @include max_width($md-max) {
        border-radius: 10px;
        background: transparent url("../images/home-discount-sec-bg.png")
            no-repeat -240px 0 / cover;
    }
    > img {
        @include max_width($md-max) {
            display: none;
        }
    }
    .caption {
        @include min_width($md-min) {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
        }
        > .inner {
            padding-top: 15px;
            padding-bottom: 20px;
            @include min_width($md-min) {
                padding-left: 30px;
            }
            @include min_width($lg-min) {
                padding-left: 100px;
            }
        }
    }
    .head {
        font-size: 34px;
        @include min_width($md-min) {
            font-size: 43px;
        }
    }
    .desc {
        color: #a6a6a6;
        font-size: 18px;
        @include max_width($md-max) {
            max-width: 90%;
            color: #fff;
        }

        @include min_width($md-min) {
            font-size: 20px;
        }
    }
}

// home detail sec1
#home-detail-sec1 {
    background: transparent url("../images/home-detail-sec1-bg.jpg") no-repeat
        left center / 50%;
}
.home-detail-sec1 {
    @include min_width($md-min) {
        padding: 50px 0;
    }
    @include min_width($lg-min) {
        padding: 100px 0;
    }

    .caption {
        background: rgb(202, 229, 62);
        background: linear-gradient(
            90deg,
            rgba(202, 229, 62, 1) 0%,
            rgba(145, 176, 32, 1) 100%
        );

        padding: 50px 15px;
        @include min_width($md-min) {
            left: -50px;
            position: relative;
        }
        @include min_width($lg-min) {
            left: -100px;
            min-height: 500px;
        }
        .head {
            color: #000;
            font-size: 35px;
            font-weight: 600;
            line-height: normal;
            @include min_width($lg-min) {
                font-size: 45px;
            }
        }
        .desc {
            color: #101010;
            font-size: 20px;
            @include min_width($lg-min) {
                font-size: 23px;
            }
        }
    }
}

// home products
#home-products {
}
.home-products {
}

// newsletter sec
#newsletter-sec {
    background-color: #f1f1f1;
}
.newsletter-sec {
    .lt-sec {
        .sm-head {
            font-style: italic;
        }
        .head {
            color: #54595f;
            font-size: 32px;
        }
        .desc {
            color: #54595f;
        }
    }

    .rt-sec {
        input,
        .st-btn {
            height: 45px !important;
        }
    }
}

// footer
#footer {
    background-color: #000;
}

.footer {
    .footer-logo {
    }

    .desc {
        p {
            color: #a9a9a9;
            margin-left: auto;
            margin-right: auto;
            @include min_width($md-min) {
                max-width: 70%;
            }
        }
    }

    .social-sec {
        .social-link {
            height: 27px;
            width: 27px;
            background-color: #4e5658;
            @include transition;
            color: #fff;
            font-size: 13px;
            // border-radius: $app-block-border-radius;
            &:hover {
                background-color: lighten($color: #4e5658, $amount: 20%);
            }
        }
    }

    .footer-links-wrapper {
        .footer-link {
            color: #a9a9a9;
            @include transition(0.1s);
            margin: 0 10px;
            @include min_width($lg-min) {
                margin: 0 20px;
            }
            &:hover {
                color: #fff;
            }
        }
    }

    .copyright {
        p {
            color: #a9a9a9;
        }
    }
}

// page - not found
#not-found {
}
.not-found {
    background-color: $gray-bg-color;
    padding: 30px 15px;
    margin: 0 auto;
    @include min_width($md-min) {
        max-width: 550px;
    }
    @include min_width($lg-min) {
        padding: 60px 30px;
    }
    .head {
        font-size: 80px;
        line-height: normal;
        color: #b3abb6;
        @include min_width($md-min) {
            font-size: 100px;
            line-height: 90px;
        }
    }
    .desc-md {
        font-size: 30px;
        position: relative;
        top: -5px;
        padding-bottom: 17px;
        margin-bottom: 15px;
        color: #54595f;
        &::after {
            content: "";
            height: 2px;
            width: 40px;
            background-color: $secondary-color;
            position: absolute;
            bottom: 0;
            left: 50%;
            @include transformx(-50%);
        }
    }
    .desc-sm {
        font-size: 17px;
        color: #54595f;
    }
}

// page - cart
#st-cart {
}
.st-cart {
    .lt-sec {
        @include min_width($lg-min) {
            padding-right: 50px;
        }
    }
    .rt-sec {
        width: 100%;
        margin-top: 20px;
        @include min_width($lg-min) {
            margin-top: 0;
            width: 350px;
        }
        > .inner {
            padding: 20px;
            background-color: #fcf3e0;
            border-radius: $app-block-border-radius;
        }

        .frac {
            border-bottom: 1px solid $secondary-color;
            margin-bottom: 20px;
            padding: 0 5px 20px;
        }
    }

    .cart-table {
        th,
        td {
            border: none;
            border-bottom: 1px solid $app-border-color;
            padding: 15px 10px;
        }
        td {
            padding-bottom: 20px;
        }
        .details {
            .img {
                width: 100px;
            }
        }
    }
}

// page - payment
#st-payment {
}
.st-payment {
    .lt-sec {
        @include min_width($lg-min) {
            padding-right: 50px;
        }

        .frac {
            border-bottom-width: 2px;
            padding-bottom: 15px;
            @include min_width($lg-min) {
                margin-bottom: 25px;
            }
        }
    }
    .rt-sec {
        width: 100%;
        margin-top: 20px;
        @include min_width($lg-min) {
            margin-top: 0;
            width: 350px;
        }
        > .inner {
            padding: 20px;
            background-color: #fcf3e0;
            border-radius: $app-block-border-radius;
        }

        .frac {
            border-bottom: 1px solid $secondary-color;
            margin-bottom: 20px;
            padding: 0 5px 20px;
        }
    }
}

// page contact us
#contact-us {
}
.contact-us {
    .lt-sec {
        @include min_width($md-min) {
            width: 300px;
        }
        @include min_width($lg-min) {
            width: 350px;
        }
        .frac {
            padding: 15px;
            @include min_width($lg-min) {
                padding: 25px;
            }

            .st-main-heading {
                .icon {
                    border-width: 2px !important;
                    height: 40px;
                    width: 40px;
                    font-size: 15px;
                }
            }
        }
    }

    .rt-sec {
        @include min_width($md-min) {
            padding-left: 15px;
        }
        @include min_width($lg-min) {
            padding-left: 35px;
        }

        .contact-form {
            input,
            .st-btn {
                height: 50px;
            }
        }
    }
}

// page: product listing
#products-listing {
}
.products-listing {
    .left-bar {
        width: 100%;
        @include min_width($md-min) {
            width: 250px;
            padding-right: 15px;
            position: -webkit-sticky !important;
            position: sticky !important;
            top: 10px;
        }
        @include min_width($lg-min) {
            width: 300px;
        }
    }
}

// page: products view
#products-view {
}
.products-view {
    .lt-sec {
        .main-slides {
            margin-bottom: 10px;
            border: 1px solid #dddddd;
            border-radius: $app-block-border-radius;
            .swiper-slide {
                padding: 20px;
                @include min_width($lg-min) {
                    height: 400px;
                }
                img {
                    width: auto;
                    max-height: 100%;
                }
            }
        }

        .thumb-slides {
            .swiper-slide {
                border: 2px solid #dddddd;
                border-radius: $app-block-border-radius;
                overflow: hidden;
                height: 120px;
                text-align: center;
                padding: 10px;
                cursor: pointer;
                &.swiper-slide-thumb-active {
                    border-color: $primary-color;
                }
                img {
                    width: auto;
                    max-height: 100%;
                }
            }

            .swiper-button-next,
            .swiper-button-prev {
                &:after {
                    font-size: 30px;
                    color: #dddddd;
                    @include transition;
                }
                &:hover::after {
                    color: $primary-color;
                }
            }

            .swiper-button-next {
                right: 5px;
            }
            .swiper-button-prev {
                left: 5px;
            }
        }
    }

    .rt-sec {
        > .inner {
            @include min_width($lg-min) {
                padding-left: 50px;
            }
        }

        .product-heading {
            font-size: 20px;
            margin-top: 20px;
            @include min_width($lg-min) {
                font-size: 28px;
                margin-top: 0;
            }
        }

        .price {
            font-size: 23px;
            .old-price {
                color: #a5a5a5;
                text-decoration: line-through;
            }
        }

        .select-quantity {
            .quantity-select-controls {
                button {
                    width: 42px;
                    height: 42px;
                }
                input {
                    height: 42px;
                }
            }
            .add-btn {
                @include min_width($lg-min) {
                    width: 200px;
                }
            }
        }

        .product-details-tabs {
            .nav-item {
            }
            .nav-link {
                color: $light-text-color;
                &.active {
                    color: $dark-text-color;
                }
            }
        }

        .add-info {
            .icon {
                font-size: 27px;
                width: 40px;
                text-align: center;
            }
        }
    }
}

// st ratings count
#st-ratings-count {
    background-color: #f7f7f7;
}

// customer reviews
#customer-reviews {
}

.customer-reviews {
    .all-reviews {
        .item {
            &:not(:last-child) {
                margin-bottom: 15px;
                @include min_width($lg-min) {
                    margin-bottom: 25px;
                }
            }
            > .inner {
                padding: 20px;
                border-radius: 10px;
            }
            .rating-container {
                > ul,
                p {
                    position: relative;
                    &:not(:last-child) {
                        padding-right: 20px;
                        @include min_width($lg-min) {
                            padding-right: 30px;
                        }
                        &:after {
                            content: "";
                            height: 13px;
                            width: 2px;
                            background-color: $light-text-color;
                            position: absolute;
                            top: 5px;
                            right: 14px;
                        }
                    }
                }
            }

            .review {
                margin-bottom: 15px;
            }
        }
    }

    .buttons {
        @include min_width($lg-min) {
            padding-top: 20px;
        }
        .st-btn {
            min-width: 140px;
        }
    }
}

/* MY ACCOUNT CSS */
.account-menu {
}

.my-account {
    @include min-width($md-min) {
        min-height: 500px;
    }
}

@media screen and (min-width: $md-min) {
    .ma-leftbar {
        width: 285px;
    }

    .ma-content {
        margin-left: 285px;
        width: calc(100% - 285px);
    }
}

.ma-leftbar-user-details {
    box-shadow: 0 1px 2px #c3c3c3;
}

/* menu */
.ma-leftbar-menu {
}
.ma-leftbar-menu .menu-item {
}
.ma-leftbar-menu .menu-link {
    color: $light-text-color;
    @include transition;
}
.ma-leftbar-menu .menu-item.active > .menu-link,
.ma-leftbar-menu .menu-link.active,
.ma-leftbar-menu .menu-link:hover {
    background-color: $primary-color;
    color: #fff;
}
.ma-leftbar-menu .dropdown-menu-item .menu-link {
    background: #ececec;
}
.ma-leftbar-menu .dropdown-menu-item.active > .menu-link,
.ma-leftbar-menu .dropdown-menu-item > .menu-link.active,
.ma-leftbar-menu .dropdown-menu-item > .menu-link:hover {
    background: #c3c3c3;
    color: $light-text-color;
}

/* MA DASHBOARD CONTENT */
.ma-content.dashboard-content {
}
.ma-content.dashboard-content .frac > .inner {
    @include transition;
}
.ma-content.dashboard-content .frac:hover > .inner {
    border-color: #bebebe !important;
}

/* MA LOGIN INFORMATION CONTENT */
.ma-content.login-information-content {
}

// ORDERS INFORMATION TABLE
.orders-information-table {
    @include max-width($sm-max) {
        table {
            width: 600px;
        }
    }
    .prod-details {
        max-width: 200px;
    }
}

// login modal
#loginModal {
    .modal-dialog {
        @include min_width($md-min) {
        }
    }
}

// AUTHENTICATION PAGE
#st-authentication {
    margin-top: 30px;
    margin-bottom: 30px;

    @include min_width($md-min) {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    @include min_width($lg-min) {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

.st-authentication {
    .login-inner {
        margin: 0 auto;

        > .main-sec {
            .inner {
                border-radius: $app-block-border-radius;
                padding: 20px;

                @include min-width($lg-min) {
                    padding: 40px;
                }
            }

            .nav-tabs {
                border-bottom: none;
                padding: 0;
                margin-bottom: 10px;

                @include min-width($md-min) {
                    margin-bottom: 15px;
                }

                @include min-width($lg-min) {
                    margin-bottom: 25px;
                }

                > li {
                    margin-bottom: 0;

                    > a {
                        background-color: transparent !important;
                        border: none !important;
                        border-radius: 0;
                        padding: 0;
                        @include transition(0.1s);
                        font-size: 26px;
                        color: #888;

                        &.active,
                        &:hover {
                            color: $secondary-color;
                        }
                    }

                    &:first-child {
                        > a {
                            &:after {
                                content: "/";
                                color: #888;
                                margin: 0 7px;
                            }
                        }
                    }
                }
            }

            .head {
                font-size: 26px;
                margin-bottom: 10px;
                color: #666;

                @include min-width($md-min) {
                    margin-bottom: 15px;
                }

                @include min-width($lg-min) {
                    margin-bottom: 25px;
                }

                span {
                    color: $primary-color;
                }
            }

            .st-form {
                input,
                select,
                textarea {
                }
            }

            .submit-btn,
            .btns,
            .or-text {
                margin-top: 15px;

                @include min-width($lg-min) {
                    margin-top: 30px;
                }

                .st-btn {
                }
            }

            .add-info {
                margin-top: 15px;

                @include min-width($lg-min) {
                    margin-top: 30px;
                }

                p {
                    a {
                    }
                }
            }

            .other-options {
                margin-top: 20px;

                @include min-width($lg-min) {
                    margin-top: 60px;
                }

                > a {
                    @include transition;
                }

                > ul {
                    > li {
                        &.first {
                            color: #888;
                        }

                        &:not(:last-child) {
                            margin-right: 8px;
                        }

                        > a {
                            height: 25px;
                            width: 25px;
                            border-radius: $app-block-border-radius;
                            color: #fff;
                            text-decoration: none;
                            font-size: 11px;
                            @include transition;

                            @include min-width($lg-min) {
                                height: 30px;
                                width: 30px;
                                font-size: 17px;
                            }
                        }

                        &.facebook {
                            > a {
                                background: #3b5998;

                                &:hover {
                                    background: darken(
                                        $color: #3b5998,
                                        $amount: 5%
                                    );
                                }
                            }
                        }

                        &.google {
                            > a {
                                background: #f14335;

                                &:hover {
                                    background: darken(
                                        $color: #f14335,
                                        $amount: 5%
                                    );
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
