@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800');
@import url("../plugins/owlcarousel/owl.carousel.css");
@import url("../plugins/start-rating/jquery.rateyo.min.css");
@import url("../plugins/icons/flaticon.css");
@import url("../plugins/font-awesome/css/font-awesome.min.css");

img,
object,
embed,
video {
    max-width: 100%
}

.ie6 img {
    width: 100%
}

body {
    overflow-x: hidden
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box
}

.fluid {
    clear: both;
    margin: 0;
    width: 100%;
    float: left;
    display: block
}

.fluidList {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0
}

.p-b-30 {
    padding-bottom: 30px
}

.p-l-100 {
    padding-left: 100px
}

.effect-01,
.effect-01 * {
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s
}

.effect-02,
.effect-02 * {
    -webkit-transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    -ms-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s
}

.text-center {
    text-align: center
}

.bg-grey-light {
    background: #f5f4fa
}

.sec-padding {
    padding: 60px 0
}

.heading-01 {
    color: #2c3e50;
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 20px;
    margin: 0;
    line-height: 1em
}

.heading-04 {
    color: #2c3e50;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 15px;
    margin: 0;
    line-height: 1em;
}


.heading-02 {
    color: #264d95;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
    margin: 0;
    line-height: 1em;
    position: relative
}

.heading-02 span {
    display: inline-block;
    padding: 0 20px;
    background: #fff
}

.heading-02 span:after {
    content: "";
    position: absolute;
    top: 8px;
    height: 1px;
    left: 0;
    right: 0;
    background: #264d95;
    z-index: -1
}

.normal-content {
    padding-bottom: 20px
}

.normal-content p {
    margin: 0;
    padding: 5px 0 20px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #333
}

.read-more {
    background: #2980b9;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 20px;
    border-radius: 2px;
    position: relative;
    display: inline-block
}

.read-more:after {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 24px;
    position: absolute;
    top: 1px;
    right: 20px;
    opacity: 0
}

.read-more:hover {
    background: rgba(0, 0, 0, 0.05);
    color: #2980b9;
    padding: 6px 30px 6px 20px
}

.read-more:hover:after {
    right: 12px;
    color: #2980b9;
    opacity: 1
}

.fixed-width {
    width: 1200px;
    margin: auto
}

.gridContainer {
    margin: auto;
    width: 100%;
    padding: 0;
    clear: none;
    float: none
}

.top-wrap {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9
}

.top-wrap>div {
    position: relative
}

.logo {
    float: left;
    width: 146px
}

.top-left {
    float: right;
    padding: 55px 0 0
}

nav,
.top-icons,
.t-flag {
    display: inline-block;
    vertical-align: top
}

.t-flag {
    padding: 2px 10px;
}

.main-nav>li {
    float: left;
    padding-right: 30px;
    position: relative;
    text-transform: uppercase;
    transform: translateY(0);
    opacity: 1
}

.main-nav>li>a {
    display: block;
    color: #2d2d2d;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0 58px
}

.main-nav ul,
.main-nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 290px;
    border: rgba(0, 0, 0, 0.1) solid 1px;
    padding: 20px;
    border-top: #1b499d solid 3px;
    background: #fff
}

.main-nav ul ul {
    left: 100%;
    top: 0;
}

.main-nav ul li {
    font-size: 14;
    position: relative;
}

.main-nav ul li a {
    color: #2d2d2d;
    font-weight: 600;
    display: block;
    padding: 8px 0 8px 15px
}

.main-nav a:hover,
.main-nav a.active {
    color: #1b499d
}

.submenu>a:after {
    content: "\f107";
    display: inline-block;
    vertical-align: middle;
    font-family: FontAwesome;
    padding-left: 5px
}

.main-nav li:hover>ul {
    display: block
}

.main-nav ul li:hover ul {
    display: block
}

.top-icons a {
    display: inline-block;
    border: #2980b9 solid 1px;
    border-radius: 2px;
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 4px;
    color: #2980b9;
    font-weight: normal;
    font-size: 22px;
    line-height: 23px;
    margin-left: 2px
}

.top-icons a.active,
.top-icons a:hover {
    background: #2980b9;
    color: #fff
}

.country-flags {
    display: none;
    position: absolute;
    top: 2px;
    right: 0
}

.country-flags a {
    display: inline-block;
    margin-left: 5px
}

.country-flags a img {
    width: 48px
}

.opacity-3 {
    opacity: .3
}

.search-wrap {
    position: absolute;
    right: 0;
    top: -10px;
    background: #fff;
    min-width: 50%;
    border: 1px solid #ecf0f1;
    opacity: 0;
    visibility: hidden;
    z-index: 99
}

.search-wrap input {
    height: 52px;
    width: 100%;
    bottom: 0;
    border: 0;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    padding: 12px
}

.search-wrap a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: #2980b9;
    padding: 8px 20px;
    color: #fff;
    font-size: 24px
}

.search-wrap a:hover {
    background: #222
}

.show-search .search-wrap {
    top: 52px;
    opacity: 1;
    visibility: visible
}

.show-search .fixed .search-wrap {
    top: 10px
}

.show-search .main-nav {
    transform: translateY(60px);
    opacity: 0
}

.fixed .country-flags a img {
    width: 0
}

.fixed .top-left {
    padding: 20px 0 0
}

.fixed .main-nav>li>a {
    font-size: 16px;
    padding: 5px 0 20px
}

.fixed .main-nav ul li {
    font-size: 14px
}

.fixed .logo {
    width: 78px
}

.slide-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.slide-content-in {
    position: absolute;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5)
}

.slide-content-in h1 {
    font-size: 42px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-align: center
}

.slide-content-in h1 strong {
    display: inline-block;
    background: #3180b7;
    padding: 0 12px
}

.slide-content-01 {
    left: 35%;
    top: 30%
}

.slide-content-02 {
    left: 35%;
    top: 30%
}

.slide-content-03 {
    right: 41%;
    top: 30%
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: FontAwesome;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    color: #fff;
    padding: 4px 8px;
    letter-spacing: 0;
    white-space: 0
}

.owl-prev {
    left: 20px
}

.owl-prev:before {
    content: "\f053"
}

.owl-next {
    right: 20px
}

.owl-next:before {
    content: "\f054"
}

.home-box li {
    float: left;
    padding: 0 12px;
    width: 33.33344%;
    position: relative
}

.hb-cnt {
    padding: 10px 20px;
    color: #fff;
    /* background:#1b499d;*/
    background: #24a8dd;
}

.hb-cnt h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 0 0 10px;
    line-height: 32px
}

.hb-cnt p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 22px;
    min-height: 100px;
}

.home-box li:hover .hb-cnt {
    background: #1b499d;
    padding: 10px 20px;
    top: 100%
}

.pro-girds {
    padding: 10px 12px 30px;
    margin: 0 -8px;
    font-size: 0
}

.pro-girds li {
    display: inline-block;
    vertical-align: top;
    padding: 8px;
    width: 25%;
    position: relative
}

.pro-girds li>a {
    box-shadow: 0 0 0 1px #d6d6d6;
    display: block;
    color: #2c3e50
}

.pro-girds li>a:hover {
    color: #1b499d
}

.pro-girds li figure {
    margin-bottom: 10px;
    position: relative;
    height: 340px
}

.pro-girds li figure img {
    width: auto;
    height: auto;
    max-height: 100%
}

.pro-girds li h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 5px 20px;
    margin: 0
}

li.new:after {
    content: "";
    display: block;
    background: url(../img/new-img.png) no-repeat;
    width: 60px;
    height: 58px;
    position: absolute;
    top: 0;
    left: 1px
}

li.special:after {
    content: "";
    display: block;
    background: url(../img/verySpecial.png) no-repeat;
    width: 262px;
    height: 45px;
    position: absolute;
    bottom: 40px;
    left: 1px
}

/*Tool Free code*/
li.toolfree:before {
    content: "";
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 20px;
    right: 10px !important;

}

.pro-girds li span img {
    text-align: left !important;
    content: "";
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 10%;
    right: 10px !important;
}



/*end here*/




.pro-girds li figure:hover:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    border-bottom: #d6d6d6 solid 1px
}

.pro-girds li figure:hover:after {
    content: "\f055";
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: FontAwesome;
    font-size: 28px;
    color: #2ea3f2;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

#map {
    height: 480px
}

.foot-grid-info li {
    float: left;
    width: 33.33344%;
    padding: 20px 0
}

.foot-grid-info li i {
    background: #3498db;
    color: #fff;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: inline-block;
    font-size: 28px;
    padding: 18px;
    margin-bottom: 20px
}

.foot-grid-info li p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #34495e
}

footer h3 {
    font-size: 18px;
    color: #2c3e50;
    font-weight: 700;
    margin: 0;
    padding: 0 0 15px
}

.widget {
    float: left
}

.foot-menu-wrap {
    width: 66.66688%;
    padding-right: 30px
}

.foot-soc {
    width: 33.33344%
}

.foot-menu-wrap li {
    float: left;
    width: 50%
}

.foot-menu li {
    font-size: 14px;
    padding: 3px 0
}

.foot-menu li a {
    color: #34495e
}

.foot-menu li a:hover {
    color: #1b499d
}

.socials-grid {
    padding-top: 30px
}

.socials-grid li {
    display: inline-block
}

.socials-grid li a {
    display: block;
    background: #2982ba;
    color: #fff;
    font-size: 22px;
    width: 38px;
    height: 38px;
    text-align: center;
    padding: 4px;
    border-radius: 2px;
    margin-right: 6px;
    border: #2982ba solid 1px
}

.socials-grid li a:hover {
    background: #fff;
    color: #2982ba
}

.bottom {
    background: #2c3e50;
    font-size: 14px;
    padding: 25px 0 30px;
    color: #fff
}

.bottom a {
    color: #fff;
    display: inline-block;
    margin: 0 5px
}

.bottom a.active,
.bottom a:hover {
    color: #2982ba
}

.copyright {
    float: left
}

.foot-links {
    float: right
}

.mobile-close {
    display: none
}

.pc-hide {
    display: none !important
}

#back-to-top {
    background: rgba(0, 0, 0, 0.6);
    font-size: 24px;
    color: #fff;
    padding: 3px 15px 6px;
    border-radius: 3px 0 0 3px;
    position: fixed;
    right: -50px;
    bottom: 10%
}

#back-to-top.show {
    right: 0
}

.in-head {
    background: url(../img/head-in.jpg) no-repeat center;
    background-size: cover;
    padding: 32px 0;
    color: #fff
}



.in-head h1 {
    padding-bottom: 10px;
    margin: 0;
    font-size: 30px;
    font-weight: 700
}

.brdcrm {
    font-size: 15px;
    font-weight: 600
}

.brdcrm a {
    color: #214a9c
}

aside {
    float: left;
    width: 30%;
    padding-right: 30px
}

.left-menu h2 {
    font-size: 22px;
    font-weight: 700;
    color: #2c3e50;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin: 0
}

.left-menu li {
    border-bottom: #ebebeb solid 1px;
    font-size: 16px
}

.left-menu a {
    color: #2c3e50;
    display: block;
    padding: 10px 16px
}

.left-menu a.active,
.left-menu a:hover {
    background: #214a9c;
    color: #fff
}

.page-right {
    float: right;
    width: 70%;
    padding-left: 40px
}

.pro-in-list h6 {
    font-size: 14px;
    color: #999;
    font-weight: 600;
    margin: 0 0 9px;
    padding: 0
}

.pro-in-list .pro-girds {
    padding: 10px 0 30px;
    text-align: left
}

.pro-in-list .pro-girds li {
    width: 33.33344%;
    text-align: center
}

.side-bar {
    position: relative
}

.side-bar:before {
    content: "";
    background: #e2e2e2;
    position: absolute;
    left: 30%;
    top: -60px;
    bottom: -60px;
    width: 1px;
    display: block
}

.pagination ul {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    border: 1px solid #d3ced2;
    border-right: 0;
    margin: 1px;
    line-height: 26px
}

.pagination li {
    display: inline-block;
    border-right: 1px solid #d3ced2;
    padding: 0;
    margin: 0;
    float: left;
    overflow: hidden
}

.pagination li a {
    margin: 0;
    text-decoration: none;
    line-height: 1;
    font-size: 1.2em;
    font-weight: 400;
    padding: .5em;
    min-width: 1em;
    display: block;
    color: #34495e
}

.pagination li a:hover,
.pagination li a.active {
    background: #ebe9eb;
    color: #8a7e88
}

.page-content {
    /* padding:30px 5%*/
    /*padding:10px 5%*/
}

.page-content h2 {
    color: #2c3e50;
    font-weight: bold;
    font-weight: 20px;
    padding-bottom: 10px;
    margin: 0;
    line-height: 1.8em
}

.page-content p,
.page-content h6 {
    padding-bottom: 1em;
    color: #6e6d6d;
    margin: 0;
    font-size: 20px;
    line-height: 1.8em
}

.page-content h6,
.page-content h6 a {
    color: #214a9c;
    font-weight: 400
}

.product-wrap {
    margin-bottom: 30px
}

.product-images {
    float: left;
    width: 34%
}

.lg-image {
    border: #ebeff0 solid 5px;
    display: block
}

.product-images span img {
    float: right;
    content: "";
    width: 50px;
    height: 50px;
    /*bottom:25%;*/
    /*right:50px!important;*/
    margin-right: 3px;
    margin-top: 3px;


}

.p-img-list {
    margin: 20px -5px
}

.p-img-list li {
    float: left;
    width: 33.33344%;
    padding: 0 5px 15px
}

.p-img-list li a {
    border: #d6d6d6 solid 1px;
    display: block
}

.p-img-list img {
    width: 100%
}

.pro-right {
    float: right;
    width: 62%
}

.star-rating .rateyo,
.star-rating p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0
}

.star-rating {
    color: #34495e;
    font-size: 16px;
    padding: 0 0 30px;
    display: block
}

.pro-content h2 {
    color: #2c3e50;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
    margin: 0
}

.pro-content p {
    margin: 5px 0 20px;
    padding: 0;
    color: #6e6d6d;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px
}

.pro-content ul {
    margin: 1em 0;
    padding: 0;
    list-style-type: none
}

.pro-content ul li {
    color: #6e6d6d;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    padding-left: 22px;
    position: relative
}

.pro-content ul li:before {
    content: "\f054";
    font-family: FontAwesome;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 2px
}

.pro-content .video {
    padding-bottom: 25px
}

.pro-review {
    margin-bottom: 45px;
    border: 1px solid #d9d9d9
}

.review-tab {
    background: #f5f4fa;
    line-height: 26px;
    position: relative
}

.review-tab:before {
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #fff;
    z-index: 1
}

.review-tab li {
    padding: 0;
    background: #fff;
    margin: 0;
    border: 0;
    border-right: 1px solid #d9d9d9;
    display: inline-block;
    font-size: 16px
}

.review-tab li a {
    padding: 4px 22px;
    font-weight: 700;
    color: #000;
    display: block
}

.review-wrap {
    padding: 30px
}

.review-wrap h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #2c3e50;
    font-size: 24px;
    font-weight: 700
}

.review-grid {
    padding-bottom: 40px
}

.review-grid figure {
    float: left;
    width: 80px
}

.rv-cnt {
    margin: 0 0 0 100px
}

.rv-cnt p {
    padding: 5px 0;
    margin: 0;
    color: #777;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7em
}

.rv-cnt h3 {
    color: #2c3e50;
    margin: 0;
    padding: 0
}

.same-pro-wrap {
    padding: 30px 0 0
}

.fancybox-title {
    padding: 10px !important;
    font-size: 16px;
    font-weight: 600
}

#fancybox-thumbs li.active {
    border: #d5d5d5 solid 2px !important
}

.col-6 {
    float: left;
    width: 50%
}

.contact-from p {
    font-size: 16px;
    font-weight: 700;
    color: #6e6d6d
}

.form-row {
    margin-bottom: 25px
}

.form-row label {
    color: #848b94;
    font-size: 15px;
    font-weight: 400;
    display: block;
    margin-bottom: 1px
}

.feild-style {
    background: #ededed;
    border: 0;
    color: #2c3e50;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 12px;
    width: 100%
}

.form-submit input {
    background: #214a9c;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 25px;
    text-transform: uppercase
}

.form-submit input:hover {
    background: #1f2c9e
}

address {
    font-style: normal;
    font-size: 16px;
    margin-bottom: 20px
}

address h3 {
    color: #204c98;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    padding: 20px 0 5px
}

address p {
    margin: 0;
    padding: 5px 0 10px
}

.text-red {
    color: #f00
}

.award a {
    position: relative
}

.award .award_text {
    content: "";
    display: block;
    position: absolute;
    bottom: 24%;
    left: 0;
    background: rgba(103, 179, 210, 0.89);
    font-size: 14px;
    font-weight: 700;
    color: #f8fb08;
    padding: 8px 20px
}

.my-20 {
    margin: 20px 0;
}

.py-20 {
    padding: 20px 0;
}

.ad_grids {
    margin: 0 -7px 20px;
}

.ad_grids li {
    float: left;
    width: 25%;
    position: relative;
}

.ad_grids li:first-child {
    width: 50%;
}

.ad_grids li a {
    display: block;
    padding: 8px;
    color: #fff;
}

.ad_grids li a img {
    width: 100%;
}

.ad_grids li h2 {
    position: absolute;
    bottom: 15px;
    left: 8px;
    right: 8px;
    padding: 6px 15px;
    background: rgba(103, 179, 210, 0.89);
    color: #fff;
    font-size: 24px;
    overflow: hidden;
}

.ad_grids li h2 span {
    z-index: 1;
    position: relative;
}

/*.ad_grids li h2:after{ content:""; width:120px; height:200px; position:absolute; top:0; left:50px; background:#214a9c; z-index:0; transform:skewX(45deg);}
.ad_grids li:nth-child(3) h2:after{left:300px;}
.ad_grids li:nth-child(4) h2:after{left:280px;}
.ad_grids li:nth-child(5) h2:after{left:50px;}
.ad_grids li:nth-child(6) h2:after{left:-100px;transform:skewX(-45deg);}
.ad_grids li:nth-child(7) h2:after{left:180px;transform:skewX(-45deg);}
.ad_grids li:nth-child(8) h2:after{left:50px;transform:skewX(-45deg);}
*/
.tasti-home {
    margin-top: 30px;
}

.tasti-home li {
    float: left;
}

.tasti-home li .testi-grid {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: table;
    width: 100%;
}

.testi-grid>* {
    display: table-cell;
    vertical-align: middle;
}

.testi-grid figure {
    width: 113px;
}

.testi-grid figure img {
    border-radius: 50%
}

.testi-grid p {
    padding-left: 20px;
    color: #424242;
    font-size: 16px;
    line-height: 24px;
}

.testi-by {
    padding: 10px 30px;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    color: #424242;
}

.tasti-home .owl-prev:before,
.tasti-home .owl-next:before {
    display: none;
}

.tasti-home .owl-prev,
.tasti-home .owl-next {
    border-radius: 0;
    background: transparent;
    border-left: #666666 solid 2px;
    border-top: #666666 solid 2px;
    width: 30px;
    height: 30px;
    top: 35%;
}

.tasti-home .owl-prev {
    transform: rotate(-45deg);
    left: -40px;
}

.tasti-home .owl-next {
    transform: rotate(135deg);
    right: -40px;
}

.row {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 0 -15px 30px;
    height: 100%;
}

.col-06 {
    display: block;
    width: 50%;
    padding: 0 15px;
    vertical-align: top;
    height: 100%;
}

.col-08 {
    display: block;
    width: 66.66688%;
    padding: 0 15px;
    vertical-align: top;
}

.col-04 {
    display: block;
    width: 33.33344%;
    padding: 0 15px;
    vertical-align: top;
}

.cata-img {
    float: right;
    max-width: 180px;
}

.sec-grid {
    padding: 40px;
    border: #C9C9C9 solid 1px;
    height: 100%;
}

.sec-grid h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0 30px;
}

.sec-grid h3 {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0 30px;
}

.sec-grid ul {
    margin-bottom: 25px;
}

.sec-grid li {
    font-size: 16px;
    line-height: 36px;
}

.sec-grid ul.small-links li {
    line-height: 26px;
    font-size: 15px;
}

.sec-grid ul.small-links li.social-links {
    font-size: 24px;
}

.icon-link li {
    padding-left: 30px;
    background: url(../img/doctor.png) no-repeat 5px 11px;
}

.icon-video li {
    padding-left: 30px;
    background: url(../img/videoIcon.png) no-repeat 5px 11px;
}

.qt-txt {
    margin-bottom: 30px;
}

.qt-txt p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: #7E7E7E;
}

.qt-txt span {
    display: block;
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
}

.faq-list li {
    background: #E1E1E1;
    margin: 0 0 10px;
}

.faq-list li h4 {
    font-size: 16px;
    font-weight: 600;
    padding: 15px 20px 15px 50px;
    margin: 0;
    position: relative;
    cursor: pointer;
}

.faq-list li h4:before {
    content: "\f067";
    font-family: FontAwesome;
    font-size: 24px;
    font-weight: 300;
    position: absolute;
    top: 10px;
    left: 20px;
}

.faq-list li.active h4:before {
    content: "\f068"
}

.faq-list li p {
    font-size: 16px;
    padding: 20px;
    background: #F3F3F3;
    margin: 0;
    display: none;
}

.link-grid {
    background: #E1E1E1;
    display: block;
    font-size: 16px;
    padding: 10px 20px;
}

.link-wrap .row {
    margin-bottom: 15px;
}

.m-0 {
    margin: 0 !important
}

.mb-0 {
    margin-bottom: 0 !important
}

.d-block {
    display: block;
}

.searched-location h3 {
    font-size: 32px;
    font-weight: 400;
    color: #273C89;
    margin: 0;
}

.search-grid {
    padding: 20px 0;
}

.search-grid h4 {
    font-size: 26px;
    font-weight: 400;
    color: #3498DB;
    margin: 0 0 10px;
}

.search-grid-in {
    background: #E1E1E1;
    padding: 15px 15px 20px;
}

.search-grid-in label {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
    display: block;
}

.search-grid-in select {
    width: 100%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    height: 54px;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #333333;
    outline: none;
}

.search-grid-in input {
    padding: 12px 50px 12px 50px;
    height: 54px;
    font-size: 20px;
    background: #3498DB;
    color: #fff;
    border: 0;
    width: 100%;
}

.search-grid-in input:hover {
    background: #273C89
}

.result-grid {
    background: #E1E1E1;
    padding: 15px;
    margin-bottom: 10px;
}

.result-grid h4 {
    font-size: 18px;
    color: #273C89;
    margin: 0 0 10px;
    font-weight: 600;
}

.result-grid p {
    margin: 0;
    color: #444;
}



.view-map {
    text-align: right;
    display: inline-block;
}

.view-map a {
    color: #3498DB;
}

.view-map a:hover {
    color: #000;
}

.search-map iframe {
    width: 100%;
    height: 500px;
}

/*.about-grid{ margin-bottom:20px; background-color:#DBEBF266; border:#E1E1E1 solid 1px;}*/
.about-grid {
    margin-bottom: 20px;
    background-color: #DBEBF266;
}

.about-grid figure {
    float: left;
    width: 20%;
    margin-top: 15px;
}

.about-grid figure img {
    display: block;
}

.grid-content {
    float: left;
    width: 80%;
    padding: 20px;
}

.grid-content h3 {
    font-size: 20px;
    font-weight: 700;
    color: #2982BA;
    margin: 0;
    padding: 0;
}

.grid-content h3 a {
    color: #2982BA;
}

.grid-content h3 a:hover {
    color: #000
}

.grid-content .date {
    font-size: 14px;
    color: #999;
}

.grid-content p {
    font-size: 16px;
    color: #666;
}

.text-right {
    text-align: right
}

.phone-bar {
    display: none;
}


/*May 11th 2018*/
.in-head2 {
    /*background:url(../img/top.png) no-repeat center; f5f4fa*/
    background-color: #DEECF5;
    background-size: cover;

    margin-top: 15px 0 15px 0px;
    color: #fff;
    font-size:

        height:350px;

}

.in-head2 h1 {
    background: url(../img/top.png) no-repeat center;
    height: 350px;
    padding-top: 150px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    text-align: center;

}



.col-3 {
    float: left;
    width: 35%;
    height: 250px;
    margin-top: 130px;
    background: #4B93DB33;
}

.third-grid-awr {
    padding: 10px;
    height: 100%;
}

.col-3 h3 {
    padding: 20px 0;
    font-size: 18px;
    color: #273C89;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;

}

.col-3 h4 {
    font-size: 16px;
    color: #273C89;
    text-align: center;
    font-weight: 600;

}

.col-3 h5 {
    font-size: 14px;
    color: #000;
    padding: 10px 0;
    text-align: center;
    font-weight: 600;

}

.col-3 h5 a {
    color: #000;

}

.col-3 h5 a:hover {
    color: #2982ba;
}




.col-9 {
    float: left;
    width: 65%
}

/*end here */







@media only screen and (max-width:1230px) {
    .fixed-width {
        width: 1100px
    }

    .slide-content-in h1 {
        font-size: 38px
    }

    .pro-girds li figure {
        height: 280px
    }

    .main-nav>li>a {
        font-size: 14px;
    }

    .about-grid figure {
        width: 25%;
    }

    .grid-content {
        width: 75%;
    }
}

@media only screen and (max-width:1136px) {
    .main-nav>li {
        padding-right: 20px;
    }

    .fixed-width {
        width: 991px
    }

    .slide-content-in h1 {
        font-size: 30px
    }

    .hb-cnt p {
        font-size: 14px
    }

    .heading-01,
    .hb-cnt h2 {
        font-size: 24px
    }
}

@media only screen and (max-width:1024px) {
    body {
        padding-top: 0 !important
    }

    .fixed-width {
        width: 95%
    }

    .top-wrap {
        position: static
    }

    .logo {
        width: 95px
    }

    .country-flags {
        top: 26px;
        right: 72px
    }

    .country-flags a img {
        width: 38px
    }

    .slide-content-in h1 {
        font-size: 24px
    }

    .mobile-btn {
        display: block;
        float: right;
        margin: 25px 0;
        padding: 10px;
        cursor: pointer;
        height: 40px;
        position: relative;
        z-index: 9
    }

    .mobile-btn span {
        display: block;
        width: 35px;
        height: 4px;
        border-radius: 5px;
        background: #1b499d;
        box-shadow: 0 8px 0 #1B499D, 0 16px 0 #1b499d
    }

    .top-left {
        display: block;
        text-align: center;
        background: #1b499d;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -100;
        overflow-y: scroll;
        opacity: 0;
        visibility: hidden
    }

    .top-icons {
        display: block;
        padding: 20px 0
    }

    .main-nav>li {
        float: none;
        padding-right: 0
    }

    .main-nav>li>a {
        padding: 8px;
        color: #fff
    }

    .main-nav ul,
    .main-nav ul ul {
        position: static;
        background-color: transparent;
        border: 0;
        padding: 0 0 20px;
        width: auto
    }

    .main-nav ul li a {
        color: #fff;
        padding: 5px;
        font-size: 15px;
        font-weight: 400;
        text-transform: none
    }

    .main-nav ul ul li a {
        font-size: 13px;
        opacity: 0.7
    }

    .main-nav ul ul li a:hover {
        opacity: 1
    }

    .main-nav li:hover ul {
        display: none
    }

    .main-nav a:hover {
        color: #fff !important
    }

    .main-nav a:hover,
    .main-nav a.active {
        color: #9bb8ee
    }

    .fancybox-close {
        z-index: 99999 !important
    }

    .top-icons a {
        color: #fff;
        border-color: #fff
    }

    .mobile-menu {
        overflow: hidden;
        position: relative;
        height: 100%
    }

    .mobile-menu .top-left {
        opacity: 1;
        visibility: visible;
        z-index: 999
    }

    .mobile-close {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        cursor: pointer;
        font-size: 26px;
        display: block
    }

    .pc-hide {
        display: block !important
    }

    .mobile-hide {
        display: none !important
    }

    .slide-content,
    .slide-content-in {
        position: static;
        background: #1b499d;
        padding: 10px 0;
        text-align: left
    }

    .slide-content-in h1 {
        margin: 0;
        font-size: 36px;
        text-align: left;
        font-weight: 300
    }

    .slide-content-in h1 strong {
        background-color: transparent;
        padding: 0
    }

    .home-box li {
        float: none;
        max-width: 520px;
        margin: 0 auto 25px;
        width: 100%
    }

    .home-box li:hover .hb-cnt {
        z-index: 99;
        top: 80%
    }

    .foot-grid-info li p {
        font-size: 16px
    }

    .show-search .search-wrap {
        top: 22px
    }

    .ad_grids li {
        width: 33.33344%;
    }

    .ad_grids li:first-child {
        width: 66.666888%;
    }

    .ad_grids li h2 {
        font-size: 20px;
    }




}

@media only screen and (max-width:990px) {


    .pro-girds li {
        width: 33.33344%
    }

    .foot-grid-info li {
        width: 100%
    }

    aside,
    .page-right {
        float: none;
        padding: 0;
        width: 100%
    }

    .page-right {
        padding-bottom: 40px
    }

    .side-bar::before {
        display: none
    }

    .page-content {
        padding: 0
    }

    .page-content h2,
    .page-content p,
    .page-content h6 {
        font-size: 16px
    }

    .contact-add .p-l-100 {
        padding-left: 50px
    }

    .about-grid figure {
        width: 30%;
    }

    .grid-content {
        width: 70%;
    }

}

@media only screen and (max-width:768px) {
    .slide-content-in h1 {
        font-size: 26px;
        line-height: 30px
    }

    .pro-girds li,
    .pro-in-list .pro-girds li {
        width: 50%
    }

    .foot-menu-wrap,
    .foot-soc {
        width: 100%
    }

    .foot-soc {
        padding-top: 50px
    }

    .copyright,
    .foot-links {
        text-align: center;
        width: 100%
    }

    .product-images,
    .pro-right {
        float: none;
        width: 100%;
        clear: both
    }

    .lg-image img {
        width: 100%
    }

    .col-6 {
        width: 100%;
        float: none
    }

    .contact-add .p-l-100 {
        padding-left: 0
    }

    .contact-from {
        padding-bottom: 50px
    }

    .ad_grids li {
        width: 50%;
    }

    .ad_grids li:first-child {
        width: 100%;
    }

    .row {
        display: block;
        margin: 0;
        margin-bottom: 30px;
    }

    .col-06,
    .col-08,
    .col-04 {
        display: block;
        width: 100%;
        padding: 0 0 20px;
    }

    .sec-grid h2,
    .searched-location h3 {
        font-size: 26px
    }

    .sec-grid h3,
    .search-grid h4 {
        font-size: 20px;
    }

    .cata-img {
        float: none;
        text-align: center;
        margin: auto;
    }

    .faq-list li h4,
    .faq-list li p,
    .link-grid {
        font-size: 14px;
    }

    .faq-list li h4::before {
        font-size: 18px;
        top: 13px;
        left: 13px;
    }

    .faq-list li h4 {
        padding-left: 36px;
    }

    .link-wrap .row {
        margin-bottom: 0;
    }

    .link-wrap .row .col-04 {
        padding-bottom: 10px
    }

    .view-map {
        text-align: left;
    }

    .search-map iframe {
        width: 100%;
        height: 300px;
    }

    /*end here */

    /*May 11th 2018*/
    .in-head2 {
        height: 40px;
        /*background:url(../img/top.png) no-repeat center; f5f4fa*/
        background-color: #DEECF5;
        background-size: cover;

        /*margin-top:15px 0 0 0px;*/
        color: #fff;
        font-size: 700;
        margin-bottom: 5px;




    }

    .in-head2 h1 {
        background: url(../img/top-small.png) center;
        height: 150px;
        padding-top: 50px;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        text-align: center;


    }

    sec-padding-for-awr {
        margin-top: 15px;
    }

    .col-3 {
        float: left;
        width: 100%;
        height: 125px;
        /*margin-top:-5px;*/
        background: #4B93DB33;
    }

    .third-grid-awr {
        padding: 3px 0px;
        height: 100%;
    }

    .col-3 h3 {
        padding: 1px 0;
        font-size: 16px;
        color: #273C89;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;

    }

    .col-3 h4 {
        font-size: 14px;
        color: #273C89;
        text-align: center;
        font-weight: 600;

    }

    .col-3 h5 {
        font-size: 12px;
        color: #000;
        text-align: center;
        font-weight: 600;
        padding-top: 2px;

    }

    .col-3 h5 a {
        color: #000;

    }

    .col-3 h5 a:hover {
        color: #2982ba;
    }




    .col-9 {

        width: 100%;
        /*height:100%;*/
        padding: 10px 15px 5px 25px;



    }

    .col-9 img {
        float: left;
        margin-top: 15px;
    }

    /*end here*/
}

@media only screen and (max-width:560px) {
    .award .award_text {
        font-size: 12px
    }

    .sec-grid {
        padding: 20px;
    }

    .about-grid figure,
    .grid-content,
    .about-grid figure img {
        width: 100%;
    }

    .phone-bar {
        display: block;
        width: 95%;
        background: #2c3e50;
        color: #FFF;
        font-sze: 20px;
        line-height: 24px;
        margin: 15px 10px;
        padding: 8px 5px;
    }



    .col-3 {
        margin-top: 0;
    }

    .col-9 img {
        float: left;
        margin-top: 15px;
    }

}

@media only screen and (max-width:480px) {
    .pro-girds li figure {
        height: 240px
    }

    .ad_grids li {
        width: 100%;
    }

    .testi-grid {
        padding: 20px;
    }

    .testi-grid,
    .testi-grid>* {
        display: block;
    }

    .testi-grid figure {
        width: 113px;
        margin: auto
    }

    .testi-grid p,
    .testi-by {
        text-align: center
    }

    .phone-bar {
        display: block;
        width: 95%;
        background: #2c3e50;
        color: #FFF;
        font-sze: 20px;
        line-height: 24px;
        margin: 15px 10px;
        padding: 8px 5px;


    }

    .col-3 {
        margin-top: 0;
    }
}

@media only screen and (max-width:420px) {
    .slide-content-in h1 {
        font-size: 20px;
        line-height: 24px
    }

    .pro-girds li {
        padding: 8px 5px
    }

    .search-wrap {
        width: 65%
    }

    .pro-content {
        margin-top: 10px
    }

    .phone-bar {
        display: block;
        width: 95%;
        background: #2c3e50;
        color: #FFF;
        font-sze: 20px;
        line-height: 24px;
        margin: 15px 10px;
        padding: 8px 5px;


    }

    .col-3 {
        margin-top: 10px;
    }

    .col-3-1 {
        margin-top: 127px;
    }
}

/*
.video-btn{ position:fixed; top:45%; left:12px; background:red; color:#fff; font-size:18px;  padding:10px 12px; z-index:90; cursor:pointer;  transition:all 0.3s linear 0s; text-align:center; border-radius: 20px; border: 1px solid;  padding: 10px; box-shadow: 3px 3px #2c3e50;
}
.video-btn:hover {-webkit-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);}*/
/*.video-btn:after{height:4px; background:red; width:15px; top:48%; right:100%; content:""; position:absolute;}*/

/*.video-btn:after{height:10px; background:red; width:250px; top:-45%; right:50%; content:""; position:absolute;}
.video-btn:before{height:50px; background:red; width:10px; top:-45%; right:50%; content:""; position:absolute;}

.video-btn p{ font-size:13px; font-weight:400; margin:0; padding:0; line-height:16px;}
.video-btn p span{ display:block; font-size:12px; font-weight:bold;}
.video-btn h3{ font-size:24px; margin:0; padding:0;}
*/

/* TV
.video-btn{ position:fixed; top:45%; left:12px; background:url(../img/tv-ad.png) no-repeat;  z-index:90; cursor:pointer;  text-align:center; padding: 10px; height:150px; width:150px; }
.video-btn:hover {-webkit-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);}

.video-btn p{ font-size:13px; font-weight:400; margin:0; padding:0; line-height:16px; color:white;}
.video-btn p span{ display:block; font-size:12px; font-weight:bold; margin-left:2px; margin-top:55px;}
.video-btn h3{ font-size:24px; margin:0; padding:0; color:white;}
.video-btn:hover{}*/
.video-btn {
    position: fixed;
    top: 45%;
    left: 12px;
    background: url(../img/tv-add-image.png) no-repeat;
    z-index: 90;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    height: 150px;
    width: 150px;
}

.video-btn:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.video-btn p {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    padding: 0;
    line-height: 16px;
    color: white;
}

.video-btn p span {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-left: 2px;
    margin-top: 20px;
}

.video-btn h3 {
    font-size: 42px;
    margin-top: -15px;
    padding: 0;
    color: white;
}

.video-btn:hover {}


.video-wrap {
    width: 680px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    border: rgba(255, 255, 255, 0.7) solid 1px;
    z-index: 95
}

.video-wrap iframe {
    width: 100%;
    height: 380px;
    display: block;
}

.bg-video {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(114, 119, 122, 0.93);
    box-shadow: 0 0 0 1px #d6d6d6;
    z-index: 92;
}

.close-video {
    position: fixed;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    cursor: pointer;
    z-index: 95;
}

.video-container {
    display: none;
}

.video-open .video-container {
    display: block;
}

@media only screen and (max-width:767px) {
    .video-wrap {
        width: 500px;
    }

    .video-wrap iframe {
        height: 300px;
    }

    .close-video {
        top: 10px;
        right: 15px;
    }

    /*.video-btn{ position:fixed; top:80%; left:0; background:red; color:#fff; font-size:20px;  padding:10px 15px; z-index:90; cursor:pointer; transform:scale(1,1); transition:all 0.3s linear 0s}*/
    /*.video-btn{ position:fixed; top:45%; left:12px; background:url(../img/tv-ad.png) no-repeat;  z-index:90; cursor:pointer;  text-align:center; padding: 10px; height:150px; width:150px; }*/
    .video-btn {
        position: fixed;
        top: 45%;
        left: 12px;
        background: url(../img/tv-add-image.png) no-repeat;
        z-index: 90;
        cursor: pointer;
        text-align: center;
        padding: 10px;
        height: 150px;
        width: 150px;
    }


}

@media only screen and (max-width:560px) {
    .video-wrap {
        width: 90%;
    }

    .video-wrap iframe {
        height: 280px;
    }

    .close-video {
        top: 5px;
        right: 10px;
    }
}




/* new sec css */
#we-are-team { width: 100%;}

.we-are-team.d-flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .we-are-team.d-flex {
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
    }
}

.we-are-team .WAT-LT,
.we-are-team .WAT-RT {
    width: 100%;
}

@media (min-width: 768px) {

    .we-are-team .WAT-LT,
    .we-are-team .WAT-RT {
        width: 50%;
    }
}

.we-are-team .WAT-LT {}

.we-are-team .WAT-LT .inner {
    background-color: #1b489d;
    color: #fff;
    height: 100%;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center !important;
    align-items: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    padding: 15px;
}

.we-are-team .WAT-LT .head {
    margin: 0 0 10px;
    font-size: 31px;
    font-weight: 600;
    text-transform: capitalize;
}

.we-are-team .WAT-LT .sm-text {
    font-size: 15px;
}

.we-are-team .WAT-LT .btn {
    background: #2980b9;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    padding: 5px 11px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    border: none;
    text-transform: capitalize;
    margin-top: 10px;
}
@media (max-width: 767px) {

    .we-are-team .WAT-LT .sm-text {
        font-size: 15px;
        display: none;
    }
}

@media (max-width: 991px) {
	
	.we-are-team .WAT-LT .sm-text {
    font-size: 12px;
}

    .we-are-team .WAT-LT .head {
        font-size: 21px;
    }

    .we-are-team .WAT-LT .btn {
        margin-top: 0;
    }
}

.we-are-team .item>.vid-link {
    position: relative;
}

.we-are-team .item>.vid-link>img {
    max-width: 100%;
    width: 100%;
}

.we-are-team .item>.vid-link .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 12;
    display: block;
    height: 60px;
    width: 60px;
    background-color: #fff;
    color: #1b489d;
    font-size: 17px;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center !important;
    align-items: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    transition: .3s;
    padding-left: 4px;
}

.we-are-team .item>.vid-link .icon:hover {
    background-color: #1b489d;
    color: #fff;
}

@media (max-width: 992px) {
    .we-are-team .item>.vid-link .icon {
        height: 40px;
        width: 40px;
    }
}

.we-are-team .item>.vid-link .icon .round-icon,
.we-are-team .item>.vid-link .icon .round-icon>.icon-inner {
    position: absolute;
    border: 2px dashed #fff;
    padding: 10px;
    border-radius: 50%;
}

.we-are-team .item>.vid-link .icon .round-icon {
    position: absolute;
    height: calc(100% + 50px);
    width: calc(100% + 50px);
    animation: rotation 20s infinite linear
}

.we-are-team .item>.vid-link .icon .round-icon>.icon-inner {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}