@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 750px;
    }

    /* APPOINTMENT PAGE */
    /* st-appointment */
    .st-appointment .book-appointment .select-time ul>li.head p {
        font-size: 14px;
    }
}


@media (max-width: 991px) {
    .st-btn-radio>.text {
        font-size: 14px;
    }

    /* BLOG PAGE */
    /* blog-main */
    .blog-main .blog-head {
        font-size: 23px;
    }

    .blog-main .share-options .date>div {
        font-size: 13px;
    }

    .blog-main .share-options .socail p {
        font-size: 14px;
    }

    .blog-main .blog-details p {
        font-size: 15px;
    }

    .blog-main .book-checkup .head {
        font-size: 16px;
    }

    .blog-main .book-checkup .desc {
        font-size: 14px;
    }

    .blog-main .must-read .frac .text-sec p {
        font-size: 13px;
    }

    /* INNER PAGE */
    /* docs-result */
    .docs-result .left-bar .dr-rhead {
        font-size: 18px;
    }

    .docs-result .right-bar .frac.docs-list .RB-left .text-sec .post {
        font-size: 14px;
    }

    .docs-result .right-bar .frac.docs-list .RB-left .text-sec .depr-name {
        font-size: 15px;
    }

    .docs-result .right-bar .frac.docs-list .RB-left .text-sec .btns>.st-btn {
        font-size: 13px;
        padding: 9px 9px 8px;
    }

    .docs-result .right-bar .frac.docs-list .RB-right {
        margin-top: 15px;
    }

    /* INNER DETAILS PAGE */
    /* st-details-banner */
    #st-details-banner .doc-details .DD-left-sec .name {
        font-size: 19px;
    }

    #st-details-banner .doc-details .DD-left-sec .post {
        font-size: 14px;
    }

    #st-details-banner .doc-details .DD-right-sec p {
        font-size: 15px;
    }

    /* docs-result */
    .docs-result .right-bar .frac.doc-details .services,
    .docs-result .right-bar .frac.doc-details .map {
        padding-left: 0;
    }

    .docs-result .right-bar .frac.doc-details .map {
        padding-right: 0;
    }

    .docs-result .right-bar .frac.doc-details .opening-hours {
        padding-right: 0;
    }

    .docs-result .right-bar .frac.users-review .st-reviews .item .text-sec .name {
        padding-right: 65px;

    }

    .docs-result .right-bar .frac.users-review .st-reviews .item .text-sec .name span:first-child {
        font-size: 16px;
    }

    .docs-result .right-bar .frac.users-review .st-reviews .item .text-sec .name span:last-child {
        font-size: 12px;
    }

    .docs-result .right-bar .frac.users-review .st-reviews .item .text-sec .recomend {
        font-size: 14px;
    }

    .docs-result .right-bar .frac.users-review .st-reviews .item .text-sec .review {
        font-size: 15px;
    }

    .docs-result .right-bar .frac.doc-more-details .text-sec {
        margin-top: 10px;
    }
    .docs-result .right-bar .frac.doc-more-details .text-sec .name {
        font-size: 19px;
    }
    .docs-result .right-bar .frac.doc-more-details .text-sec .post {
        font-size: 14px;
    }
    

}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
    }

    .st-btn {
        font-size: 14px;
        padding: 5px 15px 6px;
    }

    .best-seller-tag {
        padding: 7px 18px 7px 6px;
        font-size: 11px;
    }

    .st-def-table table thead tr th,
    .st-def-table table tbody tr td {
        padding: 12px 10px;
        font-size: 15px;
    }




    /* HOMEPAGE */
    /* header */
    header .logo {
        margin-bottom: 15px;
    }

    header .logo img {
        width: 150px;
    }

    header .head-login {
        position: absolute;
        top: 7px;
        right: 0;
        width: auto;
    }

    /* slider */
    .home_slider .item .selects select {
        font-size: 15px;
    }

    .home_slider .item .caption .submit-btn .btn {
        padding: 4px 15px 5px;
        font-size: 14px;
    }

    .home_slider .item .caption {
        /* padding: 15px 0 15px; */
        /* border-bottom: 1px solid #d8d8d8; */
        /* background: rgba(0, 0, 0, 0.4); */
        position: relative !important;
        /* text-align: center; */
        /* background: #f4f4f4; */
    }

    .home_slider .item .caption:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.45);
    }
    .home_slider .item .caption>.container {
        z-index: 1;
        position: relative;
    }

    .home_slider .item .caption .head {
        font-size: 30px;
        margin-bottom: 15px;
        color: #fff;
    }

    .link-with-img {
        padding: 7px 10px;
        font-size: 13px;
    }

    .link-with-img:not(:last-child) {
        margin-right: 10px !important;
    }

    .link-with-img img {
        width: 12px !important;
        margin-right: 5px;
    }

    /* home-health-and-fitness */
    .home-health-and-fitness .rt {
        display: none;
    }

    .home-health-and-fitness .lt .head {
        font-size: 30px;
    }

    /* speciality-slider-main */
    .speciality-slider-main .item .text p {
        font-size: 14px;

    }

    /* .home-contact */
    .home-contact .HC-rt {
        margin-top: 20px;
    }

    /* download-app */
    #download-app .ST_main-head .head {
        font-size: 20px;
    }

    .download-app>ul>li>a img {
        width: 100px;
    }

    /* LOGIN PAGE */
    /* st-login */
    .st-login .login-inner>.rt .head {
        font-size: 23px;
    }

    /* APPOINTMENT PAGE */
    /* st-appointment */
    .st-appointment .book-appointment .nav-tabs>li>a {
        font-size: 14px;
    }

    .st-appointment .book-appointment .nav-tabs>li>a .day {
        font-size: 12px;
    }

    .appointment-select-type .links>a {
        margin: 0 3px 10px !important;
    }

    /* INNER PAGE */
    /* docs-result */
    .docs-result .right-bar .frac.docs-list .RB-left .img-sec {
        width: 100px;
    }

    .docs-result .right-bar .frac.docs-list .RB-left .text-sec {
        width: calc(100% - 100px);
    }

    .docs-result .right-bar .frac.docs-list .RB-left .img-sec .best-seller {
        padding: 6px 17px 7px 7px;
        font-size: 10px;
    }

    .docs-result .right-bar .frac.docs-list .RB-left .text-sec .head {
        font-size: 20px;
    }

    .docs-result .right-bar .frac.docs-list .RB-left .left-inner {
        position: relative;
        padding-bottom: 45px;
    }

    .docs-result .right-bar .frac.docs-list .RB-left .text-sec .btns {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
    }

    /* INNER DETAILS PAGE */
    /* st-details-banner */
    .st-details-banner .captions .top-sec {
        top: 12px;
    }
    .st-details-banner .captions .top-sec {
        padding-right: 10px;
    }
    .st-details-banner .captions .top-sec .best-seller-tag {
        padding: 6px 14px 5px 4px;
        font-size: 9px;
    }
    .st-details-banner .captions .top-sec img {
        width: 100px;
    }
    .st-details-banner .captions .bottom-sec {
        padding: 10px;
        background: #fff;
        position: static !important;
        margin: 10px 0;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    }

    .st-details-banner .captions .bottom-sec .btns .btns-main .st-btn {
        font-size: 13px;
        padding: 7px 8px;
    }

    #st-details-banner .doc-details .DD-right-sec {
        margin-top: 10px;
    }

    #st-details-banner .doc-details .DD-right-sec a {
        margin-left: auto;
    }

    .docs-result .right-bar .frac.doc-details .nav-tabs>li>a.active {
        border-color: #c1c1c1;
    }

    .docs-result .right-bar .frac.doc-details .nav-tabs {
        padding-bottom: 10px;
    }

    /* LOGIN INFO PAGE */
    /* st-account-links */
    .st-account-links ul>li {
        padding: 0 3px;
    }

    .st-account-links ul>li>a {
        padding: 9px 8px;
        font-size: 14px;
    }

    /* 404-page */
    .page-404 .img-sec img {
        max-width: 300px;
    }

    .page-404 .text-sec .head {
        font-size: 25px;
    }

    .page-404 .text-sec .desc {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .st-def-table table {
        width: 700px;
    }
}

@media (min-width: 767px) and (max-width: 991px) {

    /* LOGIN INFO PAGE */
    /* st-account-links */
    .st-account-links ul>li {
        padding: 0 4px;
    }

    .st-account-links ul>li>a {
        padding: 9px 12px;
    }

}

@media (min-width: 992px) and (max-width: 1200px) {

    /* INNER PAGE */
    /* docs-result */
    .docs-result .right-bar .frac.docs-list .RB-left .text-sec .btns>.st-btn {
        padding: 8px 5px;
        font-size: 13px;
    }

}