@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* width */
::-webkit-scrollbar { width: 5px; }

/* Track */
::-webkit-scrollbar-track { background: #e2e2e2; }

/* Handle */
::-webkit-scrollbar-thumb { background: #01cedd; border-radius: 15px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #017077; }

.clear-parent::after { content: ""; display: block; clear: both; }

.owl-carousel .owl-item img { width: auto; }

.owl-theme .owl-nav.disabled + .owl-dots { margin-top: 5px; }

.owl-theme .owl-dots .owl-dot span { margin: 3px 4px; background: #fff; }

.owl-carousel.vertical-buttons .owl-nav > button { position: absolute; top: 50%; -webkit-transform: translatey(-50%); transform: translatey(-50%); display: -ms-flexbox !important; display: flex !important; -ms-flex-pack: center !important; justify-content: center !important; -ms-flex-align: center !important; align-items: center !important; line-height: 0; height: 25px; width: 25px; border-radius: 50%; background-color: #d0d0d0; transition: 0.3s; color: #fff; outline: none !important; }
@media screen and (min-width: 768px) { .owl-carousel.vertical-buttons .owl-nav > button { height: 35px; width: 35px; } }
.owl-carousel.vertical-buttons .owl-nav > button:hover { background-color: #ec5913; }
.owl-carousel.vertical-buttons .owl-nav > button:active { background-color: #d04e11; }
.owl-carousel.vertical-buttons .owl-nav > .owl-prev { left: 0; }
.owl-carousel.vertical-buttons .owl-nav > .owl-next { right: 0; }

.st-btn { font-size: 15px; padding: 9px 15px 10px; border-radius: 4px; transition: 0.1s; box-shadow: none !important; color: #fff; text-decoration: none !important; }
.st-btn:hover { box-shadow: none !important; }
.st-btn:active { box-shadow: none !important; }
.st-btn:not(.btn-st-outline):not(.btn-st-outline-secondary):hover { box-shadow: none !important; color: #fff; }
.st-btn:not(.btn-st-outline):not(.btn-st-outline-secondary):not(.btn-st-secondary) { background: #ec5913; }
.st-btn:not(.btn-st-outline):not(.btn-st-outline-secondary):not(.btn-st-secondary):hover { background: #de5412; color: #fff; }
.st-btn:not(.btn-st-outline):not(.btn-st-outline-secondary):not(.btn-st-secondary):active { background: #d04e11; }
.st-btn:not(.btn-st-outline):not(.btn-st-outline-secondary).btn-st-secondary { background: #019faa; }
.st-btn:not(.btn-st-outline):not(.btn-st-outline-secondary).btn-st-secondary:hover { background: #01919b; }
.st-btn:not(.btn-st-outline):not(.btn-st-outline-secondary).btn-st-secondary:active { background: #01838c; }
.st-btn.btn-st-outline { border-color: #ec5913; color: #333; }
.st-btn.btn-st-outline:hover { background: #ec5913; color: #fff; }
.st-btn.btn-st-outline:active { background: #d04e11; color: #fff; }
.st-btn.btn-st-outline-secondary { border-color: #019faa; color: #333; }
.st-btn.btn-st-outline-secondary:hover { background: #019faa; color: #fff; }
.st-btn.btn-st-outline-secondary:active { background: #01838c; color: #fff; }
.st-btn.btn-icon i { position: relative; transition: 0.3s; }
.st-btn.btn-icon i.material-icons { background: #fff; border-radius: 100%; height: 18px; width: 18px; font-size: 16px; color: #ec5913; margin-left: 7px; padding-top: 1px; }
.st-btn.btn-icon:hover i { left: 4px; }

.ST_main-head { color: #333; margin-bottom: 20px; }
.ST_main-head .head { font-size: 30px; font-weight: 600; margin-bottom: 5px; }
@media screen and (min-width: 992px) { .ST_main-head .head { font-size: 40px; margin-bottom: 15px; } }
.ST_main-head .text { font-size: 15px; font-weight: 400; color: #555; }
@media screen and (min-width: 992px) { .ST_main-head .text { font-size: 17px; } }

.st-form { width: 100%; position: relative; }
.st-form input, .st-form select, .st-form textarea { border: none; font-size: 15px; font-weight: 500; color: #616161; border-radius: 0; background-color: #fff; }
.st-form:not(.input-underline) input, .st-form:not(.input-underline) select, .st-form:not(.input-underline) textarea { -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1); box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1); border: 1px solid #dcdcdc; border-radius: 4px; }
.st-form:not(.input-underline) input:focus, .st-form:not(.input-underline) select:focus, .st-form:not(.input-underline) textarea:focus { -webkit-box-shadow: 0px 0px 3px 0px #019faa; box-shadow: 0px 0px 3px 0px #019faa; border-color: #019faa; }
.st-form input, .st-form select { height: 40px; }
@media screen and (min-width: 992px) { .st-form input, .st-form select { height: 48px; } }
.st-form label { font-size: 14px; color: #5d5d5d; margin-bottom: 5px; font-weight: 600; }
@media screen and (min-width: 768px) { .st-form label { font-size: 15px; margin-bottom: 8px; } }
.st-form label .imp { color: #ec5913; margin-left: 2px; }
@media screen and (min-width: 768px) { .st-form.lt, .st-form.rt { width: 50%; }
  .st-form.lt { padding-right: 7.5px; }
  .st-form.rt { padding-left: 7.5px; } }
.st-form.validate label { width: 100px; margin-bottom: 0; text-align: right; padding-right: 15px; }
@media screen and (min-width: 768px) { .st-form.validate label { width: 150px; } }
.st-form.validate .imp { color: #ff0102; width: 11px; text-align: right; }
.st-form.validate input, .st-form.validate select, .st-form.validate textarea { width: calc(100% - (100px + 11px)); }
@media screen and (min-width: 768px) { .st-form.validate input, .st-form.validate select, .st-form.validate textarea { width: calc(100% - (150px + 11px)); } }
.st-form.icon input { padding-left: 32px; }
.st-form.icon .icon { top: 50%; left: 10px; -webkit-transform: translateY(-50%); transform: translateY(-50%); line-height: 0; }
.st-form.icon .icon i { font-size: 18px; color: gray; }
.st-form.input-underline input, .st-form.input-underline select, .st-form.input-underline textarea { border-bottom: 1px solid #dcdcdc; padding-left: 0; padding-right: 0; }
.st-form.input-underline input:focus, .st-form.input-underline select:focus, .st-form.input-underline textarea:focus { box-shadow: none; border-color: #019faa; }
.st-form .add-info { position: absolute; top: calc(100% + 3px); font-size: 12px; color: #666; font-weight: 600; width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.forgot-pass { margin-bottom: 15px; margin-top: -5px; }
.forgot-pass a { font-size: 14px; border-bottom: 1px solid transparent; text-decoration: none !important; color: #333; transition: 0.3s; }
.forgot-pass a:hover { border-color: #333; }

.havaaccount { margin-top: 15px; text-align: center; font-size: 14px; }
.havaaccount p a { font-weight: 600; }

.form-modal .head { font: 600 30px inherit; margin-bottom: 20px; margin-top: 12px; }
.form-modal .head span { font: 500 13px inherit; margin-top: 2px; color: #797979; }

.custom-modal .close { position: absolute; z-index: 1; top: 10px; right: 10px; }

.st-head-menu li { font-size: 17px; font-weight: 600; text-transform: capitalize; position: relative; }
.st-head-menu li a { color: #747474; text-decoration: none !important; outline: none !important; transition: 0.3s; }
.st-head-menu li a:hover { color: #ec5913; }
.st-head-menu li:hover > a { color: #ec5913; }
.st-head-menu li.active { color: #ec5913; }
.st-head-menu > li ul { display: none; }
@media screen and (min-width: 768px) { .st-head-menu > li ul { width: 100%; position: absolute; left: 100%; top: 0; } }
.st-head-menu > li ul li a { display: block; padding: 9px 14px 10px; background: #1a317c; color: #fff; font-size: 15px; }
.st-head-menu > li ul li a:hover { background-color: #fff; color: #000; }
@media screen and (max-width: 767px) { .st-head-menu > li ul li a { padding: 9px 20px 10px 30px; } }
.st-head-menu > li ul li:hover > a { background-color: #fff; color: #000; }
@media screen and (min-width: 768px) { .st-head-menu > li > ul { width: 150px; top: 100%; left: initial; z-index: 12; }
  .st-head-menu > li > ul:before { content: "\f0d8"; font-family: "Font Awesome 5 Free"; display: inline-block; position: relative; top: 9px; left: 6px; font-size: 22px; line-height: 15px; } }
.st-head-menu li:hover > ul { display: block; }
.st-head-menu ul li { text-transform: capitalize; font-weight: 600; }
.st-head-menu ul li a { color: #747474; }
@media screen and (min-width: 768px) { .st-head-menu > li { padding: 0 10px; } }
@media screen and (min-width: 992px) { .st-head-menu > li { padding: 0 20px; } }
@media screen and (max-width: 767px) { .st-head-menu > li { display: block; width: 100%; }
  .st-head-menu > li > a { width: 100%; padding: 10px 20px; color: #fff !important; display: block; } }

.ST_def-mar-T, .ST_def-mar-TB { margin-top: 20px; }
@media screen and (min-width: 992px) { .ST_def-mar-T, .ST_def-mar-TB { margin-top: 70px; } }

.ST_def-mar-B, .ST_def-mar-TB { margin-bottom: 20px; }
@media screen and (min-width: 992px) { .ST_def-mar-B, .ST_def-mar-TB { margin-bottom: 70px; } }

.ST_def-pad-T, .ST_def-pad-TB { padding-top: 20px; }
@media screen and (min-width: 992px) { .ST_def-pad-T, .ST_def-pad-TB { padding-top: 70px; } }

.ST_def-pad-B, .ST_def-pad-TB { padding-bottom: 20px; }
@media screen and (min-width: 992px) { .ST_def-pad-B, .ST_def-pad-TB { padding-bottom: 70px; } }

#ST_banner .caption { top: 50%; width: 100%; -webkit-transform: translatey(-50%); transform: translatey(-50%); }
#ST_banner .caption .img-sec { width: 100%; }
#ST_banner .caption .head { font-size: 28px; color: #fff; font-weight: 600; margin-bottom: 8px; letter-spacing: 2px; }
#ST_banner .caption .desc { font-size: 16px; color: #e0e0e0; line-height: 23px; }

#ST_breadcrumbs { background: #fff; padding: 15px 0; }

.ST_breadcrumbs > ul { flex-wrap: wrap; }
.ST_breadcrumbs > ul > li { font-size: 14px; font-weight: 600; position: relative; }
.ST_breadcrumbs > ul > li > a { color: #333; text-decoration: none; display: flex; align-items: center; }
.ST_breadcrumbs > ul > li > a i { color: #ec5913; margin-right: 5px; }
.ST_breadcrumbs > ul > li:not(:last-child) { padding-right: 20px; }
.ST_breadcrumbs > ul > li:not(:last-child):after { content: '/'; margin: 0 5px 0 6px; position: absolute; right: 0; top: 0; }
.ST_breadcrumbs > ul > li:hover > a { color: #ec5913; }
.ST_breadcrumbs > ul > li.active > a { color: #ec5913; pointer-events: none !important; }

.site-pagination ul li { height: 40px; width: 40px; border: 2px solid transparent; font-weight: 700; transition: 0.3s; }
.site-pagination ul li a { color: #1a317c; line-height: 40px; }
.site-pagination ul li:not(:last-child) { margin-right: 10px; }
.site-pagination ul li.active, .site-pagination ul li:hover { border-color: #ec5913; }
.site-pagination ul li:active { background-color: rgba(236, 89, 19, 0.3); }

select.custom-sel { position: relative; /* for Firefox */ -moz-appearance: none; /* for Chrome */ -webkit-appearance: none; background: transparent url(../images/icons/icon-custom-sel.png) no-repeat calc(100% - 0px) 10px !important; padding-right: 24px !important; }
select.custom-sel::-ms-expand { display: none; }

select.common-sel { position: relative; /* for Firefox */ -moz-appearance: none; /* for Chrome */ -webkit-appearance: none; background-image: url(../images/icons/icon-custom-sel.png); background-repeat: no-repeat; background-position: calc(100% - 8px) 18px; padding-right: 24px !important; }
select.common-sel::-ms-expand { display: none; }

.link-with-img { border: 1px solid #d2d2d2; padding: 7px 10px; border-radius: 4px; font-size: 13px; font-weight: 600; color: #333; text-decoration: none !important; transition: 0.3s; background: #fff; }
@media screen and (min-width: 992px) { .link-with-img { padding: 7px 15px; font-size: 15px; } }
.link-with-img img { width: 21px !important; margin-right: 10px; }
.link-with-img:not(:last-child) { margin-right: 15px; }
.link-with-img:hover { color: #019faa; }
.link-with-img:active { background: #efefef; }

.st-btn-radio { cursor: pointer; display: block; font-weight: normal; font-size: 16px; }
.st-btn-radio > .text { border: 1px solid #c0c0c0; border-radius: 4px; padding: 6px 10px 7px; font-size: 15px; color: #019faa; transition: 0.3s; }
@media screen and (min-width: 992px) { .st-btn-radio > .text { padding: 8px 14px 9px; } }
.st-btn-radio > input:checked + .text { border-color: #019faa; background-color: #019faa; color: #fff; }

ul.socail-links > li:not(:last-child) { margin-right: 4px; }
ul.socail-links > li > a { height: 30px; width: 30px; border-radius: 50%; text-decoration: none; color: #fff; font-size: 11px; transition: 0.1s; }
ul.socail-links > li.facebook > a { background-color: #1880b1; color: #fff; }
ul.socail-links > li.facebook > a:hover { background-color: #16739f; }
ul.socail-links > li.facebook > a:active { background-color: #146d96; }
ul.socail-links > li.twitter > a { background-color: #31bcc7; color: #fff; }
ul.socail-links > li.twitter > a:hover { background-color: #2dadb7; }
ul.socail-links > li.twitter > a:active { background-color: #2ba5ae; }
ul.socail-links > li.google > a { background-color: #d65a00; color: #fff; }
ul.socail-links > li.google > a:hover { background-color: #c25100; }
ul.socail-links > li.google > a:active { background-color: #b74d00; }
ul.socail-links > li.linkedin > a { background-color: #015ac2; color: #fff; }
ul.socail-links > li.linkedin > a:hover { background-color: #0151ae; }
ul.socail-links > li.linkedin > a:active { background-color: #014ca4; }

.custom-checkbox { position: relative; font-weight: normal; cursor: pointer; }
.custom-checkbox .box { height: 19px; width: 19px; border: 1px solid #d8d8d8; border-radius: 4px; color: #fff; font-size: 11px; transition: 0.1s; }
.custom-checkbox .box i { opacity: 0; transition: 0.1s; }
.custom-checkbox.cc-secondary .box { border-color: #019faa; }
.custom-checkbox .text { color: #d8d8d8; font-size: 16px; padding-left: 5px; transition: 0.1s; }
@media screen and (min-width: 992px) { .custom-checkbox .text { padding-left: 15px; } }
.custom-checkbox > input:checked + .box { background: #31bcc7; border-color: #31bcc7; }
.custom-checkbox > input:checked + .box i { opacity: 1; }

ul.st-left-multilevel-menu li { position: relative; }
ul.st-left-multilevel-menu li > a { text-decoration: none; padding: 11px 15px 13px 15px; color: #333; font-size: 16px; transition: 0.3s; position: relative; }
@media screen and (min-width: 768px) { ul.st-left-multilevel-menu li > a { padding: 11px 20px 13px 40px; }
  ul.st-left-multilevel-menu li > a:before { content: '\f061'; font-family: 'Font Awesome 5 Free'; font-weight: 600; position: absolute; top: calc(50% + 2px); left: 20px; -webkit-transform: translatey(-50%); transform: translatey(-50%); font-size: 13px; color: #019faa; transition: 0.3s; } }
ul.st-left-multilevel-menu li > a.has-multi-menu i { top: 0; right: 0; width: 40px; color: #019faa; }
ul.st-left-multilevel-menu li:not(:last-child) > a { border-bottom: 1px solid lightgray; }
@media screen and (min-width: 768px) { ul.st-left-multilevel-menu > li:hover > a, ul.st-left-multilevel-menu > li.active > a { background-color: #019faa; color: #fff; }
  ul.st-left-multilevel-menu > li:hover > a:before, ul.st-left-multilevel-menu > li.active > a:before { color: #fff; } }
ul.st-left-multilevel-menu > li.active > a { background-color: #019faa; color: #fff; }
ul.st-left-multilevel-menu > li.active > a i { color: #fff; }
ul.st-left-multilevel-menu > li > a:active { background-color: #01838c; }
ul.st-left-multilevel-menu ul { width: 100%; display: none; }
@media screen and (max-width: 767px) { ul.st-left-multilevel-menu ul { padding: 5px; } }
@media screen and (min-width: 768px) { ul.st-left-multilevel-menu ul { position: absolute; left: 100%; top: 0; z-index: 1; } }
ul.st-left-multilevel-menu ul > li > a { background-color: #019faa; color: #fff; border-color: #efefef; }
ul.st-left-multilevel-menu ul > li > a:before { color: #fff; }
ul.st-left-multilevel-menu ul > li > a.has-multi-menu i { color: #fff; }
@media screen and (min-width: 768px) { ul.st-left-multilevel-menu ul > li:hover > a, ul.st-left-multilevel-menu ul > li.active > a { background-color: #ec5913; } }
ul.st-left-multilevel-menu ul > li.active > a { background-color: #ec5913; }
ul.st-left-multilevel-menu ul > li > a:active { background-color: #d04e11; }
@media screen and (min-width: 768px) { ul.st-left-multilevel-menu li:hover > ul { display: block; } }

.best-seller-tag { padding: 9px 26px 9px 10px; font-size: 12px; background: transparent url("../images/icons/icon-ribbon-red.png") no-repeat left top/100% 100%; color: #fff; }

.st-arrow-ul > li { font-size: 15px; }
.st-arrow-ul > li:not(:last-child) { margin-bottom: 10px; }
.st-arrow-ul > li > a { color: #333; text-decoration: none; position: relative; padding-left: 18px; transition: 0.2s; }
.st-arrow-ul > li > a:before { content: '\f061'; font-family: 'Font Awesome 5 Free'; font-weight: 600; position: absolute; top: calc(50% + 1px); left: 0; -webkit-transform: translatey(-50%); transform: translatey(-50%); font-size: 11px; color: #333; transition: 0.2s; }
.st-arrow-ul > li > a:hover { color: #ec5913; }
.st-arrow-ul > li > a:hover:before { left: 3px; color: #ec5913; }

.star-rating-ul > li:not(:last-child) { margin-right: 2px; }
.star-rating-ul > li label { font-weight: normal; position: relative; cursor: pointer; }
.star-rating-ul > li label > span img { width: 21px; }
.star-rating-ul > li label > span img.gray { display: block; }
.star-rating-ul > li label > span img.colured { display: none; }
.star-rating-ul > li.active > label > span img.gray, .star-rating-ul > li > label:hover > span img.gray { display: none; }
.star-rating-ul > li.active > label > span img.colured, .star-rating-ul > li > label:hover > span img.colured { display: block; }

body { font-family: 'Lato', sans-serif; font-weight: 400; }

header { padding: 15px 0; -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2); box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2); z-index: 12; position: relative; }

@media screen and (min-width: 768px) { .header .logo img { width: 190px; } }
.header .head-location-selector { width: 120px; }
@media screen and (min-width: 768px) { .header .head-location-selector { width: 150px; } }
.header .head-location-selector select { background: transparent; font-size: 16px; color: #7b7b7b; padding: 0; height: auto; border-radius: 0; border: none !important; padding-right: 10px; box-shadow: none !important; width: auto; cursor: pointer; }
.header .head-search { width: calc(100% - 120px); }
@media screen and (min-width: 768px) { .header .head-search { width: calc(100% - 150px); } }
.header .head-search input { padding-left: 40px; font-size: 15px; }
.header .head-search i { top: 50%; left: 10px; font-size: 22px; color: #717171; font-weight: 800; transform: translateY(-50%); }
.header .head-login a { text-decoration: none; }
.header .head-login > .inner > a { font-size: 16px; color: #ec5913; font-weight: 600; transition: 0.3s; }
.header .head-login > .inner > a i { font-size: 19px; margin-right: 4px; }
.header .head-login > .inner:hover > a { color: #019faa; }
.header .head-login .head-dropdown-menu { width: 120px; top: calc(100%); right: 0; padding-top: 15px; z-index: 12; display: none; }
.header .head-login .head-dropdown-menu > ul { background: #fff; border: 1px solid #c3c3c3; border-radius: 8px; padding: 10px 0; }
.header .head-login .head-dropdown-menu > ul > li { font-size: 15px; }
.header .head-login .head-dropdown-menu > ul > li > a { color: #333; display: block; padding: 7px 15px; transition: 0.3s; }
.header .head-login .head-dropdown-menu > ul > li > a:hover { background-color: #ec5913; color: #fff; }
.header .head-login .head-dropdown-menu > ul > li > a:active { background-color: #d04e11; }
.header .head-login .head-dropdown-menu::before { content: '\f0de'; font-family: "Font Awesome 5 Free"; font-weight: 900; position: absolute; top: 3px; line-height: 29px; font-size: 21px; right: 15px; color: #c3c3c3; }
.header .head-login > .inner:hover .head-dropdown-menu { display: block; }

.home_slider .item { background-repeat: no-repeat; background-size: cover; }
.home_slider .item .img-sec img { width: 100%; }
.home_slider .item .caption { width: 100%; z-index: 1; padding: 30px 0; }
@media screen and (min-width: 992px) { .home_slider .item .caption { padding: 80px 0; } }
.home_slider .item .caption .head { font-size: 32px; font-weight: 600; margin-bottom: 20px; }
@media screen and (min-width: 992px) { .home_slider .item .caption .head { font-size: 42px; margin-bottom: 30px; } }
.home_slider .item .caption .selects select { font-size: 17px; }
.home_slider .item .caption .submit-btn { margin-top: 15px; }
.home_slider .item .caption .submit-btn .btn { padding: 8px 20px; }
@media screen and (min-width: 992px) { .home_slider .item .caption .submit-btn .btn { padding: 12px 40px; } }
.home_slider .item .caption .links { margin-top: 15px; }
@media screen and (min-width: 992px) { .home_slider .item .caption .links { margin-top: 40px; } }

.home-health-and-fitness { border-bottom: 1px solid #e6e6e6; }
.home-health-and-fitness .lt { background: transparent url("../images/home-health-and-fitness/left-bg.png") no-repeat center; }
@media screen and (max-width: 991px) { .home-health-and-fitness .lt { background-size: contain; } }
.home-health-and-fitness .lt .head { font-size: 34px; color: #000; font-weight: 500; margin-bottom: 15px; }
.home-health-and-fitness .lt .head span { font-weight: 600; }
@media screen and (min-width: 992px) { .home-health-and-fitness .lt .head { font-size: 40px; margin-bottom: 20px; } }
.home-health-and-fitness .lt .text { font-size: 15px; margin-bottom: 20px; color: #525252; }
@media screen and (min-width: 992px) { .home-health-and-fitness .lt .text { font-size: 17px; line-height: 26px; } }
.home-health-and-fitness .lt .st-btn { background: #fff !important; color: #289eaa !important; box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2) !important; padding: 9px 19px; font-weight: 600; }
.home-health-and-fitness .lt .st-btn:active { background-color: #efefef !important; }
@media screen and (min-width: 992px) { .home-health-and-fitness .lt .st-btn { padding: 12px 37px; } }
.home-health-and-fitness .rt img { margin-left: auto; }

.speciality-slider-main { border-bottom: 1px solid #e6e6e6; }
.speciality-slider-main .st-slider { margin-top: 30px; padding: 0 25px; }
@media screen and (min-width: 768px) { .speciality-slider-main .st-slider { margin-top: 50px; padding: 0 40px; } }
@media screen and (min-width: 1200px) { .speciality-slider-main .st-slider { margin-top: 70px; } }
.speciality-slider-main .item .inner { padding: 0 5px; }
.speciality-slider-main .item .icon { height: 60px; }
.speciality-slider-main .item .icon img { max-height: 100%; }
.speciality-slider-main .item .text { margin-top: 10px; }
.speciality-slider-main .item .text p { color: #000; font-weight: 600; font-size: 16px; }

.home-medicine { margin-top: 20px; }
@media screen and (min-width: 768px) { .home-medicine { margin-top: 30px; } }
@media screen and (min-width: 1200px) { .home-medicine { margin-top: 50px; } }
.home-medicine .item > .inner { border: 1px solid #e6e6e6; border-bottom: 3px solid #2d7bbf; padding: 8px 8px 20px; }
.home-medicine .item > .inner .img-sec img { width: 100%; }
.home-medicine .item > .inner .text-sec { margin-top: 10px; }
.home-medicine .item > .inner .text-sec p { color: #555; font-size: 14px; font-weight: 600; }
.home-medicine .item > a { display: table; margin: 10px auto 0; font-weight: 600; font-size: 17px; color: #2d7abf; }
@media screen and (max-width: 575px) { .home-medicine .item { margin-bottom: 20px; } }
@media screen and (min-width: 576px) and (max-width: 767px) { .home-medicine .item:not(:nth-last-child(-n+2)) { margin-bottom: 30px; } }
@media screen and (min-width: 768px) and (max-width: 991px) { .home-medicine .item:not(:nth-last-child(-n+3)) { margin-bottom: 30px; } }
@media screen and (min-width: 992px) { .home-medicine .item:not(:nth-last-child(-n+4)) { margin-bottom: 30px; } }

#home-lab-test { background: #f4f4f4; }

.home-lab-test { margin-top: 20px; margin-bottom: 20px; }
@media screen and (min-width: 768px) { .home-lab-test { margin-top: 30px; margin-bottom: 30px; } }
@media screen and (min-width: 1200px) { .home-lab-test { margin-top: 50px; } }
.home-lab-test .item { padding: 10px 0; }
.home-lab-test .item > .inner { background: #fff; border: 1px solid #dedede; padding: 60px 20px 28px; transition: 0.3s; -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1); }
.home-lab-test .item > .inner:hover { border-color: #ec5913; }
.home-lab-test .item > .inner .off-sec { top: 11px; left: 0; padding: 7px 26px 7px 10px; font-size: 15px; background: #fff url(../images/icons/icon-ribbon.png) no-repeat left top/100% 100%; font-weight: 600; color: #fff; }
.home-lab-test .item > .inner .head { font-size: 20px; font-weight: 600; margin-bottom: 10px; }
@media screen and (min-width: 768px) { .home-lab-test .item > .inner .head { margin-bottom: 20px; } }
.home-lab-test .item > .inner .add-info { font-size: 17px; margin-bottom: 15px; }
.home-lab-test .item > .inner .add-info span { font-weight: 600; }
.home-lab-test .item > .inner .points li { font-size: 16px; margin-bottom: 7px; }
.home-lab-test .item > .inner .st-btn { margin: 15px 0; font-size: 14px; padding: 5px 15px 6px; }
.home-lab-test .item > .inner .price { font-size: 20px; font-weight: 800; color: #019faa; }
.home-lab-test .item > .inner .price span { text-decoration: line-through; margin-right: 15px; color: #9c9c9c; font-size: 18px; }

.articles { border-bottom: 1px solid #e6e6e6; margin-top: 20px; }
@media screen and (min-width: 768px) { .articles { margin-top: 30px; } }
@media screen and (min-width: 1200px) { .articles { margin-top: 80px; } }
.articles .articles-inner { margin-left: -15px; margin-right: -15px; }
.articles .articles-inner > .item { padding: 0 15px 15px; }
.articles .articles-inner > .item > .inner { border: 1px solid #dedede; -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1); }
.articles .articles-inner > .item .img-sec .caption { top: 0; left: 0; background: rgba(0, 0, 0, 0.4); }
.articles .articles-inner > .item .img-sec .caption p { font-weight: 600; color: #fff; font-size: 17px; padding: 0 10px; text-align: center; }
.articles .articles-inner > .item .img-sec .date { font-size: 14px; padding: 8px 15px 8px; -webkit-transform: translatey(-50%); transform: translatey(-50%); left: 15px; }
.articles .articles-inner > .item .text-sec { padding: 23px 15px 15px; }
.articles .articles-inner > .item .text-sec .art { font-size: 14px; font-weight: 600; }
.articles .articles-inner > .item .text-sec .name { margin-top: 8px; font-weight: 800; font-size: 13px; color: #ec5912; }
@media screen and (min-width: 576px) and (max-width: 767px) { .articles .articles-inner > .item { padding-bottom: 30px; } }
@media screen and (min-width: 768px) and (max-width: 992px) { .articles .articles-inner > .item { padding-bottom: 0; } }
@media screen and (min-width: 991px) { .articles .articles-inner > .item { padding: 0 20px 0; } }

@media screen and (min-width: 1200px) { #home-contact { background: transparent url("../images/home-contact/right-bg.png") no-repeat right 91%/52%; } }

.home-contact { margin-top: 20px; }
@media screen and (min-width: 768px) { .home-contact { margin-top: 60px; } }
@media screen and (min-width: 1200px) { .home-contact { margin-top: 100px; } }
.home-contact .nav-tabs { border-bottom: none; margin-bottom: 20px; }
.home-contact .nav-tabs > li { margin-bottom: 0; padding-right: 10px; }
@media screen and (min-width: 992px) { .home-contact .nav-tabs > li { padding-right: 20px; } }
.home-contact .nav-tabs > li > a { border-radius: 0; padding: 0 0 5px; border: none; border-bottom: 2px solid transparent; font-weight: 600; font-size: 15px; color: #b1b1b1; transition: 0.3s; }
.home-contact .nav-tabs > li > a.active, .home-contact .nav-tabs > li > a:hover { border-color: #019faa; color: #ec5913; }
@media screen and (min-width: 768px) { .home-contact .tab-content .tab-pane { min-height: 130px; } }
.home-contact .tab-content .tab-pane .head { font-size: 21px; font-weight: 600; color: #333; margin-bottom: 12px; }
.home-contact .tab-content .tab-pane .text { font-size: 16px; color: #333; margin-bottom: 12px; }
.home-contact .tab-content .tab-pane .text a { text-decoration: underline; color: #ec5913; transition: 0.3s; }
.home-contact .tab-content .tab-pane .text a:hover { color: #019faa; }
.home-contact .cont-form { background: #fff; -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); padding: 15px; }
@media screen and (min-width: 768px) { .home-contact .cont-form { padding: 30px; } }
@media screen and (min-width: 1200px) { .home-contact .cont-form { padding: 70px 35px; width: 550px; margin-left: auto; } }
.home-contact .cont-form .head { font-size: 19px; font-weight: 600; margin-bottom: 20px; }

#download-app { background: #f4f4f4; padding: 30px 0 40px; }
#download-app .ST_main-head .head { font-size: 27px; }

.download-app > ul > li { padding: 0 10px; }
.download-app > ul > li > a { border-radius: 4px; overflow: hidden; }
.download-app > ul > li > a img { width: 130px; }

footer { background-color: #222222; padding: 25px 0; }
@media screen and (min-width: 992px) { footer { padding: 40px 0 40px; } }
footer .top-part { padding-bottom: 10px; position: relative; }
footer .top-part:after { content: ''; display: block; width: calc(100% - (15px * 2)); height: 1px; background: #585858; position: absolute; left: 15px; bottom: 0; }
@media screen and (min-width: 992px) { footer .top-part { padding-bottom: 25px; } }
footer .top-part .TP-lt { padding-top: 5px; }
footer .top-part .TP-rt .head { color: #fff; font-size: 16px; margin-bottom: 10px; }
footer ul.links > li { height: 13px; line-height: 9px; margin-bottom: 14px; font-size: 14.5px; }
footer ul.links > li:not(:last-child) { padding-right: 13px; border-right: 1.5px solid #ec5912; margin-right: 13px; }
footer ul.links > li > a { color: #ec5913; }
footer .bottom-part { margin-top: 10px; }
@media screen and (min-width: 992px) { footer .bottom-part { margin-top: 25px; } }
footer .bottom-part p { color: #dcdcdc; font-size: 14px; line-height: 23px; }
footer .bottom-part p a { color: #ec5913; }

#st-login { margin-top: 30px; margin-bottom: 30px; }
@media screen and (min-width: 768px) { #st-login { margin-top: 40px; margin-bottom: 40px; } }
@media screen and (min-width: 992px) { #st-login { margin-top: 100px; margin-bottom: 100px; } }

.st-login .login-inner { margin: 0 auto; -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1); border: 1px solid #dfdfdf; }
@media screen and (min-width: 768px) { .st-login .login-inner { width: 650px; } }
@media screen and (min-width: 992px) { .st-login .login-inner { width: 800px; } }
@media screen and (min-width: 992px) { .st-login .login-inner > .lt { min-height: 450px; } }
.st-login .login-inner > .lt .inner { background: transparent url("../images/login-page/left-img.jpg") no-repeat center/100% 100%; }
.st-login .login-inner > .rt .inner { padding: 20px; }
@media screen and (min-width: 992px) { .st-login .login-inner > .rt .inner { padding: 40px; } }
.st-login .login-inner > .rt .nav-tabs { border-bottom: none; padding: 0; margin-bottom: 10px; }
@media screen and (min-width: 768px) { .st-login .login-inner > .rt .nav-tabs { margin-bottom: 15px; } }
@media screen and (min-width: 992px) { .st-login .login-inner > .rt .nav-tabs { margin-bottom: 25px; } }
.st-login .login-inner > .rt .nav-tabs > li { margin-bottom: 0; }
.st-login .login-inner > .rt .nav-tabs > li > a { border: none !important; border-radius: 0; padding: 0; transition: 0.1s; font-size: 26px; color: #888; }
.st-login .login-inner > .rt .nav-tabs > li > a.active, .st-login .login-inner > .rt .nav-tabs > li > a:hover { color: #ec5913; }
.st-login .login-inner > .rt .nav-tabs > li:first-child > a:after { content: '/'; color: #888; margin: 0 7px; }
.st-login .login-inner > .rt .head { font-size: 26px; margin-bottom: 10px; color: #666; }
@media screen and (min-width: 768px) { .st-login .login-inner > .rt .head { margin-bottom: 15px; } }
@media screen and (min-width: 992px) { .st-login .login-inner > .rt .head { margin-bottom: 25px; } }
.st-login .login-inner > .rt .head span { color: #ec5913; }
.st-login .login-inner > .rt .st-form input, .st-login .login-inner > .rt .st-form select, .st-login .login-inner > .rt .st-form textarea { font-size: 15px; font-weight: 500; }
.st-login .login-inner > .rt .submit-btn { margin-top: 15px; }
@media screen and (min-width: 992px) { .st-login .login-inner > .rt .submit-btn { margin-top: 30px; } }
.st-login .login-inner > .rt .submit-btn .st-btn { font-weight: 600; }
.st-login .login-inner > .rt .add-info { margin-top: 15px; }
@media screen and (min-width: 992px) { .st-login .login-inner > .rt .add-info { margin-top: 30px; } }
.st-login .login-inner > .rt .add-info p { font-size: 16px; color: #888; }
.st-login .login-inner > .rt .add-info p a { color: #ec5913; text-decoration: underline; transition: 0.3s; }
.st-login .login-inner > .rt .add-info p a:hover { color: #333; }
.st-login .login-inner > .rt .other-options { margin-top: 20px; }
@media screen and (min-width: 992px) { .st-login .login-inner > .rt .other-options { margin-top: 60px; } }
.st-login .login-inner > .rt .other-options > a { font-size: 15px; color: #ec5913; transition: 0.3s; }
.st-login .login-inner > .rt .other-options > a:hover { color: #333; }
.st-login .login-inner > .rt .other-options > ul > li.first { color: #888; }
.st-login .login-inner > .rt .other-options > ul > li:not(:last-child) { margin-right: 8px; }
.st-login .login-inner > .rt .other-options > ul > li > a { height: 25px; width: 25px; border-radius: 4px; color: #fff; text-decoration: none; font-size: 11px; transition: 0.3s; }
@media screen and (min-width: 992px) { .st-login .login-inner > .rt .other-options > ul > li > a { height: 30px; width: 30px; font-size: 11px; font-size: 17px; } }
.st-login .login-inner > .rt .other-options > ul > li.facebook > a { background: #3b5998; }
.st-login .login-inner > .rt .other-options > ul > li.facebook > a:hover { background: #344e86; }
.st-login .login-inner > .rt .other-options > ul > li.google > a { background: #f14335; }
.st-login .login-inner > .rt .other-options > ul > li.google > a:hover { background: #ef2d1d; }

#appointment-select-type { background-color: #019faa; }

.appointment-select-type { background-color: #019faa; padding: 15px 0 5px; }
.appointment-select-type .links { margin: 0 auto; }
@media screen and (min-width: 768px) { .appointment-select-type .links { width: 500px; } }
@media screen and (min-width: 992px) { .appointment-select-type .links { width: 600px; } }
.appointment-select-type .links > a { margin: 0 5px 10px; }
@media screen and (min-width: 992px) { .appointment-select-type .links > a { padding: 8px 25px; } }

#st-appointment { background: #f8f8f8; }

.st-appointment .book-appointment, .st-appointment .confirm-appointment, .st-appointment > .rt > .inner { border: 1px solid #d2d2d2; background-color: #fff; }
.st-appointment .book-appointment .AP-head, .st-appointment .confirm-appointment .AP-head { font-size: 22px; font-weight: 600; color: #333; }
.st-appointment .book-appointment { margin-bottom: 20px; }
@media screen and (min-width: 768px) { .st-appointment .book-appointment { margin-bottom: 35px; } }
.st-appointment .book-appointment .AP-head { padding: 15px 20px; border-bottom: 1px solid #d2d2d2; }
.st-appointment .book-appointment .nav-tabs { border-bottom: 1px solid #d2d2d2; padding: 10px 15px 0; }
@media screen and (min-width: 992px) { .st-appointment .book-appointment .nav-tabs { padding: 10px calc(20px + 5px) 0; } }
.st-appointment .book-appointment .nav-tabs > li { margin-bottom: 10px; }
.st-appointment .book-appointment .nav-tabs > li:not(:last-child) { margin-right: 10px; }
@media screen and (min-width: 992px) { .st-appointment .book-appointment .nav-tabs > li:not(:last-child) { margin-right: 30px; } }
.st-appointment .book-appointment .nav-tabs > li > a { border: none !important; border-radius: 4px; font-size: 15px; font-weight: 600; padding: 3px 7px; color: #555; transition: 0.1s; min-width: 45px; }
@media screen and (min-width: 768px) { .st-appointment .book-appointment .nav-tabs > li > a { min-width: 50px; } }
.st-appointment .book-appointment .nav-tabs > li > a .day { font-size: 14px; margin-top: 3px; }
.st-appointment .book-appointment .nav-tabs > li > a.active, .st-appointment .book-appointment .nav-tabs > li > a:hover { background-color: #e6e6e6; color: #019faa; }
.st-appointment .book-appointment .nav-tabs > li > a:active { background-color: gainsboro; }
.st-appointment .book-appointment .tab-pane { padding: 20px 20px; }
@media screen and (min-width: 992px) { .st-appointment .book-appointment .tab-pane { padding-top: 40px; padding-bottom: 40px; } }
.st-appointment .book-appointment .select-time .frac { margin-bottom: 10px; }
@media screen and (min-width: 992px) { .st-appointment .book-appointment .select-time .frac { margin-bottom: 20px; } }
.st-appointment .book-appointment .select-time .head { width: 100px; padding-right: 7px; font-size: 16px; color: #555; }
@media screen and (min-width: 992px) { .st-appointment .book-appointment .select-time .head { width: 120px; } }
.st-appointment .book-appointment .select-time .head img { width: 17px; margin-right: 5px; }
@media screen and (min-width: 992px) { .st-appointment .book-appointment .select-time .head img { width: 25px; } }
.st-appointment .book-appointment .select-time ul { width: calc(100% - 100px); }
@media screen and (min-width: 992px) { .st-appointment .book-appointment .select-time ul { width: calc(100% - 120px); } }
.st-appointment .book-appointment .select-time ul > li { margin-bottom: 5px; }
.st-appointment .book-appointment .select-time ul > li:not(:last-child):not(.head) { margin-right: 10px; }
@media screen and (min-width: 992px) { .st-appointment .book-appointment .select-time ul > li:not(:last-child):not(.head) { margin-right: 20px; } }
.st-appointment .confirm-appointment { padding: 20px; }
.st-appointment .confirm-appointment .AP-head { margin-bottom: 20px; }
@media screen and (min-width: 768px) { .st-appointment .confirm-appointment .CA-form .st-form.lt { padding-right: 10px; }
  .st-appointment .confirm-appointment .CA-form .st-form.rt { padding-left: 10px; } }
@media screen and (min-width: 992px) { .st-appointment .confirm-appointment .CA-form .st-form.lt { padding-right: 15px; }
  .st-appointment .confirm-appointment .CA-form .st-form.rt { padding-left: 15px; } }
.st-appointment .confirm-appointment .CA-form .submit-btn { margin-top: 20px; }
@media screen and (min-width: 768px) { .st-appointment .confirm-appointment .CA-form .submit-btn { width: 50%; } }
.st-appointment .confirm-appointment .CA-form .submit-btn .st-btn { font-weight: 600; }
@media screen and (min-width: 992px) { .st-appointment > .rt { padding-left: 25px; } }
.st-appointment > .rt > .inner { padding: 15px 15px 30px; }
@media screen and (min-width: 992px) { .st-appointment > .rt > .inner { padding-bottom: 50px; } }
.st-appointment > .rt .top-bar { margin-bottom: 15px; }
.st-appointment > .rt .top-bar p { color: #333; font-size: 15px; }
.st-appointment > .rt .top-bar p span { font-weight: 600; }
.st-appointment > .rt .change-time { font-weight: 600; color: #ec5913; margin-bottom: 10px; }
.st-appointment > .rt .doc-details { margin-bottom: 15px; margin-top: 5px; }
@media screen and (min-width: 992px) { .st-appointment > .rt .doc-details { margin-bottom: 30px; } }
.st-appointment > .rt .doc-details .img-sec { width: 65px; }
@media screen and (min-width: 992px) { .st-appointment > .rt .doc-details .img-sec { width: 100px; } }
.st-appointment > .rt .doc-details .text-sec { width: calc(100% - 65px); padding-left: 15px; }
@media screen and (min-width: 992px) { .st-appointment > .rt .doc-details .text-sec { width: calc(100% - 100px); padding-left: 20px; } }
.st-appointment > .rt .doc-details .text-sec .name { font-weight: 600; margin-bottom: 5px; color: #333; text-transform: uppercase; font-size: 17px; }
.st-appointment > .rt .doc-details .text-sec .details { font-size: 15px; color: #555; }
.st-appointment > .rt .address-details img { width: 35px; }
.st-appointment > .rt .address-details p { width: calc(100% - 35px); padding-left: 10px; font-size: 15px; color: #555; }

.blog-main .blog-head { font-size: 27px; font-weight: 700; color: #333; border-bottom: 1px solid #d2d2d2; padding-bottom: 10px; margin-bottom: 20px; }
.blog-main .share-options { margin-bottom: 20px; }
.blog-main .share-options .date > div { font-size: 14px; font-weight: 600; color: #888; margin-right: 13px; }
.blog-main .share-options .date > div i { margin-right: 5px; }
.blog-main .share-options .socail p { font-size: 19px; font-weight: 800; margin-right: 14px; color: #333; }
.blog-main .blog-img img { width: 100%; }
.blog-main .blog-details { margin-top: 15px; }
@media screen and (min-width: 992px) { .blog-main .blog-details { margin-top: 30px; } }
.blog-main .blog-details p { font-size: 18px; margin-bottom: 15px; color: #333; }
@media screen and (min-width: 992px) { .blog-main .blog-details p { margin-bottom: 25px; } }
.blog-main > .rt { padding-left: 20px; }
@media screen and (min-width: 992px) { .blog-main > .rt { padding-left: 45px; } }
.blog-main .book-checkup { background-color: #019faa; padding: 15px; margin-bottom: 15px; }
@media screen and (min-width: 992px) { .blog-main .book-checkup { margin-bottom: 25px; padding: 20px; } }
.blog-main .book-checkup .head { color: #fff; font-size: 20px; font-weight: 600; border-bottom: 1px solid #efefef; padding-bottom: 10px; margin-bottom: 10px; }
@media screen and (min-width: 992px) { .blog-main .book-checkup .head { padding-bottom: 15px; margin-bottom: 15px; } }
.blog-main .book-checkup .desc { color: #fff; font-size: 16px; margin-bottom: 15px; }
.blog-main .book-checkup .form .form-control { height: 40px; }
.blog-main .book-checkup .form .submit-btn .st-btn { font-weight: 600; }
.blog-main .must-read { border: 1px solid #d2d2d2; border-top-width: 5px; border-top-color: #019faa; padding: 15px; }
@media screen and (min-width: 992px) { .blog-main .must-read { padding: 20px; } }
.blog-main .must-read .head { font-size: 20px; font-weight: 800; margin-bottom: 20px; color: #333; }
.blog-main .must-read .frac:not(:last-child) { margin-bottom: 10px; }
@media screen and (min-width: 992px) { .blog-main .must-read .frac:not(:last-child) { margin-bottom: 20px; } }
.blog-main .must-read .frac .img-sec { width: 60px; }
@media screen and (min-width: 992px) { .blog-main .must-read .frac .img-sec { width: 100px; } }
.blog-main .must-read .frac .text-sec { width: calc(100% - 60px); padding-left: 15px; }
@media screen and (min-width: 992px) { .blog-main .must-read .frac .text-sec { width: calc(100% - 100px); } }
.blog-main .must-read .frac .text-sec p { font-size: 16px; color: #333; }

#st-filterbar { background-color: #019faa; }

.st-filterbar { padding: 15px 0 5px; }
@media screen and (min-width: 992px) { .st-filterbar { margin: 0 -10px; } }
.st-filterbar .item { margin-bottom: 10px; padding: 0 5px; }
@media screen and (min-width: 992px) { .st-filterbar .item { width: calc(100% / 5); padding: 0 10px; } }
.st-filterbar .item select, .st-filterbar .item .btn { height: 40px; }
@media screen and (min-width: 992px) { .st-filterbar .item select, .st-filterbar .item .btn { height: 45px; } }
.st-filterbar .item .btn { padding-top: 9px; }
@media screen and (min-width: 768px) { .st-filterbar .item .btn { padding-top: 8px; } }
@media screen and (min-width: 992px) { .st-filterbar .item .btn { padding-top: 10px; } }
.st-filterbar .item.gender select { background-color: transparent; color: #fff; border-color: #fff; }
.st-filterbar .item.gender select option { color: #000; }
.st-filterbar .item.popularity select { background-color: #01c0cd; color: #fff; border-color: #019faa; }
.st-filterbar .item.popularity select option { color: #fff; }

#docs-result .top-bar { margin-bottom: 20px; }
#docs-result .top-bar .head { font-size: 24px; font-weight: 600; margin-bottom: 6px; color: #333; }
#docs-result .top-bar .results { font-size: 14px; }
#docs-result .top-bar .results p { color: #666; }
#docs-result .top-bar .results a { text-decoration: underline; color: #ec5913; font-weight: 600; }

.docs-result .left-bar .dr-rhead { background: #505050; color: #fff; font-size: 22px; padding: 9px 15px; margin-bottom: 15px; }
@media screen and (min-width: 992px) { .docs-result .left-bar .dr-rhead { margin-bottom: 20px; padding: 11px 20px; } }
.docs-result .left-bar .frac:not(:last-child) { margin-bottom: 15px; }
@media screen and (min-width: 992px) { .docs-result .left-bar .frac:not(:last-child) { margin-bottom: 30px; } }
.docs-result .left-bar .frac > .inner { border: 1px solid #d2d2d2; }
.docs-result .left-bar .frac ul.checkboxes-list > li { margin-bottom: 15px; }
@media screen and (min-width: 992px) { .docs-result .left-bar .frac ul.checkboxes-list > li { margin-bottom: 20px; } }
.docs-result .left-bar .frac.bukhar { background-color: #232323; }
.docs-result .left-bar .frac.bukhar > .inner { padding: 15px; }
@media screen and (min-width: 992px) { .docs-result .left-bar .frac.bukhar > .inner { padding: 20px; } }
.docs-result .left-bar .frac.bukhar img { width: 150px; margin-bottom: 15px; }
@media screen and (min-width: 992px) { .docs-result .left-bar .frac.bukhar img { width: 190px; margin-top: 5px; margin-bottom: 20px; } }
.docs-result .left-bar .frac.hospital-types ul.checkboxes-list { padding: 0 15px 15px; }
@media screen and (min-width: 992px) { .docs-result .left-bar .frac.hospital-types ul.checkboxes-list { padding: 0 20px 20px; } }
.docs-result .left-bar .frac.hospital-types ul.checkboxes-list .custom-checkbox .text { color: #333; }
.docs-result .left-bar .frac.clinic-type > .inner { padding: 0 0 20px; }
.docs-result .left-bar .frac.other-service > .inner { padding: 20px; background-color: #fff; text-decoration: none; transition: 0.3s; }
.docs-result .left-bar .frac.other-service > .inner:hover { background-color: #efefef; }
.docs-result .left-bar .frac.other-service .icon { width: 50px; }
.docs-result .left-bar .frac.other-service .text { width: calc(100% - 50px); font-weight: 600; font-size: 16px; color: #333; padding-left: 15px; }
.docs-result .left-bar .frac.address-details > .inner { padding: 20px; background-color: #fff; }
.docs-result .left-bar .frac.address-details ul > li:not(:last-child) { margin-bottom: 13px; }
.docs-result .left-bar .frac.address-details ul > li > i { height: 28px; width: 28px; background-color: #019faa; color: #fff; border-radius: 100%; font-size: 14px; }
.docs-result .left-bar .frac.address-details ul > li > span { font-size: 15px; padding-left: 10px; width: calc(100% - 28px); color: #808080; }
.docs-result .left-bar .frac.address-details ul > li > span > span:not(.d-block) { font-weight: 600; color: #666666; }
.docs-result .left-bar .frac.photos > .inner { background-color: #fff; }
.docs-result .left-bar .frac.photos ul { padding: 0 10px 20px; }
.docs-result .left-bar .frac.photos ul > li { width: 33.3%; padding: 0 4px 8px; }
.docs-result .left-bar .frac.photos ul > li > a { transition: 0.1s; }
.docs-result .left-bar .frac.photos ul > li > a img { width: 100%; }
.docs-result .left-bar .frac.photos ul > li > a:hover { -webkit-filter: brightness(80%); filter: brightness(80%); }
.docs-result .left-bar .frac.photos ul > li > a:active { -webkit-filter: brightness(60%); filter: brightness(60%); }
@media screen and (min-width: 992px) { .docs-result .right-bar { padding-left: 30px; } }
.docs-result .right-bar .frac:not(:last-child) { margin-bottom: 20px; }
@media screen and (min-width: 992px) { .docs-result .right-bar .frac:not(:last-child) { margin-bottom: 40px; } }
.docs-result .right-bar .frac.docs-list > .inner { padding: 15px; -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2); box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2); }
@media screen and (min-width: 992px) { .docs-result .right-bar .frac.docs-list > .inner { padding: 20px; } }
.docs-result .right-bar .frac.docs-list .RB-left, .docs-result .right-bar .frac.docs-list .RB-right { width: 100%; }
@media screen and (min-width: 992px) { .docs-result .right-bar .frac.docs-list .RB-left { width: 70%; }
  .docs-result .right-bar .frac.docs-list .RB-right { width: 30%; padding-left: 15px; } }
@media screen and (min-width: 1200px) { .docs-result .right-bar .frac.docs-list .RB-right { padding-left: 30px; } }
.docs-result .right-bar .frac.docs-list .RB-left .img-sec { width: 145px; }
@media screen and (min-width: 992px) { .docs-result .right-bar .frac.docs-list .RB-left .img-sec { width: 165px; } }
.docs-result .right-bar .frac.docs-list .RB-left .img-sec .best-seller-tag { top: 11px; left: 0; color: #fff; }
.docs-result .right-bar .frac.docs-list .RB-left .text-sec { width: calc(100% - 145px); padding-left: 15px; }
@media screen and (min-width: 992px) { .docs-result .right-bar .frac.docs-list .RB-left .text-sec { width: calc(100% - 165px); } }
.docs-result .right-bar .frac.docs-list .RB-left .text-sec .head { font-size: 22px; margin-bottom: 10px; color: #019faa; }
.docs-result .right-bar .frac.docs-list .RB-left .text-sec .post { font-size: 16px; color: #777; margin-bottom: 10px; }
.docs-result .right-bar .frac.docs-list .RB-left .text-sec .post span { margin-top: 5px; }
.docs-result .right-bar .frac.docs-list .RB-left .text-sec .depr-name { font-size: 18px; font-weight: 600; padding: 8px 5px; margin-bottom: 20px; border-top: 1px solid #444; border-bottom: 1px solid #444; color: #333; }
.docs-result .right-bar .frac.docs-list .RB-left .text-sec .btns > .st-btn { width: calc(50% - 8px); font-weight: 600; }
.docs-result .right-bar .frac.docs-list .RB-right .reviews { margin-bottom: 10px; }
.docs-result .right-bar .frac.docs-list .RB-right .reviews a { font-size: 14px; color: #666; }
.docs-result .right-bar .frac.docs-list .RB-right .reviews span { padding: 5px 6px; background: #8db716; border-radius: 4px; font-size: 13px; font-weight: 600; color: #fff; margin-left: 10px; }
.docs-result .right-bar .frac.docs-list .RB-right > ul > li:not(:last-child) { margin-bottom: 13px; }
.docs-result .right-bar .frac.docs-list .RB-right > ul > li > i { height: 22px; width: 22px; background-color: #969694; color: #fff; border-radius: 100%; font-size: 10px; }
.docs-result .right-bar .frac.docs-list .RB-right > ul > li > span { font-size: 14px; padding-left: 10px; width: calc(100% - 22px); color: #2d2d2d; }
.docs-result .right-bar .frac.docs-list .RB-right > ul > li > span > span:not(.d-block) { font-weight: 600; color: #666666; }
.docs-result .right-bar .frac.doc-details .nav-tabs { border-bottom: 1px solid #c1c1c1; }
.docs-result .right-bar .frac.doc-details .nav-tabs > li > a { padding: 13px 22px; font-weight: 600; color: #999; font-size: 15px; min-width: 110px; text-align: center; transition: 0.2s; }
.docs-result .right-bar .frac.doc-details .nav-tabs > li > a.active { border-color: #c1c1c1 #c1c1c1 #fff; color: #019faa; background-color: #fff; }
.docs-result .right-bar .frac.doc-details .tab-content { border: 1px solid #c1c1c1; border-top: transparent; background-color: #fff; padding: 30px; }
.docs-result .right-bar .frac.doc-details .info-sec .head { font-weight: 600; color: #289eaa; margin-bottom: 20px; font-size: 17px; }
.docs-result .right-bar .frac.doc-details .info-sec .opening-hours .days { font-size: 17px; font-weight: 600; color: #515151; margin-bottom: 10px; }
.docs-result .right-bar .frac.doc-details .info-sec .opening-hours .timing { font-size: 16px; color: #515151; margin-bottom: 5px; }
.docs-result .right-bar .frac.write-review > .inner { padding: 30px; border: 1px solid #c1c1c1; background-color: #fff; }
.docs-result .right-bar .frac.write-review .head { font-size: 16px; font-weight: 600; color: #777; margin-bottom: 5px; }
.docs-result .right-bar .frac.write-review .sub-head { font-size: 15px; color: #888; margin-bottom: 10px; }
.docs-result .right-bar .frac.write-review .star-rating-ul { margin-bottom: 20px; }
.docs-result .right-bar .frac.write-review .st-btn { padding: 12px 30px; margin-top: 20px; font-weight: 700; }
.docs-result .right-bar .frac.users-review > .inner { border: 1px solid #c1c1c1; background-color: #fff; }
.docs-result .right-bar .frac.users-review .head { font-size: 16px; font-weight: 600; color: #777; padding: 20px 30px; border-bottom: 1px solid #c1c1c1; }
.docs-result .right-bar .frac.users-review .st-reviews { padding: 30px; }
.docs-result .right-bar .frac.users-review .st-reviews .item:not(:last-child) { margin-bottom: 40px; }
.docs-result .right-bar .frac.users-review .st-reviews .item .name-ident { height: 30px; width: 30px; background: #019faa; font-weight: 600; padding-top: 7px; font-size: 13px; color: #fff; }
.docs-result .right-bar .frac.users-review .st-reviews .item .text-sec { width: calc(100% - 30px); padding-left: 25px; }
.docs-result .right-bar .frac.users-review .st-reviews .item .text-sec .name { padding-right: 100px; }
.docs-result .right-bar .frac.users-review .st-reviews .item .text-sec .name span:first-child { font-weight: 600; font-size: 17px; color: #444; }
.docs-result .right-bar .frac.users-review .st-reviews .item .text-sec .name span:last-child { font-size: 15px; color: #ec5912; float: right; right: 0; top: 1px; }
.docs-result .right-bar .frac.users-review .st-reviews .item .text-sec .recomend { font-size: 15px; margin-top: 3px; }
.docs-result .right-bar .frac.users-review .st-reviews .item .text-sec .recomend i { font-size: 11px; position: relative; top: -1px; margin-right: 4px; color: #636363; }
.docs-result .right-bar .frac.users-review .st-reviews .item .text-sec .review { margin-top: 6px; font-size: 16px; color: #333; }

#st-details-banner .doc-details { padding: 15px; -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2); box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2); }
@media screen and (min-width: 992px) { #st-details-banner .doc-details { padding: 25px; } }
#st-details-banner .doc-details .DD-left-sec, #st-details-banner .doc-details .DD-right-sec { width: 100px; }
@media screen and (min-width: 992px) { #st-details-banner .doc-details .DD-left-sec, #st-details-banner .doc-details .DD-right-sec { width: 50%; } }
#st-details-banner .doc-details .DD-left-sec .name { font-size: 23px; margin-bottom: 5px; color: #019faa; }
#st-details-banner .doc-details .DD-left-sec .post { font-size: 16px; color: #777; }
#st-details-banner .doc-details .DD-right-sec p { font-size: 17.5px; margin-right: 30px; color: #555; }
#st-details-banner .doc-details .DD-right-sec a { color: #fff; font-weight: 600; padding: 12px 30px; font-size: 16px; }

.st-details-banner .img-sec img { width: 100%; }
.st-details-banner .captions .top-sec { left: 0; top: 40px; padding: 0 30px 0 0px; }
.st-details-banner .captions .bottom-sec { bottom: 15px; left: 0; padding: 0 30px; }
.st-details-banner .captions .bottom-sec ul li:not(:last-child) { margin-right: 20px; }
.st-details-banner .captions .bottom-sec ul li a { height: 35px; position: relative; transition: 0.2s; }
.st-details-banner .captions .bottom-sec ul li a img { max-height: 100%; }
.st-details-banner .captions .bottom-sec ul li a:hover { margin-top: -5px; }
.st-details-banner .captions .bottom-sec .btns .reviews { margin-bottom: 15px; }
.st-details-banner .captions .bottom-sec .btns .reviews a { font-size: 14px; color: #fff; }
.st-details-banner .captions .bottom-sec .btns .reviews span { padding: 5px 6px; background: #8db716; border-radius: 4px; font-size: 13px; font-weight: 600; color: #fff; margin-left: 10px; }
.st-details-banner .captions .bottom-sec .btns .btns-main .st-btn:not(:last-child) { margin-right: 15px; }
.st-details-banner .captions .bottom-sec .btns .btns-main .st-btn:first-child { background-color: #fff; color: #000; }
.st-details-banner .captions .bottom-sec .btns .btns-main .st-btn:first-child:hover { background: #e7e7e7; }
.st-details-banner .captions .bottom-sec .btns .btns-main .st-btn:first-child:active { background: #e0e0e0; }

#docs-result.inner-details { background: #f8f8f8; }
@media screen and (min-width: 992px) { #docs-result.inner-details { padding-top: 50px; padding-bottom: 50px; } }

/*# sourceMappingURL=style.css.map */
