// $secodary-color: #2eb96a;
// $secodary-colorB: #008d95;
// $secodary-color: #fde004;
$secodary-color: #fcb01f;
$secodary-color-light: #fbd502;
$secodary-color-light2: #f9c707;
$secodary-colorB: #798e98;
$danger-color-light: #ff2b40;
$danger-color: #96282c;
// $success-color: #7bd34a;
$success-color: #34af5c;
$active-color: #ececec;
$success-color-dark: #2c9647;