@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* COMMON CSS */
.img-fluid-height {
  max-height: 100%;
}

.clear-parent::after {
  content: "";
  display: block;
  clear: both;
}

.color-secondary {
  color: #232323 !important;
}

.color-primary {
  color: #976330 !important;
}

.color-black {
  color: #000 !important;
}

.color-less-black {
  color: #333 !important;
}

.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-900 {
  font-weight: 900;
}

.owl-carousel.vertical-buttons .owl-nav>button {
  position: absolute;
  top: 50%;
  -webkit-transform: translatey(-50%);
  transform: translatey(-50%);
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  line-height: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #d0d0d0;
  transition: 0.3s;
  color: #fff;
  outline: none !important;
}

@media screen and (min-width: 768px) {
  .owl-carousel.vertical-buttons .owl-nav>button {
    height: 35px;
    width: 35px;
  }
}

.owl-carousel.vertical-buttons .owl-nav>button:hover {
  background-color: #976330;
}

.owl-carousel.vertical-buttons .owl-nav>button:active {
  background-color: #0f3e7d;
}

.owl-carousel.vertical-buttons .owl-nav>.owl-prev {
  left: 0;
}

.owl-carousel.vertical-buttons .owl-nav>.owl-next {
  right: 0;
}

.st-head-menu {
  position: relative;
}

@media screen and (max-width: 767px) {
  .st-head-menu>li {
    position: relative;
  }
}

.st-head-menu>li>a {
  font-size: 15px;
  color: #000;
  text-decoration: none !important;
  outline: none !important;
  padding: 15px 10px;
  transition: 0.3s;
  letter-spacing: 0.5px;
  font-weight: 500;
}

@media screen and (min-width: 1200px) {
  .st-head-menu>li>a {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  .st-head-menu>li>a {
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
  }

  .st-head-menu>li>a:hover {
    border-bottom-color: #976330;
  }
}

@media screen and (min-width: 992px) {

  .st-head-menu>li:hover>a,
  .st-head-menu>li.active>a {
    border-bottom-color: #976330;
  }
}

@media screen and (min-width: 992px) {
  .st-head-menu>li:not(:last-child) {
    margin-right: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .st-head-menu>li:not(:last-child) {
    /* margin-right: 15px; */
  }
}

@media screen and (max-width: 991px) {
  .st-head-menu>li {
    display: block;
    width: 100%;
  }

  .st-head-menu>li>a {
    width: 100%;
    padding: 10px 20px;
    color: #fff !important;
    display: block;
  }
}

.st-head-menu>li>ul {
  background: #fff;
  width: 100%;
  left: 0;
  top: 85%;
  -webkit-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

@media screen and (max-width: 991px) {
  .st-head-menu>li>ul {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .st-head-menu>li>ul {
    width: 180px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    border-radius: 4px;
    overflow: hidden;
  }
}

.st-head-menu>li>ul>li>a {
  padding: 8px 15px;
  border-bottom: 1px solid #ddd;
  color: #333;
  line-height: 23px;
  transition: 0.3s;
}

.st-head-menu>li>ul>li>a:hover {
  background-color: #232323;
  color: #fff;
}

.st-head-menu>li>ul>li:last-child>a {
  border-bottom: none;
}

.st-head-menu>li>ul>li.active>a {
  background-color: #232323;
  color: #fff;
}

@media screen and (max-width: 991px) {
  .st-head-menu>li:hover>ul {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .st-head-menu>li:hover>ul {
    opacity: 1;
    visibility: visible;
    top: 100%;
  }
}

.ST_def-mar-T,
.ST_def-mar-TB {
  margin-top: 25px;
}

@media screen and (min-width: 768px) {

  .ST_def-mar-T,
  .ST_def-mar-TB {
    margin-top: 40px;
  }
}

@media screen and (min-width: 992px) {

  .ST_def-mar-T,
  .ST_def-mar-TB {
    margin-top: 70px;
  }
}

.ST_def-mar-B,
.ST_def-mar-TB {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {

  .ST_def-mar-B,
  .ST_def-mar-TB {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 992px) {

  .ST_def-mar-B,
  .ST_def-mar-TB {
    margin-bottom: 70px;
  }
}

.ST_def-pad-T,
.ST_def-pad-TB {
  padding-top: 25px;
}

@media screen and (min-width: 768px) {

  .ST_def-pad-T,
  .ST_def-pad-TB {
    padding-top: 40px;
  }
}

@media screen and (min-width: 992px) {

  .ST_def-pad-T,
  .ST_def-pad-TB {
    padding-top: 70px;
  }
}

.ST_def-pad-B,
.ST_def-pad-TB {
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) {

  .ST_def-pad-B,
  .ST_def-pad-TB {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 992px) {

  .ST_def-pad-B,
  .ST_def-pad-TB {
    padding-bottom: 70px;
  }
}

.st-head-top {
  font-size: 20px;
  margin-bottom: 2px;
  letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
  .st-head-top {
    font-size: 25px;
  }
}

.st-head {
  font-size: 25px;
  color: #000;
  margin-bottom: 10px;
  letter-spacing: .5px;
}

@media screen and (min-width: 992px) {
  .st-head {
    font-size: 30px;
    margin-bottom: 15px;
  }
}

.st-head.big {
  font-size: 27px;
}

@media screen and (min-width: 768px) {
  .st-head.big {
    font-size: 35px;
  }
}

@media screen and (min-width: 992px) {
  .st-head.big {
    font-size: 40px;
    margin-bottom: 30px;
  }
}

.st-head-sm {
  font-size: 22px;
  color: #000;
  margin-bottom: 15px;
  letter-spacing: .5px;
}

@media screen and (min-width: 768px) {
  .st-head-sm {
    font-size: 28px;
  }
}

.st-desc {
  font-size: 16px;
  line-height: 23px;
}

@media screen and (min-width: 992px) {
  .st-desc {
    font-size: 17px;
    line-height: 24px;
  }
}

.st-desc.has-margin:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .st-desc.has-margin:not(:last-child) {
    margin-bottom: 15px;
  }
}

.st-main-head {
  margin-bottom: 30px;
}

@media screen and (min-width: 992px) {
  .st-main-head {
    margin-bottom: 50px;
  }
}

.st-main-head .st-head {
  margin-bottom: 10px;
}

.st-main-head .st-desc {
  font-size: 16px;
  letter-spacing: .5px;
  color: #333;
}

.st-main-head .st-desc+.st-head {
  margin-top: 10px;
}

@media screen and (min-width: 992px) {
  .st-main-head .st-desc {
    font-size: 18px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

.st-btn {
  background-color: #333;
  padding: 10px 15px 9px;
  border-radius: 5px;
  color: #fff;
  box-shadow: none;
  letter-spacing: 0.6px;
}

.st-btn:hover {
  background-color: #262626;
  color: #fff;
}

.st-btn:active {
  background-color: #1a1a1a;
}

.st-btn:focus {
  box-shadow: none !important;
}

.st-btn.st-btn-secondary {
  background-color: #232323;
}

.st-btn.st-btn-secondary:hover {
  background-color: #111;
  color: #fff;
}

.st-btn.st-btn-secondary:active {
  background-color: #000;
}

.st-btn.st-btn-primary {
  background-color: #976330;
}

.st-btn.st-btn-primary:hover {
  background-color: #0f4081;
  color: #fff;
}

.st-btn.st-btn-primary:active {
  background-color: #0d356a;
}

.st-btn.btn-lg {
  padding: 8px 20px 11px;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .st-btn.btn-lg {
    padding: 11px 30px 13px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

/* HEADER */
#header {
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 99;
}

#header-top {
  background-color: #976330;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  #header-top {
    height: 45px;
  }
}

.header-top ul {
  /* margin: 0 -10px; */
}

.header-top ul>li {}

.header-top ul>li>a {
  color: #fff;
  padding: 5px 10px;
  position: relative;
  transition: 0.2s;
}

.header-top ul>li>a.active,
.header-top ul>li>a:hover {
  background-color: #232323;
}

.header-top ul>li>a:active {
  background-color: #111;
}

#header-main {
  transition: 0.3s;
}

.header-main {
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  .header-main .st-logo {
    width: 300px;
  }
  .header-main {
    padding: 35px 0 25px;
  }
}

@media screen and (min-width: 992px) {
  .header-main .st-logo {
    width: 380px;
  }
}

.header-main .hm-lt,
.header-main .hm-rt {
  transition: 0.3s;
}

.header-main .hm-rt .frac {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header-main .hm-rt .frac {
    width: auto;
    text-align: left;
  }
}

.header-main .hm-rt .frac:not(:last-child) {
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .header-main .hm-rt .frac:not(:last-child) {
    margin-bottom: 0;
    margin-right: 10px;
  }
}

@media screen and (min-width: 992px) {
  .header-main .hm-rt .frac:not(:last-child) {
    margin-right: 100px;
  }

  .header-main .hm-rt .frac.right-btn {
    width: 210px;
  }
}

.header-main .hm-rt .frac .head {
  color: #111;
  margin-bottom: 4px;
  transition: 0.3s;
  font-size: 20px;
}

.header-main .hm-rt .frac .head i {
  font-size: 20px;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

.header-main .hm-rt .frac .content {
  color: #232323;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .header-main .hm-rt .frac .content {
    padding-left: 30px;
    font-size: 19px;
    color: #976330
  }
}

#header-menu {
  background-color: #976330;
  border-top: 1px solid #ccc;
}

@media screen and (min-width: 768px) {
  .header-menu .get-a-quote-btn .st-btn {
    width: 160px;
  }
}
@media screen and (min-width: 992px) {
  #header-menu {
    background-color: transparent;
  }
}

#header.active #header-top {
  margin-top: -40px;
}

@media screen and (min-width: 768px) {
  #header.active #header-top {
    margin-top: -40px;
  }

  #header.active #header-main {
    margin-top: -98px;
  }
}

@media screen and (min-width: 992px) {
  #header.active #header-main {
    margin-top: -117px;
  }
}

@media screen and (min-width: 1200px) {
  #header.active .st-head-menu>li>a {
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media screen and (min-width: 768px) {
  .header-like-margin-top {
    margin-top: 190px;
  }

  .header-like-padding-top {
    padding-top: 190px;
  }
}

@media screen and (min-width: 992px) {
  .header-like-margin-top {
    margin-top: 213px;
  }

  .header-like-padding-top {
    padding-top: 213px;
  }
}