// NEXA
@font-face {
    font-family: "nexa-light";
    src: url("../fonts/nexa/Nexa_Light.otf") format("truetype");
}
@font-face {
    font-family: "nexa-regular";
    src: url("../fonts/nexa/Nexa_Regular.otf") format("truetype");
}
@font-face {
    font-family: "nexa-bold";
    src: url("../fonts/nexa/Nexa_Bold.otf") format("truetype");
}
@font-face {
    font-family: "nexa-heavy";
    src: url("../fonts/nexa/Nexa_Heavy.otf") format("truetype");
}


// MONTSERRAT
@font-face {
    font-family: "montserrat-regular";
    src: url("../fonts/montserrat/Montserrat-Regular.otf") format("truetype");
}
@font-face {
    font-family: "montserrat-light";
    src: url("../fonts/montserrat/Montserrat-Light.otf") format("truetype");
}
@font-face {
    font-family: "montserrat-medium";
    src: url("../fonts/montserrat/Montserrat-Medium.otf") format("truetype");
}
@font-face {
    font-family: "montserrat-semibold";
    src: url("../fonts/montserrat/Montserrat-SemiBold.otf") format("truetype");
}
@font-face {
    font-family: "montserrat-bold";
    src: url("../fonts/montserrat/Montserrat-Bold.otf") format("truetype");
}
