// sass --watch scss/style.scss:css/style.css --style compact
@import "components/reset";
@import "components/fonts";
@import "components/variables";
@import "components/mixins";
@import "components/common";

// GOOGLE FONTS
// font-family: 'Nunito Sans', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");

body {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: $dark-text-color;
    padding-bottom: 80px;
}

// header
#app-header {
    padding: 5px 0;
}
.app-header {
    margin: 0 -7px;
    .lt-sec {
        .menu-icon {
        }
        .text {
            top: 1.5px;
        }
    }
}
.header-left-menu {
    position: fixed;
    left: -100%;
    height: 100%;
    width: 270px;
    top: 0;
    @include transition(0.6s);
    z-index: 123;

    .overlay {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        z-index: 11;
    }
    &.active {
        left: 0;
        .overlay {
            left: 0;
        }
    }
    > .hlm-inner {
        height: 100%;
        overflow: auto;
        background: #fff;
        position: relative;
        background-color: $primary-color;
    }
    .close-icon {
        color: #fff;
    }

    .hlm-link {
        text-decoration: none;
        color: #fff;
        @include transition;
        font-size: 16px;
        padding: 12px 15px 11px;
        border-left: 5px solid transparent;
        margin-bottom: 5px;
        .icon {
            top: 1px;
        }
        .text {
            padding-left: 15px;
        }
        &.active {
            border-color: lighten($color: $primary-color, $amount: 20);
            background-color: darken($color: $primary-color, $amount: 10);
        }
        &:active {
            background-color: darken($color: $primary-color, $amount: 10);
        }
    }
}

// header search
.app-header-search {
    .content-container {
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        @include transition;
        .app-form {
            .icon {
                right: 1px;
            }
        }
    }

    &.active {
        .content-container {
            opacity: 1;
            visibility: visible;
        }
    }
}
// header options
.app-header-options {
    .content-container {
        top: calc(100% + 5px);
        right: 0;
        min-width: 170px;
        z-index: 123;
        opacity: 0;
        visibility: hidden;
        @include transition;
        > .inner {
            // padding: 5px 0;
            border-radius: $app-block-border-radius;
            overflow: hidden;
            box-shadow: 3px 3px 8px rgba($color: #000000, $alpha: 0.1);
        }
        .aho-link {
            padding: 8px 15px;
            border: 1px solid $gray-bg-color;
            color: $dark-text-color;
            font-weight: 600;
            @include transition;
            &:hover {
                background-color: darken($color: $primary-color, $amount: 5);
                color: #fff;
            }
            &:active {
                background-color: darken($color: $primary-color, $amount: 10);
                color: #fff;
            }
        }
    }

    &.active {
        .content-container {
            opacity: 1;
            visibility: visible;
        }
    }
}

// header notifications
.app-header-notifications {
    &.has-notification {
        ::after {
            content: "";
            height: 9px;
            width: 9px;
            background-color: lighten($color: $danger-color, $amount: 5);
            position: absolute;
            top: 8px;
            right: 9px;
            border-radius: 50%;
        }
    }
}

// header timer
.app-header-timer {
    top: 1px;
}

// header submit btn
.app-header-submit-btn {
    .app-btn {
        padding: 4px 14px;
    }
}

// bottom menu bar
.bottom-menu-bar {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    // z-index: 11;
    background-color: #fff;
    @include box-shadow(0px, 0px, 4px, 0px, rgba(0, 0, 0, 0.2));
    border-radius: 30px 30px 0px 0px;
    z-index: 12;

    .item {
        > a {
            padding: 10px 4px;
            text-decoration: none !important;
        }

        .icon-sec {
            height: 30px;
            font-size: 19px;
            color: darken($color: $gray-bg-color, $amount: 20);
        }

        .text-sec {
            p {
                color: darken($color: $gray-bg-color, $amount: 20);
            }
        }

        &:hover,
        &.active {
            .icon-sec {
                color: $secondary-color;
            }

            .text-sec {
                p {
                    color: $secondary-color;
                }
            }
        }
    }
}

// home sec one
#home-sec-one {
    padding: 15px 0px 5px;
}
.home-sec-one {
    .item {
        margin-right: 15px;
        margin-bottom: 10px;
        min-width: 80px;
        > .item-inner {
            padding: 10px;
        }

        .img {
            height: 30px;
            margin-bottom: 5px;
        }
    }
}

// test series
#test-series {
}
.test-series {
    .list {
        .item {
            width: 50%;
            padding: 0 7px;
            &:not(:last-child):not(:nth-last-child(2)) {
                margin-bottom: 14px;
            }
            .inner {
                min-height: 66px;
                padding: 10px 15px;
                &:active {
                    background-color: #efefef;
                }
            }
            .text {
                line-height: normal;
            }
        }
    }
}

// home banner
#home-banner {
}
.home-banner {
    img {
        width: 100%;
    }
    .item {
        .caption {
            top: 0;
            right: 0;
            width: 50%;
        }
    }
}

// home online class
#home-online-class {
}
.home-online-class {
    .item {
        margin-right: 15px;
        margin-bottom: 10px;
        min-width: 120px;
        padding: 5px 0 0 5px;
        > .item-inner {
            padding: 15px 10px 10px;
        }

        .img {
            height: 50px;
            margin-bottom: 10px;
        }
    }
}

// test series
#buy-books {
}
.buy-books {
    .list {
        .item {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            .inner {
                min-height: 66px;
                padding: 10px 15px;
                &:active {
                    background-color: #efefef;
                }
            }
            .img-sec {
                width: 45px;
            }
            .text-sec {
                line-height: normal;
                .rt-sec {
                    text-align: right;
                }
                .price {
                    padding: 4px 10px 3px;
                    border-radius: 25px;
                    color: #fff;
                }
                .det {
                    margin-top: 7px;
                }
            }
        }
    }
}

// full test sec
.full-test-sec {
    .listing-item {
        margin: 0 -15px;
        > .li-inner {
            padding: 14px 15px;
            border-bottom: 2px solid #ccc;
            @include transition;
            background-color: transparent;
            &:hover,
            &:active,
            &.active {
                background: rgb(255, 255, 255);
                background: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 1) 0%,
                    rgba(215, 215, 215, 1) 100%
                );
            }
        }

        .rt-sec {
            font-size: 23px;
        }
    }
}

.swipper-view {
    .swiper-slide {
        min-height: calc(100vh - 150px);
    }
}

// question-sec
.question-sec {
    margin-bottom: 80px;
    .ques-item {
        // margin: 0 -12px;
        > .qi-inner {
        }

        .qi-title {
            padding: 15px 15px 13px;
        }
        .qi-desc {
            padding: 20px 15px;
            border-bottom: 2px solid #ccc;
        }

        // qi options
        .qi-options {
            .option-single {
                > .inner {
                    padding: 14px 15px 13px;
                    border-bottom: 1px solid #ccc;
                }
                .tag {
                    background-color: #ddd;
                    min-height: 25px;
                    min-width: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    margin-left: 5px;
                    // position: relative;
                    // top: 3px;
                }

                .inner {
                    @include transition;
                }

                &.right {
                    .inner {
                        background-color: $success-color;
                        .text {
                            color: #fff;
                        }
                    }
                }

                > input:checked {
                    + .inner {
                        background-color: $success-color;
                        .text {
                            color: #fff;
                        }
                    }
                }
            }
        }

        // qi options not selectable
        .qi-options-not-selectable {
            .option-single {
                > .inner {
                    padding: 14px 12px 13px;
                    border-bottom: 1px solid #ccc;
                }
                .tag {
                    background-color: #ddd;
                    min-height: 25px;
                    min-width: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    margin-left: 5px;
                    position: relative;
                    top: 3px;
                }

                .inner {
                    @include transition;
                }

                &.right {
                    .inner {
                        background-color: $success-color;
                        .text {
                            color: #fff;
                        }
                    }
                }

                &.correct-answer {
                    > .inner {
                        background-color: lighten(
                            $color: $secondary-color,
                            $amount: 60
                        );
                    }
                }
                &.wrong-answer {
                }
            }
        }

        // single field option
        .single-field-option {
            padding: 20px;
            input {
                width: auto;
            }
        }
    }
}

// page bottom buttons
.page-bottom-buttons {
    bottom: 0;
    left: 0;
    width: 100%;
    > .inner {
        padding: 15px 5px;
    }
    .app-btn {
        min-width: 100px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

// instructions modal
.instructions-modal {
    .body {
        height: 100%;
        overflow: auto;
    }
    .modal-content {
        border-radius: 0;
    }
}
.instructions-modal,
.instructions-tab {
    .head,
    .foot {
        > .inner {
            padding: 15px;
        }
    }

    .body {
        padding: 20px 15px;
        .item {
            position: relative;
            padding-left: 15px;
            &:not(:last-child) {
                margin-bottom: 15px;
            }
            &:after {
                content: "";
                position: absolute;
                top: 6px;
                left: 1px;
                height: 8px;
                width: 8px;
                border-radius: 50%;
                border: 2px solid $secondary-color;
            }
        }
    }
}

// ques left bar
.ques-left-bar {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    width: 300px;
    z-index: 12;
    @include transition(0.5s);
    .overlay {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        z-index: 11;
    }
    &.active {
        left: 0;
        .overlay {
            left: 0;
        }
    }
    .alb-inner {
        height: 100%;
        overflow: auto;
        background: #fff;
        position: relative;
        z-index: 12;
    }
    .nav-tabs {
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 1;
    }

    .nav-item {
        margin: 5px 10px 0;
    }
    .nav-link {
        padding: 9px 0;
        border: none;
        border-bottom: 4px solid transparent;
        color: $dark-text-color;
        font-weight: 700;

        &.active {
            border-color: $secondary-color;
            color: #000;
            font-weight: 800;
        }
    }

    .question-paper-tab {
        .head {
            background-color: darken($color: $gray-bg-color, $amount: 5);
            padding: 30px 15px 20px;
            .item {
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
                &:not(:nth-child(2n)) {
                    margin-right: 15px;
                }
            }
        }
        .body {
            padding: 30px 15px 20px;
            .item {
                width: 20%;
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

// page test details
.page-test-details {
    .frac {
        margin-bottom: 50px;
    }
    .total-questions {
        .item {
            &:not(:last-child) {
                margin-bottom: 15px;
                padding-right: 15px;
            }
        }
    }

    .advanced-test {
        .info {
            margin: 0 -5px;
            .item {
                padding: 11px 10px 10px;
                margin: 0 5px;
                color: #fff;
                width: 50%;
                &.one {
                    background-color: #ea1874;
                }
                &.two {
                    background-color: #019c9e;
                }
            }
        }
    }

    .solution-analysis {
    }

    .com-item {
        > .inner {
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
            border-radius: 25px;
            overflow: hidden;
            padding-left: 15px;
            background-color: #fff;
            @include transition;
            min-height: 89px;
            &:active {
                background-color: #efefef;
            }
        }
        .icon-left {
            width: 50px;
        }
        .icon-right {
            width: 45px;
            &.bg-sky-blue {
                background-color: $pentagon-skyblue-color;
            }
            &.bg-dark-red {
                background-color: $danger-color;
            }
        }
        .text {
            padding: 15px 10px;
        }
    }
}

// remaining time modal
.remaining-time-modal {
    .body {
        padding: 15px 15px;
        .details-tags {
            .item {
                &:not(:last-child) {
                    margin-bottom: 15px;
                    padding-right: 15px;
                }
            }
        }
        .bottom-sec {
            .app-btn {
                min-width: 100px;
            }
        }
    }
}
// network check modal
.network-check-modal {
    .body {
        padding: 35px 15px;
    }
}

// charts page
#charts-page {
}
.charts-page {
    .chart-main {
        padding: 10px;
    }
}

// question sec 3
#question-sec-3 {
}
.question-sec-3 {
    .question-paper-tab {
        .head {
            background-color: darken($color: $gray-bg-color, $amount: 5);
            padding: 30px 15px 20px;
            .item {
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
                &:not(:nth-child(2n)) {
                    margin-right: 15px;
                }
            }
        }
        .body {
            .item {
                width: 20%;
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

// contact us
body.root-page-contact {
    background-color: #ebebeb;
}
#contact-us {
}
.contact-us {
    .top-sec {
        position: relative;
        padding-top: 10px;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 50%;
            width: 100%;
            background-color: $primary-color;
        }

        .top-sec-inner {
            z-index: 1;
            position: relative;
        }
    }
    .contact-form {
        padding: 5px 20px 0;
        .inner {
            padding: 20px 15px 20px;
            border-radius: 15px;
        }
    }

    .bottom-sec {
        padding: 0 15px;
        .item {
            .icon {
                font-size: 30px;
                line-height: 0;
                min-height: 45px;
            }
        }
    }
}

// buy sec
#buy-sec {
}
.buy-sec {
    .top-img-sec {
        height: 170px;
    }

    .buy-list {
        .item {
            padding: 0 15px 10px;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            .inner {
            }
            .top-sec {
                line-height: normal;
                min-height: 56px;
                padding: 15px 15px;
                .rt-sec {
                    text-align: right;
                }
                .price {
                    padding: 4px 10px 3px;
                    border-radius: 25px;
                    color: #fff;
                }
                .det {
                    margin-top: 7px;
                }
            }

            .body-sec {
                display: none;
                padding: 15px 15px;
            }

            &.active {
                .top-sec {
                    background-color: #f8f8f8;
                }
                .body-sec {
                    display: block;
                }
            }
        }
    }
}

// classes sec
#classes-sec {
}
.classes-sec {
    .listing-item {
        margin: 0 -15px;
        .li-inner {
            padding: 15px 15px;
            border-bottom: 2px solid #ccc;
            transition: 0.3s;
            background-color: transparent;
            &:hover,
            &:active,
            &.active {
                background: rgb(255, 255, 255);
                background: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 1) 0%,
                    rgba(215, 215, 215, 1) 100%
                );
            }
        }
        .lt-sec {
            width: 70px;
            img {
            }
        }
    }
}
