// sass --watch scss/style.scss:css/style.css --style compact

@import "components/reset";
@import "components/fonts";
@import "components/variables";
@import "components/mixins";
@import "components/common";

// FONTS
// font-family: 'futura-light-bt', sans-serif;
// font-family: 'futura-medium-bt', sans-serif;
// font-family: 'futura-bold', sans-serif;
// font-family: 'futura-book', sans-serif;

body {
    font-family: 'futura-light-bt', sans-serif;
    font-size: 15px;
    background-color: #000;

    @include min-width($md-main) {
        font-size: 16px;
    }
}

// HOMEPAGE CSS

// header
$headerHeight: 85px;

#header {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 99;

    @include min-width($md-main) {
        height: $headerHeight;
    }

    .header-inner {
        background: rgba(0, 0, 0, 0.75);
        @include transition(1s);
        top: 0;

        &.slide-up {
            @include min-width($xl-main) {
                top: -$headerHeight;
            }
        }
    }
}

.header {
    padding: 10px 0;

    .logo {
        width: 160px;
    }
}

// home video sec
#main-page-sec {

    // caption style 1
    .caption {
        padding: 15px;

        .desc {
            font-size: 15px;
            color: #fff;
            font-family: 'futura-medium-bt', sans-serif;
            line-height: 23px;
        }

        @include max-width($md-less-one) {
            position: static !important;
        }

        @include min-width($md-main) {
            z-index: 1;
            bottom: 20px;
            left: 50%;
            @include transform_translate(-50%, 100%);
            width: 95%;
            background: rgba(64, 64, 64, 0.8);
        }

        @include min-width($lg-main) {
            .desc {
                font-size: 16px;
                line-height: 28px;
            }
        }

        @include min-width($xl-main) {
            padding: 16px;
            width: 80%;

            .desc {
                font-size: 19px;
                line-height: 28px;
            }
        }
    }
}

.main-page-sec {
    &:not(.banner-type) {
        height: 100vh;
    }

    @include min-width($md-main) {

        &:not(.about-us-page-main):not(.contact-page-main) {
            margin-bottom: 100px;
        }
    }

    iframe {
        height: 100%;
        width: 100%;
        @include transform_scale(1.3);
        pointer-events: none;
    }

    .overlay {
        top: 0;
        pointer-events: none;
        z-index: 1;
    }

    // ABOUT US BANNER
    &.about-us-page-main {
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;

        // caption style 2
        .about-us-page-caption {
            padding: 15px;

            @include max-width(1200px) {
                margin-top: $headerHeight;
            }

            @include min-width($lg-main) {
                width: 65%;
            }

            @include min-width(1201px) {
                width: 50%;
                padding-left: 30px;
                padding-right: 80px;
            }
        }
    }

    // CONTACT BANNER
    &.contact-page-main {}

    .banner-type-caption {
        top: 0;
        left: 0;

        .page-banner-heading {
            font-size: 50px;
            font-family: 'futura-medium-bt', sans-serif;

            @include min-width($md-main) {
                font-size: 60px;
            }

            @include min-width($lg-main) {
                font-size: 75px;
            }
        }
    }
}

// latest programmes
#latest-programmes {}

.latest-programmes {
    .item {}

    #programmes-slider {
        .owl-nav {

            >.owl-prev,
            >.owl-next {
                position: absolute;
                top: 50%;
                @include transform_translatey(-50%);
                font-size: 20px;
                color: #fff;
            }

            >.owl-prev {
                left: 10px;
            }

            >.owl-next {
                right: 10px;
            }

            @include min-width($lg-main) {
                >.owl-prev {
                    left: -25px;
                }

                >.owl-next {
                    right: -25px;
                }
            }
        }
    }
}

// footer
#footer {}

.footer {
    .footer-item {
        margin-bottom: 15px;
    }

    .footer-text {
        color: #fff;
        font-size: 13px;
        font-family: 'futura-medium-bt', sans-serif;
    }

    .footer-link {
        color: $primary-color;
        font-size: 13px;
        font-family: 'futura-medium-bt', sans-serif;
        text-decoration: underline;

        &:hover {
            color: #fff;
        }
    }

    // social links
    .social-links {
        >li {
            padding-left: 13px;
            padding-right: 0px;
        }
    }

    // newsletter
    .newsletter {
        @include min-width($md-main) {
            width: 400px;
        }

        input {
            height: 54px;
            background: none;
            border: none;
            border-bottom: 1px solid #808080;
            color: #808080;
            font-size: 30px;
            border-radius: 0;

            &:hover,
            &:focus {
                border-bottom: 1px solid #808080;
            }
        }

        button {
            border: none;
            background: transparent;
            outline: none;
            color: #808080;
            font-size: 25px;
            padding: 3px 15px;
            @include transition;

            &:hover {
                color: #fff;
            }
        }
    }
}

// CONTACT US PAGE
#contact-us-sec {
    background-color: #323232;

    .splitter {
        display: none !important;
        top: 0;
        left: 0;

        >.lt {
            // background-color: #323232;
        }

        >.rt {
            // background-color: #000;
        }
    }
}

.contact-us-sec {

    >.lt {
        padding-top: 30px;

        @include min-width($lg-main) {
            padding-top: 40px;
            padding-bottom: 40px;

            >.inner {
                padding-right: 30px;
            }
        }
    }

    >.rt {
        padding-top: 40px;
        padding-bottom: 40px;

        @include min-width($lg-main) {
            padding-top: 40px;
            padding-bottom: 40px;

            >.inner {
                padding-left: 30px;
            }
        }
    }

    .adress-item {
        margin-bottom: 30px;

        .head {
            font-family: 'futura-medium-bt', sans-serif;
            font-size: 18px;
            margin-bottom: 8px;

            i {
                width: 25px;
                position: relative;
                top: 2px;
            }
        }

        .address {
            padding-left: 25px;
            font-size: 16px;
            line-height: 23px;
        }
    }
}