@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

@font-face { font-family: "copperplate-regular"; src: url("../fonts/copperplate/COPPEPLA_0.ttf") format("truetype"); }
@font-face { font-family: "styling-regular"; src: url("../fonts/Styling/Styling-Regular4.ttf") format("truetype"); }
/* width */
::-webkit-scrollbar { width: 5px; }

/* Track */
::-webkit-scrollbar-track { background: #e2e2e2; }

/* Handle */
::-webkit-scrollbar-thumb { background: #fdea5b; border-radius: 15px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #f0d402; }

.clear-parent::after { content: ""; display: block; clear: both; }

.owl-theme .owl-nav.disabled + .owl-dots { margin-top: 5px; }

.owl-theme .owl-dots .owl-dot span { margin: 3px 4px; background: #fff; }

.st-btn { font-size: 14px; background: #134b9a; padding: 12px 20px 11px; color: #fff; transition: 0.3s; font-weight: 800; border-radius: 50px; transition: 0.3s; box-shadow: none !important; }
.st-btn.st-sm-btn { font-size: 13px; padding: 6px 17px 6px; }
.st-btn.st-btn-text-first { background-color: transparent; color: #134b9a; }
.st-btn.st-btn-right-icon .icon { font-size: 11px; margin-left: 2px; }
.st-btn:hover { background: #0d356d; color: #fff; box-shadow: none !important; }
.st-btn:hover.st-btn-right-icon .icon { margin-left: 5px; }
.st-btn:active { background: #081f3f; box-shadow: none !important; }

.ST_main-head { font-family: "styling-regular"; font-size: 30px; color: #111; margin-bottom: 15px; letter-spacing: .25px; }
.ST_main-head.white { color: #fff; }
@media screen and (min-width: 768px) { .ST_main-head { margin-bottom: 30px; font-size: 35px; } }
@media screen and (min-width: 992px) { .ST_main-head { margin-bottom: 50px; font-size: 38px; } }
.ST_main-head:not(.without-bottom-icon)::after { content: ''; display: block; height: 21px; width: 100%; background-image: url("../images/icons/heading-bottom-icon.png"); background-repeat: no-repeat; background-position: center; background-size: 140px; margin-top: 5px; }
.ST_main-head:not(.without-bottom-icon)::after.white { background: url("../images/icons/heading-bottom-icon-white.png"); }
@media screen and (min-width: 768px) { .ST_main-head:not(.without-bottom-icon)::after { background-size: 170px; } }
@media screen and (min-width: 992px) { .ST_main-head:not(.without-bottom-icon)::after { background-size: 220px; } }

.custom-modal .close { position: absolute; z-index: 1; top: 10px; right: 10px; }

.st-head-menu { position: relative; }
.st-head-menu > li { font-family: "copperplate-regular", sans-serif; font-size: 14px; font-weight: 600; text-transform: capitalize; transition: 0.1s; }
@media screen and (max-width: 767px) { .st-head-menu > li { position: relative; } }
.st-head-menu > li > a { color: #000; text-decoration: none !important; outline: none !important; transition: 0.3s; }
.st-head-menu > li > a:hover { color: #134b9a; }
.st-head-menu > li:hover > a { color: #134b9a; }
.st-head-menu > li.active > a { color: #134b9a; }
@media screen and (min-width: 768px) { .st-head-menu > li { padding: 0 5px; }
  .st-head-menu > li:last-child { padding-right: 0; } }
@media screen and (min-width: 992px) { .st-head-menu > li:last-child { padding-right: 0; } }
@media screen and (min-width: 1200px) { .st-head-menu > li { padding: 0 15px; } }
@media screen and (max-width: 767px) { .st-head-menu > li { display: block; width: 100%; }
  .st-head-menu > li > a { width: 100%; padding: 10px 20px; color: #fff; display: block; }
  .st-head-menu > li.active > a { color: #bbb; } }

.ST_def-mar-T, .ST_def-mar-TB { margin-top: 20px; }
@media screen and (min-width: 768px) { .ST_def-mar-T, .ST_def-mar-TB { margin-top: 50px; } }
@media screen and (min-width: 992px) { .ST_def-mar-T, .ST_def-mar-TB { margin-top: 70px; } }

.ST_def-mar-B, .ST_def-mar-TB { margin-bottom: 20px; }
@media screen and (min-width: 768px) { .ST_def-mar-B, .ST_def-mar-TB { margin-bottom: 50px; } }
@media screen and (min-width: 992px) { .ST_def-mar-B, .ST_def-mar-TB { margin-bottom: 70px; } }

.ST_def-pad-T, .ST_def-pad-TB { padding-top: 20px; }
@media screen and (min-width: 768px) { .ST_def-pad-T, .ST_def-pad-TB { padding-top: 50px; } }
@media screen and (min-width: 992px) { .ST_def-pad-T, .ST_def-pad-TB { padding-top: 70px; } }

.ST_def-pad-B, .ST_def-pad-TB { padding-bottom: 20px; }
@media screen and (min-width: 768px) { .ST_def-pad-B, .ST_def-pad-TB { padding-bottom: 50px; } }
@media screen and (min-width: 992px) { .ST_def-pad-B, .ST_def-pad-TB { padding-bottom: 70px; } }

.app-checkbox { cursor: pointer; }
.app-checkbox:not(:last-child) { margin-bottom: 10px; }
.app-checkbox .box { height: 18px; width: 18px; border: 1px solid #dadada; border-radius: 4px; background: #fff; }
.app-checkbox .box i { font-size: 16px; color: #909090; }
.app-checkbox .text { width: calc(100% - 18px); padding-left: 7px; padding-top: 1px; font-weight: 500; font-size: 13px; color: #444; }
.app-checkbox > input:checked + .box { background-color: #134b9a; border-color: #134b9a; }
.app-checkbox > input:checked + .box i { color: #fff; }
.app-checkbox > input:checked ~ .text { color: #000; }

.app-radio { cursor: pointer; }
.app-radio .round { height: 18px; width: 18px; border: 1px solid #dadada; background: #fff; border-radius: 50%; position: relative; }
.app-radio .round:after { content: ""; position: absolute; top: 2px; left: 2px; height: calc(100% - 4px); width: calc(100% - 4px); background: transparent; border-radius: 50%; }
.app-radio .text { width: calc(100% - 18px); padding-left: 7px; padding-top: 1px; font-weight: 500; font-size: 13px; color: #444; }
.app-radio > input:checked + .round { border-color: #134b9a; }
.app-radio > input:checked + .round:after { background-color: #134b9a; }
.app-radio > input:checked ~ .text { color: #000; }

.custom-modal .close { position: absolute; z-index: 1; top: 10px; right: 10px; outline: none !important; }
.custom-modal .heading { font-family: "styling-regular", sans-serif; margin-bottom: 10px; margin-top: 0; font-size: 30px; padding-right: 25px; color: #134b9a; letter-spacing: 1px; }
.custom-modal .content .text { font-size: 14px; color: #494949; font-weight: 600; letter-spacing: .2px; line-height: 20px; }
.custom-modal .content .text:not(:last-child) { margin-bottom: 10px; }

body { font-family: 'Lato', sans-serif; font-weight: 400; }

header { position: fixed; top: 0; left: 0; width: 100%; z-index: 12; }
header:not(.fixed) { margin-top: 20px; }
@media screen and (min-width: 992px) { header:not(.fixed) { margin-top: 40px; } }

#head_top { transition: 0.3s; margin-bottom: 10px; }

.head_top .head { font-size: 15px; font-weight: 800; }
.head_top .numbers { margin-left: 15px; }
.head_top .numbers i { font-size: 18px; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); position: relative; top: -2px; margin-right: 6px; }
.head_top .numbers a:not(.contact-hours) { font-size: 14px; color: #333; font-weight: 600; }
.head_top .numbers .contact-hours { padding: 3px 10px 3px; font-weight: normal; font-size: 12px; }

#head_main { transition: 0.3s; }

.head_main { padding: 10px 0 10px; }
.head_main > .logo { transition: 0.3s; }
.head_main > .logo a img { transition: 0.3s; }
@media screen and (min-width: 0px) { .head_main > .logo a img.main-logo { width: 100px; }
  .head_main > .logo a img.fixed-logo { width: 40px; } }
@media screen and (min-width: 768px) { .head_main > .logo { margin-top: 20px; }
  .head_main > .logo a img.main-logo { width: 160px; }
  .head_main > .logo a img.fixed-logo { width: 50px; } }
@media screen and (min-width: 992px) { .head_main > .logo { margin-top: 35px; }
  .head_main > .logo a img.main-logo { width: 260px; } }
@media screen and (min-width: 1200px) { .head_main > .logo a img.main-logo { width: 340px; } }

header .head_main > .logo .fixed-logo { display: none; }
header.fixed { background: #fff; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); }
header.fixed #head_top { margin-bottom: 0; margin-top: -19px; }
@media screen and (min-width: 768px) { header.fixed #head_top { margin-top: -26px; } }
header.fixed .head_main { -ms-flex-align: center !important; align-items: center !important; }
header.fixed .head_main > .logo { margin-top: 0; }
header.fixed .head_main > .logo .main-logo { display: none; }
header.fixed .head_main > .logo .fixed-logo { display: block; }

.home_slider #home-slider { border-bottom-left-radius: 50px; overflow: hidden; }
@media screen and (min-width: 768px) { .home_slider #home-slider { border-bottom-left-radius: 110px; } }
@media screen and (min-width: 992px) { .home_slider #home-slider { border-bottom-left-radius: 170px; } }
.home_slider .item > img { width: 100%; }
.home_slider .item .caption { left: 0; bottom: 14%; color: #fff; width: 100%; }
.home_slider .item .caption p { font-family: "styling-regular", sans-serif; font-size: 41px; color: #fff; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); }
.home_slider .owl-dots { margin-top: 0; position: absolute; bottom: 20px; width: 100%; z-index: 123; display: flex; justify-content: center; }
.home_slider .owl-dots .owl-dot { background-color: #fff; height: 10px; width: 10px; border-radius: 50%; margin: 0 5px; outline: none !important; }
.home_slider .owl-dots .owl-dot.active { background-color: #134b9a !important; }

@media (min-width: 992px) { .home-about-us .item { padding: 0 30px; } }
.home-about-us .item-inner { background-color: #fff; -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1); transition: 0.3s; border-radius: 25px; overflow: hidden; height: 100%; }
.home-about-us .item-inner:hover { -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.4); box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.4); }
.home-about-us .img-sec { height: 120px; overflow: hidden; }
@media (min-width: 992px) { .home-about-us .img-sec { height: 170px; } }
.home-about-us .img-sec img { width: 100%; }
.home-about-us .text-sec { padding: 15px; }
@media screen and (min-width: 992px) { .home-about-us .text-sec { padding: 30px 20px 20px; } }
.home-about-us .text-sec .head { font-size: 26px; font-family: "styling-regular", sans-serif; margin-bottom: 10px; color: #000; }
@media screen and (min-width: 992px) { .home-about-us .text-sec .head { margin-bottom: 17px; } }
.home-about-us .text-sec .desc { font-size: 15px; color: #494949; font-weight: 600; letter-spacing: .4px; margin-bottom: 10px; line-height: 22px; }
@media screen and (min-width: 992px) { .home-about-us .text-sec .desc { margin-bottom: 20px; } }

.home-about-us-detaild .nav-tabs { width: 100%; border-bottom: none; }
@media screen and (min-width: 768px) { .home-about-us-detaild .nav-tabs { -ms-flex-direction: column !important; flex-direction: column !important; width: 200px; }
  .home-about-us-detaild .nav-tabs .nav-item { width: 100%; } }
@media screen and (min-width: 768px) { .home-about-us-detaild .nav-tabs { width: 230px; } }
.home-about-us-detaild .nav-tabs .nav-item { width: 100%; font-family: "styling-regular", sans-serif; font-size: 23px; line-height: 32px; margin-bottom: 2px; letter-spacing: .25px; }
.home-about-us-detaild .nav-tabs .nav-link { border: 1px solid #dde2ea; background-color: #e7edff; color: #333; border-radius: 0; padding: 15px 20px 12px; transition: 0.3s; position: relative; }
@media screen and (min-width: 768px) { .home-about-us-detaild .nav-tabs .nav-link:after { content: ''; position: absolute; right: 1px; display: block; top: 0; height: 100%; width: 0; -webkit-transform: translatex(100%); transform: translatex(100%); background: url("../images/icons/right-arrow.png") no-repeat right top/100% 100%; z-index: 1; transition: 0.3s; } }
.home-about-us-detaild .nav-tabs .nav-link:hover, .home-about-us-detaild .nav-tabs .nav-link.active { background-color: #134b9a; color: #fff; padding-top: 31px; padding-bottom: 29px; }
@media screen and (min-width: 768px) { .home-about-us-detaild .nav-tabs .nav-link.active:after { width: 35px; } }
.home-about-us-detaild .tab-content { width: 100%; }
@media screen and (min-width: 768px) { .home-about-us-detaild .tab-content { width: calc(100% - 200px); padding-left: 10px; } }
@media screen and (min-width: 768px) { .home-about-us-detaild .tab-content { width: calc(100% - 230px); } }
.home-about-us-detaild .tab-content .tab-pane { border: 1px solid #d9d9d9; background: #ececec; padding: 15px 15px; }
@media screen and (min-width: 768px) { .home-about-us-detaild .tab-content .tab-pane { padding: 30px; } }
@media screen and (min-width: 992px) { .home-about-us-detaild .tab-content .tab-pane { padding: 45px 30px; } }
@media screen and (min-width: 768px) { .home-about-us-detaild .tab-content .rt-content.has-img .img-sec { width: 150px; } }
@media screen and (min-width: 992px) { .home-about-us-detaild .tab-content .rt-content.has-img .img-sec { width: 230px; } }
@media screen and (min-width: 768px) { .home-about-us-detaild .tab-content .rt-content.has-img .text-sec { width: calc(100% - 150px); padding-left: 15px; } }
@media screen and (min-width: 992px) { .home-about-us-detaild .tab-content .rt-content.has-img .text-sec { width: calc(100% - 230px); padding-left: 20px; } }
.home-about-us-detaild .tab-content .rt-content .text-sec .head { font-family: "styling-regular", sans-serif; font-size: 35px; color: #000; margin-bottom: 15px; letter-spacing: .25px; }
.home-about-us-detaild .tab-content .rt-content .text-sec .desc { font-size: 16px; color: #000; }
.home-about-us-detaild .tab-content .rt-content .text-sec .desc:not(:last-child) { margin-bottom: 10px; }

.our-team .item .img-sec { height: 150px; width: 150px; background: #efefef; padding: 20px 0 0 0; margin-bottom: 10px; }
@media screen and (min-width: 992px) { .our-team .item .img-sec { height: 195px; width: 195px; } }
.our-team .item .text-sec .name { font-family: "styling-regular", sans-serif; color: #000; margin-bottom: 5px; font-size: 23px; }
.our-team .item .text-sec .post { font-size: 16px; font-weight: 600; color: #134a9a; margin-bottom: 10px; }
@media screen and (min-width: 992px) { .our-team .item .text-sec .post { margin-bottom: 15px; } }
.our-team .item .text-sec .details { font-size: 16px; color: #333; line-height: 24px; font-weight: 600; margin-left: auto; margin-right: auto; margin-bottom: 10px; }
@media screen and (min-width: 992px) { .our-team .item .text-sec .details { max-width: 95%; margin-bottom: 15px; } }
.our-team .owl-dots { width: 100%; display: flex; justify-content: center; margin-top: 30px !important; }
.our-team .owl-dots .owl-dot { background-color: #c3c3c3; height: 10px; width: 10px; border-radius: 50%; margin: 0 5px; outline: none !important; }
.our-team .owl-dots .owl-dot.active { background-color: #134b9a !important; }

#stay-healthy { background: url("../images/stay-helthy/bg.jpg") no-repeat center/cover; }

.stay-healthy .item .img-sec { height: 150px; width: 150px; padding: 15px; border: 2px dashed #efefef; margin-bottom: 20px; }
@media screen and (min-width: 768px) { .stay-healthy .item .img-sec { height: 210px; width: 210px; } }
@media screen and (min-width: 1200px) { .stay-healthy .item .img-sec { height: 300px; width: 300px; } }
.stay-healthy .item .text-sec .head { margin-bottom: 10px; font-size: 26px; font-family: "styling-regular", sans-serif; letter-spacing: .25px; }
.stay-healthy .item .text-sec .desc { font-size: 16px; line-height: 25px; }

.download-app .head { font-family: "copperplate-regular", sans-serif; font-size: 33px; color: #000; margin: 0 auto; line-height: 50px; font-weight: 600; margin-bottom: 30px; }
@media screen and (min-width: 992px) { .download-app .head { width: 80%; } }
.download-app .stores > a { margin: 0 14px; }

#news-and-events { background-color: #ececec; }

@media screen and (min-width: 576px) { .news-and-events .lt-sec { width: 250px; padding-right: 20px; } }
@media screen and (min-width: 992px) { .news-and-events .lt-sec { width: 280px; padding-right: 30px; } }
.news-and-events .lt-sec .ST_main-head { margin-bottom: 15px; }
.news-and-events .lt-sec .desc { font-size: 17px; color: #4e4e4e; margin-bottom: 20px; line-height: 24px; font-weight: 400; }
@media screen and (min-width: 576px) { .news-and-events .rt-sec { width: calc(100% - 250px); } }
@media screen and (min-width: 992px) { .news-and-events .rt-sec { width: calc(100% - 280px); padding-left: 15px; } }
.news-and-events .rt-sec .inner { background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.1); transition: 0.3s; overflow: hidden; height: 100%; }
.news-and-events .rt-sec .inner:hover { border-color: rgba(0, 0, 0, 0.3); }
.news-and-events .rt-sec .img-sec { height: 170px; overflow: hidden; }
.news-and-events .rt-sec .img-sec img { width: 100%; }
.news-and-events .rt-sec .text-sec { padding: 15px; }
@media screen and (min-width: 992px) { .news-and-events .rt-sec .text-sec { padding: 15px 20px 30px; } }
.news-and-events .rt-sec .text-sec .head { font-size: 22px; font-family: "styling-regular", sans-serif; margin-bottom: 10px; color: #000; }
.news-and-events .rt-sec .text-sec .desc { font-size: 15px; color: #4e4e4e; font-weight: 400; letter-spacing: .4px; line-height: 20px; }
.news-and-events .owl-dots { width: 100%; display: flex; justify-content: center; margin-top: 30px !important; }
.news-and-events .owl-dots .owl-dot { background-color: #c3c3c3; height: 10px; width: 10px; border-radius: 50%; margin: 0 5px; outline: none !important; }
.news-and-events .owl-dots .owl-dot.active { background-color: #134b9a !important; }

#brands { background-color: #ececec; }

.brands .img-sec { border: 1px solid #d2d2d2; padding: 15px 20px; height: 100px; background: #fff; }
.brands .img-sec img { max-height: 100%; width: auto; filter: grayscale(100%); transition: 0.3s; }
.brands .img-sec:hover img { filter: grayscale(0); }
.brands .owl-dots { width: 100%; display: flex; justify-content: center; margin-top: 30px !important; }
.brands .owl-dots .owl-dot { background-color: #c3c3c3; height: 10px; width: 10px; border-radius: 50%; margin: 0 5px; outline: none !important; }
.brands .owl-dots .owl-dot.active { background-color: #134b9a !important; }

#footer { background: url("../images/footer-bg.jpg") no-repeat center/cover; }
#footer .footer-top { padding-bottom: 20px; }
#footer .footer-top .item > .inner > .head { font-family: "copperplate-regular", sans-serif; color: #fff; font-size: 20px; margin-bottom: 15px; }
#footer .footer-top .item.first img { width: 220px; margin: 0 auto 20px; display: block; }
@media screen and (min-width: 768px) { #footer .footer-top .item.first img { margin-bottom: 40px; } }
#footer .footer-top ul > li { color: #fff; transition: 0.3s; font-size: 14px; }
#footer .footer-top ul > li:not(:last-child) { margin-bottom: 15px; }
#footer .footer-top ul > li > a { color: #fff; }
#footer .footer-top ul > li .text > a, #footer .footer-top ul > li .text > p { color: #fff; transition: 0.3s; }
#footer .footer-top ul.social > li { text-align: center; padding: 0 15px; font-size: 15px; }
#footer .footer-top ul.social > li > a:hover { color: #ccc; }
#footer .footer-top ul.list-with-icons > li > .icon { width: 20px; text-align: center; font-size: 13px; padding-top: 2px; }
#footer .footer-top ul.list-with-icons > li > .text { width: calc(100% - 40px); padding-left: 5px; }
#footer .footer-bottom { border-top: 1px solid #b1b1b1; padding-top: 20px; padding-bottom: 20px; }
#footer .footer-bottom p, #footer .footer-bottom a { font-size: 14px; color: #fff; }
#footer .footer-bottom ul > li { position: relative; line-height: 10px; padding: 0 19px 0 15px; }
#footer .footer-bottom ul > li > a { color: #fff; }
#footer .footer-bottom ul > li:not(:last-child):after { content: ''; position: absolute; top: 1px; right: 0; height: 100%; width: 2px; background-color: #fff; }
#footer .footer-bottom ul > li:last-child { padding-right: 0; }

/*# sourceMappingURL=style.css.map */
