/* HEADING STYLES */
.page-head-wrapper {
    .heading {
        font-size: 23px;
        font-weight: 800;
        color: $dark-text-color;
    }
    @include max_width($md-max) {
        > .lt,
        > .rt {
            width: 100%;
        }
    }
}
