// SCROLLBAR
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e2e2e2;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lighten($color: $secodary-color, $amount: 10%);
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darken($color: $secodary-color, $amount: 10%);
}

// COMMON CSS

.clear-parent::after {
    content: "";
    display: block;
    clear: both;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 5px;
}

.owl-theme .owl-dots .owl-dot span {
    margin: 3px 4px;
    background: #fff;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    // background: $secodary-color;
}

.form-control {
    &:focus {
        @include box-shadow(0px, 0px, 3px, 0px, $primary-color);
        border-color: $primary-color;
    }
}

// .container,
// .container-fluid {
//     @include max_width(768px) {
//         padding-left: 10px;
//         padding-right: 10px;
//     }
// }
.st-btn {
    font-size: 16px;
    background: $primary-color;
    padding: 9px 15px 10px;
    border-radius: 4px;
    color: #fff;
    @include transition;
    box-shadow: none !important;

    &:hover {
        background: darken($color: $primary-color, $amount: 7px);
        color: #fff;
        box-shadow: none !important;
    }

    &:active {
        background: darken($color: $primary-color, $amount: 20px);
        box-shadow: none !important;
    }
}

.ST_main-head {
    font-size: 50px;
    color: #000;
    font-weight: 700;
    margin-bottom: 15px;

    @include min_width(768px) {
        margin-bottom: 20px;
    }

    @include min_width(992px) {
        margin-bottom: 35px;
    }

    span {
        color: $secodary-color;
    }

    &::after {
        content: '';
        display: block;
        height: 7px;
        width: 75px;
        background-color: $secodary-color;
        margin: 15px auto 0;
        border-radius: 20px;
    }
}

.ST_main-head-small {
    font-weight: 600;
    font-size: 30px;
    color: #000;
    margin-bottom: 15px;

    @include min_width(768px) {
        margin-bottom: 20px;
    }

    @include min_width(992px) {
        margin-bottom: 30px;
    }
}

.st-form {
    margin-bottom: 15px;
    width: 100%;

    input,
    select,
    textarea {
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
        border: 1px solid #dcdcdc;
        font-size: 14px;
        font-weight: 400;
        color: #616161;
        border-radius: 0;
        background-color: #eaeaea;
    }

    input,
    select {
        height: 40px;
    }

    label {
        font-size: 13px;
        color: #5d5d5d;
        margin-bottom: 5px;
        font-weight: 600;
    }

    @include min_width(768px) {

        &.lt,
        &.rt {
            width: 50%;
        }

        &.lt {
            padding-right: 7.5px;
        }

        &.rt {
            padding-left: 7.5px;
        }
    }

    &.validate {
        label {
            width: 100px;
            margin-bottom: 0;
            text-align: right;
            padding-right: 15px;

            @include min_width(768px) {
                width: 150px;
            }
        }

        .imp {
            color: #ff0102;
            width: 11px;
            text-align: right;
        }

        input,
        select,
        textarea {
            width: calc(100% - (100px + 11px));

            @include min_width(768px) {
                width: calc(100% - (150px + 11px));
            }
        }
    }

    &.icon {
        input {
            padding-left: 32px;
        }

        .icon {
            top: 50%;
            left: 10px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            line-height: 0;

            i {
                font-size: 18px;
                color: gray;
            }
        }
    }
}

.forgot-pass {
    margin-bottom: 15px;
    margin-top: -5px;

    a {
        font-size: 14px;
        border-bottom: 1px solid transparent;
        text-decoration: none !important;
        color: #333;
        transition: 0.3s;

        &:hover {
            border-color: #333;
        }
    }
}

.havaaccount {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;

    p {
        a {
            font-weight: 600;
        }
    }
}

.form-modal {
    .head {
        font: 600 30px inherit;
        margin-bottom: 20px;
        margin-top: 12px;

        span {
            font: 500 13px inherit;
            margin-top: 2px;
            color: #797979;
        }
    }
}

.custom-modal {
    .close {
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 10px;
    }
}


.st-head-menu {
    li {
        font-size: 17px;
        font-weight: 600;
        text-transform: capitalize;
        position: relative;

        a {
            color: #747474;
            text-decoration: none !important;
            outline: none !important;
            @include transition;

            &:hover {
                color: $primary-color;
            }
        }

        &:hover {
            >a {
                color: $primary-color;
            }
        }

        &.active {
            color: $primary-color;
        }
    }

    >li {
        ul {
            display: none;

            @include min_width(768px) {
                width: 100%;
                position: absolute;
                left: 100%;
                top: 0;
            }

            li {
                a {
                    display: block;
                    padding: 9px 14px 10px;
                    background: #1a317c;
                    color: #fff;
                    font-size: 15px;

                    &:hover {
                        background-color: $secodary-color;
                        color: #000;
                    }

                    @include max_width(767px) {
                        padding: 9px 20px 10px 30px;
                    }
                }

                &:hover {
                    >a {
                        background-color: $secodary-color;
                        color: #000;
                    }
                }
            }
        }

        @include min_width(768px) {
            >ul {
                width: 150px;
                top: 100%;
                left: initial;
                z-index: 12;

                &:before {
                    content: "\f0d8";
                    font-family: "Font Awesome 5 Free";
                    display: inline-block;
                    position: relative;
                    top: 6px;
                    left: 4px;
                    font-size: 22px;
                    line-height: 15px;
                }
            }
        }
    }

    li {
        &:hover {
            >ul {
                display: block;
            }
        }
    }

    ul {
        li {
            text-transform: capitalize;
            font-weight: 600;

            a {
                color: #747474;
            }
        }
    }

    >li {

        @include min_width(768px) {
            padding: 0 10px;
        }

        @include min_width(992px) {
            padding: 0 20px;
        }

        @include max_width(767px) {
            display: block;
            width: 100%;

            >a {
                width: 100%;
                padding: 10px 20px;
                color: #fff !important;
                display: block;
            }
        }

    }

}

.ST_def-mar-T,
.ST_def-mar-TB {
    margin-top: 20px;

    @include min_width(992px) {
        margin-top: 70px;
    }
}

.ST_def-mar-B,
.ST_def-mar-TB {
    margin-bottom: 20px;

    @include min_width(992px) {
        margin-bottom: 70px;
    }
}

.ST_def-pad-T,
.ST_def-pad-TB {
    padding-top: 20px;

    @include min_width(992px) {
        padding-top: 70px;
    }
}

.ST_def-pad-B,
.ST_def-pad-TB {
    padding-bottom: 20px;

    @include min_width(992px) {
        padding-bottom: 70px;
    }
}

// SITE BANNER
#ST_banner {
    .caption {
        top: 50%;
        width: 100%;
        @include transformy(-50%);

        .img-sec {
            width: 100%;
        }

        .head {
            font-size: 28px;
            color: #fff;
            font-weight: 600;
            margin-bottom: 8px;
            letter-spacing: 2px;
        }

        .desc {
            font-size: 16px;
            color: #e0e0e0;
            line-height: 23px;
        }
    }
}