@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

.st-ff-montserrat { font-family: "Montserrat", sans-serif; }

.st-ff-cenzel { font-family: "Cinzel", serif; }

.st-ff-lato { font-family: "Lato", sans-serif; }

/* RESPONSIVE BREAKPOINTS */
/* SCROLLBAR */
/* width */
::-webkit-scrollbar { width: 5px; }

/* Track */
::-webkit-scrollbar-track { background: #e2e2e2; }

/* Handle */
::-webkit-scrollbar-thumb { background: #ecc93f; border-radius: 15px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #b49311; }

/* COLORS STYLES */
/* COLORS */
.background-primary { background-color: #e9ac38 !important; }

.background-secondary { background-color: #e2b916 !important; }

/* BUTTONS STYLES */
button.no-browser-style { background: transparent; padding: initial; line-height: normal; outline: none; border: none; }

.st-round-icon-btn { height: 40px; width: 40px; background: #333; color: #fff; font-size: 20px; transition: 0.2s; }
.st-round-icon-btn:hover { background-color: #262626; color: #fff; }
.st-round-icon-btn:active { background-color: #1a1a1a; color: #fff; }
.st-round-icon-btn.st-round-icon-btn-primary { background-color: #ecb754; }
.st-round-icon-btn.st-round-icon-btn-primary:hover { background-color: #ebb44a; }
.st-round-icon-btn.st-round-icon-btn-primary:active { background-color: #e7a62a; }
.st-round-icon-btn.st-round-icon-btn-secondary { background-color: #eac42c; }
.st-round-icon-btn.st-round-icon-btn-secondary:hover { background-color: #eac223; }
.st-round-icon-btn.st-round-icon-btn-secondary:active { background-color: #d4ae15; }
.st-round-icon-btn.st-round-icon-btn-transparent { background-color: transparent; color: #fff; }
.st-round-icon-btn.st-round-icon-btn-transparent-hover-black { background-color: transparent; color: #fff; }
.st-round-icon-btn.st-round-icon-btn-transparent-hover-black:hover { color: #3d3d3d; }
.st-round-icon-btn.st-round-icon-btn-transparent-hover-black:active { color: #3d3d3d; }
.st-round-icon-btn.st-round-icon-btn-transparent-hover-white { background-color: transparent; color: #3d3d3d; }
.st-round-icon-btn.st-round-icon-btn-transparent-hover-white:hover { color: #fff; }
.st-round-icon-btn.st-round-icon-btn-transparent-hover-white:active { color: #fff; }

.st-btn { background-color: #d8d8d8; color: #000; padding: 10px 15px 9px; border: none; border-radius: 4px; box-shadow: none !important; font-size: 15px; transition: 0.2s; }
@media screen and (min-width: 576px) { .st-btn { padding: 10px 15px; } }
.st-btn:hover { background-color: #bfbfbf; }
.st-btn:active { background-color: #b2b2b2; }
.st-btn.st-btn-sm { padding-top: 5px; padding-bottom: 5px; }
@media screen and (min-width: 576px) { .st-btn.st-btn-sm { padding-top: 7px; padding-bottom: 7px; } }
.st-btn.st-btn-lg { padding: 14px 25px 15px; font-size: 19px; }
@media screen and (min-width: 576px) { .st-btn.st-btn-lg { padding: 14px 25px 15px; min-width: 200px; } }
.st-btn.st-btn-secondary { background-color: #e2b916; color: #fff; }
.st-btn.st-btn-secondary:hover { background-color: #cba614; color: #fff; }
.st-btn.st-btn-secondary:active { background-color: #b49311; color: #fff; }
.st-btn.st-btn-secondary-light { background-color: #f8eab3; color: #e2b916; color: #fff; }
.st-btn.st-btn-secondary-light:hover { background-color: #e2b916; color: #fff; }
.st-btn.st-btn-secondary-light:active { background-color: #cba614; color: #fff; }
.st-btn.st-btn-outlined-secondary { background-color: transparent; border: 1px solid #e2b916; color: #e2b916; }
.st-btn.st-btn-outlined-secondary:hover { background-color: #e2b916; color: #fff; }
.st-btn.st-btn-outlined-secondary:active { background-color: #cba614; color: #fff; }
.st-btn.st-btn-primary { background-color: #e9ac38; color: #fff; }
.st-btn.st-btn-primary:hover { background-color: #e6a221; color: #fff; }
.st-btn.st-btn-primary:active { background-color: #d69518; color: #fff; }
.st-btn.st-btn-primary-light { background-color: white; color: #e9ac38; }
.st-btn.st-btn-primary-light:hover { background-color: #e9ac38; color: #fff; }
.st-btn.st-btn-primary-light:active { background-color: #e6a221; color: #fff; }
.st-btn.st-btn-outlined-primary { background-color: transparent; border: 1px solid #e9ac38; color: #e9ac38; }
.st-btn.st-btn-outlined-primary:hover { background-color: #e9ac38; color: #fff; }
.st-btn.st-btn-outlined-primary:active { background-color: #e6a221; color: #fff; }
.st-btn.st-btn-outlined-black { background-color: transparent; border: 1px solid #d2d2d2; color: #e9ac38; }
.st-btn.st-btn-outlined-black:hover { background-color: #3d3d3d; color: #fff; }
.st-btn.st-btn-outlined-black:active { background-color: #303030; color: #fff; }
.st-btn.st-btn-outlined-white { background-color: transparent; border: 1px solid #fff; color: #fff; }
.st-btn.st-btn-outlined-white:hover { background-color: #fff; color: #e2b916; }
.st-btn.st-btn-outlined-white:active { background-color: #f2f2f2; color: #e2b916; }
.st-btn.st-btn-white { background-color: #fff; color: #333; }
.st-btn.st-btn-white:hover { background-color: #f2f2f2; color: #333; }
.st-btn.st-btn-white:active { background-color: #e6e6e6; color: #333; }
.st-btn.st-btn-white:focus { color: #333; }
.st-btn.st-btn-dark { background-color: #333; color: #fff; }
.st-btn.st-btn-dark:hover { background-color: #e9ac38; color: #fff; }
.st-btn.st-btn-dark:active { background-color: #d69518; color: #fff; }
.st-btn.st-btn-dark:focus { color: #fff; }
.st-btn.st-btn-rounded { border-radius: 50px; }

/* TEXT STYLES */
.text-decoration-line-through { text-decoration: line-through !important; }

.text-decoration-underline { text-decoration: underline !important; }

/* FONT WEIGHT CLASSES */
.font-weight-100 { font-weight: 100 !important; }

.font-weight-200 { font-weight: 200 !important; }

.font-weight-300 { font-weight: 300 !important; }

.font-weight-400 { font-weight: 400 !important; }

.font-weight-500 { font-weight: 500 !important; }

.font-weight-600 { font-weight: 600 !important; }

.font-weight-700 { font-weight: 700 !important; }

.font-weight-800 { font-weight: 800 !important; }

.font-weight-900 { font-weight: 900 !important; }

/* SIZES */
.font-size-10 { font-size: 10px !important; }

.font-size-11 { font-size: 11px !important; }

.font-size-12 { font-size: 12px !important; }

.font-size-13 { font-size: 13px !important; }

.font-size-14 { font-size: 14px !important; }

.font-size-15 { font-size: 15px !important; }

.font-size-16 { font-size: 16px !important; }

.font-size-17 { font-size: 17px !important; }

.font-size-18 { font-size: 18px !important; }

.font-size-19 { font-size: 19px !important; }

.font-size-20 { font-size: 20px !important; }

.font-size-24 { font-size: 24px !important; }

/* COLORS */
.st-text-black { color: #000 !important; }

.st-text-gray { color: gray !important; }

.st-text-primary { color: #e9ac38 !important; }

.st-text-secondary { color: #e2b916 !important; }

a.st-text-primary:hover { color: #d69518 !important; }

a.st-text-secondary:hover { color: #b49311 !important; }

.st-text-light { color: #6e6e6e !important; }

a.st-text-light:hover { color: #555555 !important; }

.st-text-dark { color: #3d3d3d !important; }

a.st-text-dark:hover { color: #242424 !important; }

/* HEADING STYLES */
/* HEADING STYLES */
.st-main-heading .st-heading { font-size: 25px; color: #222; }
@media screen and (min-width: 768px) { .st-main-heading .st-heading { font-size: 30px; } }
.st-main-heading.st-heading-xs .st-heading { font-size: 16px; }
.st-main-heading.st-heading-sm .st-heading { font-size: 20px; }

/* FORMS STYLES */
.st-form { position: relative; }
.st-form > input:not([type="radio"]):not([type="checkbox"]), .st-form > select, .st-form > textarea { border-radius: 4px; padding: 10px 15px; font-size: 15px; color: #3d3d3d; transition: 0.1s; }
.st-form > input:not([type="radio"]):not([type="checkbox"])::placeholder, .st-form > select::placeholder, .st-form > textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */ color: #6e6e6e; opacity: 1; /* Firefox */ }
.st-form > input:not([type="radio"]):not([type="checkbox"]):-ms-input-placeholder, .st-form > select:-ms-input-placeholder, .st-form > textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */ color: #6e6e6e; }
.st-form > input:not([type="radio"]):not([type="checkbox"])::-ms-input-placeholder, .st-form > select::-ms-input-placeholder, .st-form > textarea::-ms-input-placeholder { /* Microsoft Edge */ color: #6e6e6e; }
.st-form > input:not([type="radio"]):not([type="checkbox"]):focus, .st-form > select:focus, .st-form > textarea:focus { -webkit-box-shadow: 0px 0px 2px 0px #e9ac38; box-shadow: 0px 0px 2px 0px #e9ac38; border-color: transparent; }
.st-form > input:not([type="radio"]):not([type="checkbox"]), .st-form > select { height: 45px; }
.st-form.st-form-rounded > input:not([type="radio"]):not([type="checkbox"]), .st-form.st-form-rounded > select { border-radius: 42px; }
@media screen and (min-width: 576px) { .st-form.st-form-sm > input:not([type="radio"]):not([type="checkbox"]), .st-form.st-form-sm > select { height: 30px; } }
.st-form.lt, .st-form.rt { width: 100%; }
@media screen and (min-width: 768px) { .st-form.lt, .st-form.rt { width: 50%; }
  .st-form.lt { padding-right: 7.5px; }
  .st-form.rt { padding-left: 7.5px; } }
.st-form.input-underline > input:not([type="radio"]):not([type="checkbox"]), .st-form.input-underline > select, .st-form.input-underline > textarea { background-color: transparent; border: none; border-bottom: 1px solid #b1b1b1; padding-left: 0; padding-right: 0; border-radius: 0; box-shadow: none; }
.st-form.input-underline > input:not([type="radio"]):not([type="checkbox"]):focus, .st-form.input-underline > select:focus, .st-form.input-underline > textarea:focus { border-color: #e9ac38; }
.st-form.with-icon, .st-form.with-icon-right { position: relative; }
.st-form.with-icon > input:not([type="radio"]):not([type="checkbox"]), .st-form.with-icon > select, .st-form.with-icon > textarea, .st-form.with-icon-right > input:not([type="radio"]):not([type="checkbox"]), .st-form.with-icon-right > select, .st-form.with-icon-right > textarea { padding-left: 45px; padding-right: 10px; }
.st-form.with-icon .icon, .st-form.with-icon-right .icon { position: absolute; top: 50%; left: 15px; -webkit-transform: translatey(-50%); transform: translatey(-50%); font-size: 20px; color: #6e6e6e; transition: 0.3s; }
.st-form.with-icon .icon:hover, .st-form.with-icon-right .icon:hover { color: #3d3d3d; }
.st-form.with-icon-right > input:not([type="radio"]):not([type="checkbox"]), .st-form.with-icon-right > select, .st-form.with-icon-right > textarea { padding-right: 45px; padding-left: 10px; }
.st-form.with-icon-right .icon { right: 15px; left: initial; }
.st-form.materialize-like-input > label { font-size: 15px; color: #6e6e6e; position: absolute; transition: 0.2s; }
@media screen and (min-width: 768px) { .st-form.materialize-like-input.rt > label { left: 8px !important; } }
.st-form.materialize-like-input > input:not([type="radio"]):not([type="checkbox"]), .st-form.materialize-like-input > select, .st-form.materialize-like-input > textarea { background-color: transparent; border: none; border-bottom: 1px solid #b1b1b1; padding-left: 0; padding-right: 35px; padding-top: 5px; padding-bottom: 0; border-radius: 0; box-shadow: none; }
.st-form.materialize-like-input > input:not([type="radio"]):not([type="checkbox"]):focus, .st-form.materialize-like-input > select:focus, .st-form.materialize-like-input > textarea:focus { border-color: #e9ac38; }
.st-form.materialize-like-input > input:not([type="radio"]):not([type="checkbox"]):focus + label, .st-form.materialize-like-input > select:focus + label, .st-form.materialize-like-input > textarea:focus + label { font-size: 12px; top: -7px; }
.st-form.materialize-like-input.empty label { top: 12px; left: 0; }
.st-form.materialize-like-input:not(.empty) label { font-size: 12px; top: -7px; }
.st-form.materialize-like-input .icon { position: absolute; top: 10px; right: 10px; color: #6e6e6e; }

.st-checkbox { cursor: pointer; }
.st-checkbox .box { height: 18px; width: 18px; border: 1px solid #b1b1b1; border-radius: 3px; margin-right: 10px; transition: 0.2s; }
.st-checkbox .box i { opacity: 0; visibility: hidden; transition: 0.3s; }
.st-checkbox .text { color: #6e6e6e; line-height: normal; position: relative; top: 1px; }
.st-checkbox:hover .box, .st-checkbox > input:checked + .box { border-color: #e9ac38; background-color: #e9ac38; color: #fff; }
.st-checkbox > input:checked + .box i { opacity: 1; visibility: visible; }
.st-checkbox > input:checked ~ .text { color: #000; }

.ST_def-mar-T, .ST_def-mar-TB { margin-top: 20px; }
@media screen and (min-width: 992px) { .ST_def-mar-T, .ST_def-mar-TB { margin-top: 35px; } }
@media screen and (min-width: 1200px) { .ST_def-mar-T, .ST_def-mar-TB { margin-top: 50px; } }

.ST_def-mar-B, .ST_def-mar-TB { margin-bottom: 20px; }
@media screen and (min-width: 992px) { .ST_def-mar-B, .ST_def-mar-TB { margin-bottom: 35px; } }
@media screen and (min-width: 1200px) { .ST_def-mar-B, .ST_def-mar-TB { margin-bottom: 50px; } }

.ST_def-pad-T, .ST_def-pad-TB { padding-top: 20px; }
@media screen and (min-width: 992px) { .ST_def-pad-T, .ST_def-pad-TB { padding-top: 35px; } }
@media screen and (min-width: 1200px) { .ST_def-pad-T, .ST_def-pad-TB { padding-top: 50px; } }

.ST_def-pad-B, .ST_def-pad-TB { padding-bottom: 20px; }
@media screen and (min-width: 992px) { .ST_def-pad-B, .ST_def-pad-TB { padding-bottom: 35px; } }
@media screen and (min-width: 1200px) { .ST_def-pad-B, .ST_def-pad-TB { padding-bottom: 50px; } }

.img-fluid-height { max-height: 100%; }

.owl-carousel .owl-dots { margin-top: 25px; line-height: normal; text-align: center; }
.owl-carousel .owl-dots .owl-dot { height: 11px; width: 11px; background-color: #6e6e6e; display: inline-block; margin: 0 5px; border-radius: 50%; vertical-align: top; line-height: normal !important; outline: none !important; transition: 0.3s; opacity: 0.5; }
.owl-carousel .owl-dots .owl-dot:focus { outline: none !important; }
.owl-carousel .owl-dots .owl-dot:hover, .owl-carousel .owl-dots .owl-dot.active { opacity: 1; }

.navbar-toggler { background: #e9ac38; color: #fff; font-size: 28px; height: 50px; width: 50px; padding: 10px; border-radius: 4px; }
.navbar-toggler i { line-height: 0; }
@media screen and (max-width: 767px) { .navbar-toggler { position: absolute; top: -61px; right: 0; } }

.st-single-product-item > .inner { border: 1px solid #ededed; padding: 15px; transition: 0.3s; border-radius: 4px; transition: 0.3s; }
@media screen and (min-width: 768px) { .st-single-product-item > .inner { padding: 25px; } }
.st-single-product-item > .inner:hover { border-color: #e9ac38; }
.st-single-product-item .img-sec { height: 230px; }
.st-single-product-item .img-sec img { max-height: 100%; width: auto; }
.st-single-product-item .off-percent { top: 10px; left: 10px; height: 50px; width: 50px; background-color: #e2b916; color: #fff; }
.st-single-product-item .text-sec .name, .st-single-product-item .text-sec .price, .st-single-product-item .text-sec .qty label { color: #2d2d2d; }
.st-single-product-item .text-sec .price .old-price { color: #a5a5a5; text-decoration: line-through; }
.st-single-product-item .text-sec .qty input { width: 80px; }
.st-single-product-item > .inner:hover .text-sec .st-btn { background-color: #ebb44a; }

#st-breadcrumbs { padding-top: 15px; background-color: #f6f6f6; }

.st-breadcrumbs .breadcrumbs-link { position: relative; font-weight: 600; font-size: 16px; margin-bottom: 15px; }
.st-breadcrumbs .breadcrumbs-link:not(:last-child) { padding-right: 30px; }
.st-breadcrumbs .breadcrumbs-link:not(:last-child):after { content: ">"; position: absolute; top: 0; right: 10px; }
.st-breadcrumbs .breadcrumbs-link > a { text-decoration: none; color: #6e6e6e; transition: 0.2s; }
.st-breadcrumbs .breadcrumbs-link > a.active { color: #e9ac38; }
.st-breadcrumbs .breadcrumbs-link > a:hover { color: #3d3d3d; }
.st-breadcrumbs .breadcrumbs-link.active > a { color: #e9ac38; }
.st-breadcrumbs .breadcrumbs-link:last-child { pointer-events: none !important; }
.st-breadcrumbs .breadcrumbs-link:last-child > a { pointer-events: none !important; }

.quantity-select-controls > button, .quantity-select-controls > input { height: 35px; border: 1px solid #d2d2d2; }
.quantity-select-controls > button:hover, .quantity-select-controls > button:focus, .quantity-select-controls > button:active, .quantity-select-controls > input:hover, .quantity-select-controls > input:focus, .quantity-select-controls > input:active { border-color: #d2d2d2; }
.quantity-select-controls > button { width: 35px; padding: 0; }
.quantity-select-controls > button.minus { margin-right: -1px; }
.quantity-select-controls > button.plus { margin-left: -1px; }
.quantity-select-controls > input { width: 50px; box-shadow: none !important; padding: 0 5px; }
.quantity-select-controls > input::-webkit-inner-spin-button, .quantity-select-controls > input::-webkit-outer-spin-button { -webkit-appearance: none; }

.st-border-primary { border-color: #e9ac38 !important; }

.st-border-secondary { border-color: #e2b916 !important; }

.st-border-gray { border-color: #d2d2d2 !important; }

.st-banner .caption { top: 0; left: 0; z-index: 1; }
@media screen and (max-width: 1199px) { .st-banner .caption > .container { border-left: none !important; } }
@media screen and (min-width: 1200px) { .st-banner .caption > .container { padding-bottom: 10px; border-left-width: 5px !important; padding-left: 20px; } }
.st-banner .caption .heading { color: #fff; font-size: 25px; }
@media screen and (min-width: 768px) { .st-banner .caption .heading { font-size: 45px; } }
.st-banner .caption .desc { color: #fff; }

.st-pagination .pagi-link { text-decoration: none; height: 35px; width: 35px; margin: 0 1px; color: #3d3d3d; transition: 0.3s; }
.st-pagination .pagi-link.first, .st-pagination .pagi-link.last { border: 1px solid #d2d2d2; border-radius: 4px; color: #e9ac38; font-size: 16px; }
.st-pagination .pagi-link.first:hover, .st-pagination .pagi-link.last:hover { background-color: #e9ac38; color: #fff; border-color: #e9ac38; }
.st-pagination .pagi-link.active { font-weight: 600; }
@media screen and (min-width: 992px) { .st-pagination .rt { margin-left: auto; } }
.st-pagination .rt select { height: 35px; width: 80px; padding: 0 8px; }
.st-pagination .rt .text.page { width: 55px; }

.st-ratings-count .lt-sec { width: 120px; }
@media screen and (min-width: 992px) { .st-ratings-count .lt-sec { width: 135px; } }
.st-ratings-count .lt-sec .head { font-size: 45px; line-height: 45px; }
.st-ratings-count .rt-sec { border-left: 1px solid #d2d2d2; padding-left: 18px; }
@media screen and (min-width: 992px) { .st-ratings-count .rt-sec { padding-left: 30px; } }
.st-ratings-count .rt-sec .frac .progress { height: 5px; }
.st-ratings-count .rt-sec .frac .progress .progress-bar { background-color: #6e6e6e; }
.st-ratings-count .rt-sec .frac.five-star .progress-bar, .st-ratings-count .rt-sec .frac.four-star .progress-bar, .st-ratings-count .rt-sec .frac.three-star .progress-bar { background-color: #e9ac38; }
.st-ratings-count .rt-sec .frac.three-star .progress-bar { opacity: 0.5; }
.st-ratings-count .rt-sec .frac.two-star .progress-bar { background-color: #fcb301; }
.st-ratings-count .rt-sec .frac.one-star .progress-bar { background-color: #f16565; }

.star-rating-ul > li:not(:last-child) { margin-right: 2px; }
.star-rating-ul > li label { font-weight: normal; position: relative; cursor: pointer; }
.star-rating-ul > li label > span img { width: 21px; }
.star-rating-ul > li label > span img.gray { display: block; }
.star-rating-ul > li label > span img.colured { display: none; }
.star-rating-ul > li.active > label > span img.gray { display: none; }
.star-rating-ul > li.active > label > span img.colured { display: block; }

.custom-modal .close { z-index: 1; top: 10px; right: 10px; }
.custom-modal .modal-content { border-radius: 4px; }

.st-star-rating li i.fas.fa-star { color: #fed43b; }
.st-star-rating li i.far.fa-star { color: #6e6e6e; }

.cstm-animation-delay-point-2s { animation-delay: 0.2s !important; }

.cstm-animation-delay-point-5s { animation-delay: 0.5s !important; }

.cstm-animation-delay-point-7s { animation-delay: 0.7s !important; }

.cstm-animation-delay-1-point-2s { animation-delay: 1.2s !important; }

.cstm-animation-delay-1-point-7s { animation-delay: 1.7s !important; }

.cstm-animation-delay-2-point-2s { animation-delay: 2.2s !important; }

.cstm-animation-delay-2-point-7s { animation-delay: 2.7s !important; }

body { font-family: "Lato", sans-serif; font-weight: 400; font-size: 14px; color: #3d3d3d; }

#header-top-bar { background-color: #363636; padding: 7px 0; }

.header-top-bar .htb-text { color: #d4d4d4; }
.header-top-bar .htb-link { color: #d4d4d4; position: relative; transition: 0.3s; }
.header-top-bar .htb-link:not(:last-child) { padding-right: 15px; margin-right: 11px; }
.header-top-bar .htb-link:not(:last-child):after { content: ""; position: absolute; right: 0; top: 50%; height: calc(100% - 10px); width: 1px; background-color: #d4d4d4; -webkit-transform: translatey(-50%); transform: translatey(-50%); }
@media screen and (max-width: 767px) { .header-top-bar .lt-sec, .header-top-bar .rt-sec { width: 100%; } }

#header-main-bar { padding: 10px 0; border-bottom: 1px solid #d2d2d2; }
@media screen and (min-width: 768px) { #header-main-bar { border-width: 2px; } }

@media screen and (max-width: 1199px) { .header-main-bar .logo-sec { width: 180px; } }
@media screen and (max-width: 991px) { .header-main-bar .logo-sec { width: 150px; } }
@media screen and (max-width: 767px) { .header-main-bar .logo-sec { width: 130px; z-index: 1; position: relative; } }
@media screen and (max-width: 767px) { .header-main-bar .rt-sec { margin-top: -40px; } }
@media screen and (min-width: 768px) { .header-main-bar .rt-sec { margin-left: auto; } }

@media screen and (max-width: 767px) { .header-search { margin-top: 15px; padding-right: 60px; } }
@media screen and (min-width: 768px) { .header-search { padding: 0 10px 0 40px; } }
@media screen and (min-width: 992px) { .header-search { padding: 0 30px 0 100px; } }
.header-search .st-form > input:not([type="radio"]):not([type="checkbox"]) { height: 50px; padding-left: 15px; padding-right: 60px; }
.header-search .st-form > .icon { height: 50px; right: 0; }

@media screen and (max-width: 767px) { .header-cart { margin-left: auto; } }
@media screen and (min-width: 768px) { .header-cart { position: relative; top: 7px; } }
.header-cart .hc-link { color: #3d3d3d; transition: 0.3s; font-size: 25px; }
.header-cart .hc-link:hover, .header-cart .hc-link:active { color: #000; }
.header-cart .your-account { width: 50px; }
@media screen and (min-width: 768px) { .header-cart .your-account { width: 70px; } }
.header-cart .cart-main { width: 100px; padding-left: 10px; padding-top: 5px; }
@media screen and (min-width: 768px) { .header-cart .cart-main { width: 140px; padding-left: 20px; padding-top: 0; } }
.header-cart .cart-main > span { line-height: normal; }
.header-cart .cart-main .hc-link > span { font-size: 15px; }
.header-cart .cart-main .hc-link .count { height: 19px; width: 19px; padding-top: 1px; overflow: hidden; background-color: #e9ac38; font-style: normal; font-size: 10px; color: #fff; border-radius: 50%; top: -8px; left: 13px; }
@media screen and (max-width: 767px) { .header-cart .cart-main .info-text { display: none !important; } }

@media screen and (min-width: 768px) { .header-menu-bar { padding: 15px 0; } }
.header-menu-bar .nav-item { font-family: "Montserrat", sans-serif; font-weight: 700; font-size: 15px; color: #3d3d3d; margin: 0 15px; transition: 0.3s; }
@media screen and (min-width: 992px) { .header-menu-bar .nav-item { font-size: 17px; } }
.header-menu-bar .nav-link { color: #3d3d3d; padding: 0; transition: 0.3s; }
@media screen and (max-width: 767px) { .header-menu-bar .nav-link { padding: 10px 0; } }
.header-menu-bar .nav-link:hover { color: #e9ac38; }
.header-menu-bar .home { font-size: 23px; }
.header-menu-bar .home .nav-link { color: #e2b916 !important; }

@media screen and (max-width: 767px) { .home-slider .swiper-slide { background-repeat: no-repeat; background-size: cover; }
  .home-slider .swiper-slide img { display: none; } }
@media screen and (min-width: 768px) { .home-slider .swiper-slide { background-image: none !important; }
  .home-slider .swiper-slide img { width: 100%; } }
@media screen and (min-width: 768px) { .home-slider .swiper-slide .caption { position: absolute; top: 0; left: 0; height: 100%; width: 100%; } }
@media screen and (max-width: 767px) { .home-slider .swiper-slide .caption { background: rgba(0, 0, 0, 0.3); padding: 40px 0; } }
@media screen and (max-width: 767px) { .home-slider .swiper-slide .caption > .inner { text-align: center; } }
.home-slider .swiper-slide .caption > .inner > .inner-main { opacity: 0; }
@media screen and (min-width: 768px) { .home-slider .swiper-slide .caption > .inner > .inner-main { border-radius: 5px; background: rgba(255, 255, 255, 0.5); padding: 30px; } }
.home-slider .swiper-slide .head { font-size: 18px; color: #000; line-height: normal; }
@media screen and (max-width: 767px) { .home-slider .swiper-slide .head { color: #fff; } }
@media screen and (min-width: 768px) { .home-slider .swiper-slide .head { font-size: 25px; } }
@media screen and (min-width: 992px) { .home-slider .swiper-slide .head { font-size: 40px; } }
.home-slider .swiper-slide .head span { margin-top: 5px; font-size: 30px; font-weight: 600; }
@media screen and (min-width: 768px) { .home-slider .swiper-slide .head span { font-size: 45px; } }
@media screen and (min-width: 992px) { .home-slider .swiper-slide .head span { font-size: 57px; } }
.home-slider .swiper-slide .desc { font-size: 15px; }
@media screen and (max-width: 767px) { .home-slider .swiper-slide .desc { color: #fff; } }
@media screen and (min-width: 768px) { .home-slider .swiper-slide .desc { font-size: 20px; } }
@media screen and (min-width: 768px) { .home-slider .swiper-slide .st-btn { padding: 14px 30px 13px; } }

.four-section .item .img { width: 70px; }
.four-section .item .text { padding-left: 15px; color: #5a5254; }

@media screen and (max-width: 767px) { #home-deals-sec { padding-bottom: 0 !important; } }

.home-deals-sec { border-radius: 30px; }
@media screen and (max-width: 767px) { .home-deals-sec { border-radius: 10px; background: transparent url("../images/home-discount-sec-bg.png") no-repeat -240px 0/cover; } }
@media screen and (max-width: 767px) { .home-deals-sec > img { display: none; } }
@media screen and (min-width: 768px) { .home-deals-sec .caption { position: absolute; height: 100%; width: 100%; top: 0; left: 0; } }
.home-deals-sec .caption > .inner { padding-top: 15px; padding-bottom: 20px; }
@media screen and (min-width: 768px) { .home-deals-sec .caption > .inner { padding-left: 30px; } }
@media screen and (min-width: 992px) { .home-deals-sec .caption > .inner { padding-left: 100px; } }
.home-deals-sec .head { font-size: 34px; }
@media screen and (min-width: 768px) { .home-deals-sec .head { font-size: 43px; } }
.home-deals-sec .desc { color: #a6a6a6; font-size: 18px; }
@media screen and (max-width: 767px) { .home-deals-sec .desc { max-width: 90%; color: #fff; } }
@media screen and (min-width: 768px) { .home-deals-sec .desc { font-size: 20px; } }

#home-detail-sec1 { background: transparent url("../images/home-detail-sec1-bg.jpg") no-repeat left center/50%; }

@media screen and (min-width: 768px) { .home-detail-sec1 { padding: 50px 0; } }
@media screen and (min-width: 992px) { .home-detail-sec1 { padding: 100px 0; } }
.home-detail-sec1 .caption { background: #cae53e; background: linear-gradient(90deg, #cae53e 0%, #91b020 100%); padding: 50px 15px; }
@media screen and (min-width: 768px) { .home-detail-sec1 .caption { left: -50px; position: relative; } }
@media screen and (min-width: 992px) { .home-detail-sec1 .caption { left: -100px; min-height: 500px; } }
.home-detail-sec1 .caption .head { color: #000; font-size: 35px; font-weight: 600; line-height: normal; }
@media screen and (min-width: 992px) { .home-detail-sec1 .caption .head { font-size: 45px; } }
.home-detail-sec1 .caption .desc { color: #101010; font-size: 20px; }
@media screen and (min-width: 992px) { .home-detail-sec1 .caption .desc { font-size: 23px; } }

#newsletter-sec { background-color: #f1f1f1; }

.newsletter-sec .lt-sec .sm-head { font-style: italic; }
.newsletter-sec .lt-sec .head { color: #54595f; font-size: 32px; }
.newsletter-sec .lt-sec .desc { color: #54595f; }
.newsletter-sec .rt-sec input, .newsletter-sec .rt-sec .st-btn { height: 45px !important; }

#footer { background-color: #000; }

.footer .desc p { color: #a9a9a9; margin-left: auto; margin-right: auto; }
@media screen and (min-width: 768px) { .footer .desc p { max-width: 70%; } }
.footer .social-sec .social-link { height: 27px; width: 27px; background-color: #4e5658; transition: 0.3s; color: #fff; font-size: 13px; }
.footer .social-sec .social-link:hover { background-color: #7f8a8d; }
.footer .footer-links-wrapper .footer-link { color: #a9a9a9; transition: 0.1s; margin: 0 10px; }
@media screen and (min-width: 992px) { .footer .footer-links-wrapper .footer-link { margin: 0 20px; } }
.footer .footer-links-wrapper .footer-link:hover { color: #fff; }
.footer .copyright p { color: #a9a9a9; }

.not-found { background-color: #f6f6f6; padding: 30px 15px; margin: 0 auto; }
@media screen and (min-width: 768px) { .not-found { max-width: 550px; } }
@media screen and (min-width: 992px) { .not-found { padding: 60px 30px; } }
.not-found .head { font-size: 80px; line-height: normal; color: #b3abb6; }
@media screen and (min-width: 768px) { .not-found .head { font-size: 100px; line-height: 90px; } }
.not-found .desc-md { font-size: 30px; position: relative; top: -5px; padding-bottom: 17px; margin-bottom: 15px; color: #54595f; }
.not-found .desc-md::after { content: ""; height: 2px; width: 40px; background-color: #e2b916; position: absolute; bottom: 0; left: 50%; -webkit-transform: translatex(-50%); transform: translatex(-50%); }
.not-found .desc-sm { font-size: 17px; color: #54595f; }

@media screen and (min-width: 992px) { .st-cart .lt-sec { padding-right: 50px; } }
.st-cart .rt-sec { width: 100%; margin-top: 20px; }
@media screen and (min-width: 992px) { .st-cart .rt-sec { margin-top: 0; width: 350px; } }
.st-cart .rt-sec > .inner { padding: 20px; background-color: #fcf3e0; border-radius: 4px; }
.st-cart .rt-sec .frac { border-bottom: 1px solid #e2b916; margin-bottom: 20px; padding: 0 5px 20px; }
.st-cart .cart-table th, .st-cart .cart-table td { border: none; border-bottom: 1px solid #d2d2d2; padding: 15px 10px; }
.st-cart .cart-table td { padding-bottom: 20px; }
.st-cart .cart-table .details .img { width: 100px; }

@media screen and (min-width: 992px) { .st-payment .lt-sec { padding-right: 50px; } }
.st-payment .lt-sec .frac { border-bottom-width: 2px; padding-bottom: 15px; }
@media screen and (min-width: 992px) { .st-payment .lt-sec .frac { margin-bottom: 25px; } }
.st-payment .rt-sec { width: 100%; margin-top: 20px; }
@media screen and (min-width: 992px) { .st-payment .rt-sec { margin-top: 0; width: 350px; } }
.st-payment .rt-sec > .inner { padding: 20px; background-color: #fcf3e0; border-radius: 4px; }
.st-payment .rt-sec .frac { border-bottom: 1px solid #e2b916; margin-bottom: 20px; padding: 0 5px 20px; }

@media screen and (min-width: 768px) { .contact-us .lt-sec { width: 300px; } }
@media screen and (min-width: 992px) { .contact-us .lt-sec { width: 350px; } }
.contact-us .lt-sec .frac { padding: 15px; }
@media screen and (min-width: 992px) { .contact-us .lt-sec .frac { padding: 25px; } }
.contact-us .lt-sec .frac .st-main-heading .icon { border-width: 2px !important; height: 40px; width: 40px; font-size: 15px; }
@media screen and (min-width: 768px) { .contact-us .rt-sec { padding-left: 15px; } }
@media screen and (min-width: 992px) { .contact-us .rt-sec { padding-left: 35px; } }
.contact-us .rt-sec .contact-form input, .contact-us .rt-sec .contact-form .st-btn { height: 50px; }

.products-listing .left-bar { width: 100%; }
@media screen and (min-width: 768px) { .products-listing .left-bar { width: 250px; padding-right: 15px; position: -webkit-sticky !important; position: sticky !important; top: 10px; } }
@media screen and (min-width: 992px) { .products-listing .left-bar { width: 300px; } }

.products-view .lt-sec .main-slides { margin-bottom: 10px; border: 1px solid #dddddd; border-radius: 4px; }
.products-view .lt-sec .main-slides .swiper-slide { padding: 20px; }
@media screen and (min-width: 992px) { .products-view .lt-sec .main-slides .swiper-slide { height: 400px; } }
.products-view .lt-sec .main-slides .swiper-slide img { width: auto; max-height: 100%; }
.products-view .lt-sec .thumb-slides .swiper-slide { border: 2px solid #dddddd; border-radius: 4px; overflow: hidden; height: 120px; text-align: center; padding: 10px; cursor: pointer; }
.products-view .lt-sec .thumb-slides .swiper-slide.swiper-slide-thumb-active { border-color: #e9ac38; }
.products-view .lt-sec .thumb-slides .swiper-slide img { width: auto; max-height: 100%; }
.products-view .lt-sec .thumb-slides .swiper-button-next:after, .products-view .lt-sec .thumb-slides .swiper-button-prev:after { font-size: 30px; color: #dddddd; transition: 0.3s; }
.products-view .lt-sec .thumb-slides .swiper-button-next:hover::after, .products-view .lt-sec .thumb-slides .swiper-button-prev:hover::after { color: #e9ac38; }
.products-view .lt-sec .thumb-slides .swiper-button-next { right: 5px; }
.products-view .lt-sec .thumb-slides .swiper-button-prev { left: 5px; }
@media screen and (min-width: 992px) { .products-view .rt-sec > .inner { padding-left: 50px; } }
.products-view .rt-sec .product-heading { font-size: 20px; margin-top: 20px; }
@media screen and (min-width: 992px) { .products-view .rt-sec .product-heading { font-size: 28px; margin-top: 0; } }
.products-view .rt-sec .price { font-size: 23px; }
.products-view .rt-sec .price .old-price { color: #a5a5a5; text-decoration: line-through; }
.products-view .rt-sec .select-quantity .quantity-select-controls button { width: 42px; height: 42px; }
.products-view .rt-sec .select-quantity .quantity-select-controls input { height: 42px; }
@media screen and (min-width: 992px) { .products-view .rt-sec .select-quantity .add-btn { width: 200px; } }
.products-view .rt-sec .product-details-tabs .nav-link { color: #6e6e6e; }
.products-view .rt-sec .product-details-tabs .nav-link.active { color: #3d3d3d; }
.products-view .rt-sec .add-info .icon { font-size: 27px; width: 40px; text-align: center; }

#st-ratings-count { background-color: #f7f7f7; }

.customer-reviews .all-reviews .item:not(:last-child) { margin-bottom: 15px; }
@media screen and (min-width: 992px) { .customer-reviews .all-reviews .item:not(:last-child) { margin-bottom: 25px; } }
.customer-reviews .all-reviews .item > .inner { padding: 20px; border-radius: 10px; }
.customer-reviews .all-reviews .item .rating-container > ul, .customer-reviews .all-reviews .item .rating-container p { position: relative; }
.customer-reviews .all-reviews .item .rating-container > ul:not(:last-child), .customer-reviews .all-reviews .item .rating-container p:not(:last-child) { padding-right: 20px; }
@media screen and (min-width: 992px) { .customer-reviews .all-reviews .item .rating-container > ul:not(:last-child), .customer-reviews .all-reviews .item .rating-container p:not(:last-child) { padding-right: 30px; } }
.customer-reviews .all-reviews .item .rating-container > ul:not(:last-child):after, .customer-reviews .all-reviews .item .rating-container p:not(:last-child):after { content: ""; height: 13px; width: 2px; background-color: #6e6e6e; position: absolute; top: 5px; right: 14px; }
.customer-reviews .all-reviews .item .review { margin-bottom: 15px; }
@media screen and (min-width: 992px) { .customer-reviews .buttons { padding-top: 20px; } }
.customer-reviews .buttons .st-btn { min-width: 140px; }

/* MY ACCOUNT CSS */
@media screen and (min-width: 768px) { .my-account { min-height: 500px; } }

@media screen and (min-width: 768px) { .ma-leftbar { width: 285px; }
  .ma-content { margin-left: 285px; width: calc(100% - 285px); } }
.ma-leftbar-user-details { box-shadow: 0 1px 2px #c3c3c3; }

/* menu */
.ma-leftbar-menu .menu-link { color: #6e6e6e; transition: 0.3s; }

.ma-leftbar-menu .menu-item.active > .menu-link, .ma-leftbar-menu .menu-link.active, .ma-leftbar-menu .menu-link:hover { background-color: #e9ac38; color: #fff; }

.ma-leftbar-menu .dropdown-menu-item .menu-link { background: #ececec; }

.ma-leftbar-menu .dropdown-menu-item.active > .menu-link, .ma-leftbar-menu .dropdown-menu-item > .menu-link.active, .ma-leftbar-menu .dropdown-menu-item > .menu-link:hover { background: #c3c3c3; color: #6e6e6e; }

/* MA DASHBOARD CONTENT */
.ma-content.dashboard-content .frac > .inner { transition: 0.3s; }

.ma-content.dashboard-content .frac:hover > .inner { border-color: #bebebe !important; }

/* MA LOGIN INFORMATION CONTENT */
@media screen and (max-width: 575px) { .orders-information-table table { width: 600px; } }
.orders-information-table .prod-details { max-width: 200px; }

#st-authentication { margin-top: 30px; margin-bottom: 30px; }
@media screen and (min-width: 768px) { #st-authentication { margin-top: 40px; margin-bottom: 40px; } }
@media screen and (min-width: 992px) { #st-authentication { margin-top: 100px; margin-bottom: 100px; } }

.st-authentication .login-inner { margin: 0 auto; }
.st-authentication .login-inner > .main-sec .inner { border-radius: 4px; padding: 20px; }
@media screen and (min-width: 992px) { .st-authentication .login-inner > .main-sec .inner { padding: 40px; } }
.st-authentication .login-inner > .main-sec .nav-tabs { border-bottom: none; padding: 0; margin-bottom: 10px; }
@media screen and (min-width: 768px) { .st-authentication .login-inner > .main-sec .nav-tabs { margin-bottom: 15px; } }
@media screen and (min-width: 992px) { .st-authentication .login-inner > .main-sec .nav-tabs { margin-bottom: 25px; } }
.st-authentication .login-inner > .main-sec .nav-tabs > li { margin-bottom: 0; }
.st-authentication .login-inner > .main-sec .nav-tabs > li > a { background-color: transparent !important; border: none !important; border-radius: 0; padding: 0; transition: 0.1s; font-size: 26px; color: #888; }
.st-authentication .login-inner > .main-sec .nav-tabs > li > a.active, .st-authentication .login-inner > .main-sec .nav-tabs > li > a:hover { color: #e2b916; }
.st-authentication .login-inner > .main-sec .nav-tabs > li:first-child > a:after { content: "/"; color: #888; margin: 0 7px; }
.st-authentication .login-inner > .main-sec .head { font-size: 26px; margin-bottom: 10px; color: #666; }
@media screen and (min-width: 768px) { .st-authentication .login-inner > .main-sec .head { margin-bottom: 15px; } }
@media screen and (min-width: 992px) { .st-authentication .login-inner > .main-sec .head { margin-bottom: 25px; } }
.st-authentication .login-inner > .main-sec .head span { color: #e9ac38; }
.st-authentication .login-inner > .main-sec .submit-btn, .st-authentication .login-inner > .main-sec .btns, .st-authentication .login-inner > .main-sec .or-text { margin-top: 15px; }
@media screen and (min-width: 992px) { .st-authentication .login-inner > .main-sec .submit-btn, .st-authentication .login-inner > .main-sec .btns, .st-authentication .login-inner > .main-sec .or-text { margin-top: 30px; } }
.st-authentication .login-inner > .main-sec .add-info { margin-top: 15px; }
@media screen and (min-width: 992px) { .st-authentication .login-inner > .main-sec .add-info { margin-top: 30px; } }
.st-authentication .login-inner > .main-sec .other-options { margin-top: 20px; }
@media screen and (min-width: 992px) { .st-authentication .login-inner > .main-sec .other-options { margin-top: 60px; } }
.st-authentication .login-inner > .main-sec .other-options > a { transition: 0.3s; }
.st-authentication .login-inner > .main-sec .other-options > ul > li.first { color: #888; }
.st-authentication .login-inner > .main-sec .other-options > ul > li:not(:last-child) { margin-right: 8px; }
.st-authentication .login-inner > .main-sec .other-options > ul > li > a { height: 25px; width: 25px; border-radius: 4px; color: #fff; text-decoration: none; font-size: 11px; transition: 0.3s; }
@media screen and (min-width: 992px) { .st-authentication .login-inner > .main-sec .other-options > ul > li > a { height: 30px; width: 30px; font-size: 17px; } }
.st-authentication .login-inner > .main-sec .other-options > ul > li.facebook > a { background: #3b5998; }
.st-authentication .login-inner > .main-sec .other-options > ul > li.facebook > a:hover { background: #344e86; }
.st-authentication .login-inner > .main-sec .other-options > ul > li.google > a { background: #f14335; }
.st-authentication .login-inner > .main-sec .other-options > ul > li.google > a:hover { background: #ef2d1d; }

/*# sourceMappingURL=style.css.map */
