// FUTURA FONTS
@font-face {
    font-family: 'futura-light-bt';
    src: url('../fonts/futura/futura-light-bt.ttf');
}

@font-face {
    font-family: 'futura-medium-bt';
    src: url('../fonts/futura/futura-medium-bt.ttf');
}

@font-face {
    font-family: 'futura-bold';
    src: url('../fonts/futura/Futura-Bold-font.ttf');
}
@font-face {
    font-family: 'futura-book';
    src: url('../fonts/futura/Futura-Book-font.ttf');
}