// NEXA
@font-face {
    font-family: "poppins-black";
    src: url("../fonts/Poppins/Poppins-Black.ttf") format("truetype");
}
@font-face {
    font-family: "poppins-Bold";
    src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "poppins-extrabold";
    src: url("../fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family: "poppins-light";
    src: url("../fonts/Poppins/Poppins-Light.ttf") format("truetype");
}
@font-face {
    font-family: "poppins-medium";
    src: url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "poppins-regular";
    src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "poppins-semibold";
    src: url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "poppins-thin";
    src: url("../fonts/Poppins/Poppins-Thin.ttf") format("truetype");
}