// COLORS
// main colors
$primary-color: #ff7600;
$secondary-color: #d20423;

// GRADIENT THEME COLORS
// $defaultColorOrange:rgb(255, 118, 0);
// $gradColor1Orange:rgba(255, 118, 0, 1);
// $gradColor2Orange:rgba(255, 23, 0, 1);

// GRADIENT THEME COLORS
$defaultColorTheme:rgb(255, 118, 0);
$gradColor1Theme:rgba(255, 118, 0, 1);
$gradColor2Theme:rgba(255, 23, 0, 1);

// other colors
$st-less-dark: #2a2a2a;
$light-white: #efefef;
$medium-white: #ededed;

$slider-bg: #c7e2f3;
$star-color: #f6bb09;

$our-features-bg-color: #e9f5f5;

$footer-bg-color: #e9f5f5;
$footer-text-color: #a7a7a7;

$sucess-color: #56ca66;

// MARGINS,PADDING
$defaultGap: 15px;

// RESPONSIVE BREAKPOINTS
$sm-main: 576px;
$sm-less-one: 575px;

$md-main: 768px;
$md-less-one: 767px;

$lg-main: 992px;
$lg-less-one: 991px;

$xl-main: 1200px;
$xl-less-one: 1199px;