/* HEADING STYLES */
.st-main-heading {
    .st-heading {
        font-size: 25px;
        color: #222;
        @include min-width($md-min) {
            font-size: 30px;
        }
    }

    // extra small heading
    &.st-heading-xs {
        .st-heading {
            font-size: 16px;
        }
    }

    // small heading
    &.st-heading-sm {
        .st-heading {
            font-size: 20px;
        }
    }

    // medium heading
    &.st-heading-md {
        .st-heading {
            @include min-width($md-min) {
            }
        }
    }

    // large heading
    &.st-heading-lg {
        .st-heading {
            @include min-width($md-min) {
            }
        }
    }
}